<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_210</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_210</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/01ffb48e-6cad-42a9-9b95-a0216f27e140.png" alt="ESB_210" usemap="#01ffb48e-6cad-42a9-9b95-a0216f27e140map"/>
			   <map name="01ffb48e-6cad-42a9-9b95-a0216f27e140map">
				  		<area shape="rect" coords="1748,740,1894,790" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="236,284,526,346" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				          <area shape="rect" coords="286,128,382,214" href="../objects/73dbd79f-2b84-44f5-b315-af0773f8632f.html" target="element" >
				  		<area shape="rect" coords="92,20,332,130" href="../elements/19558b78.html"  target="element">
				          <area shape="rect" coords="452,128,548,214" href="../objects/2efb3751-5034-4c77-94f1-5264251005ed.html" target="element" >
				  		<area shape="rect" coords="380,20,620,130" href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html"  target="element">
				          <area shape="rect" coords="1604,764,1710,838" href="../objects/2f6b7ca3-b948-454e-82dd-34679d6b6f54.html" target="element" >
				  								<area shape="rect" coords="2060,740,2446,814" href="../elements/3e873a08-d4af-40f3-b177-c6583eb15eab.html"  target="element">

				  						<area shape="rect" coords="2036,692,2470,838" href="../elements/fec00330-1694-4fd9-9819-fe633ed941ba.html"  target="element">

				  				<area shape="rect" coords="1964,644,2494,862" href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html"  target="element">

				          <area shape="rect" coords="1940,404,2518,1318" href="../objects/1c2419c4-1dd5-46d5-9922-82c3c64f2be1.html" target="element" >
				  										<area shape="rect" coords="212,716,574,982" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="164,644,598,1006" href="../elements/09685725.html"  target="element">
				  												<area shape="rect" coords="212,1148,1438,1198" href="../elements/9c3d035a-4a37-46da-a8b8-72189aa3e0f7.html"  target="element">

				  										<area shape="rect" coords="188,1100,1462,1222" href="../elements/c7ba15fb-480d-43c0-97c2-9f56fbe57c8e.html"  target="element">

				  								<area shape="rect" coords="164,1052,1486,1246" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1100,716,1462,982" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1076,644,1486,1006" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="656,716,994,982" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="632,644,1018,1006" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,548,1534,1270" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,476,1582,1294" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,404,1630,1318" href="../objects/b126b5eb-2b40-49bc-8882-bb79a7a5d597.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/b126b5eb-2b40-49bc-8882-bb79a7a5d597.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/b126b5eb-2b40-49bc-8882-bb79a7a5d597.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/c7ba15fb-480d-43c0-97c2-9f56fbe57c8e.html" target="element"> ESB_210_Credito_GuardarSimulacion </a> </td>
																			    <td> <a href="../elements/c7ba15fb-480d-43c0-97c2-9f56fbe57c8e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/9c3d035a-4a37-46da-a8b8-72189aa3e0f7.html" target="element"> ESB_210_guardarSimulacion </a> </td>
																					    <td> <a href="../elements/9c3d035a-4a37-46da-a8b8-72189aa3e0f7.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/1c2419c4-1dd5-46d5-9922-82c3c64f2be1.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/1c2419c4-1dd5-46d5-9922-82c3c64f2be1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html" target="element"> Simulador Cr&#233;dito </a> </td>
													    <td> <a href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/fec00330-1694-4fd9-9819-fe633ed941ba.html" target="element"> simulacioneducativo </a> </td>
															    <td> <a href="../elements/fec00330-1694-4fd9-9819-fe633ed941ba.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/3e873a08-d4af-40f3-b177-c6583eb15eab.html" target="element"> guardarSimulacion </a> </td>
																	    <td> <a href="../elements/3e873a08-d4af-40f3-b177-c6583eb15eab.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/2f6b7ca3-b948-454e-82dd-34679d6b6f54.html" target="element">  </a> </td>
									           <td> <a href="../objects/2f6b7ca3-b948-454e-82dd-34679d6b6f54.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
											    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/2efb3751-5034-4c77-94f1-5264251005ed.html" target="element">  </a> </td>
									           <td> <a href="../objects/2efb3751-5034-4c77-94f1-5264251005ed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
											    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/73dbd79f-2b84-44f5-b315-af0773f8632f.html" target="element">  </a> </td>
									           <td> <a href="../objects/73dbd79f-2b84-44f5-b315-af0773f8632f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/ce0be30f-118e-4389-b3e5-11aac09346ed.html" target="element">  </a> </td>
																										<td> <a href="../elements/ce0be30f-118e-4389-b3e5-11aac09346ed.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/c7ba15fb-480d-43c0-97c2-9f56fbe57c8e.html" target="element"> ESB_210_Credito_GuardarSimulacion </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/0a4a4114-4fe5-41b8-9043-e649111d34cf.html" target="element">  </a> </td>
																								<td> <a href="../elements/0a4a4114-4fe5-41b8-9043-e649111d34cf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/c7ba15fb-480d-43c0-97c2-9f56fbe57c8e.html" target="element"> ESB_210_Credito_GuardarSimulacion </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/1e3b185a-3250-4871-a53d-cf3469d8013a.html" target="element">  </a> </td>
																										<td> <a href="../elements/1e3b185a-3250-4871-a53d-cf3469d8013a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/c7ba15fb-480d-43c0-97c2-9f56fbe57c8e.html" target="element"> ESB_210_Credito_GuardarSimulacion </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/3862c53d-732e-48ca-80f2-f252376d95f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/3862c53d-732e-48ca-80f2-f252376d95f5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html" target="element"> Simulador Cr&#233;dito </a> </td>
																				<td> <a href="../elements/fec00330-1694-4fd9-9819-fe633ed941ba.html" target="element"> simulacioneducativo </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/a7adcb98-f170-4a09-b01d-a1634a5c6fd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7adcb98-f170-4a09-b01d-a1634a5c6fd0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e876840-d5a8-48f1-90a9-6125f6b64461.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e876840-d5a8-48f1-90a9-6125f6b64461.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/fec00330-1694-4fd9-9819-fe633ed941ba.html" target="element"> simulacioneducativo </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>