<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Componentes GAP - Fase1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Componentes GAP - Fase1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/03d46934-a973-4c91-b139-71e97492275b.png" alt="Vista Componentes GAP - Fase1" usemap="#03d46934-a973-4c91-b139-71e97492275bmap"/>
			   <map name="03d46934-a973-4c91-b139-71e97492275bmap">
				  				<area shape="rect" coords="1406,92,1714,202" href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html"  target="element">
				  						<area shape="rect" coords="1460,788,1774,838" href="../elements/56b227ae.html"  target="element">
				  						<area shape="rect" coords="1460,716,1774,766" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1412,668,1798,862" href="../elements/f8a1a465.html"  target="element">
				  				<area shape="rect" coords="1412,380,1714,478" href="../elements/e48b6f3d.html"  target="element">
				  				<area shape="rect" coords="1406,260,1714,358" href="../elements/8958819d.html"  target="element">
				  				<area shape="rect" coords="1412,524,1714,634" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1364,20,1822,886" href="../objects/074c0b5b-ec19-40d6-b54e-2e5eca74400f.html" target="element" >
				  				<area shape="rect" coords="44,980,284,1090" href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html"  target="element">
				  				<area shape="rect" coords="836,980,1076,1090" href="../elements/da67f30e.html"  target="element">
				  				<area shape="rect" coords="572,980,812,1090" href="../elements/5ef0965c.html"  target="element">
				  				<area shape="rect" coords="308,980,548,1090" href="../elements/be34ce94.html"  target="element">

				          <area shape="rect" coords="20,908,1822,1126" href="../objects/0fd3082e-4c9a-4513-a223-64b19fd77530.html" target="element" >
				  				<area shape="rect" coords="1076,476,1316,586" href="../elements/c93a5deb.html"  target="element">
				  				<area shape="rect" coords="1076,608,1316,862" href="../elements/2abeddc5.html"  target="element">
				  				<area shape="rect" coords="764,668,1004,790" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">

				          <area shape="rect" coords="740,20,1342,886" href="../objects/5ebd20b5-fe8d-493b-a470-ab0129ade201.html" target="element" >
				  				<area shape="rect" coords="382,92,668,202" href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html"  target="element">
				  				<area shape="rect" coords="382,428,670,526" href="../elements/c3799fae.html"  target="element">
				  				<area shape="rect" coords="382,668,670,790" href="../elements/19558b78.html"  target="element">
				  				<area shape="rect" coords="380,548,670,646" href="../elements/8a5026b1.html"  target="element">

				          <area shape="rect" coords="332,20,718,886" href="../objects/6c6eed1f-1c51-420a-b5fb-91f3dc0faacc.html" target="element" >
				  				<area shape="rect" coords="44,308,284,370" href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html"  target="element">
				  				<area shape="rect" coords="44,236,284,298" href="../elements/3bef92bb.html"  target="element">
				  				<area shape="rect" coords="44,92,284,214" href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html"  target="element">
				  				<area shape="rect" coords="44,380,284,646" href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html"  target="element">

				          <area shape="rect" coords="20,20,310,886" href="../objects/9b32a412-3382-4e36-9621-df45bcde1da4.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/9b32a412-3382-4e36-9621-df45bcde1da4.html" target="element"> Usuarios </a> </td>
									           <td> <a href="../objects/9b32a412-3382-4e36-9621-df45bcde1da4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
													    <td> <a href="../elements/3bef92bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6c6eed1f-1c51-420a-b5fb-91f3dc0faacc.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/6c6eed1f-1c51-420a-b5fb-91f3dc0faacc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
													    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
													    <td> <a href="../elements/c3799fae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
													    <td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/5ebd20b5-fe8d-493b-a470-ab0129ade201.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/5ebd20b5-fe8d-493b-a470-ab0129ade201.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
													    <td> <a href="../elements/c93a5deb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/0fd3082e-4c9a-4513-a223-64b19fd77530.html" target="element"> Servicios de Infraestructura </a> </td>
									           <td> <a href="../objects/0fd3082e-4c9a-4513-a223-64b19fd77530.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
													    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
													    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
													    <td> <a href="../elements/da67f30e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/074c0b5b-ec19-40d6-b54e-2e5eca74400f.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/074c0b5b-ec19-40d6-b54e-2e5eca74400f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
													    <td> <a href="../elements/8958819d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
													    <td> <a href="../elements/e48b6f3d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html" target="element"> DataSoft </a> </td>
													    <td> <a href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f86cc946-b54f-43d6-90e3-e543553e836d.html" target="element">  </a> </td>
																				<td> <a href="../elements/f86cc946-b54f-43d6-90e3-e543553e836d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7e4c5fa9-a640-48a4-b81c-cdfb6979b0f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/7e4c5fa9-a640-48a4-b81c-cdfb6979b0f3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/439ca805-f39a-4e2b-932d-cbe2a9f96a24.html" target="element">  </a> </td>
																				<td> <a href="../elements/439ca805-f39a-4e2b-932d-cbe2a9f96a24.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/54c7cb64-d92b-4733-8d77-092339cf6177.html" target="element">  </a> </td>
																				<td> <a href="../elements/54c7cb64-d92b-4733-8d77-092339cf6177.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element">  </a> </td>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1a1763a6-5f7a-40cd-8f47-3884167dd637.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a1763a6-5f7a-40cd-8f47-3884167dd637.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																				<td> <a href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html" target="element"> DataSoft </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element">  </a> </td>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element">  </a> </td>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element">  </a> </td>
																				<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element">  </a> </td>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element">  </a> </td>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>