<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Infraestructura IVR Producción</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Infraestructura IVR Producci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/09550a36.png" alt="Arquitectura Infraestructura IVR Producción" usemap="#09550a36map"/>
			   <map name="09550a36map">
				  		<area shape="rect" coords="20,294,260,404" href="../elements/3bef92bb.html"  target="element">
				  				<area shape="rect" coords="404,222,718,464" href="../elements/4ae2e1d3.html"  target="element">

				          <area shape="rect" coords="332,78,766,1136" href="../objects/8f201195.html" target="element" >
				  								<area shape="rect" coords="3020,548,3260,658" href="../elements/57f4b033.html"  target="element">

				  						<area shape="rect" coords="2972,500,3286,694" href="../elements/e495796e.html"  target="element">

				  				<area shape="rect" coords="2948,404,3334,742" href="../elements/89f79c5a.html"  target="element">
				  												<area shape="rect" coords="1994,1100,2638,1150" href="../elements/7bcadf69.html"  target="element">
				  												<area shape="rect" coords="1988,1028,2638,1078" href="../elements/60fa71f7.html"  target="element">
				  												<area shape="rect" coords="1988,884,2638,934" href="../elements/3cfab124.html"  target="element">
				  												<area shape="rect" coords="1988,1172,2638,1222" href="../elements/a31fae9f.html"  target="element">
				  												<area shape="rect" coords="1988,956,2638,1006" href="../elements/656d4d64.html"  target="element">
				  												<area shape="rect" coords="1988,812,2638,862" href="../elements/3d34e4d4.html"  target="element">

				  										<area shape="rect" coords="1868,764,2782,1246" href="../elements/7c717388.html"  target="element">
				  												<area shape="rect" coords="2372,572,2758,682" href="../elements/28162ccb.html"  target="element">

				  										<area shape="rect" coords="2324,524,2782,718" href="../elements/0a2dccb9.html"  target="element">
				  												<area shape="rect" coords="1916,572,2230,682" href="../elements/0937407e.html"  target="element">

				  										<area shape="rect" coords="1844,524,2254,718" href="../elements/1cdadd6d.html"  target="element">

				  								<area shape="rect" coords="1820,452,2830,1270" href="../elements/3af9d480.html"  target="element">

				  						<area shape="rect" coords="1796,380,2878,1294" href="../elements/d8bde283.html"  target="element">

				  				<area shape="rect" coords="1772,308,2926,1318" href="../elements/8b563994.html"  target="element">
				  				<area shape="rect" coords="1772,92,2230,202" href="../elements/e1db9934.html"  target="element">
				  				<area shape="rect" coords="2300,92,2830,238" href="../elements/462938a2.html"  target="element">

				          <area shape="rect" coords="1724,20,3378,1342" href="../objects/37575dfb.html" target="element" >
				  		        <area shape="rect" coords="836,150,1654,200" href="../objects/e2a8d5ef.html" target="element" >
				  						<area shape="rect" coords="860,318,1100,428" href="../elements/5d8ddf17.html"  target="element">
				  						<area shape="rect" coords="1124,318,1582,632" href="../elements/de81489e.html"  target="element">

				  				<area shape="rect" coords="836,222,1654,992" href="../elements/814a4f10.html"  target="element">

				          <area shape="rect" coords="812,78,1678,1136" href="../objects/3fd0de86.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3fd0de86.html" target="element"> Red DMZ </a> </td>
									           <td> <a href="../objects/3fd0de86.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/814a4f10.html" target="element"> FNABOGMBGW (10.1.252.4) </a> </td>
													    <td> <a href="../elements/814a4f10.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/de81489e.html" target="element"> BROKER9_DMZ </a> </td>
															    <td> <a href="../elements/de81489e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5d8ddf17.html" target="element"> IHS </a> </td>
															    <td> <a href="../elements/5d8ddf17.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/e2a8d5ef.html" target="element">  </a> </td>
											           <td> <a href="../objects/e2a8d5ef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/37575dfb.html" target="element"> Red Interna </a> </td>
									           <td> <a href="../objects/37575dfb.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/462938a2.html" target="element"> FNABOGSOA (172.16.127.33) </a> </td>
													    <td> <a href="../elements/462938a2.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e1db9934.html" target="element"> DNS(172.16.0.36:53) </a> </td>
													    <td> <a href="../elements/e1db9934.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
													    <td> <a href="../elements/8b563994.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d8bde283.html" target="element"> BROKER9_BUS </a> </td>
															    <td> <a href="../elements/d8bde283.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																	    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																			    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																					    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																					</tr>

																			
																			<tr>
																			    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																			    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																					    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																					</tr>

																			
																			<tr>
																			    <td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																			    <td> <a href="../elements/7c717388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/3d34e4d4.html" target="element"> ESB_005_Clientes_ValidarExistencia - CQ136740 </a> </td>
																					    <td> <a href="../elements/3d34e4d4.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/656d4d64.html" target="element"> ESB_060_CuentaAVC_GenerarCertificado </a> </td>
																					    <td> <a href="../elements/656d4d64.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/a31fae9f.html" target="element"> WI2863 - ESB_071_ClientePN_RecuperarNumsProd </a> </td>
																					    <td> <a href="../elements/a31fae9f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/3cfab124.html" target="element"> WI2896 -  ESB_048_ClientePN_GestionarCredenciales </a> </td>
																					    <td> <a href="../elements/3cfab124.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/60fa71f7.html" target="element"> WI2929 - ESB_061_Credito_GenerarCertificado </a> </td>
																					    <td> <a href="../elements/60fa71f7.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/7bcadf69.html" target="element"> WI2935 - ESB_062_Cesantias_GenerarCertificado </a> </td>
																					    <td> <a href="../elements/7bcadf69.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																					</tr>

																			
																	
															
													
													<tr>
													    <td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
													    <td> <a href="../elements/89f79c5a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/e495796e.html" target="element"> WAS </a> </td>
															    <td> <a href="../elements/e495796e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	    <td> <a href="../elements/57f4b033.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/8f201195.html" target="element"> Red Millenium  </a> </td>
									           <td> <a href="../objects/8f201195.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/4ae2e1d3.html" target="element"> Milenium Phone Center </a> </td>
													    <td> <a href="../elements/4ae2e1d3.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
											    <td> <a href="../elements/3bef92bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/ffe6d5c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/ffe6d5c6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/814a4f10.html" target="element"> FNABOGMBGW (10.1.252.4) </a> </td>
																				<td> <a href="../elements/e1db9934.html" target="element"> DNS(172.16.0.36:53) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/9527eca1.html" target="element">  </a> </td>
																						<td> <a href="../elements/9527eca1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/5d8ddf17.html" target="element"> IHS </a> </td>
																						<td> <a href="../elements/de81489e.html" target="element"> BROKER9_DMZ </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/c0bc1437.html" target="element">  </a> </td>
																				<td> <a href="../elements/c0bc1437.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/462938a2.html" target="element"> FNABOGSOA (172.16.127.33) </a> </td>
																				<td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e3e46b60.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3e46b60.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
																				<td> <a href="../elements/462938a2.html" target="element"> FNABOGSOA (172.16.127.33) </a> </td>
																			</tr>

																											<tr>
																												<td> <a href="../elements/a7f60328.html" target="element">  </a> </td>
																												<td> <a href="../elements/a7f60328.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																												<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																												<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																											</tr>

																			
																			
																			
																	
															
													
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/70f6b1ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/70f6b1ef.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/4ae2e1d3.html" target="element"> Milenium Phone Center </a> </td>
																				<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b7589d37.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7589d37.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/4ae2e1d3.html" target="element"> Milenium Phone Center </a> </td>
																				<td> <a href="../elements/5d8ddf17.html" target="element"> IHS </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>