<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_138</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_138</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1e69ed46-c769-41c6-8afa-6821895e8bd0.png" alt="ESB_138" usemap="#1e69ed46-c769-41c6-8afa-6821895e8bd0map"/>
			   <map name="1e69ed46-c769-41c6-8afa-6821895e8bd0map">
				  		<area shape="rect" coords="54,20,294,130" href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html"  target="element">
				  		<area shape="rect" coords="332,20,572,130" href="../elements/fb981bb3.html"  target="element">
				          <area shape="rect" coords="236,152,342,238" href="../objects/4de744e5-d6e2-4442-aeba-8b4ab72ba9f7.html" target="element" >
				          <area shape="rect" coords="1604,736,1710,796" href="../objects/d388eae5-234f-434c-bdd2-e0fbca76c47c.html" target="element" >
				          <area shape="rect" coords="428,152,534,238" href="../objects/8e91ebdd-af4e-4724-86cd-08a711173114.html" target="element" >
				  								<area shape="rect" coords="1796,740,2206,814" href="../elements/522b6e7c-7827-4e46-bed4-433024ff8c22.html"  target="element">
				  								<area shape="rect" coords="1796,596,2206,718" href="../elements/ebfc152f-9f47-480a-bf5f-254c70c87b57.html"  target="element">

				  						<area shape="rect" coords="1772,548,2230,862" href="../elements/e0fa8e5c-8064-4a9e-adca-4eb16be3f8d3.html"  target="element">

				  				<area shape="rect" coords="1700,500,2254,910" href="../elements/4c26b231.html"  target="element">

				          <area shape="rect" coords="1676,260,2278,1270" href="../objects/5b75beca-aedb-4074-b0fa-0d49ae205b54.html" target="element" >
				  												<area shape="rect" coords="212,1100,1438,1150" href="../elements/b32d7b3d-3dce-4631-8303-095dc701b49b.html"  target="element">
				  												<area shape="rect" coords="212,1028,1438,1078" href="../elements/5b5723e7-0372-470d-b217-ba1b89a763ee.html"  target="element">

				  										<area shape="rect" coords="188,980,1462,1174" href="../elements/f94ccef7-5ad6-4184-a117-b128ec42ffe8.html"  target="element">

				  								<area shape="rect" coords="164,932,1486,1198" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1004,596,1462,862" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="980,524,1486,886" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="188,596,526,694" href="../elements/ccce2d3c.html"  target="element">
				  										<area shape="rect" coords="188,740,526,838" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="164,524,550,886" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="620,596,934,838" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="596,524,958,886" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,428,1534,1222" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,356,1582,1246" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,260,1630,1270" href="../objects/36ef1c07-c1e1-4d50-ac8e-03e209e6e4ec.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/36ef1c07-c1e1-4d50-ac8e-03e209e6e4ec.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/36ef1c07-c1e1-4d50-ac8e-03e209e6e4ec.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/ccce2d3c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/f94ccef7-5ad6-4184-a117-b128ec42ffe8.html" target="element"> ESB_138_CuentaAVC_CrearSolicitudRetiro </a> </td>
																			    <td> <a href="../elements/f94ccef7-5ad6-4184-a117-b128ec42ffe8.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/5b5723e7-0372-470d-b217-ba1b89a763ee.html" target="element"> ESB_138_validarPoliticasParaSolicitudRetiroAVC </a> </td>
																					    <td> <a href="../elements/5b5723e7-0372-470d-b217-ba1b89a763ee.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/b32d7b3d-3dce-4631-8303-095dc701b49b.html" target="element"> ESB_138_crearSolicitudRetiroAVC </a> </td>
																					    <td> <a href="../elements/b32d7b3d-3dce-4631-8303-095dc701b49b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
											
									        <tr>
									           <td> <a href="../objects/5b75beca-aedb-4074-b0fa-0d49ae205b54.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/5b75beca-aedb-4074-b0fa-0d49ae205b54.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/4c26b231.html" target="element"> COBIS - AVC </a> </td>
													    <td> <a href="../elements/4c26b231.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/e0fa8e5c-8064-4a9e-adca-4eb16be3f8d3.html" target="element"> AS137-CreacionSolicitudRetiroAVC </a> </td>
															    <td> <a href="../elements/e0fa8e5c-8064-4a9e-adca-4eb16be3f8d3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/ebfc152f-9f47-480a-bf5f-254c70c87b57.html" target="element"> AS137-validarPoliticasParaSolicitudRetiroAVC </a> </td>
																	    <td> <a href="../elements/ebfc152f-9f47-480a-bf5f-254c70c87b57.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/522b6e7c-7827-4e46-bed4-433024ff8c22.html" target="element"> AS137-crearSolicitudRetiroAVC </a> </td>
																	    <td> <a href="../elements/522b6e7c-7827-4e46-bed4-433024ff8c22.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/8e91ebdd-af4e-4724-86cd-08a711173114.html" target="element">  </a> </td>
									           <td> <a href="../objects/8e91ebdd-af4e-4724-86cd-08a711173114.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/d388eae5-234f-434c-bdd2-e0fbca76c47c.html" target="element">  </a> </td>
									           <td> <a href="../objects/d388eae5-234f-434c-bdd2-e0fbca76c47c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/4de744e5-d6e2-4442-aeba-8b4ab72ba9f7.html" target="element">  </a> </td>
									           <td> <a href="../objects/4de744e5-d6e2-4442-aeba-8b4ab72ba9f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
											    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/72b06c5e-59ed-4510-abe4-7ccd8072af02.html" target="element">  </a> </td>
																										<td> <a href="../elements/72b06c5e-59ed-4510-abe4-7ccd8072af02.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/f94ccef7-5ad6-4184-a117-b128ec42ffe8.html" target="element"> ESB_138_CuentaAVC_CrearSolicitudRetiro </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/41c985fc-dce6-4443-b78a-25e0c6a106a6.html" target="element">  </a> </td>
																								<td> <a href="../elements/41c985fc-dce6-4443-b78a-25e0c6a106a6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/55211bb7.html" target="element">  </a> </td>
																										<td> <a href="../elements/55211bb7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/aa9f053e-2e6a-404a-a79f-0489789dbed4.html" target="element">  </a> </td>
																										<td> <a href="../elements/aa9f053e-2e6a-404a-a79f-0489789dbed4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/e0fa8e5c-8064-4a9e-adca-4eb16be3f8d3.html" target="element"> AS137-CreacionSolicitudRetiroAVC </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/947b140b-1d6b-4f69-ae71-f5ae6515fca0.html" target="element">  </a> </td>
																								<td> <a href="../elements/947b140b-1d6b-4f69-ae71-f5ae6515fca0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/f94ccef7-5ad6-4184-a117-b128ec42ffe8.html" target="element"> ESB_138_CuentaAVC_CrearSolicitudRetiro </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/6f31950c-4238-4b28-bba9-dabb47927d5a.html" target="element">  </a> </td>
																										<td> <a href="../elements/6f31950c-4238-4b28-bba9-dabb47927d5a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/f94ccef7-5ad6-4184-a117-b128ec42ffe8.html" target="element"> ESB_138_CuentaAVC_CrearSolicitudRetiro </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/2947201d-7a70-41ff-9ae4-d49f128f5e6e.html" target="element">  </a> </td>
																				<td> <a href="../elements/2947201d-7a70-41ff-9ae4-d49f128f5e6e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/4c26b231.html" target="element"> COBIS - AVC </a> </td>
																				<td> <a href="../elements/e0fa8e5c-8064-4a9e-adca-4eb16be3f8d3.html" target="element"> AS137-CreacionSolicitudRetiroAVC </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/5f36bb95-c54d-4c17-9ac6-48b88fcefeb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f36bb95-c54d-4c17-9ac6-48b88fcefeb6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																		<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>