<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Propuesta Componente UI</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Propuesta Componente UI</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/24f1cc3b.png" alt="Propuesta Componente UI" usemap="#24f1cc3bmap"/>
			   <map name="24f1cc3bmap">
				          <area shape="rect" coords="926,20,1198,94" href="../objects/533f12b3.html" target="element" >
				          <area shape="rect" coords="20,438,270,490" href="../objects/d178663c.html" target="element" >
				  		<area shape="rect" coords="44,812,572,862" href="../elements/c5aa8523.html"  target="element">
				  		<area shape="rect" coords="44,884,572,934" href="../elements/3c62f041.html"  target="element">
				  		<area shape="rect" coords="44,740,572,790" href="../elements/be835a82.html"  target="element">
				  		<area shape="rect" coords="668,668,1198,718" href="../elements/031be8d4.html"  target="element">
				  		<area shape="rect" coords="44,668,572,718" href="../elements/9adf3253.html"  target="element">
				  		<area shape="rect" coords="668,594,1198,650" href="../elements/f382b172.html"  target="element">
				  		<area shape="rect" coords="44,596,572,646" href="../elements/2020605a.html"  target="element">
				          <area shape="rect" coords="668,524,1174,574" href="../objects/091a5edd.html" target="element" >
				          <area shape="rect" coords="66,524,572,574" href="../objects/f85459e9.html" target="element" >
				  		<area shape="rect" coords="668,380,908,490" href="../elements/2efd2a52.html"  target="element">
				  		<area shape="rect" coords="308,380,548,490" href="../elements/432a8771.html"  target="element">
				  				<area shape="rect" coords="644,200,830,250" href="../elements/d1760774.html"  target="element">
				  				<area shape="rect" coords="404,200,622,274" href="../elements/0e7d5533.html"  target="element">
				  				<area shape="rect" coords="404,92,622,166" href="../elements/b4c22999.html"  target="element">
				  				<area shape="rect" coords="644,118,830,166" href="../elements/87582bb2.html"  target="element">

				  		<area shape="rect" coords="308,20,910,310" href="../elements/26e453fc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/26e453fc.html" target="element"> StaticUI Component </a> </td>
											    <td> <a href="../elements/26e453fc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/87582bb2.html" target="element"> CSS </a> </td>
													    <td> <a href="../elements/87582bb2.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b4c22999.html" target="element"> Header </a> </td>
													    <td> <a href="../elements/b4c22999.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e7d5533.html" target="element"> Footer </a> </td>
													    <td> <a href="../elements/0e7d5533.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d1760774.html" target="element"> JavaScript </a> </td>
													    <td> <a href="../elements/d1760774.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/432a8771.html" target="element"> Template AngularJS </a> </td>
											    <td> <a href="../elements/432a8771.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2efd2a52.html" target="element"> Template Java Server Faces </a> </td>
											    <td> <a href="../elements/2efd2a52.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/f85459e9.html" target="element">  </a> </td>
									           <td> <a href="../objects/f85459e9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/091a5edd.html" target="element">  </a> </td>
									           <td> <a href="../objects/091a5edd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/2020605a.html" target="element"> ScriptPortlet - CertificadosTributarios </a> </td>
											    <td> <a href="../elements/2020605a.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f382b172.html" target="element"> Portlet - Encuestas </a> </td>
											    <td> <a href="../elements/f382b172.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9adf3253.html" target="element"> ScriptPortlet - Planillas de Consignacion </a> </td>
											    <td> <a href="../elements/9adf3253.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/031be8d4.html" target="element"> Portlet - Calendario Externo </a> </td>
											    <td> <a href="../elements/031be8d4.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/be835a82.html" target="element"> Web - Simulador Vivienda </a> </td>
											    <td> <a href="../elements/be835a82.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3c62f041.html" target="element"> Web - Contrataciones </a> </td>
											    <td> <a href="../elements/3c62f041.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c5aa8523.html" target="element"> Web - Simulador Educativo </a> </td>
											    <td> <a href="../elements/c5aa8523.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d178663c.html" target="element">  </a> </td>
									           <td> <a href="../objects/d178663c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/533f12b3.html" target="element">  </a> </td>
									           <td> <a href="../objects/533f12b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/aecb574b.html" target="element">  </a> </td>
																		<td> <a href="../elements/aecb574b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/26e453fc.html" target="element"> StaticUI Component </a> </td>
																		<td> <a href="../elements/432a8771.html" target="element"> Template AngularJS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/50c71e07.html" target="element">  </a> </td>
																		<td> <a href="../elements/50c71e07.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/26e453fc.html" target="element"> StaticUI Component </a> </td>
																		<td> <a href="../elements/2efd2a52.html" target="element"> Template Java Server Faces </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>