<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TO-BE</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TO-BE</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/39500c74-abda-43e3-a958-224dd26b34ff.png" alt="TO-BE" usemap="#39500c74-abda-43e3-a958-224dd26b34ffmap"/>
			   <map name="39500c74-abda-43e3-a958-224dd26b34ffmap">
				  										<area shape="rect" coords="980,254,1462,304" href="../elements/2a6ce00f-1fce-41d9-92e0-e3303134d63e.html"  target="element">

				  								<area shape="rect" coords="956,206,1486,328" href="../elements/7324b1da-2e0b-40ce-809e-dc2c78b7a8cf.html"  target="element">

				  						<area shape="rect" coords="908,134,1510,352" href="../elements/2abeddc5.html"  target="element">

				  				<area shape="rect" coords="884,86,1534,382" href="../elements/97540510-579d-470a-9abc-fc60778449de.html"  target="element">
				  										<area shape="rect" coords="1652,230,2134,280" href="../elements/25a2c4dd-25f5-4693-aa30-a0ffdecf5ebe.html"  target="element">

				  								<area shape="rect" coords="1628,182,2158,304" href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html"  target="element">

				  						<area shape="rect" coords="1580,134,2206,352" href="../elements/f8a1a465.html"  target="element">

				  				<area shape="rect" coords="1556,86,2206,382" href="../elements/aa47de59-81d7-4c70-a5bf-8c3b5139b938.html"  target="element">
				  				<area shape="rect" coords="668,208,862,258" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">

				          <area shape="rect" coords="644,20,2230,418" href="../objects/6de67332-5324-45e0-9f1f-849fed2cb12c.html" target="element" >
				  				<area shape="rect" coords="332,260,572,370" href="../elements/a8f0399f-9a2f-4aa1-8211-e3b92fc23ce1.html"  target="element">
				  				<area shape="rect" coords="332,92,572,202" href="../elements/a58baa4d-7d91-4b57-84fa-389fbb6d547b.html"  target="element">
				  				<area shape="rect" coords="44,176,284,286" href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html"  target="element">

				          <area shape="rect" coords="20,20,622,418" href="../objects/cbc028a4-def5-47ba-b688-c53031f564b2.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/cbc028a4-def5-47ba-b688-c53031f564b2.html" target="element"> Internet </a> </td>
									           <td> <a href="../objects/cbc028a4-def5-47ba-b688-c53031f564b2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a58baa4d-7d91-4b57-84fa-389fbb6d547b.html" target="element"> BBVA m&#243;vil </a> </td>
													    <td> <a href="../elements/a58baa4d-7d91-4b57-84fa-389fbb6d547b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a8f0399f-9a2f-4aa1-8211-e3b92fc23ce1.html" target="element"> BBVA net </a> </td>
													    <td> <a href="../elements/a8f0399f-9a2f-4aa1-8211-e3b92fc23ce1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6de67332-5324-45e0-9f1f-849fed2cb12c.html" target="element"> FNA </a> </td>
									           <td> <a href="../objects/6de67332-5324-45e0-9f1f-849fed2cb12c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
													    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa47de59-81d7-4c70-a5bf-8c3b5139b938.html" target="element"> Backend </a> </td>
													    <td> <a href="../elements/aa47de59-81d7-4c70-a5bf-8c3b5139b938.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
															    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
																	    <td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/25a2c4dd-25f5-4693-aa30-a0ffdecf5ebe.html" target="element"> AS034-consultarestadocuentaCartera </a> </td>
																			    <td> <a href="../elements/25a2c4dd-25f5-4693-aa30-a0ffdecf5ebe.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																			</tr>

																	
															
													
													<tr>
													    <td> <a href="../elements/97540510-579d-470a-9abc-fc60778449de.html" target="element"> Integraci&#243;n </a> </td>
													    <td> <a href="../elements/97540510-579d-470a-9abc-fc60778449de.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
															    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/7324b1da-2e0b-40ce-809e-dc2c78b7a8cf.html" target="element"> ESB_003_Credito_RecuperarEstadoCuenta </a> </td>
																	    <td> <a href="../elements/7324b1da-2e0b-40ce-809e-dc2c78b7a8cf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/2a6ce00f-1fce-41d9-92e0-e3303134d63e.html" target="element"> ESB_003_recuperarEstadoCuenta </a> </td>
																			    <td> <a href="../elements/2a6ce00f-1fce-41d9-92e0-e3303134d63e.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																			</tr>

																	
															
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/03511495-2006-4823-9637-72f035c0a4fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/03511495-2006-4823-9637-72f035c0a4fa.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/a58baa4d-7d91-4b57-84fa-389fbb6d547b.html" target="element"> BBVA m&#243;vil </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/514a4a06-b14e-40dc-8e51-03857274aed9.html" target="element">  </a> </td>
																				<td> <a href="../elements/514a4a06-b14e-40dc-8e51-03857274aed9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/a8f0399f-9a2f-4aa1-8211-e3b92fc23ce1.html" target="element"> BBVA net </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0d052670-9dd3-4ca7-b3c3-bc226344598a.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d052670-9dd3-4ca7-b3c3-bc226344598a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a58baa4d-7d91-4b57-84fa-389fbb6d547b.html" target="element"> BBVA m&#243;vil </a> </td>
																				<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fece9101-dbf2-46f5-af65-cdccba380b70.html" target="element">  </a> </td>
																				<td> <a href="../elements/fece9101-dbf2-46f5-af65-cdccba380b70.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a8f0399f-9a2f-4aa1-8211-e3b92fc23ce1.html" target="element"> BBVA net </a> </td>
																				<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/28c6a40b-990b-4cc2-bb9b-2ef4de03a306.html" target="element">  </a> </td>
																				<td> <a href="../elements/28c6a40b-990b-4cc2-bb9b-2ef4de03a306.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																				<td> <a href="../elements/7324b1da-2e0b-40ce-809e-dc2c78b7a8cf.html" target="element"> ESB_003_Credito_RecuperarEstadoCuenta </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/171251be-df32-4c03-a4db-39ff1be68b04.html" target="element">  </a> </td>
																						<td> <a href="../elements/171251be-df32-4c03-a4db-39ff1be68b04.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																						<td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/03f5574e-406b-4bfd-9ea4-ba9b4df209ed.html" target="element">  </a> </td>
																						<td> <a href="../elements/03f5574e-406b-4bfd-9ea4-ba9b4df209ed.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																						<td> <a href="../elements/aa47de59-81d7-4c70-a5bf-8c3b5139b938.html" target="element"> Backend </a> </td>
																					</tr>

																	
															
													
																			<tr>
																				<td> <a href="../elements/5c275cd7-12d3-42f2-8050-a63f41e78869.html" target="element">  </a> </td>
																				<td> <a href="../elements/5c275cd7-12d3-42f2-8050-a63f41e78869.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/97540510-579d-470a-9abc-fc60778449de.html" target="element"> Integraci&#243;n </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/4b4ecccb-baba-4806-9918-b240afd56d3d.html" target="element">  </a> </td>
																						<td> <a href="../elements/4b4ecccb-baba-4806-9918-b240afd56d3d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																						<td> <a href="../elements/7324b1da-2e0b-40ce-809e-dc2c78b7a8cf.html" target="element"> ESB_003_Credito_RecuperarEstadoCuenta </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/eb46f6da-2303-4747-8fcd-33c4e55a2539.html" target="element">  </a> </td>
																										<td> <a href="../elements/eb46f6da-2303-4747-8fcd-33c4e55a2539.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/2a6ce00f-1fce-41d9-92e0-e3303134d63e.html" target="element"> ESB_003_recuperarEstadoCuenta </a> </td>
																										<td> <a href="../elements/25a2c4dd-25f5-4693-aa30-a0ffdecf5ebe.html" target="element"> AS034-consultarestadocuentaCartera </a> </td>
																									</tr>

																	
															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>