<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Integración AS-IS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Integraci&#243;n AS-IS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3b2eaf7c-cbb9-4fc0-91f6-1a888a27f6ee.png" alt="Vista Integración AS-IS" usemap="#3b2eaf7c-cbb9-4fc0-91f6-1a888a27f6eemap"/>
			   <map name="3b2eaf7c-cbb9-4fc0-91f6-1a888a27f6eemap">
				  				<area shape="rect" coords="44,92,310,742" href="../elements/19558b78.html"  target="element">

				          <area shape="rect" coords="20,20,334,766" href="../objects/b70e3c3a-0845-403f-a8b8-c311e3aa12d5.html" target="element" >
				  								<area shape="rect" coords="1892,212,2518,334" href="../elements/9c591212.html"  target="element">

				  						<area shape="rect" coords="1868,164,2542,358" href="../elements/5b0e79c7.html"  target="element">
				  								<area shape="rect" coords="1892,428,2518,622" href="../elements/d2ac9083.html"  target="element">
				  								<area shape="rect" coords="1892,644,2518,694" href="../elements/dfea46b6.html"  target="element">

				  						<area shape="rect" coords="1868,380,2542,718" href="../elements/56b227ae.html"  target="element">

				  				<area shape="rect" coords="1844,92,2566,742" href="../elements/f8a1a465.html"  target="element">

				          <area shape="rect" coords="1820,20,2614,766" href="../objects/9328d240-b998-43c4-b4a4-a88dd00f8dd5.html" target="element" >
				  						<area shape="rect" coords="404,572,1006,622" href="../elements/4df28699-e4d8-462c-ac06-17de0c043689.html"  target="element">
				  						<area shape="rect" coords="404,644,1006,694" href="../elements/d30be440-e709-42de-8e94-7af48e384117.html"  target="element">
				  						<area shape="rect" coords="404,500,1006,550" href="../elements/cd8af584-b9f0-4b94-a37e-8bdec41912d5.html"  target="element">
				  						<area shape="rect" coords="404,428,1006,478" href="../elements/557c4819-0295-4f5b-a33e-876f28b64bc3.html"  target="element">
				  						<area shape="rect" coords="404,284,1006,334" href="../elements/7b825bb5-955d-4275-9af8-b3533781fbe1.html"  target="element">
				  						<area shape="rect" coords="404,212,1006,262" href="../elements/13018f58-4f1c-4c16-aa5f-834f68e326b7.html"  target="element">

				  				<area shape="rect" coords="356,92,1030,742" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">
				  								<area shape="rect" coords="1098,572,1726,622" href="../elements/fca202cf.html"  target="element">
				  								<area shape="rect" coords="1100,212,1726,260" href="../elements/8eb4f4b1.html"  target="element">
				  								<area shape="rect" coords="1100,500,1726,550" href="../elements/3fcc6241.html"  target="element">
				  								<area shape="rect" coords="1100,428,1726,478" href="../elements/2136004b.html"  target="element">
				  								<area shape="rect" coords="1098,284,1726,334" href="../elements/a66117b8.html"  target="element">
				  								<area shape="rect" coords="1100,644,1726,694" href="../elements/23ffc257.html"  target="element">

				  						<area shape="rect" coords="1076,140,1750,718" href="../elements/7c717388.html"  target="element">

				  				<area shape="rect" coords="1052,92,1774,742" href="../elements/3af9d480.html"  target="element">

				          <area shape="rect" coords="356,20,1798,766" href="../objects/3206937e-737e-440a-9c6b-506f86cb458a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3206937e-737e-440a-9c6b-506f86cb458a.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/3206937e-737e-440a-9c6b-506f86cb458a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
													    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
															    <td> <a href="../elements/7c717388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/23ffc257.html" target="element"> ESB_106_Credito_EnrutarTramiteCredito </a> </td>
																	    <td> <a href="../elements/23ffc257.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																	    <td> <a href="../elements/a66117b8.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/2136004b.html" target="element"> ESB_022_Credito_RecuperarTramiteSolicitudes </a> </td>
																	    <td> <a href="../elements/2136004b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/3fcc6241.html" target="element"> ESB_063_Credito_RecuperarDetalleTramite </a> </td>
																	    <td> <a href="../elements/3fcc6241.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/8eb4f4b1.html" target="element"> ESB_005_Clientes_ValidarExistencia </a> </td>
																	    <td> <a href="../elements/8eb4f4b1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/fca202cf.html" target="element"> ESB_097_Credito_RecuperarFlujoTramite </a> </td>
																	    <td> <a href="../elements/fca202cf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/13018f58-4f1c-4c16-aa5f-834f68e326b7.html" target="element"> 164 CobisProxy_ValidarExistenciaService </a> </td>
															    <td> <a href="../elements/13018f58-4f1c-4c16-aa5f-834f68e326b7.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7b825bb5-955d-4275-9af8-b3533781fbe1.html" target="element"> 160 CobisProxy_RecuperarInfoPNService </a> </td>
															    <td> <a href="../elements/7b825bb5-955d-4275-9af8-b3533781fbe1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/557c4819-0295-4f5b-a33e-876f28b64bc3.html" target="element"> 150 CobisProxy_RecuperarTramites </a> </td>
															    <td> <a href="../elements/557c4819-0295-4f5b-a33e-876f28b64bc3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/cd8af584-b9f0-4b94-a37e-8bdec41912d5.html" target="element"> 176 CobisProxy_RecuperarDetalleTramiteService </a> </td>
															    <td> <a href="../elements/cd8af584-b9f0-4b94-a37e-8bdec41912d5.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d30be440-e709-42de-8e94-7af48e384117.html" target="element"> 158 CobisProxy_EnrutarTramiteCredito </a> </td>
															    <td> <a href="../elements/d30be440-e709-42de-8e94-7af48e384117.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/4df28699-e4d8-462c-ac06-17de0c043689.html" target="element"> 144 CobisProxy_RecuperarFlujo </a> </td>
															    <td> <a href="../elements/4df28699-e4d8-462c-ac06-17de0c043689.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/9328d240-b998-43c4-b4a4-a88dd00f8dd5.html" target="element"> Proveedor/Consumidor </a> </td>
									           <td> <a href="../objects/9328d240-b998-43c4-b4a4-a88dd00f8dd5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/dfea46b6.html" target="element"> AS093-Modificaci&#243;nTramiteCredito </a> </td>
																	    <td> <a href="../elements/dfea46b6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/d2ac9083.html" target="element"> AS049-ConsultaTramiteCredito </a> </td>
																	    <td> <a href="../elements/d2ac9083.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																	    <td> <a href="../elements/9c591212.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/b70e3c3a-0845-403f-a8b8-c311e3aa12d5.html" target="element"> Bizagi </a> </td>
									           <td> <a href="../objects/b70e3c3a-0845-403f-a8b8-c311e3aa12d5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/41677f32-d1db-4af9-aa71-4c462b5f9d2a.html" target="element">  </a> </td>
																						<td> <a href="../elements/41677f32-d1db-4af9-aa71-4c462b5f9d2a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																						<td> <a href="../elements/fca202cf.html" target="element"> ESB_097_Credito_RecuperarFlujoTramite </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/efbe70b5-2cd4-41fb-957f-a2739b185286.html" target="element">  </a> </td>
																								<td> <a href="../elements/efbe70b5-2cd4-41fb-957f-a2739b185286.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/23ffc257.html" target="element"> ESB_106_Credito_EnrutarTramiteCredito </a> </td>
																								<td> <a href="../elements/dfea46b6.html" target="element"> AS093-Modificaci&#243;nTramiteCredito </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/2a1138a2-a0a2-49e4-92bf-fc453988b075.html" target="element">  </a> </td>
																								<td> <a href="../elements/2a1138a2-a0a2-49e4-92bf-fc453988b075.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																								<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/233bf98a-b6ad-423c-a8f9-164e803c0027.html" target="element">  </a> </td>
																								<td> <a href="../elements/233bf98a-b6ad-423c-a8f9-164e803c0027.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/2136004b.html" target="element"> ESB_022_Credito_RecuperarTramiteSolicitudes </a> </td>
																								<td> <a href="../elements/d2ac9083.html" target="element"> AS049-ConsultaTramiteCredito </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/51c0dd3e-c681-408b-80e1-5aa6724897d5.html" target="element">  </a> </td>
																								<td> <a href="../elements/51c0dd3e-c681-408b-80e1-5aa6724897d5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/3fcc6241.html" target="element"> ESB_063_Credito_RecuperarDetalleTramite </a> </td>
																								<td> <a href="../elements/d2ac9083.html" target="element"> AS049-ConsultaTramiteCredito </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/56737f55-619f-43d3-b55b-e2431dcb181c.html" target="element">  </a> </td>
																								<td> <a href="../elements/56737f55-619f-43d3-b55b-e2431dcb181c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/8eb4f4b1.html" target="element"> ESB_005_Clientes_ValidarExistencia </a> </td>
																								<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/341fc395.html" target="element">  </a> </td>
																								<td> <a href="../elements/341fc395.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/fca202cf.html" target="element"> ESB_097_Credito_RecuperarFlujoTramite </a> </td>
																								<td> <a href="../elements/d2ac9083.html" target="element"> AS049-ConsultaTramiteCredito </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/bd8202b4-242c-48c2-afdb-8ac61607f6a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/bd8202b4-242c-48c2-afdb-8ac61607f6a2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/13018f58-4f1c-4c16-aa5f-834f68e326b7.html" target="element"> 164 CobisProxy_ValidarExistenciaService </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8f3a31f9-7f9c-402a-942c-e774036cf0d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/8f3a31f9-7f9c-402a-942c-e774036cf0d4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/7b825bb5-955d-4275-9af8-b3533781fbe1.html" target="element"> 160 CobisProxy_RecuperarInfoPNService </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/19f6cb26-5fbe-44bc-9764-2b7d96acc0ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/19f6cb26-5fbe-44bc-9764-2b7d96acc0ef.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/557c4819-0295-4f5b-a33e-876f28b64bc3.html" target="element"> 150 CobisProxy_RecuperarTramites </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/51cfffd5-71c9-4a23-8d64-9352aa288e11.html" target="element">  </a> </td>
																				<td> <a href="../elements/51cfffd5-71c9-4a23-8d64-9352aa288e11.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/cd8af584-b9f0-4b94-a37e-8bdec41912d5.html" target="element"> 176 CobisProxy_RecuperarDetalleTramiteService </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fdb8461d-9352-4f18-8207-2c7065b357eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/fdb8461d-9352-4f18-8207-2c7065b357eb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/d30be440-e709-42de-8e94-7af48e384117.html" target="element"> 158 CobisProxy_EnrutarTramiteCredito </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ba899429-07d8-422d-a401-834abc42dd44.html" target="element">  </a> </td>
																				<td> <a href="../elements/ba899429-07d8-422d-a401-834abc42dd44.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/4df28699-e4d8-462c-ac06-17de0c043689.html" target="element"> 144 CobisProxy_RecuperarFlujo </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/d5b91b39-a983-4f4b-a589-d05892820615.html" target="element">  </a> </td>
																						<td> <a href="../elements/d5b91b39-a983-4f4b-a589-d05892820615.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/13018f58-4f1c-4c16-aa5f-834f68e326b7.html" target="element"> 164 CobisProxy_ValidarExistenciaService </a> </td>
																						<td> <a href="../elements/8eb4f4b1.html" target="element"> ESB_005_Clientes_ValidarExistencia </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/9aaeae6d-4812-4292-8832-0d6a41c4e4ed.html" target="element">  </a> </td>
																						<td> <a href="../elements/9aaeae6d-4812-4292-8832-0d6a41c4e4ed.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/7b825bb5-955d-4275-9af8-b3533781fbe1.html" target="element"> 160 CobisProxy_RecuperarInfoPNService </a> </td>
																						<td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/d5f5a94f-a9d7-454a-87e8-d4ff2e09ced0.html" target="element">  </a> </td>
																						<td> <a href="../elements/d5f5a94f-a9d7-454a-87e8-d4ff2e09ced0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/557c4819-0295-4f5b-a33e-876f28b64bc3.html" target="element"> 150 CobisProxy_RecuperarTramites </a> </td>
																						<td> <a href="../elements/2136004b.html" target="element"> ESB_022_Credito_RecuperarTramiteSolicitudes </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/57065922-4278-4cc2-9f31-6ccbe3dc2d67.html" target="element">  </a> </td>
																						<td> <a href="../elements/57065922-4278-4cc2-9f31-6ccbe3dc2d67.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/cd8af584-b9f0-4b94-a37e-8bdec41912d5.html" target="element"> 176 CobisProxy_RecuperarDetalleTramiteService </a> </td>
																						<td> <a href="../elements/3fcc6241.html" target="element"> ESB_063_Credito_RecuperarDetalleTramite </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/f922bea3-e61c-4072-8c7f-004c5559884f.html" target="element">  </a> </td>
																						<td> <a href="../elements/f922bea3-e61c-4072-8c7f-004c5559884f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/d30be440-e709-42de-8e94-7af48e384117.html" target="element"> 158 CobisProxy_EnrutarTramiteCredito </a> </td>
																						<td> <a href="../elements/23ffc257.html" target="element"> ESB_106_Credito_EnrutarTramiteCredito </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/3fd568ec-b6ab-4270-bb70-b6bc3cc4cd44.html" target="element">  </a> </td>
																						<td> <a href="../elements/3fd568ec-b6ab-4270-bb70-b6bc3cc4cd44.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/4df28699-e4d8-462c-ac06-17de0c043689.html" target="element"> 144 CobisProxy_RecuperarFlujo </a> </td>
																						<td> <a href="../elements/fca202cf.html" target="element"> ESB_097_Credito_RecuperarFlujoTramite </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9705b51a-5df5-4940-99d8-0c308482abf2.html" target="element">  </a> </td>
																				<td> <a href="../elements/9705b51a-5df5-4940-99d8-0c308482abf2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/13018f58-4f1c-4c16-aa5f-834f68e326b7.html" target="element"> 164 CobisProxy_ValidarExistenciaService </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c2f3b297-cb86-4c08-8e63-87611ff46a3f.html" target="element">  </a> </td>
																				<td> <a href="../elements/c2f3b297-cb86-4c08-8e63-87611ff46a3f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/7b825bb5-955d-4275-9af8-b3533781fbe1.html" target="element"> 160 CobisProxy_RecuperarInfoPNService </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/37253ff8-1bf3-4400-b0a2-1044c5fc8d80.html" target="element">  </a> </td>
																				<td> <a href="../elements/37253ff8-1bf3-4400-b0a2-1044c5fc8d80.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/557c4819-0295-4f5b-a33e-876f28b64bc3.html" target="element"> 150 CobisProxy_RecuperarTramites </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/702b377f-5e67-412e-b11e-c65d63bac7b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/702b377f-5e67-412e-b11e-c65d63bac7b1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/cd8af584-b9f0-4b94-a37e-8bdec41912d5.html" target="element"> 176 CobisProxy_RecuperarDetalleTramiteService </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/78d7dc18-a83c-49c9-9fb8-106f73f0c716.html" target="element">  </a> </td>
																				<td> <a href="../elements/78d7dc18-a83c-49c9-9fb8-106f73f0c716.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/d30be440-e709-42de-8e94-7af48e384117.html" target="element"> 158 CobisProxy_EnrutarTramiteCredito </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/06b37a76-01ef-41d5-8f84-47df070ed3c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/06b37a76-01ef-41d5-8f84-47df070ed3c4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/4df28699-e4d8-462c-ac06-17de0c043689.html" target="element"> 144 CobisProxy_RecuperarFlujo </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>