<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Credenciales</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Credenciales</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3d61d935-eb0e-440f-a1de-5323c98689bb.png" alt="Credenciales" usemap="#3d61d935-eb0e-440f-a1de-5323c98689bbmap"/>
			   <map name="3d61d935-eb0e-440f-a1de-5323c98689bbmap">
				  								<area shape="rect" coords="644,164,1006,238" href="../elements/0937407e.html"  target="element">

				  						<area shape="rect" coords="596,116,1030,262" href="../elements/1cdadd6d.html"  target="element">

				  				<area shape="rect" coords="572,68,1054,286" href="../elements/3af9d480.html"  target="element">

				  		<area shape="rect" coords="524,20,1088,316" href="../elements/2a08dfb0.html"  target="element">
				  		<area shape="rect" coords="716,428,956,526" href="../elements/da0cb3b5.html"  target="element">
				  				<area shape="rect" coords="92,356,358,406" href="../elements/14d953b9-182e-4488-93fb-417872979d8c.html"  target="element">
				  				        <area shape="rect" coords="178,524,282,650" href="../objects/10c29367-ee74-46b8-b0c3-d4cfbc7940e5.html" target="element" >

				  				<area shape="rect" coords="106,452,346,670" href="../elements/d2136cc2-2745-419b-b70d-e280e504b87e.html"  target="element">

				  		<area shape="rect" coords="20,308,382,694" href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html"  target="element">
				  				        <area shape="rect" coords="164,164,268,218" href="../objects/5185261f-ce45-4022-868f-3fe1b303df0b.html" target="element" >

				  				<area shape="rect" coords="92,92,332,238" href="../elements/3d4546c0-bd96-496a-809b-b1838a11bfe8.html"  target="element">

				  		<area shape="rect" coords="20,20,382,262" href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3d4546c0-bd96-496a-809b-b1838a11bfe8.html" target="element"> Properties </a> </td>
													    <td> <a href="../elements/3d4546c0-bd96-496a-809b-b1838a11bfe8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/5185261f-ce45-4022-868f-3fe1b303df0b.html" target="element">  </a> </td>
													           <td> <a href="../objects/5185261f-ce45-4022-868f-3fe1b303df0b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html" target="element"> ADMONINET </a> </td>
											    <td> <a href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d2136cc2-2745-419b-b70d-e280e504b87e.html" target="element"> TBL_PARAMETROS </a> </td>
													    <td> <a href="../elements/d2136cc2-2745-419b-b70d-e280e504b87e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/10c29367-ee74-46b8-b0c3-d4cfbc7940e5.html" target="element">  </a> </td>
													           <td> <a href="../objects/10c29367-ee74-46b8-b0c3-d4cfbc7940e5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/14d953b9-182e-4488-93fb-417872979d8c.html" target="element"> getParametros </a> </td>
													    <td> <a href="../elements/14d953b9-182e-4488-93fb-417872979d8c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
											    <td> <a href="../elements/da0cb3b5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
											    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
													    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
															    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																	    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e3eab2c0-7a44-4731-9b0c-f73e18f6250d.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3eab2c0-7a44-4731-9b0c-f73e18f6250d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
																		<td> <a href="../elements/3d4546c0-bd96-496a-809b-b1838a11bfe8.html" target="element"> Properties </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/7c7c8c91-06ac-49f4-b8a1-eed334dcea9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c7c8c91-06ac-49f4-b8a1-eed334dcea9c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html" target="element"> ADMONINET </a> </td>
																		<td> <a href="../elements/d2136cc2-2745-419b-b70d-e280e504b87e.html" target="element"> TBL_PARAMETROS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7698b50f-77da-46cf-b747-a8923c3402b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/7698b50f-77da-46cf-b747-a8923c3402b1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html" target="element"> ADMONINET </a> </td>
																		<td> <a href="../elements/14d953b9-182e-4488-93fb-417872979d8c.html" target="element"> getParametros </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/326c8aa6-51c3-4b0c-8f52-06b107bfe45e.html" target="element">  </a> </td>
																				<td> <a href="../elements/326c8aa6-51c3-4b0c-8f52-06b107bfe45e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/14d953b9-182e-4488-93fb-417872979d8c.html" target="element"> getParametros </a> </td>
																				<td> <a href="../elements/d2136cc2-2745-419b-b70d-e280e504b87e.html" target="element"> TBL_PARAMETROS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0c81f27e-e0ef-4b40-b125-04a87575f214.html" target="element">  </a> </td>
																				<td> <a href="../elements/0c81f27e-e0ef-4b40-b125-04a87575f214.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/14d953b9-182e-4488-93fb-417872979d8c.html" target="element"> getParametros </a> </td>
																				<td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8620fe75-a1a3-48d5-ba70-cf829d233451.html" target="element">  </a> </td>
																		<td> <a href="../elements/8620fe75-a1a3-48d5-ba70-cf829d233451.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
																		<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																		<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/22a0f4d8-6a74-4080-99a6-195bda4d573c.html" target="element">  </a> </td>
																				<td> <a href="../elements/22a0f4d8-6a74-4080-99a6-195bda4d573c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																				<td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
																			</tr>

															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>