<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Relación Negocio - AppBack [AS-IS]</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Relaci&#243;n Negocio - AppBack [AS-IS]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4f61b9cf.png" alt="Vista Relación Negocio - AppBack [AS-IS]" usemap="#4f61b9cfmap"/>
			   <map name="4f61b9cfmap">
				  				<area shape="rect" coords="2804,1214,3044,1324" href="../elements/01d0062b.html"  target="element">
				  				<area shape="rect" coords="3308,1388,3548,1990" href="../elements/2d355af1.html"  target="element">
				  				<area shape="rect" coords="44,1556,358,1666" href="../elements/9450cf7b.html"  target="element">
				  				<area shape="rect" coords="2012,1216,2276,1332" href="../elements/19558b78.html"  target="element">
				  				<area shape="rect" coords="44,1040,310,1150" href="../elements/fb981bb3.html"  target="element">
				  				<area shape="rect" coords="2516,1214,2780,1334" href="../elements/a3957a50.html"  target="element">
				  				<area shape="rect" coords="1628,1214,1868,1324" href="../elements/354399f6.html"  target="element">
				  						<area shape="rect" coords="3860,1820,4100,1930" href="../elements/15792496.html"  target="element">
				  						<area shape="rect" coords="3596,1820,3836,1930" href="../elements/1ec35f62.html"  target="element">
				  						<area shape="rect" coords="3860,1700,4100,1810" href="../elements/8bf98d31.html"  target="element">
				  						<area shape="rect" coords="3596,1700,3836,1810" href="../elements/5b11a748.html"  target="element">
				  						<area shape="rect" coords="4124,1820,4364,1930" href="../elements/e26a6789.html"  target="element">
				  						<area shape="rect" coords="4124,1580,4364,1690" href="../elements/ef950d70.html"  target="element">
				  						<area shape="rect" coords="3860,1580,4100,1690" href="../elements/76ad0d1d.html"  target="element">
				  						<area shape="rect" coords="3596,1580,3836,1690" href="../elements/0f3d93ae.html"  target="element">
				  						<area shape="rect" coords="3596,1460,4364,1532" href="../elements/31ada80a.html"  target="element">

				  				<area shape="rect" coords="3572,1388,4390,1990" href="../elements/fb0dde3b.html"  target="element">
				  				<area shape="rect" coords="3164,1224,3404,1334" href="../elements/ddf6f701.html"  target="element">
				  						<area shape="rect" coords="2948,1640,3238,1750" href="../elements/46943af5.html"  target="element">
				  						<area shape="rect" coords="1484,1652,1772,1762" href="../elements/183a5dbc.html"  target="element">
				  						<area shape="rect" coords="1484,1844,1772,1954" href="../elements/43ea2762.html"  target="element">
				  						<area shape="rect" coords="2444,1640,2732,1750" href="../elements/cd710349.html"  target="element">
				  						<area shape="rect" coords="2444,1844,2732,1954" href="../elements/d473ffbb.html"  target="element">
				  						<area shape="rect" coords="2444,1460,2732,1570" href="../elements/deef0ed4.html"  target="element">
				  						<area shape="rect" coords="1484,1460,1772,1570" href="../elements/9c236022.html"  target="element">
				  						<area shape="rect" coords="956,1460,1246,1678" href="../elements/5b0e79c7.html"  target="element">
				  						<area shape="rect" coords="2948,1460,3238,1570" href="../elements/c8a8ca55.html"  target="element">
				  						<area shape="rect" coords="956,1760,1246,1966" href="../elements/56b227ae.html"  target="element">
				  						<area shape="rect" coords="1988,1460,2278,1678" href="../elements/1bc44151.html"  target="element">
				  						<area shape="rect" coords="2948,1844,3238,1954" href="../elements/644c3c59.html"  target="element">
				  						<area shape="rect" coords="1988,1748,2278,1966" href="../elements/4c26b231.html"  target="element">

				  				<area shape="rect" coords="908,1388,3286,1990" href="../elements/f8a1a465.html"  target="element">

				          <area shape="rect" coords="20,980,4508,2062" href="../objects/b116d15b.html" target="element" >
				  						<area shape="rect" coords="68,308,1174,358" href="../elements/606cff00.html"  target="element">
				  						<area shape="rect" coords="68,236,1174,286" href="../elements/d2cc5119.html"  target="element">
				  						<area shape="rect" coords="68,164,1174,214" href="../elements/944150d5.html"  target="element">

				  				<area shape="rect" coords="44,92,1198,382" href="../elements/2fdf87de.html"  target="element">
				  						<area shape="rect" coords="908,596,1148,706" href="../elements/f5ebda51.html"  target="element">
				  						<area shape="rect" coords="908,452,1148,562" href="../elements/0b6a7ff1.html"  target="element">
				  								<area shape="rect" coords="92,596,406,706" href="../elements/6a32c551.html"  target="element">
				  								<area shape="rect" coords="92,500,836,574" href="../elements/d4d3be42.html"  target="element">
				  								<area shape="rect" coords="524,596,836,706" href="../elements/961007cd.html"  target="element">

				  						<area shape="rect" coords="68,452,862,742" href="../elements/3b68ab40.html"  target="element">

				  				<area shape="rect" coords="44,404,1198,778" href="../elements/77325a45.html"  target="element">
				  						<area shape="rect" coords="2540,192,2782,650" href="../elements/54065f7e.html"  target="element">
				  						<area shape="rect" coords="2276,192,2494,650" href="../elements/2b887ba9.html"  target="element">
				  								<area shape="rect" coords="1940,576,2206,626" href="../elements/29a2c4d0.html"  target="element">
				  								<area shape="rect" coords="1940,504,2206,554" href="../elements/8c8d5428.html"  target="element">

				  						<area shape="rect" coords="1916,432,2230,650" href="../elements/8ca9f4e4.html"  target="element">
				  								<area shape="rect" coords="1940,336,2206,386" href="../elements/cf461829.html"  target="element">
				  								<area shape="rect" coords="1938,264,2206,314" href="../elements/284d6c4c.html"  target="element">

				  						<area shape="rect" coords="1916,192,2230,410" href="../elements/f77894bd.html"  target="element">
				  						<area shape="rect" coords="1580,324,1822,434" href="../elements/f8ff3536.html"  target="element">
				  						<area shape="rect" coords="1580,192,1822,302" href="../elements/ab51167b.html"  target="element">
				  						<area shape="rect" coords="1268,192,1484,650" href="../elements/8831065e.html"  target="element">

				  				<area shape="rect" coords="1220,96,2830,778" href="../elements/1a72dd46.html"  target="element">
				  								<area shape="rect" coords="3932,644,4126,718" href="../elements/551b5480.html"  target="element">
				  								<area shape="rect" coords="3932,548,4126,622" href="../elements/a9e49b4d.html"  target="element">
				  								<area shape="rect" coords="3932,452,4126,526" href="../elements/4da7ff6c.html"  target="element">
				  								<area shape="rect" coords="3932,356,4126,430" href="../elements/7955ccd5.html"  target="element">
				  								<area shape="rect" coords="3932,260,4126,334" href="../elements/db8c08d7.html"  target="element">

				  						<area shape="rect" coords="3908,188,4148,754" href="../elements/5d0e9bf8.html"  target="element">
				  								<area shape="rect" coords="3260,500,3526,610" href="../elements/deb5d26a.html"  target="element">
				  								<area shape="rect" coords="3260,260,3526,370" href="../elements/d673b530.html"  target="element">

				  						<area shape="rect" coords="3236,188,3574,694" href="../elements/35568ac1.html"  target="element">
				  						<area shape="rect" coords="4196,188,4438,298" href="../elements/03b47358.html"  target="element">
				  						<area shape="rect" coords="4196,644,4438,754" href="../elements/1544ae38.html"  target="element">
				  								<area shape="rect" coords="3620,260,3838,370" href="../elements/e31f4d25.html"  target="element">
				  								<area shape="rect" coords="3620,620,3838,730" href="../elements/2835e811.html"  target="element">
				  								<area shape="rect" coords="3620,500,3838,610" href="../elements/224cf7ea.html"  target="element">
				  								<area shape="rect" coords="3620,380,3838,490" href="../elements/e2ff9ff6.html"  target="element">

				  						<area shape="rect" coords="3596,188,3862,754" href="../elements/116e34b7.html"  target="element">
				  								<area shape="rect" coords="2924,500,3166,610" href="../elements/615fc76a.html"  target="element">
				  								<area shape="rect" coords="2924,380,3166,490" href="../elements/d912380b.html"  target="element">
				  								<area shape="rect" coords="2924,260,3166,370" href="../elements/437d6502.html"  target="element">

				  						<area shape="rect" coords="2876,188,3214,694" href="../elements/32bb8a44.html"  target="element">

				  				<area shape="rect" coords="2852,92,4486,778" href="../elements/ec5dca64.html"  target="element">

				          <area shape="rect" coords="20,20,4510,958" href="../objects/ae898803.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> alcanceSOA </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Fase 1.1</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/ae898803.html" target="element"> Capa de Negocio </a> </td>
									           <td> <a href="../objects/ae898803.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ec5dca64.html" target="element"> Procesos Estrategicos </a> </td>
													    <td> <a href="../elements/ec5dca64.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/32bb8a44.html" target="element"> Planeaci&#243;n Estrategica </a> </td>
															    <td> <a href="../elements/32bb8a44.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/437d6502.html" target="element"> Planeaci&#243;n Estrategica </a> </td>
																	    <td> <a href="../elements/437d6502.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/d912380b.html" target="element"> Planeaci&#243;n SGC </a> </td>
																	    <td> <a href="../elements/d912380b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/615fc76a.html" target="element"> Comunicaci&#243;n </a> </td>
																	    <td> <a href="../elements/615fc76a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/116e34b7.html" target="element"> Gesti&#243;n Financiera </a> </td>
															    <td> <a href="../elements/116e34b7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/e2ff9ff6.html" target="element"> Planeaci&#243;n Financiera </a> </td>
																	    <td> <a href="../elements/e2ff9ff6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/224cf7ea.html" target="element"> Presupuesto </a> </td>
																	    <td> <a href="../elements/224cf7ea.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/2835e811.html" target="element"> Tesoreria </a> </td>
																	    <td> <a href="../elements/2835e811.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/e31f4d25.html" target="element"> Gesti&#243;n Contable </a> </td>
																	    <td> <a href="../elements/e31f4d25.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/1544ae38.html" target="element"> Inverstigaci&#243;n y Desarrollo </a> </td>
															    <td> <a href="../elements/1544ae38.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/03b47358.html" target="element"> Mercadeo </a> </td>
															    <td> <a href="../elements/03b47358.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/35568ac1.html" target="element"> Gesti&#243;n Tecnologica y Organizacional </a> </td>
															    <td> <a href="../elements/35568ac1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/d673b530.html" target="element"> Gesti&#243;n Tecnologica </a> </td>
																	    <td> <a href="../elements/d673b530.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/deb5d26a.html" target="element"> Gesti&#243;n de Desarrollo Organizacional </a> </td>
																	    <td> <a href="../elements/deb5d26a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/5d0e9bf8.html" target="element"> Gestion de Riesgos </a> </td>
															    <td> <a href="../elements/5d0e9bf8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/db8c08d7.html" target="element"> SARO </a> </td>
																	    <td> <a href="../elements/db8c08d7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/7955ccd5.html" target="element"> SARC </a> </td>
																	    <td> <a href="../elements/7955ccd5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/4da7ff6c.html" target="element"> SARLAFT </a> </td>
																	    <td> <a href="../elements/4da7ff6c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/a9e49b4d.html" target="element"> SARM </a> </td>
																	    <td> <a href="../elements/a9e49b4d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/551b5480.html" target="element"> SARL </a> </td>
																	    <td> <a href="../elements/551b5480.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/1a72dd46.html" target="element"> Procesos Misionales </a> </td>
													    <td> <a href="../elements/1a72dd46.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
															    <td> <a href="../elements/8831065e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
															    <td> <a href="../elements/ab51167b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
															    <td> <a href="../elements/f8ff3536.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
															    <td> <a href="../elements/f77894bd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/284d6c4c.html" target="element"> Cesantias </a> </td>
																	    <td> <a href="../elements/284d6c4c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/cf461829.html" target="element"> Ahorro Voluntario </a> </td>
																	    <td> <a href="../elements/cf461829.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
															    <td> <a href="../elements/8ca9f4e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/8c8d5428.html" target="element"> Educativo </a> </td>
																	    <td> <a href="../elements/8c8d5428.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/29a2c4d0.html" target="element"> Hipotecario </a> </td>
																	    <td> <a href="../elements/29a2c4d0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
															    <td> <a href="../elements/2b887ba9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
															    <td> <a href="../elements/54065f7e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/77325a45.html" target="element"> Procesos de Soporte </a> </td>
													    <td> <a href="../elements/77325a45.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3b68ab40.html" target="element"> Gesti&#243;n Administrativa </a> </td>
															    <td> <a href="../elements/3b68ab40.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/961007cd.html" target="element"> Contrataci&#243;n </a> </td>
																	    <td> <a href="../elements/961007cd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/d4d3be42.html" target="element"> Gesti&#243;n de Archivo y Correspondencia </a> </td>
																	    <td> <a href="../elements/d4d3be42.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/6a32c551.html" target="element"> Gesti&#243;n de Infraestructura </a> </td>
																	    <td> <a href="../elements/6a32c551.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/0b6a7ff1.html" target="element"> Gesti&#243;n Humana </a> </td>
															    <td> <a href="../elements/0b6a7ff1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f5ebda51.html" target="element"> Gesti&#243;n Juridica </a> </td>
															    <td> <a href="../elements/f5ebda51.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/2fdf87de.html" target="element"> Procesos de Evaluaci&#243;n </a> </td>
													    <td> <a href="../elements/2fdf87de.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/944150d5.html" target="element"> Medici&#243;n de la satisfacci&#243;n del cliente </a> </td>
															    <td> <a href="../elements/944150d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d2cc5119.html" target="element"> Peticiones, Quejas y Reclamos </a> </td>
															    <td> <a href="../elements/d2cc5119.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/606cff00.html" target="element"> Sistema de control Interno y Mejoramiento Continuo </a> </td>
															    <td> <a href="../elements/606cff00.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/b116d15b.html" target="element"> Aplicaciones Back </a> </td>
									           <td> <a href="../objects/b116d15b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/4c26b231.html" target="element"> COBIS - AVC </a> </td>
															    <td> <a href="../elements/4c26b231.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/644c3c59.html" target="element"> COBIS - Caja y Bancos </a> </td>
															    <td> <a href="../elements/644c3c59.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/1bc44151.html" target="element"> COBIS - Cesantias </a> </td>
															    <td> <a href="../elements/1bc44151.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c8a8ca55.html" target="element"> COBIS - Cartera </a> </td>
															    <td> <a href="../elements/c8a8ca55.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9c236022.html" target="element"> COBIS - Entidades </a> </td>
															    <td> <a href="../elements/9c236022.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/deef0ed4.html" target="element"> COBIS - Contabilidad </a> </td>
															    <td> <a href="../elements/deef0ed4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d473ffbb.html" target="element"> COBIS - Presupuesto </a> </td>
															    <td> <a href="../elements/d473ffbb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/cd710349.html" target="element"> COBIS - Tesoreria </a> </td>
															    <td> <a href="../elements/cd710349.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/43ea2762.html" target="element"> COBIS - Administrador de Referencias </a> </td>
															    <td> <a href="../elements/43ea2762.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/183a5dbc.html" target="element"> COBIS - Recursos Humanos </a> </td>
															    <td> <a href="../elements/183a5dbc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/46943af5.html" target="element"> COBIS - Cobranza </a> </td>
															    <td> <a href="../elements/46943af5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/ddf6f701.html" target="element"> Vigia </a> </td>
													    <td> <a href="../elements/ddf6f701.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fb0dde3b.html" target="element"> SAP Backend </a> </td>
													    <td> <a href="../elements/fb0dde3b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/31ada80a.html" target="element"> SAP - Contabilidad </a> </td>
															    <td> <a href="../elements/31ada80a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0f3d93ae.html" target="element"> SAP - Caja / Banco </a> </td>
															    <td> <a href="../elements/0f3d93ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/76ad0d1d.html" target="element"> SAP - Proveedores </a> </td>
															    <td> <a href="../elements/76ad0d1d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ef950d70.html" target="element"> SAP - Clientes </a> </td>
															    <td> <a href="../elements/ef950d70.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e26a6789.html" target="element"> SAP - Facturaci&#243;n </a> </td>
															    <td> <a href="../elements/e26a6789.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5b11a748.html" target="element"> SAP - Costos </a> </td>
															    <td> <a href="../elements/5b11a748.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8bf98d31.html" target="element"> SAP - Compras </a> </td>
															    <td> <a href="../elements/8bf98d31.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/1ec35f62.html" target="element"> SAP - Activos Fijos </a> </td>
															    <td> <a href="../elements/1ec35f62.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/15792496.html" target="element"> SAP - Inventarios </a> </td>
															    <td> <a href="../elements/15792496.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
													    <td> <a href="../elements/354399f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a3957a50.html" target="element"> Aplicaci&#243;n EJB - Scoring </a> </td>
													    <td> <a href="../elements/a3957a50.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
													    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9450cf7b.html" target="element"> Aplicacion Ws - SeguridadService2FA </a> </td>
													    <td> <a href="../elements/9450cf7b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/01d0062b.html" target="element"> Aplicaci&#243;n Back - Kactus </a> </td>
													    <td> <a href="../elements/01d0062b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															
															
															
															
													
																					<tr>
																						<td> <a href="../elements/ae46ed56.html" target="element">  </a> </td>
																						<td> <a href="../elements/ae46ed56.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6815bda1.html" target="element">  </a> </td>
																						<td> <a href="../elements/6815bda1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/964863e4.html" target="element">  </a> </td>
																						<td> <a href="../elements/964863e4.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a0d9d784.html" target="element">  </a> </td>
																						<td> <a href="../elements/a0d9d784.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																						<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/07986b71.html" target="element">  </a> </td>
																						<td> <a href="../elements/07986b71.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																						<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a8966709.html" target="element">  </a> </td>
																						<td> <a href="../elements/a8966709.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/e07d3e3e.html" target="element">  </a> </td>
																						<td> <a href="../elements/e07d3e3e.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/589afb68.html" target="element">  </a> </td>
																						<td> <a href="../elements/589afb68.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																						<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																					</tr>

													
															
													
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/e35a9d47.html" target="element">  </a> </td>
																				<td> <a href="../elements/e35a9d47.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/a3957a50.html" target="element"> Aplicaci&#243;n EJB - Scoring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/27d42d4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/27d42d4c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bc9dafb8.html" target="element">  </a> </td>
																				<td> <a href="../elements/bc9dafb8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/01d0062b.html" target="element"> Aplicaci&#243;n Back - Kactus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3a4249a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/3a4249a3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/fb0dde3b.html" target="element"> SAP Backend </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5ab64c61.html" target="element">  </a> </td>
																				<td> <a href="../elements/5ab64c61.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/82c630b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/82c630b6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4d3e1ba8.html" target="element">  </a> </td>
																				<td> <a href="../elements/4d3e1ba8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/4b9fb6d9.html" target="element">  </a> </td>
																						<td> <a href="../elements/4b9fb6d9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/4c26b231.html" target="element"> COBIS - AVC </a> </td>
																						<td> <a href="../elements/cf461829.html" target="element"> Ahorro Voluntario </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/824b0d05.html" target="element">  </a> </td>
																						<td> <a href="../elements/824b0d05.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/1bc44151.html" target="element"> COBIS - Cesantias </a> </td>
																						<td> <a href="../elements/284d6c4c.html" target="element"> Cesantias </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/893bf157.html" target="element">  </a> </td>
																						<td> <a href="../elements/893bf157.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/3e086932.html" target="element">  </a> </td>
																						<td> <a href="../elements/3e086932.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/c8a8ca55.html" target="element"> COBIS - Cartera </a> </td>
																						<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/860d7da4.html" target="element">  </a> </td>
																						<td> <a href="../elements/860d7da4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/190de27a.html" target="element">  </a> </td>
																				<td> <a href="../elements/190de27a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/ddf6f701.html" target="element"> Vigia </a> </td>
																				<td> <a href="../elements/5d0e9bf8.html" target="element"> Gestion de Riesgos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f27c0ee9.html" target="element">  </a> </td>
																				<td> <a href="../elements/f27c0ee9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/fb0dde3b.html" target="element"> SAP Backend </a> </td>
																				<td> <a href="../elements/116e34b7.html" target="element"> Gesti&#243;n Financiera </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/62ad7be5.html" target="element">  </a> </td>
																				<td> <a href="../elements/62ad7be5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c9b1232e.html" target="element">  </a> </td>
																				<td> <a href="../elements/c9b1232e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																				<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2f8979b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/2f8979b5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/a3957a50.html" target="element"> Aplicaci&#243;n EJB - Scoring </a> </td>
																				<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b6252d15.html" target="element">  </a> </td>
																				<td> <a href="../elements/b6252d15.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/a3957a50.html" target="element"> Aplicaci&#243;n EJB - Scoring </a> </td>
																				<td> <a href="../elements/0b6a7ff1.html" target="element"> Gesti&#243;n Humana </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5891f648.html" target="element">  </a> </td>
																				<td> <a href="../elements/5891f648.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																				<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/42b71156.html" target="element">  </a> </td>
																				<td> <a href="../elements/42b71156.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/da1d6af8.html" target="element">  </a> </td>
																				<td> <a href="../elements/da1d6af8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/9450cf7b.html" target="element"> Aplicacion Ws - SeguridadService2FA </a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>