<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Conceptual Scoring [AS-IS]</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Conceptual Scoring [AS-IS]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5ca87cb0.png" alt="Arquitectura Conceptual Scoring [AS-IS]" usemap="#5ca87cb0map"/>
			   <map name="5ca87cb0map">
				          <area shape="rect" coords="620,860,814,922" href="../objects/447c6b2f.html" target="element" >
				  						<area shape="rect" coords="164,836,404,946" href="../elements/55036c04.html"  target="element">

				  				<area shape="rect" coords="44,764,574,982" href="../elements/52fe9565.html"  target="element">

				          <area shape="rect" coords="20,692,598,1006" href="../objects/b4078f54.html" target="element" >
				  						<area shape="rect" coords="116,548,502,610" href="../elements/125009e3.html"  target="element">
				  						<area shape="rect" coords="116,164,502,526" href="../elements/29b37dee.html"  target="element">

				  				<area shape="rect" coords="68,92,526,622" href="../elements/e495796e.html"  target="element">
				  						<area shape="rect" coords="1316,140,1556,622" href="../elements/57f4b033.html"  target="element">

				  				<area shape="rect" coords="1244,92,1606,646" href="../elements/e495796e.html"  target="element">
				  						<area shape="rect" coords="764,164,1004,274" href="../elements/a417cca8.html"  target="element">

				  				<area shape="rect" coords="572,92,1222,334" href="../elements/84e3e138.html"  target="element">
				  						<area shape="rect" coords="884,452,1174,562" href="../elements/231747b0.html"  target="element">
				  						<area shape="rect" coords="620,452,860,562" href="../elements/da8dd1f6.html"  target="element">

				  				<area shape="rect" coords="572,356,1222,622" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,20,1630,670" href="../objects/b7310cc9.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/b7310cc9.html" target="element"> Red Interna </a> </td>
									           <td> <a href="../objects/b7310cc9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
															    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
															    <td> <a href="../elements/231747b0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/84e3e138.html" target="element"> PROCESS SERVER </a> </td>
													    <td> <a href="../elements/84e3e138.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
															    <td> <a href="../elements/a417cca8.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/e495796e.html" target="element"> WAS </a> </td>
													    <td> <a href="../elements/e495796e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
															    <td> <a href="../elements/57f4b033.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/e495796e.html" target="element"> WAS </a> </td>
													    <td> <a href="../elements/e495796e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/29b37dee.html" target="element"> Web - ScoringIntranet </a> </td>
															    <td> <a href="../elements/29b37dee.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/125009e3.html" target="element"> Web - ScoringCIFIN </a> </td>
															    <td> <a href="../elements/125009e3.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/b4078f54.html" target="element"> Red Externa </a> </td>
									           <td> <a href="../objects/b4078f54.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/52fe9565.html" target="element"> CIFIN - Transunion </a> </td>
													    <td> <a href="../elements/52fe9565.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/55036c04.html" target="element"> Servicios CIFIN </a> </td>
															    <td> <a href="../elements/55036c04.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/447c6b2f.html" target="element">  </a> </td>
									           <td> <a href="../objects/447c6b2f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/6616a9e2.html" target="element">  </a> </td>
																						<td> <a href="../elements/6616a9e2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																						<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/07ad1e22.html" target="element">  </a> </td>
																						<td> <a href="../elements/07ad1e22.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																						<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/f3b3df46.html" target="element">  </a> </td>
																						<td> <a href="../elements/f3b3df46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																						<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																					</tr>

													
													
																					<tr>
																						<td> <a href="../elements/43758b77.html" target="element">  </a> </td>
																						<td> <a href="../elements/43758b77.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/29b37dee.html" target="element"> Web - ScoringIntranet </a> </td>
																						<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/c563f674.html" target="element">  </a> </td>
																						<td> <a href="../elements/c563f674.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/29b37dee.html" target="element"> Web - ScoringIntranet </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/c7cb0d1f.html" target="element">  </a> </td>
																						<td> <a href="../elements/c7cb0d1f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/29b37dee.html" target="element"> Web - ScoringIntranet </a> </td>
																						<td> <a href="../elements/125009e3.html" target="element"> Web - ScoringCIFIN </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/3ff6d5c1.html" target="element">  </a> </td>
																						<td> <a href="../elements/3ff6d5c1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/125009e3.html" target="element"> Web - ScoringCIFIN </a> </td>
																						<td> <a href="../elements/55036c04.html" target="element"> Servicios CIFIN </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>