<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GestorDocumental AS-IS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>GestorDocumental AS-IS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5d774834-3ae0-4e9b-8d0e-f3faeb7650da.png" alt="GestorDocumental AS-IS" usemap="#5d774834-3ae0-4e9b-8d0e-f3faeb7650damap"/>
			   <map name="5d774834-3ae0-4e9b-8d0e-f3faeb7650damap">
				  		<area shape="rect" coords="188,20,428,130" href="../elements/40f86dda.html"  target="element">
				          <area shape="rect" coords="332,140,438,214" href="../objects/3c0a1cff-15c7-4043-8fc6-a9d3147f6ac5.html" target="element" >
				          <area shape="rect" coords="1604,620,1702,680" href="../objects/9c44ef7d-f77c-4234-baee-81d143e55693.html" target="element" >
				  								<area shape="rect" coords="1772,620,2182,670" href="../elements/711d3363-4585-4c5c-8830-32b8b6e982ed.html"  target="element">

				  						<area shape="rect" coords="1748,572,2206,694" href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html"  target="element">

				  				<area shape="rect" coords="1700,524,2230,742" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1676,236,2254,1102" href="../objects/0a534d7b-e970-48ca-9ae0-f99e4eba730a.html" target="element" >
				  										<area shape="rect" coords="236,548,550,814" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="188,476,574,838" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="188,932,1462,982" href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html"  target="element">

				  								<area shape="rect" coords="164,884,1486,1006" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1004,548,1462,790" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="980,476,1486,838" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="620,572,934,766" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="596,476,958,838" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,380,1534,1030" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,308,1582,1054" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,236,1630,1102" href="../objects/849e28a7-86e6-4a3c-a549-507b4f996f67.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/849e28a7-86e6-4a3c-a549-507b4f996f67.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/849e28a7-86e6-4a3c-a549-507b4f996f67.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																			    <td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/0a534d7b-e970-48ca-9ae0-f99e4eba730a.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/0a534d7b-e970-48ca-9ae0-f99e4eba730a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/711d3363-4585-4c5c-8830-32b8b6e982ed.html" target="element"> Form_Insert </a> </td>
																	    <td> <a href="../elements/711d3363-4585-4c5c-8830-32b8b6e982ed.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/9c44ef7d-f77c-4234-baee-81d143e55693.html" target="element">  </a> </td>
									           <td> <a href="../objects/9c44ef7d-f77c-4234-baee-81d143e55693.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/3c0a1cff-15c7-4043-8fc6-a9d3147f6ac5.html" target="element">  </a> </td>
									           <td> <a href="../objects/3c0a1cff-15c7-4043-8fc6-a9d3147f6ac5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
											    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/3a390cf2-9c80-47bc-beb4-56821f80e610.html" target="element">  </a> </td>
																										<td> <a href="../elements/3a390cf2-9c80-47bc-beb4-56821f80e610.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																									</tr>

																	
																	
																							<tr>
																								<td> <a href="../elements/44eb26c0-fc3f-4dd5-887f-ae1f2184f950.html" target="element">  </a> </td>
																								<td> <a href="../elements/44eb26c0-fc3f-4dd5-887f-ae1f2184f950.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/cb9ac901-4fc5-4729-8f03-714b993f3127.html" target="element">  </a> </td>
																										<td> <a href="../elements/cb9ac901-4fc5-4729-8f03-714b993f3127.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																				<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>