<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Cargue Documentos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Cargue Documentos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/696ce83d-88f7-4cbd-ae8d-7d5b5eee1f0e.png" alt="Cargue Documentos" usemap="#696ce83d-88f7-4cbd-ae8d-7d5b5eee1f0emap"/>
			   <map name="696ce83d-88f7-4cbd-ae8d-7d5b5eee1f0emap">
				  						<area shape="rect" coords="1460,692,1870,790" href="../elements/56b227ae.html"  target="element">
				  						<area shape="rect" coords="1460,572,1870,670" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1412,524,1894,814" href="../elements/f8a1a465.html"  target="element">
				  				<area shape="rect" coords="1436,380,1894,490" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1388,20,1942,862" href="../objects/6008e4bf-ed73-4ce3-971f-d58392cdb86d.html" target="element" >
				  				<area shape="rect" coords="860,956,1100,1066" href="../elements/da67f30e.html"  target="element">
				  				<area shape="rect" coords="596,956,836,1066" href="../elements/be34ce94.html"  target="element">

				          <area shape="rect" coords="20,884,1942,1102" href="../objects/d0ba5e23-19d6-46e3-ba76-e23fec5d3b61.html" target="element" >
				  				<area shape="rect" coords="1100,380,1340,490" href="../elements/40f86dda.html"  target="element">
				  				<area shape="rect" coords="1100,524,1340,814" href="../elements/2abeddc5.html"  target="element">
				  				<area shape="rect" coords="812,704,1052,814" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">

				          <area shape="rect" coords="764,20,1366,862" href="../objects/b04cc904-cf8e-4a63-85eb-929ce352bdd1.html" target="element" >
				  				<area shape="rect" coords="380,236,670,346" href="../elements/135a4b9c.html"  target="element">
				  				<area shape="rect" coords="380,92,670,202" href="../elements/e42019f2.html"  target="element">
				  				<area shape="rect" coords="380,380,670,490" href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html"  target="element">
				  				<area shape="rect" coords="380,524,670,814" href="../elements/8a5026b1.html"  target="element">

				          <area shape="rect" coords="332,20,718,862" href="../objects/6cbb1ee6-2c7a-44a0-92bf-2c39b36d042b.html" target="element" >
				  				<area shape="rect" coords="44,92,284,478" href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html"  target="element">
				  				<area shape="rect" coords="44,524,284,814" href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html"  target="element">

				          <area shape="rect" coords="20,20,310,862" href="../objects/2fb02415-abb3-4af7-aa55-5c448d03c596.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/2fb02415-abb3-4af7-aa55-5c448d03c596.html" target="element"> Usuarios </a> </td>
									           <td> <a href="../objects/2fb02415-abb3-4af7-aa55-5c448d03c596.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6cbb1ee6-2c7a-44a0-92bf-2c39b36d042b.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/6cbb1ee6-2c7a-44a0-92bf-2c39b36d042b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
													    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
													    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e42019f2.html" target="element"> FNA M&#243;vil &#193;gil </a> </td>
													    <td> <a href="../elements/e42019f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
													    <td> <a href="../elements/135a4b9c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/b04cc904-cf8e-4a63-85eb-929ce352bdd1.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/b04cc904-cf8e-4a63-85eb-929ce352bdd1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
													    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/d0ba5e23-19d6-46e3-ba76-e23fec5d3b61.html" target="element"> Servicios de Infraestructura </a> </td>
									           <td> <a href="../objects/d0ba5e23-19d6-46e3-ba76-e23fec5d3b61.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
													    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
													    <td> <a href="../elements/da67f30e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6008e4bf-ed73-4ce3-971f-d58392cdb86d.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/6008e4bf-ed73-4ce3-971f-d58392cdb86d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/61dd8664-14a8-4712-a76c-94dd74f216e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/61dd8664-14a8-4712-a76c-94dd74f216e2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9f074df6-86e9-4d91-87cc-77927c742585.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f074df6-86e9-4d91-87cc-77927c742585.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/e42019f2.html" target="element"> FNA M&#243;vil &#193;gil </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/02e7c056-a183-4093-a99c-ada78ca6b27a.html" target="element">  </a> </td>
																				<td> <a href="../elements/02e7c056-a183-4093-a99c-ada78ca6b27a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bd638144-2930-4282-aec0-9ed08f0fb18b.html" target="element">  </a> </td>
																				<td> <a href="../elements/bd638144-2930-4282-aec0-9ed08f0fb18b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4592c056-3fc4-45a8-bcad-4a1a0a94741c.html" target="element">  </a> </td>
																				<td> <a href="../elements/4592c056-3fc4-45a8-bcad-4a1a0a94741c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/af1b12b5-dcdd-4ba8-9ff4-6beb8722f5c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/af1b12b5-dcdd-4ba8-9ff4-6beb8722f5c9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/e42019f2.html" target="element"> FNA M&#243;vil &#193;gil </a> </td>
																				<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9eef1f6c-b15e-4f18-ae27-e2b0d58a2076.html" target="element">  </a> </td>
																				<td> <a href="../elements/9eef1f6c-b15e-4f18-ae27-e2b0d58a2076.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																				<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element">  </a> </td>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4a4fb909-5194-4aa5-818b-b66ee0b126b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/4a4fb909-5194-4aa5-818b-b66ee0b126b6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/edbe3935-b3b0-40e1-8ebf-fbc7c5f805d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/edbe3935-b3b0-40e1-8ebf-fbc7c5f805d8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element">  </a> </td>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element">  </a> </td>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>