<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Infraestructura MTBase Certificación</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Infraestructura MTBase Certificaci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6c98edaa.png" alt="Arquitectura Infraestructura MTBase Certificación" usemap="#6c98edaamap"/>
			   <map name="6c98edaamap">
				  				<area shape="rect" coords="2252,572,2492,682" href="../elements/c40034ce.html"  target="element">

				  		<area shape="rect" coords="2204,476,2542,718" href="../elements/58bdf4a3.html"  target="element">
				  				<area shape="rect" coords="2252,140,2492,250" href="../elements/a5fc4b5b.html"  target="element">

				  		<area shape="rect" coords="2204,20,2542,310" href="../elements/d1f9eb51.html"  target="element">
				  				<area shape="rect" coords="1796,116,2060,166" href="../elements/95c59cd4.html"  target="element">
				  				<area shape="rect" coords="1796,476,2060,526" href="../elements/2ea7689b.html"  target="element">
				  								<area shape="rect" coords="476,428,790,526" href="../elements/da1a980e.html"  target="element">

				  						<area shape="rect" coords="428,380,814,550" href="../elements/09685725.html"  target="element">
				  								<area shape="rect" coords="476,236,790,334" href="../elements/ccce2d3c.html"  target="element">

				  						<area shape="rect" coords="428,188,814,358" href="../elements/94979924.html"  target="element">
				  								<area shape="rect" coords="908,260,1270,334" href="../elements/0937407e.html"  target="element">

				  						<area shape="rect" coords="860,188,1294,382" href="../elements/1cdadd6d.html"  target="element">
				  								<area shape="rect" coords="1172,500,1412,610" href="../elements/da8dd1f6.html"  target="element">

				  						<area shape="rect" coords="860,428,1748,670" href="../elements/7c717388.html"  target="element">
				  								<area shape="rect" coords="1364,236,1726,346" href="../elements/e83189f0.html"  target="element">

				  						<area shape="rect" coords="1316,188,1748,382" href="../elements/c5d5fb02.html"  target="element">

				  				<area shape="rect" coords="404,116,1774,682" href="../elements/3af9d480.html"  target="element">

				  		<area shape="rect" coords="380,20,2158,718" href="../elements/f12f76b7.html"  target="element">
				  		<area shape="rect" coords="20,20,286,718" href="../elements/61eb0e5c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/61eb0e5c.html" target="element"> FNABOGCSOA (172.16.123.130) </a> </td>
											    <td> <a href="../elements/61eb0e5c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f12f76b7.html" target="element"> FNABOGCMBP (172.16.123.105) </a> </td>
											    <td> <a href="../elements/f12f76b7.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
													    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c5d5fb02.html" target="element"> DB01_IntegrationAdpInt </a> </td>
															    <td> <a href="../elements/c5d5fb02.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/e83189f0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
															    <td> <a href="../elements/7c717388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
															    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																	    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/94979924.html" target="element"> RST01_Technology_AdpTch </a> </td>
															    <td> <a href="../elements/94979924.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/ccce2d3c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
															    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/2ea7689b.html" target="element"> JDBC_SAPHANA </a> </td>
													    <td> <a href="../elements/2ea7689b.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/95c59cd4.html" target="element"> JDBC_SAPIQ1 </a> </td>
													    <td> <a href="../elements/95c59cd4.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d1f9eb51.html" target="element"> FNABOGIQPRE (172.16.123.68:2890) </a> </td>
											    <td> <a href="../elements/d1f9eb51.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a5fc4b5b.html" target="element"> SAP IQ </a> </td>
													    <td> <a href="../elements/a5fc4b5b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/58bdf4a3.html" target="element"> FNA-HANABIQA (172.16.123.206:30215) </a> </td>
											    <td> <a href="../elements/58bdf4a3.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c40034ce.html" target="element"> SAP HANA </a> </td>
													    <td> <a href="../elements/c40034ce.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															
																					<tr>
																						<td> <a href="../elements/e66de1cd.html" target="element">  </a> </td>
																						<td> <a href="../elements/e66de1cd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																						<td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																					</tr>

															
																							<tr>
																								<td> <a href="../elements/a7f60328.html" target="element">  </a> </td>
																								<td> <a href="../elements/a7f60328.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																								<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/55211bb7.html" target="element">  </a> </td>
																								<td> <a href="../elements/55211bb7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																								<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/8350e627.html" target="element">  </a> </td>
																				<td> <a href="../elements/8350e627.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/2ea7689b.html" target="element"> JDBC_SAPHANA </a> </td>
																				<td> <a href="../elements/c40034ce.html" target="element"> SAP HANA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7f4a1ad3.html" target="element">  </a> </td>
																				<td> <a href="../elements/7f4a1ad3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/2ea7689b.html" target="element"> JDBC_SAPHANA </a> </td>
																				<td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2d0e47e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/2d0e47e6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/95c59cd4.html" target="element"> JDBC_SAPIQ1 </a> </td>
																				<td> <a href="../elements/a5fc4b5b.html" target="element"> SAP IQ </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f92842d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/f92842d6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/95c59cd4.html" target="element"> JDBC_SAPIQ1 </a> </td>
																				<td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																			</tr>

											
											
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>