<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Conceptual Servicios Bizagi Constructor</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Conceptual Servicios Bizagi Constructor</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6fd9bbff.png" alt="Vista Conceptual Servicios Bizagi Constructor" usemap="#6fd9bbffmap"/>
			   <map name="6fd9bbffmap">
				  		<area shape="rect" coords="22,2636,2230,2714" href="../elements/7b27761a.html"  target="element">
				  				<area shape="rect" coords="140,500,670,860" href="../elements/2d355af1.html"  target="element">
				  								<area shape="rect" coords="1412,1774,2132,1822" href="../elements/93dc444d.html"  target="element">
				  								<area shape="rect" coords="1412,1702,2132,1750" href="../elements/9c591212.html"  target="element">

				  						<area shape="rect" coords="1388,1438,2158,1896" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1364,1366,2182,2446" href="../elements/f8a1a465.html"  target="element">
				  						<area shape="rect" coords="740,762,1316,836" href="../elements/44463958.html"  target="element">
				  						<area shape="rect" coords="740,666,1316,740" href="../elements/626b06f4.html"  target="element">
				  						<area shape="rect" coords="740,570,1316,644" href="../elements/7427ec31.html"  target="element">

				  				<area shape="rect" coords="716,498,1342,862" href="../elements/354399f6.html"  target="element">
				  						<area shape="rect" coords="68,356,2180,406" href="../elements/d820c74b.html"  target="element">
				  						<area shape="rect" coords="68,284,2180,332" href="../elements/66d16648.html"  target="element">

				  				<area shape="rect" coords="44,92,2206,452" href="../elements/19558b78.html"  target="element">
				  								<area shape="rect" coords="908,1052,1292,1124" href="../elements/563f3aef.html"  target="element">

				  						<area shape="rect" coords="884,1004,1316,1148" href="../elements/91b1693a.html"  target="element">
				  								<area shape="rect" coords="906,1244,1292,1318" href="../elements/28162ccb.html"  target="element">

				  						<area shape="rect" coords="882,1172,1316,1342" href="../elements/0a2dccb9.html"  target="element">
				  								<area shape="rect" coords="116,1052,430,1150" href="../elements/da1a980e.html"  target="element">

				  						<area shape="rect" coords="68,1004,454,1174" href="../elements/09685725.html"  target="element">
				  								<area shape="rect" coords="524,1076,838,1150" href="../elements/0937407e.html"  target="element">

				  						<area shape="rect" coords="500,1004,862,1198" href="../elements/1cdadd6d.html"  target="element">
				  								<area shape="rect" coords="282,1772,1290,1820" href="../elements/a8e41408.html"  target="element">
				  								<area shape="rect" coords="282,1532,1290,1580" href="../elements/ba6f5790.html"  target="element">
				  								<area shape="rect" coords="282,1604,1290,1652" href="../elements/ef03f160.html"  target="element">
				  								<area shape="rect" coords="282,1460,1290,1508" href="../elements/26abf6ff.html"  target="element">
				  								<area shape="rect" coords="282,1700,1290,1748" href="../elements/8eb4f4b1.html"  target="element">

				  						<area shape="rect" coords="258,1364,1316,2518" href="../elements/7c717388.html"  target="element">

				  				<area shape="rect" coords="44,932,1342,2566" href="../elements/3af9d480.html"  target="element">

				          <area shape="rect" coords="20,20,2230,2590" href="../objects/acca7d06.html" target="element" >
				  				<area shape="rect" coords="596,2924,910,3022" href="../elements/41b4db70.html"  target="element">
				  						<area shape="rect" coords="692,3656,1004,3730" href="../elements/84e7c89c.html"  target="element">
				  						<area shape="rect" coords="692,3560,934,3634" href="../elements/228470cd.html"  target="element">

				  				<area shape="rect" coords="668,3488,1030,3742" href="../elements/123997f7.html"  target="element">
				  				<area shape="rect" coords="356,3548,646,3658" href="../elements/885c5fba.html"  target="element">
				  						<area shape="rect" coords="380,3212,622,3322" href="../elements/d52814df.html"  target="element">
				  						<area shape="rect" coords="380,3380,622,3490" href="../elements/240df97b.html"  target="element">

				  				<area shape="rect" coords="356,3116,646,3518" href="../elements/89f79c5a.html"  target="element">
				  				<area shape="rect" coords="788,2826,1078,2882" href="../elements/3352d836.html"  target="element">
				  						<area shape="rect" coords="812,3170,1052,3280" href="../elements/ac986f20.html"  target="element">
				  						<area shape="rect" coords="812,3314,1052,3424" href="../elements/76c43dc6.html"  target="element">

				  				<area shape="rect" coords="788,3050,1078,3448" href="../elements/a921e089.html"  target="element">
				  				<area shape="rect" coords="1412,3308,1702,3418" href="../elements/ef0a650a.html"  target="element">
				  						<area shape="rect" coords="1436,3116,1676,3226" href="../elements/be34ce94.html"  target="element">

				  				<area shape="rect" coords="1412,3020,1702,3286" href="../elements/069d06dd.html"  target="element">
				  						<area shape="rect" coords="1748,3116,1966,3226" href="../elements/1fd618bb.html"  target="element">

				  				<area shape="rect" coords="1724,3020,1990,3286" href="../elements/ea7af6be.html"  target="element">
				  				<area shape="rect" coords="52,3548,328,3658" href="../elements/918e0f2f.html"  target="element">
				  						<area shape="rect" coords="76,3380,316,3490" href="../elements/240df97b.html"  target="element">
				  						<area shape="rect" coords="76,3212,316,3322" href="../elements/696e3e58.html"  target="element">

				  				<area shape="rect" coords="52,3116,340,3520" href="../elements/8b563994.html"  target="element">
				  				<area shape="rect" coords="44,3020,334,3070" href="../elements/874d50af.html"  target="element">
				  				<area shape="rect" coords="1100,3446,1390,3556" href="../elements/821cf569.html"  target="element">
				  				<area shape="rect" coords="1100,2830,1390,2878" href="../elements/2a94ca75.html"  target="element">
				  				<area shape="rect" coords="46,2924,550,2974" href="../elements/4df9015c.html"  target="element">
				  				<area shape="rect" coords="1412,2828,1990,2878" href="../elements/e61f2abb.html"  target="element">
				  				<area shape="rect" coords="44,3764,1990,3826" href="../elements/1a98218f.html"  target="element">
				  				<area shape="rect" coords="46,2828,646,2878" href="../elements/96a84b57.html"  target="element">
				  				<area shape="rect" coords="1100,2924,1390,2974" href="../elements/da0cb3b5.html"  target="element">
				  						<area shape="rect" coords="1124,3116,1364,3226" href="../elements/5ef0965c.html"  target="element">

				  				<area shape="rect" coords="1100,3020,1390,3418" href="../elements/f675d4dc.html"  target="element">

				          <area shape="rect" coords="20,2756,2014,3862" href="../objects/59bb395a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/59bb395a.html" target="element"> Capa de Infraestructura </a> </td>
									           <td> <a href="../objects/59bb395a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
													    <td> <a href="../elements/f675d4dc.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
															    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
													    <td> <a href="../elements/da0cb3b5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
													    <td> <a href="../elements/96a84b57.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
													    <td> <a href="../elements/1a98218f.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
													    <td> <a href="../elements/e61f2abb.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
													    <td> <a href="../elements/4df9015c.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
													    <td> <a href="../elements/2a94ca75.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
													    <td> <a href="../elements/821cf569.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/874d50af.html" target="element"> Servicio ODBC </a> </td>
													    <td> <a href="../elements/874d50af.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
													    <td> <a href="../elements/8b563994.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
															    <td> <a href="../elements/696e3e58.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
															    <td> <a href="../elements/240df97b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
													    <td> <a href="../elements/918e0f2f.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ea7af6be.html" target="element"> FNABOGDBAPP </a> </td>
													    <td> <a href="../elements/ea7af6be.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1fd618bb.html" target="element"> DB2 10.5 </a> </td>
															    <td> <a href="../elements/1fd618bb.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/069d06dd.html" target="element"> FNABOGCL02N1 </a> </td>
													    <td> <a href="../elements/069d06dd.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
															    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/ef0a650a.html" target="element"> FNABOGCL02N2 </a> </td>
													    <td> <a href="../elements/ef0a650a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a921e089.html" target="element"> FNABOGBZG (172.16.131.133:80) </a> </td>
													    <td> <a href="../elements/a921e089.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/76c43dc6.html" target="element"> S.O - Windows Server 2012 R2 </a> </td>
															    <td> <a href="../elements/76c43dc6.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ac986f20.html" target="element"> Internet Information Server IIS </a> </td>
															    <td> <a href="../elements/ac986f20.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/3352d836.html" target="element"> Servicio de BPM </a> </td>
													    <td> <a href="../elements/3352d836.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
													    <td> <a href="../elements/89f79c5a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
															    <td> <a href="../elements/240df97b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
															    <td> <a href="../elements/d52814df.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
													    <td> <a href="../elements/885c5fba.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/123997f7.html" target="element"> FNABOGAPP009 </a> </td>
													    <td> <a href="../elements/123997f7.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/228470cd.html" target="element"> WorkManager </a> </td>
															    <td> <a href="../elements/228470cd.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/84e7c89c.html" target="element"> S.O - Windows Server 2008 R2 </a> </td>
															    <td> <a href="../elements/84e7c89c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/41b4db70.html" target="element"> Servicios Gestor Documental </a> </td>
													    <td> <a href="../elements/41b4db70.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/acca7d06.html" target="element"> Aplicaciones Back </a> </td>
									           <td> <a href="../objects/acca7d06.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
													    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
															    <td> <a href="../elements/7c717388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/8eb4f4b1.html" target="element"> ESB_005_Clientes_ValidarExistencia </a> </td>
																	    <td> <a href="../elements/8eb4f4b1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/26abf6ff.html" target="element"> ESB_010_BancoProyectos_CrearProyecto - CQ78210 </a> </td>
																	    <td> <a href="../elements/26abf6ff.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/ef03f160.html" target="element"> ESB_012_BancoProyectos_CrearEstructura - CQ78216 </a> </td>
																	    <td> <a href="../elements/ef03f160.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/ba6f5790.html" target="element"> ESB_011_CuadroVentas_CrearSolicitud - CQ78215 </a> </td>
																	    <td> <a href="../elements/ba6f5790.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/a8e41408.html" target="element"> ESB_058_ClientePJ_RecuperarInformacionConsolidadaV2 - CQ142691 </a> </td>
																	    <td> <a href="../elements/a8e41408.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
															    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																	    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
															    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
															    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/91b1693a.html" target="element"> RS01_Integration_AdpInt </a> </td>
															    <td> <a href="../elements/91b1693a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/563f3aef.html" target="element"> FWK_RestIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/563f3aef.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/66d16648.html" target="element"> EntityManagerSOASoap12_saveEntityAsString </a> </td>
															    <td> <a href="../elements/66d16648.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d820c74b.html" target="element"> ServicioGestionDesembolso_NotificarEstadoDesembolso  </a> </td>
															    <td> <a href="../elements/d820c74b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
													    <td> <a href="../elements/354399f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7427ec31.html" target="element"> Banco Proyectos </a> </td>
															    <td> <a href="../elements/7427ec31.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/626b06f4.html" target="element"> Cuadro de Ventas </a> </td>
															    <td> <a href="../elements/626b06f4.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/44463958.html" target="element"> Cat&#225;logos </a> </td>
															    <td> <a href="../elements/44463958.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																	    <td> <a href="../elements/9c591212.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/93dc444d.html" target="element"> AS037-ConsultarEntidad </a> </td>
																	    <td> <a href="../elements/93dc444d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
											    <td> <a href="../elements/7b27761a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/a168dbfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/a168dbfb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
																				<td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6da24f97.html" target="element">  </a> </td>
																				<td> <a href="../elements/6da24f97.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
																				<td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/70b9dbe5.html" target="element">  </a> </td>
																						<td> <a href="../elements/70b9dbe5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																						<td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/010c3a47.html" target="element">  </a> </td>
																				<td> <a href="../elements/010c3a47.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/67a20592.html" target="element">  </a> </td>
																				<td> <a href="../elements/67a20592.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
																				<td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/918f2b45.html" target="element">  </a> </td>
																						<td> <a href="../elements/918f2b45.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																						<td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1231bd2b.html" target="element">  </a> </td>
																						<td> <a href="../elements/1231bd2b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/8d5f5d2d.html" target="element">  </a> </td>
																						<td> <a href="../elements/8d5f5d2d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/874d50af.html" target="element"> Servicio ODBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/d7995da3.html" target="element">  </a> </td>
																						<td> <a href="../elements/d7995da3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/b65e20d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/b65e20d5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ee998223.html" target="element">  </a> </td>
																				<td> <a href="../elements/ee998223.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ea7af6be.html" target="element"> FNABOGDBAPP </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/f363c7d5.html" target="element">  </a> </td>
																						<td> <a href="../elements/f363c7d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/1fd618bb.html" target="element"> DB2 10.5 </a> </td>
																						<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/b2f786a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/b2f786a3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/069d06dd.html" target="element"> FNABOGCL02N1 </a> </td>
																				<td> <a href="../elements/ef0a650a.html" target="element"> FNABOGCL02N2 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/79cdb0d0.html" target="element">  </a> </td>
																						<td> <a href="../elements/79cdb0d0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																						<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/942e8fd8.html" target="element">  </a> </td>
																				<td> <a href="../elements/942e8fd8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ef0a650a.html" target="element"> FNABOGCL02N2 </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e333d901.html" target="element">  </a> </td>
																						<td> <a href="../elements/e333d901.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/76c43dc6.html" target="element"> S.O - Windows Server 2012 R2 </a> </td>
																						<td> <a href="../elements/ac986f20.html" target="element"> Internet Information Server IIS </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a0ac5727.html" target="element">  </a> </td>
																						<td> <a href="../elements/a0ac5727.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/ac986f20.html" target="element"> Internet Information Server IIS </a> </td>
																						<td> <a href="../elements/3352d836.html" target="element"> Servicio de BPM </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/c4e4b4e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/c4e4b4e6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
																				<td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/fe0b857b.html" target="element">  </a> </td>
																						<td> <a href="../elements/fe0b857b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/b57956a6.html" target="element">  </a> </td>
																						<td> <a href="../elements/b57956a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																						<td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/21426b09.html" target="element">  </a> </td>
																						<td> <a href="../elements/21426b09.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/fc3cb4aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc3cb4aa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/628ac1c7.html" target="element">  </a> </td>
																						<td> <a href="../elements/628ac1c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/228470cd.html" target="element"> WorkManager </a> </td>
																						<td> <a href="../elements/41b4db70.html" target="element"> Servicios Gestor Documental </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/b9186a79.html" target="element">  </a> </td>
																						<td> <a href="../elements/b9186a79.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/84e7c89c.html" target="element"> S.O - Windows Server 2008 R2 </a> </td>
																						<td> <a href="../elements/228470cd.html" target="element"> WorkManager </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																							<tr>
																								<td> <a href="../elements/133772f2.html" target="element">  </a> </td>
																								<td> <a href="../elements/133772f2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																								<td> <a href="../elements/8eb4f4b1.html" target="element"> ESB_005_Clientes_ValidarExistencia </a> </td>
																								<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/f240c5b1.html" target="element">  </a> </td>
																								<td> <a href="../elements/f240c5b1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																								<td> <a href="../elements/a8e41408.html" target="element"> ESB_058_ClientePJ_RecuperarInformacionConsolidadaV2 - CQ142691 </a> </td>
																								<td> <a href="../elements/93dc444d.html" target="element"> AS037-ConsultarEntidad </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/a7f60328.html" target="element">  </a> </td>
																								<td> <a href="../elements/a7f60328.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																								<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/9d27e986.html" target="element">  </a> </td>
																						<td> <a href="../elements/9d27e986.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																						<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6d222f7d.html" target="element">  </a> </td>
																						<td> <a href="../elements/6d222f7d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																						<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																								<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/a7c84935.html" target="element">  </a> </td>
																						<td> <a href="../elements/a7c84935.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																						<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																					</tr>

															
															
													
													
																			<tr>
																				<td> <a href="../elements/a827d46b.html" target="element">  </a> </td>
																				<td> <a href="../elements/a827d46b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																				<td> <a href="../elements/91b1693a.html" target="element"> RS01_Integration_AdpInt </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/7b3a1a49.html" target="element">  </a> </td>
																						<td> <a href="../elements/7b3a1a49.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/7427ec31.html" target="element"> Banco Proyectos </a> </td>
																						<td> <a href="../elements/ef03f160.html" target="element"> ESB_012_BancoProyectos_CrearEstructura - CQ78216 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/76b4fb42.html" target="element">  </a> </td>
																						<td> <a href="../elements/76b4fb42.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/7427ec31.html" target="element"> Banco Proyectos </a> </td>
																						<td> <a href="../elements/26abf6ff.html" target="element"> ESB_010_BancoProyectos_CrearProyecto - CQ78210 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/81bc8d58.html" target="element">  </a> </td>
																						<td> <a href="../elements/81bc8d58.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/626b06f4.html" target="element"> Cuadro de Ventas </a> </td>
																						<td> <a href="../elements/ba6f5790.html" target="element"> ESB_011_CuadroVentas_CrearSolicitud - CQ78215 </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/4646b6e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/4646b6e3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																			</tr>

															
													
																			<tr>
																				<td> <a href="../elements/033c6ef9.html" target="element">  </a> </td>
																				<td> <a href="../elements/033c6ef9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8aec0c7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8aec0c7d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62225bb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/62225bb0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/84c53f04.html" target="element">  </a> </td>
																		<td> <a href="../elements/84c53f04.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aef98550.html" target="element">  </a> </td>
																		<td> <a href="../elements/aef98550.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/3352d836.html" target="element"> Servicio de BPM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c5deaeff.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5deaeff.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/41b4db70.html" target="element"> Servicios Gestor Documental </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2fb32e30.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fb32e30.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7eedd372.html" target="element">  </a> </td>
																		<td> <a href="../elements/7eedd372.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>