<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_187</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_187</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7f828c71-e6a0-4bae-9a9f-1dffbebbe362.png" alt="ESB_187" usemap="#7f828c71-e6a0-4bae-9a9f-1dffbebbe362map"/>
			   <map name="7f828c71-e6a0-4bae-9a9f-1dffbebbe362map">
				  		<area shape="rect" coords="2036,764,2154,818" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="44,236,358,286" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">
				          <area shape="rect" coords="716,140,838,200" href="../objects/d6d6c694-2a43-4797-8d6f-92305562e6a0.html" target="element" >
				  		<area shape="rect" coords="524,236,862,286" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="44,20,886,118" href="../elements/edd272fb-bb79-490d-b2eb-db63edf157c0.html"  target="element">
				          <area shape="rect" coords="1892,788,1990,862" href="../objects/1ac817fb-a68f-45de-b244-27810624be08.html" target="element" >
				          <area shape="rect" coords="212,140,334,200" href="../objects/6e6ce152-2d9e-4e82-a60a-016f6e519006.html" target="element" >
				  								<area shape="rect" coords="2276,764,2662,874" href="../elements/2847bdfb-73c2-42a1-a6bc-e0b3981fbd8e.html"  target="element">

				  						<area shape="rect" coords="2252,644,2686,886" href="../elements/7325a371.html"  target="element">

				  				<area shape="rect" coords="2204,404,2710,1366" href="../elements/56b227ae.html"  target="element">

				          <area shape="rect" coords="2180,332,2734,1390" href="../objects/7a974a74-4ad4-4d4c-8e8f-6eddfe29053e.html" target="element" >
				  						<area shape="rect" coords="92,740,332,850" href="../elements/62cec5d8.html"  target="element">

				  				<area shape="rect" coords="44,404,358,1366" href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html"  target="element">
				  										<area shape="rect" coords="524,644,886,910" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="476,572,910,934" href="../elements/09685725.html"  target="element">
				  												<area shape="rect" coords="524,1220,1750,1270" href="../elements/22ff983f-69d4-4db5-9635-62a8eedc4b81.html"  target="element">

				  										<area shape="rect" coords="500,1172,1774,1294" href="../elements/e909bdbc.html"  target="element">
				  												<area shape="rect" coords="524,1076,1750,1126" href="../elements/c465eb42-6472-4697-9f9b-c84b92b262d8.html"  target="element">

				  										<area shape="rect" coords="500,1028,1774,1150" href="../elements/d33093e2-7818-4b6a-925d-5afe9fe7872e.html"  target="element">

				  								<area shape="rect" coords="476,980,1798,1318" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1412,644,1774,910" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1388,572,1798,934" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="968,644,1306,910" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="944,572,1330,934" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="452,476,1846,1342" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="380,404,1894,1366" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,332,1942,1390" href="../objects/383545d6-4ca3-45e3-bfd7-35574ca64b81.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/383545d6-4ca3-45e3-bfd7-35574ca64b81.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/383545d6-4ca3-45e3-bfd7-35574ca64b81.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/d33093e2-7818-4b6a-925d-5afe9fe7872e.html" target="element"> ESB_187_Tesoreria_RecaudoConsultarPorIdentificacion </a> </td>
																			    <td> <a href="../elements/d33093e2-7818-4b6a-925d-5afe9fe7872e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/c465eb42-6472-4697-9f9b-c84b92b262d8.html" target="element"> ESB_187_consultarPorIdentificacion </a> </td>
																					    <td> <a href="../elements/c465eb42-6472-4697-9f9b-c84b92b262d8.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																			<tr>
																			    <td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																			    <td> <a href="../elements/e909bdbc.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/22ff983f-69d4-4db5-9635-62a8eedc4b81.html" target="element"> ESB_001_recuperarProdIdentificacion </a> </td>
																					    <td> <a href="../elements/22ff983f-69d4-4db5-9635-62a8eedc4b81.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
													<tr>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
															    <td> <a href="../elements/62cec5d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/7a974a74-4ad4-4d4c-8e8f-6eddfe29053e.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/7a974a74-4ad4-4d4c-8e8f-6eddfe29053e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
													    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7325a371.html" target="element"> AS033-ConsultaProductosConsumidorFinanciero </a> </td>
															    <td> <a href="../elements/7325a371.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/2847bdfb-73c2-42a1-a6bc-e0b3981fbd8e.html" target="element"> AS033-ConsultarProductosGeneralPorIdentificacion </a> </td>
																	    <td> <a href="../elements/2847bdfb-73c2-42a1-a6bc-e0b3981fbd8e.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/6e6ce152-2d9e-4e82-a60a-016f6e519006.html" target="element">  </a> </td>
									           <td> <a href="../objects/6e6ce152-2d9e-4e82-a60a-016f6e519006.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/1ac817fb-a68f-45de-b244-27810624be08.html" target="element">  </a> </td>
									           <td> <a href="../objects/1ac817fb-a68f-45de-b244-27810624be08.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/edd272fb-bb79-490d-b2eb-db63edf157c0.html" target="element"> EntidadesFinancieras </a> </td>
											    <td> <a href="../elements/edd272fb-bb79-490d-b2eb-db63edf157c0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d6d6c694-2a43-4797-8d6f-92305562e6a0.html" target="element">  </a> </td>
									           <td> <a href="../objects/d6d6c694-2a43-4797-8d6f-92305562e6a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/22d8d42d-8541-481c-a9a7-9e3a3a552899.html" target="element">  </a> </td>
																										<td> <a href="../elements/22d8d42d-8541-481c-a9a7-9e3a3a552899.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/d33093e2-7818-4b6a-925d-5afe9fe7872e.html" target="element"> ESB_187_Tesoreria_RecaudoConsultarPorIdentificacion </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/35ecaf3b-0df1-432d-aae8-7eb621669c9f.html" target="element">  </a> </td>
																								<td> <a href="../elements/35ecaf3b-0df1-432d-aae8-7eb621669c9f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/6331c21d-32d9-4ced-a8cf-a44b8cc9b641.html" target="element">  </a> </td>
																								<td> <a href="../elements/6331c21d-32d9-4ced-a8cf-a44b8cc9b641.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/d33093e2-7818-4b6a-925d-5afe9fe7872e.html" target="element"> ESB_187_Tesoreria_RecaudoConsultarPorIdentificacion </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/327d839b-4e53-495a-a257-ad9dbb8fb9e5.html" target="element">  </a> </td>
																										<td> <a href="../elements/327d839b-4e53-495a-a257-ad9dbb8fb9e5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/d33093e2-7818-4b6a-925d-5afe9fe7872e.html" target="element"> ESB_187_Tesoreria_RecaudoConsultarPorIdentificacion </a> </td>
																										<td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																									</tr>

																			
																									<tr>
																										<td> <a href="../elements/50525cf0-f39d-45a7-bd0b-b25bf086eb4b.html" target="element">  </a> </td>
																										<td> <a href="../elements/50525cf0-f39d-45a7-bd0b-b25bf086eb4b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
																			<tr>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
																				<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element">  </a> </td>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																						<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/1c04c5d7-34b4-4adf-86df-6c5e9df05dce.html" target="element">  </a> </td>
																				<td> <a href="../elements/1c04c5d7-34b4-4adf-86df-6c5e9df05dce.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/7325a371.html" target="element"> AS033-ConsultaProductosConsumidorFinanciero </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/763e5fcb-e6d1-4c06-88ef-41bf08f39283.html" target="element">  </a> </td>
																		<td> <a href="../elements/763e5fcb-e6d1-4c06-88ef-41bf08f39283.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/edd272fb-bb79-490d-b2eb-db63edf157c0.html" target="element"> EntidadesFinancieras </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10bee16c-9559-4a20-adef-d86368f3dcfa.html" target="element">  </a> </td>
																		<td> <a href="../elements/10bee16c-9559-4a20-adef-d86368f3dcfa.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/edd272fb-bb79-490d-b2eb-db63edf157c0.html" target="element"> EntidadesFinancieras </a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																		<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/353fa686-fef2-4e0a-8d6e-952e71e1cf47.html" target="element">  </a> </td>
																		<td> <a href="../elements/353fa686-fef2-4e0a-8d6e-952e71e1cf47.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/7325a371.html" target="element"> AS033-ConsultaProductosConsumidorFinanciero </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>