<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>xESB_177</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>xESB_177</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8019246a-abce-46b2-9fc2-33ff3c1756f7.png" alt="xESB_177" usemap="#8019246a-abce-46b2-9fc2-33ff3c1756f7map"/>
			   <map name="8019246a-abce-46b2-9fc2-33ff3c1756f7map">
				          <area shape="rect" coords="1820,836,1926,934" href="../objects/01f24a30-afd2-4f2b-99dd-b3bf9f89fa66.html" target="element" >
				  		<area shape="rect" coords="1972,812,2166,862" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="1964,1028,2174,1078" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">
				          <area shape="rect" coords="1820,1052,1926,1150" href="../objects/94132e4c-69f0-4017-9b5f-fd07bfea88a5.html" target="element" >
				  				<area shape="rect" coords="884,92,1124,202" href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html"  target="element">
				  				<area shape="rect" coords="620,92,860,202" href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html"  target="element">
				  				<area shape="rect" coords="356,92,596,202" href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html"  target="element">
				  				<area shape="rect" coords="92,92,332,202" href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html"  target="element">
				  						<area shape="rect" coords="164,284,1102,334" href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html"  target="element">

				  				<area shape="rect" coords="92,236,1124,358" href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html"  target="element">

				  		<area shape="rect" coords="20,20,1198,406" href="../elements/56b227ae.html"  target="element">
				          <area shape="rect" coords="596,404,702,502" href="../objects/4d03a4d8-e484-4462-be88-09e57d00effd.html" target="element" >
				  				<area shape="rect" coords="2276,740,2782,910" href="../elements/19558b78.html"  target="element">
				  						<area shape="rect" coords="2324,1004,2758,1102" href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html"  target="element">

				  				<area shape="rect" coords="2276,932,2782,1126" href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html"  target="element">

				          <area shape="rect" coords="2228,524,2806,1438" href="../objects/3693d134-689e-4970-9d61-4361222e538c.html" target="element" >
				  								<area shape="rect" coords="812,740,1102,814" href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html"  target="element">
				  								<area shape="rect" coords="884,860,1222,946" href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html"  target="element">
				  										<area shape="rect" coords="1268,812,1726,1126" href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html"  target="element">

				  								<area shape="rect" coords="1244,764,1750,1150" href="../elements/563f3aef.html"  target="element">
				  								<area shape="rect" coords="404,764,790,1126" href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html"  target="element">
				  												<area shape="rect" coords="452,1268,1678,1318" href="../elements/e544d713-a74a-47ad-afc6-316048d3cccd.html"  target="element">

				  										<area shape="rect" coords="428,1220,1702,1342" href="../elements/424b658d-1e11-4164-9e9e-4d3961b99b5d.html"  target="element">

				  								<area shape="rect" coords="404,1172,1726,1366" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="836,1028,1198,1102" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="812,980,1222,1126" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="380,668,1774,1390" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="308,596,1822,1414" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="260,524,1870,1438" href="../objects/8ef3bffe-34f4-4ddf-aa44-ed8ad274a527.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/8ef3bffe-34f4-4ddf-aa44-ed8ad274a527.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/8ef3bffe-34f4-4ddf-aa44-ed8ad274a527.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/424b658d-1e11-4164-9e9e-4d3961b99b5d.html" target="element"> ESB_177_Credito_NotificarCambioEstadoTramite </a> </td>
																			    <td> <a href="../elements/424b658d-1e11-4164-9e9e-4d3961b99b5d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/e544d713-a74a-47ad-afc6-316048d3cccd.html" target="element"> ESB_177_notificarCambioEstadoTramite </a> </td>
																					    <td> <a href="../elements/e544d713-a74a-47ad-afc6-316048d3cccd.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/563f3aef.html" target="element"> FWK_RestIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/563f3aef.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																			    <td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																	    <td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element"> FWK_EmailSender </a> </td>
																	    <td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/3693d134-689e-4970-9d61-4361222e538c.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/3693d134-689e-4970-9d61-4361222e538c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element"> Aplicaci&#243;n Ext - Banl&#237;nea </a> </td>
													    <td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element"> PayNotificationRequestService </a> </td>
															    <td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/4d03a4d8-e484-4462-be88-09e57d00effd.html" target="element">  </a> </td>
									           <td> <a href="../objects/4d03a4d8-e484-4462-be88-09e57d00effd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
											    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
													    <td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element"> COBIS_BancaVirtual_Negacion </a> </td>
													    <td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element"> COBIS_BancaVirtual_Rechazo </a> </td>
													    <td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
													    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/94132e4c-69f0-4017-9b5f-fd07bfea88a5.html" target="element">  </a> </td>
									           <td> <a href="../objects/94132e4c-69f0-4017-9b5f-fd07bfea88a5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/01f24a30-afd2-4f2b-99dd-b3bf9f89fa66.html" target="element">  </a> </td>
									           <td> <a href="../objects/01f24a30-afd2-4f2b-99dd-b3bf9f89fa66.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/bbe3829d-7b10-43bd-9bbd-71ff26e58fff.html" target="element">  </a> </td>
																						<td> <a href="../elements/bbe3829d-7b10-43bd-9bbd-71ff26e58fff.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f3f14888-bf2e-49f6-8b1c-98a5fc2289b2.html" target="element">  </a> </td>
																						<td> <a href="../elements/f3f14888-bf2e-49f6-8b1c-98a5fc2289b2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/388b3605-a0ed-4d8d-b2f2-2e48180b5e4b.html" target="element">  </a> </td>
																						<td> <a href="../elements/388b3605-a0ed-4d8d-b2f2-2e48180b5e4b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/563f3aef.html" target="element"> FWK_RestIntegrationAdapter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/4cd7ec31-9dc6-4431-b803-7ad0fd6be053.html" target="element">  </a> </td>
																						<td> <a href="../elements/4cd7ec31-9dc6-4431-b803-7ad0fd6be053.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element"> FWK_EmailSender </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/f5e34429-f96b-4363-9917-a9d3ed0eff07.html" target="element">  </a> </td>
																										<td> <a href="../elements/f5e34429-f96b-4363-9917-a9d3ed0eff07.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/424b658d-1e11-4164-9e9e-4d3961b99b5d.html" target="element"> ESB_177_Credito_NotificarCambioEstadoTramite </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/715d949b-9213-44c7-afff-2d8232578f20.html" target="element">  </a> </td>
																								<td> <a href="../elements/715d949b-9213-44c7-afff-2d8232578f20.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/424b658d-1e11-4164-9e9e-4d3961b99b5d.html" target="element"> ESB_177_Credito_NotificarCambioEstadoTramite </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/c73b345d-3d3b-4192-bbe1-d546991b5773.html" target="element">  </a> </td>
																										<td> <a href="../elements/c73b345d-3d3b-4192-bbe1-d546991b5773.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/424b658d-1e11-4164-9e9e-4d3961b99b5d.html" target="element"> ESB_177_Credito_NotificarCambioEstadoTramite </a> </td>
																										<td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/1ee0a7ab-9619-4719-a5b4-1bae23eb0769.html" target="element">  </a> </td>
																								<td> <a href="../elements/1ee0a7ab-9619-4719-a5b4-1bae23eb0769.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																								<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/54ac95f9-fdf2-49b8-a0d6-fca8c7eef693.html" target="element">  </a> </td>
																								<td> <a href="../elements/54ac95f9-fdf2-49b8-a0d6-fca8c7eef693.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/ad73fecc-c87f-4a8f-9974-cb52d75a7a8e.html" target="element">  </a> </td>
																										<td> <a href="../elements/ad73fecc-c87f-4a8f-9974-cb52d75a7a8e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																										<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/23636827-8486-411e-ac30-8187115ce58b.html" target="element">  </a> </td>
																										<td> <a href="../elements/23636827-8486-411e-ac30-8187115ce58b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/cda59306-69af-4e72-b09b-f1d464bf43e4.html" target="element">  </a> </td>
																										<td> <a href="../elements/cda59306-69af-4e72-b09b-f1d464bf43e4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																										<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/b2e5e2d0-259b-4011-b8f8-72b6e0bc6959.html" target="element">  </a> </td>
																								<td> <a href="../elements/b2e5e2d0-259b-4011-b8f8-72b6e0bc6959.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																								<td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element"> FWK_EmailSender </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/1470ff51-ab10-4dbb-9d32-3cf417b4d2cc.html" target="element">  </a> </td>
																								<td> <a href="../elements/1470ff51-ab10-4dbb-9d32-3cf417b4d2cc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																								<td> <a href="../elements/424b658d-1e11-4164-9e9e-4d3961b99b5d.html" target="element"> ESB_177_Credito_NotificarCambioEstadoTramite </a> </td>
																							</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4cb0ce05-cff2-4019-a235-4759ee96a973.html" target="element">  </a> </td>
																				<td> <a href="../elements/4cb0ce05-cff2-4019-a235-4759ee96a973.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element"> Aplicaci&#243;n Ext - Banl&#237;nea </a> </td>
																				<td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element"> PayNotificationRequestService </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/3f07b9ab-dec7-4283-aace-bb1cde4c45ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f07b9ab-dec7-4283-aace-bb1cde4c45ce.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/722fc1fc-995d-4d6e-9f4a-567091834f95.html" target="element">  </a> </td>
																		<td> <a href="../elements/722fc1fc-995d-4d6e-9f4a-567091834f95.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/55eecd4a-7b1c-4b8d-b719-6cefda152797.html" target="element">  </a> </td>
																		<td> <a href="../elements/55eecd4a-7b1c-4b8d-b719-6cefda152797.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element"> COBIS_BancaVirtual_Negacion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/936e6905-0c8c-4481-b51b-06482cdf5eb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/936e6905-0c8c-4481-b51b-06482cdf5eb2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element"> COBIS_BancaVirtual_Rechazo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element">  </a> </td>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/8440fc69-5fb4-447c-b3e6-7f5f13a89033.html" target="element">  </a> </td>
																				<td> <a href="../elements/8440fc69-5fb4-447c-b3e6-7f5f13a89033.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/33724a79-cc82-4680-ab77-4011bff33273.html" target="element">  </a> </td>
																				<td> <a href="../elements/33724a79-cc82-4680-ab77-4011bff33273.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element"> COBIS_BancaVirtual_Negacion </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f9b759e6-8f90-4f8f-b227-e914b0730143.html" target="element">  </a> </td>
																				<td> <a href="../elements/f9b759e6-8f90-4f8f-b227-e914b0730143.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element"> COBIS_BancaVirtual_Rechazo </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/7507ba56-f32c-4e0f-830a-07585c7cd63a.html" target="element">  </a> </td>
																		<td> <a href="../elements/7507ba56-f32c-4e0f-830a-07585c7cd63a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																		<td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element"> PayNotificationRequestService </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>