<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_078</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_078</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/80b2f3a0-b189-47f8-b125-6d8059536824.png" alt="ESB_078" usemap="#80b2f3a0-b189-47f8-b125-6d8059536824map"/>
			   <map name="80b2f3a0-b189-47f8-b125-6d8059536824map">
				  		<area shape="rect" coords="116,290,306,340" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">
				  		<area shape="rect" coords="1944,812,2062,862" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="532,288,702,344" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				          <area shape="rect" coords="214,128,320,214" href="../objects/ec068ed0-3acf-4c1d-b0f5-1e89e56d70bf.html" target="element" >
				  		<area shape="rect" coords="80,20,320,130" href="../elements/536d11f6.html"  target="element">
				  		<area shape="rect" coords="498,20,738,130" href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html"  target="element">
				          <area shape="rect" coords="620,128,726,214" href="../objects/dbcd45f9-aa7c-40b9-bc67-d0dbb21feb5b.html" target="element" >
				          <area shape="rect" coords="1848,834,1946,912" href="../objects/91f1372b-df4d-41b5-baea-61075b675e4a.html" target="element" >
				  								<area shape="rect" coords="2204,788,2614,910" href="../elements/516545dc-3602-42c7-ad45-ca2bd5632cc9.html"  target="element">

				  						<area shape="rect" coords="2180,716,2638,958" href="../elements/910ef6d6-7c7b-469a-8768-129893808399.html"  target="element">

				  				<area shape="rect" coords="2108,668,2662,1006" href="../elements/56b227ae.html"  target="element">

				          <area shape="rect" coords="2084,380,2686,1366" href="../objects/981971cf-09c5-415b-b3be-4db97c186c86.html" target="element" >
				  						<area shape="rect" coords="92,692,310,812" href="../elements/62cec5d8.html"  target="element">

				  				<area shape="rect" coords="44,476,334,1316" href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html"  target="element">
				  												<area shape="rect" coords="476,1146,1702,1196" href="../elements/ff105079-8b9d-4a7e-9de5-b57aeee50bc3.html"  target="element">

				  										<area shape="rect" coords="452,1098,1726,1220" href="../elements/2ed08323-fa13-40a0-8a7f-1eb419b0142f.html"  target="element">

				  								<area shape="rect" coords="428,1050,1750,1244" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1268,714,1726,980" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1244,642,1750,1004" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="452,714,790,980" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="428,642,814,1004" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="884,714,1198,980" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="860,642,1222,1004" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="404,546,1798,1268" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="332,474,1846,1316" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,380,1870,1366" href="../objects/7488788a-dbec-444e-8a0b-78fb8f4cfbe9.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/7488788a-dbec-444e-8a0b-78fb8f4cfbe9.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/7488788a-dbec-444e-8a0b-78fb8f4cfbe9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/2ed08323-fa13-40a0-8a7f-1eb419b0142f.html" target="element"> ESB_078_ClientePersonaNatural_CreacionRapidaPN </a> </td>
																			    <td> <a href="../elements/2ed08323-fa13-40a0-8a7f-1eb419b0142f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/ff105079-8b9d-4a7e-9de5-b57aeee50bc3.html" target="element"> ESB_078_crearRapidaPersonaNatural </a> </td>
																					    <td> <a href="../elements/ff105079-8b9d-4a7e-9de5-b57aeee50bc3.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
													<tr>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
															    <td> <a href="../elements/62cec5d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/981971cf-09c5-415b-b3be-4db97c186c86.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/981971cf-09c5-415b-b3be-4db97c186c86.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
													    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/910ef6d6-7c7b-469a-8768-129893808399.html" target="element"> AS067-CreacionConsumidorFinanciero </a> </td>
															    <td> <a href="../elements/910ef6d6-7c7b-469a-8768-129893808399.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/516545dc-3602-42c7-ad45-ca2bd5632cc9.html" target="element"> AS067-crearProspectoConsumidorFinanciero </a> </td>
																	    <td> <a href="../elements/516545dc-3602-42c7-ad45-ca2bd5632cc9.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/91f1372b-df4d-41b5-baea-61075b675e4a.html" target="element">  </a> </td>
									           <td> <a href="../objects/91f1372b-df4d-41b5-baea-61075b675e4a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/dbcd45f9-aa7c-40b9-bc67-d0dbb21feb5b.html" target="element">  </a> </td>
									           <td> <a href="../objects/dbcd45f9-aa7c-40b9-bc67-d0dbb21feb5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/536d11f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/ec068ed0-3acf-4c1d-b0f5-1e89e56d70bf.html" target="element">  </a> </td>
									           <td> <a href="../objects/ec068ed0-3acf-4c1d-b0f5-1e89e56d70bf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/e3b94108-6bf5-40c2-ad0e-7bfd0336ec5f.html" target="element">  </a> </td>
																										<td> <a href="../elements/e3b94108-6bf5-40c2-ad0e-7bfd0336ec5f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/2ed08323-fa13-40a0-8a7f-1eb419b0142f.html" target="element"> ESB_078_ClientePersonaNatural_CreacionRapidaPN </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/36a4c727-6cd1-48d1-81b8-8c06fe641aad.html" target="element">  </a> </td>
																								<td> <a href="../elements/36a4c727-6cd1-48d1-81b8-8c06fe641aad.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/2ed08323-fa13-40a0-8a7f-1eb419b0142f.html" target="element"> ESB_078_ClientePersonaNatural_CreacionRapidaPN </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/b4b30971-d532-4fc3-947b-f8fd9215d89d.html" target="element">  </a> </td>
																										<td> <a href="../elements/b4b30971-d532-4fc3-947b-f8fd9215d89d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/2ed08323-fa13-40a0-8a7f-1eb419b0142f.html" target="element"> ESB_078_ClientePersonaNatural_CreacionRapidaPN </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
															
													
																			<tr>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
																				<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element">  </a> </td>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																						<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/bde06ab3-d699-40f1-a5a3-64f44bf4924e.html" target="element">  </a> </td>
																				<td> <a href="../elements/bde06ab3-d699-40f1-a5a3-64f44bf4924e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/910ef6d6-7c7b-469a-8768-129893808399.html" target="element"> AS067-CreacionConsumidorFinanciero </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/9a986192-8456-439f-8cdf-77d536c6c659.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a986192-8456-439f-8cdf-77d536c6c659.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/33b9834b-ac98-4018-829b-1c84868c2840.html" target="element">  </a> </td>
																		<td> <a href="../elements/33b9834b-ac98-4018-829b-1c84868c2840.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/910ef6d6-7c7b-469a-8768-129893808399.html" target="element"> AS067-CreacionConsumidorFinanciero </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																		<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>