<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_133</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_133</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/836a0f74-36f6-480f-8642-86d7cbf6b2db.png" alt="ESB_133" usemap="#836a0f74-36f6-480f-8642-86d7cbf6b2dbmap"/>
			   <map name="836a0f74-36f6-480f-8642-86d7cbf6b2dbmap">
				          <area shape="rect" coords="1836,836,1942,934" href="../objects/f8af705b-673c-470b-bb75-3f176ee171c4.html" target="element" >
				          <area shape="rect" coords="1836,1004,1942,1102" href="../objects/b89b8b97-2127-4be1-9898-b996147b042a.html" target="element" >
				  		<area shape="rect" coords="1628,812,1798,862" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  				<area shape="rect" coords="860,68,1100,178" href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html"  target="element">
				  				<area shape="rect" coords="596,68,836,178" href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html"  target="element">
				  				<area shape="rect" coords="332,68,572,178" href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html"  target="element">
				  				<area shape="rect" coords="68,68,308,178" href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html"  target="element">
				  						<area shape="rect" coords="164,260,1270,310" href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html"  target="element">

				  				<area shape="rect" coords="92,212,1294,334" href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html"  target="element">

				  		<area shape="rect" coords="20,20,1342,358" href="../elements/56b227ae.html"  target="element">
				          <area shape="rect" coords="1836,668,1942,766" href="../objects/dcdaefdd-2ec4-4565-9467-5b0f0184eb09.html" target="element" >
				          <area shape="rect" coords="356,356,462,454" href="../objects/ae4c12ec-1c8c-4dc5-b7d4-83efdf361718.html" target="element" >
				  						<area shape="rect" coords="2012,812,2446,862" href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html"  target="element">

				  				<area shape="rect" coords="1964,764,2470,910" href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html"  target="element">
				  						<area shape="rect" coords="2036,980,2446,1030" href="../elements/56ac15d5-33dd-4828-b472-8c0e2ba5e7b0.html"  target="element">

				  				<area shape="rect" coords="1988,932,2470,1078" href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html"  target="element">
				  						<area shape="rect" coords="2012,620,2446,718" href="../elements/d820c74b.html"  target="element">

				  				<area shape="rect" coords="1964,548,2470,742" href="../elements/19558b78.html"  target="element">

				          <area shape="rect" coords="1940,476,2518,1366" href="../objects/ead73598-2e43-4177-ae4e-b43049f4e00d.html" target="element" >
				  										<area shape="rect" coords="1196,920,1486,1030" href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html"  target="element">

				  								<area shape="rect" coords="1004,872,1510,1054" href="../elements/563f3aef.html"  target="element">
				  								<area shape="rect" coords="572,644,862,718" href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html"  target="element">
				  								<area shape="rect" coords="644,776,982,862" href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html"  target="element">
				  										<area shape="rect" coords="1028,716,1342,838" href="../elements/82c99cd1-9995-41a0-9111-9483ca556e33.html"  target="element">

				  								<area shape="rect" coords="1004,644,1510,862" href="../elements/28162ccb.html"  target="element">
				  								<area shape="rect" coords="164,644,550,1054" href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html"  target="element">
				  												<area shape="rect" coords="284,1196,1390,1246" href="../elements/5c615a51-41ea-419c-b472-29141fb1acef.html"  target="element">

				  										<area shape="rect" coords="260,1148,1414,1270" href="../elements/2b0b41ba.html"  target="element">

				  								<area shape="rect" coords="164,1100,1486,1294" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="596,956,958,1030" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="572,908,982,1054" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,596,1534,1318" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,524,1582,1342" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,452,1630,1366" href="../objects/3c8ec2a4-b101-4278-9917-b9a10732058f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3c8ec2a4-b101-4278-9917-b9a10732058f.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/3c8ec2a4-b101-4278-9917-b9a10732058f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/2b0b41ba.html" target="element"> ESB_133_Credito_NotificarEstadoDesembolso </a> </td>
																			    <td> <a href="../elements/2b0b41ba.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/5c615a51-41ea-419c-b472-29141fb1acef.html" target="element"> ESB_133_notificarEstadoDesembolso </a> </td>
																					    <td> <a href="../elements/5c615a51-41ea-419c-b472-29141fb1acef.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/82c99cd1-9995-41a0-9111-9483ca556e33.html" target="element"> WS01_SOAP_IntegrationAdapter </a> </td>
																			    <td> <a href="../elements/82c99cd1-9995-41a0-9111-9483ca556e33.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																	    <td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element"> FWK_EmailSender </a> </td>
																	    <td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/563f3aef.html" target="element"> FWK_RestIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/563f3aef.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																			    <td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/ead73598-2e43-4177-ae4e-b43049f4e00d.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/ead73598-2e43-4177-ae4e-b43049f4e00d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d820c74b.html" target="element"> ServicioGestionDesembolso_NotificarEstadoDesembolso  </a> </td>
															    <td> <a href="../elements/d820c74b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
													    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/56ac15d5-33dd-4828-b472-8c0e2ba5e7b0.html" target="element"> notificarEstadoDesembolso </a> </td>
															    <td> <a href="../elements/56ac15d5-33dd-4828-b472-8c0e2ba5e7b0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element"> Aplicaci&#243;n Ext - Banl&#237;nea </a> </td>
													    <td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element"> PayNotificationRequestService </a> </td>
															    <td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/ae4c12ec-1c8c-4dc5-b7d4-83efdf361718.html" target="element">  </a> </td>
									           <td> <a href="../objects/ae4c12ec-1c8c-4dc5-b7d4-83efdf361718.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/dcdaefdd-2ec4-4565-9467-5b0f0184eb09.html" target="element">  </a> </td>
									           <td> <a href="../objects/dcdaefdd-2ec4-4565-9467-5b0f0184eb09.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
											    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
													    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element"> COBIS_BancaVirtual_Negacion </a> </td>
													    <td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element"> COBIS_BancaVirtual_Rechazo </a> </td>
													    <td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
													    <td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/b89b8b97-2127-4be1-9898-b996147b042a.html" target="element">  </a> </td>
									           <td> <a href="../objects/b89b8b97-2127-4be1-9898-b996147b042a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/f8af705b-673c-470b-bb75-3f176ee171c4.html" target="element">  </a> </td>
									           <td> <a href="../objects/f8af705b-673c-470b-bb75-3f176ee171c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/5d98b434-6bc1-4255-8e91-ffef309f818b.html" target="element">  </a> </td>
																						<td> <a href="../elements/5d98b434-6bc1-4255-8e91-ffef309f818b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/bbe3829d-7b10-43bd-9bbd-71ff26e58fff.html" target="element">  </a> </td>
																						<td> <a href="../elements/bbe3829d-7b10-43bd-9bbd-71ff26e58fff.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f3f14888-bf2e-49f6-8b1c-98a5fc2289b2.html" target="element">  </a> </td>
																						<td> <a href="../elements/f3f14888-bf2e-49f6-8b1c-98a5fc2289b2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/388b3605-a0ed-4d8d-b2f2-2e48180b5e4b.html" target="element">  </a> </td>
																						<td> <a href="../elements/388b3605-a0ed-4d8d-b2f2-2e48180b5e4b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/563f3aef.html" target="element"> FWK_RestIntegrationAdapter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/4cd7ec31-9dc6-4431-b803-7ad0fd6be053.html" target="element">  </a> </td>
																						<td> <a href="../elements/4cd7ec31-9dc6-4431-b803-7ad0fd6be053.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element"> FWK_EmailSender </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/14d4316d-4068-4d81-a577-51d799614ebd.html" target="element">  </a> </td>
																										<td> <a href="../elements/14d4316d-4068-4d81-a577-51d799614ebd.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/2b0b41ba.html" target="element"> ESB_133_Credito_NotificarEstadoDesembolso </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/832fdd98-ddd5-4041-8fec-17bdd4799868.html" target="element">  </a> </td>
																								<td> <a href="../elements/832fdd98-ddd5-4041-8fec-17bdd4799868.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/2b0b41ba.html" target="element"> ESB_133_Credito_NotificarEstadoDesembolso </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/da247351-3b2a-4570-9a37-5122823e456d.html" target="element">  </a> </td>
																										<td> <a href="../elements/da247351-3b2a-4570-9a37-5122823e456d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/2b0b41ba.html" target="element"> ESB_133_Credito_NotificarEstadoDesembolso </a> </td>
																										<td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/009edcd6-8532-4e60-9069-2a2d122316b8.html" target="element">  </a> </td>
																										<td> <a href="../elements/009edcd6-8532-4e60-9069-2a2d122316b8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/2b0b41ba.html" target="element"> ESB_133_Credito_NotificarEstadoDesembolso </a> </td>
																										<td> <a href="../elements/82c99cd1-9995-41a0-9111-9483ca556e33.html" target="element"> WS01_SOAP_IntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/54ac95f9-fdf2-49b8-a0d6-fca8c7eef693.html" target="element">  </a> </td>
																								<td> <a href="../elements/54ac95f9-fdf2-49b8-a0d6-fca8c7eef693.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																								<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																								<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/421e870b-1e4a-424f-8ab3-dcdeb951456d.html" target="element">  </a> </td>
																										<td> <a href="../elements/421e870b-1e4a-424f-8ab3-dcdeb951456d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/82c99cd1-9995-41a0-9111-9483ca556e33.html" target="element"> WS01_SOAP_IntegrationAdapter </a> </td>
																										<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/b2e5e2d0-259b-4011-b8f8-72b6e0bc6959.html" target="element">  </a> </td>
																								<td> <a href="../elements/b2e5e2d0-259b-4011-b8f8-72b6e0bc6959.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																								<td> <a href="../elements/6de22c00-ef86-4e35-896f-cb6ef6255970.html" target="element"> FWK_EmailSender </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/8090845b-ea0c-40e0-9b39-909e64c9bff7.html" target="element">  </a> </td>
																								<td> <a href="../elements/8090845b-ea0c-40e0-9b39-909e64c9bff7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/d3c5beaf-bdd6-4076-873f-0bdb7517246b.html" target="element"> FWK_RetryComponent </a> </td>
																								<td> <a href="../elements/2b0b41ba.html" target="element"> ESB_133_Credito_NotificarEstadoDesembolso </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/23636827-8486-411e-ac30-8187115ce58b.html" target="element">  </a> </td>
																										<td> <a href="../elements/23636827-8486-411e-ac30-8187115ce58b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/a8390a4b-cc06-427e-a7f9-a6e79062cf7b.html" target="element"> RS01_REST_IntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/8768e508-7104-40f5-896d-f81b9f2efe3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/8768e508-7104-40f5-896d-f81b9f2efe3d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																				<td> <a href="../elements/d820c74b.html" target="element"> ServicioGestionDesembolso_NotificarEstadoDesembolso  </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/1bd51c9f-3fac-44eb-90c9-b5461abee48b.html" target="element">  </a> </td>
																				<td> <a href="../elements/1bd51c9f-3fac-44eb-90c9-b5461abee48b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																				<td> <a href="../elements/56ac15d5-33dd-4828-b472-8c0e2ba5e7b0.html" target="element"> notificarEstadoDesembolso </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/4cb0ce05-cff2-4019-a235-4759ee96a973.html" target="element">  </a> </td>
																				<td> <a href="../elements/4cb0ce05-cff2-4019-a235-4759ee96a973.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element"> Aplicaci&#243;n Ext - Banl&#237;nea </a> </td>
																				<td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element"> PayNotificationRequestService </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/3f07b9ab-dec7-4283-aace-bb1cde4c45ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f07b9ab-dec7-4283-aace-bb1cde4c45ce.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/55eecd4a-7b1c-4b8d-b719-6cefda152797.html" target="element">  </a> </td>
																		<td> <a href="../elements/55eecd4a-7b1c-4b8d-b719-6cefda152797.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element"> COBIS_BancaVirtual_Negacion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/936e6905-0c8c-4481-b51b-06482cdf5eb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/936e6905-0c8c-4481-b51b-06482cdf5eb2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element"> COBIS_BancaVirtual_Rechazo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/722fc1fc-995d-4d6e-9f4a-567091834f95.html" target="element">  </a> </td>
																		<td> <a href="../elements/722fc1fc-995d-4d6e-9f4a-567091834f95.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element">  </a> </td>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/2a0bc13f-4085-4453-a337-3a42c506ff0c.html" target="element">  </a> </td>
																						<td> <a href="../elements/2a0bc13f-4085-4453-a337-3a42c506ff0c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																						<td> <a href="../elements/e871f653-1c05-4a3b-85b8-70d5ed2c7a7a.html" target="element"> FWK_JMSTechnologyAdapter </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/33724a79-cc82-4680-ab77-4011bff33273.html" target="element">  </a> </td>
																				<td> <a href="../elements/33724a79-cc82-4680-ab77-4011bff33273.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/152da9bf-b6c8-4c15-9f86-9355823b1800.html" target="element"> COBIS_BancaVirtual_Negacion </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f9b759e6-8f90-4f8f-b227-e914b0730143.html" target="element">  </a> </td>
																				<td> <a href="../elements/f9b759e6-8f90-4f8f-b227-e914b0730143.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ec9f5b52-846d-41b2-9564-2b0d6a6de1ee.html" target="element"> COBIS_BancaVirtual_Rechazo </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8440fc69-5fb4-447c-b3e6-7f5f13a89033.html" target="element">  </a> </td>
																				<td> <a href="../elements/8440fc69-5fb4-447c-b3e6-7f5f13a89033.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/5905972e-98ae-4f35-a20a-27f9827d6ce3.html" target="element">  </a> </td>
																		<td> <a href="../elements/5905972e-98ae-4f35-a20a-27f9827d6ce3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/d820c74b.html" target="element"> ServicioGestionDesembolso_NotificarEstadoDesembolso  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/20bc016b-14f4-4876-9be5-e543acc6ac72.html" target="element">  </a> </td>
																		<td> <a href="../elements/20bc016b-14f4-4876-9be5-e543acc6ac72.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/56ac15d5-33dd-4828-b472-8c0e2ba5e7b0.html" target="element"> notificarEstadoDesembolso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13a8b029-dee2-41cf-900e-017fbc253df8.html" target="element">  </a> </td>
																		<td> <a href="../elements/13a8b029-dee2-41cf-900e-017fbc253df8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/d8a724b4-ccb6-433e-877f-8f3d3110ff5c.html" target="element"> PayNotificationRequestService </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>