<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>AS-IS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>AS-IS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/86111643-89f4-4ccf-a7eb-368cf68f534d.png" alt="AS-IS" usemap="#86111643-89f4-4ccf-a7eb-368cf68f534dmap"/>
			   <map name="86111643-89f4-4ccf-a7eb-368cf68f534dmap">
				  		<area shape="rect" coords="1028,764,1268,874" href="../elements/f8a1a465.html"  target="element">
				  		<area shape="rect" coords="356,332,596,442" href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html"  target="element">
				  		<area shape="rect" coords="716,332,956,442" href="../elements/c93a5deb.html"  target="element">
				  		<area shape="rect" coords="1028,188,1268,298" href="../elements/2bb660d5-ab31-4790-bb20-4a8767053ab1.html"  target="element">
				  		<area shape="rect" coords="20,260,260,370" href="../elements/c71ded94-9636-4d20-a398-e4a5480a271f.html"  target="element">
				  		<area shape="rect" coords="20,404,260,514" href="../elements/3bef92bb.html"  target="element">
				  		<area shape="rect" coords="380,20,620,130" href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html"  target="element">
				  		<area shape="rect" coords="1028,332,1268,442" href="../elements/2d355af1.html"  target="element">
				  		<area shape="rect" coords="1028,476,1268,586" href="../elements/7d93fbb1-b931-492a-b2d7-d01200357bcb.html"  target="element">
				  		<area shape="rect" coords="716,188,956,298" href="../elements/2abeddc5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
											    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7d93fbb1-b931-492a-b2d7-d01200357bcb.html" target="element"> SCORING </a> </td>
											    <td> <a href="../elements/7d93fbb1-b931-492a-b2d7-d01200357bcb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
											    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html" target="element"> ADMONINET </a> </td>
											    <td> <a href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
											    <td> <a href="../elements/3bef92bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c71ded94-9636-4d20-a398-e4a5480a271f.html" target="element"> Usuario Atenci&#243;n al Cliente </a> </td>
											    <td> <a href="../elements/c71ded94-9636-4d20-a398-e4a5480a271f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2bb660d5-ab31-4790-bb20-4a8767053ab1.html" target="element"> Aplicaci&#243;n Web - ADMINFO </a> </td>
											    <td> <a href="../elements/2bb660d5-ab31-4790-bb20-4a8767053ab1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
											    <td> <a href="../elements/c93a5deb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
											    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
											    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/50f027ae-e40a-4e20-9fc2-4c2c6e8b47d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/50f027ae-e40a-4e20-9fc2-4c2c6e8b47d5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																		<td> <a href="../elements/2bb660d5-ab31-4790-bb20-4a8767053ab1.html" target="element"> Aplicaci&#243;n Web - ADMINFO </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element">  </a> </td>
																		<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																		<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ab88a202-64a6-47b5-a540-5c8902d5f50c.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab88a202-64a6-47b5-a540-5c8902d5f50c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/c71ded94-9636-4d20-a398-e4a5480a271f.html" target="element"> Usuario Atenci&#243;n al Cliente </a> </td>
																		<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element">  </a> </td>
																		<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																		<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dd5a029a-0ccc-4b6a-b3bb-94c229b59af8.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd5a029a-0ccc-4b6a-b3bb-94c229b59af8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																		<td> <a href="../elements/d2078420-d59a-4cc4-bd23-44d8587720e9.html" target="element"> ADMONINET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/32522516-25ee-4a91-a409-79a8852a8c6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/32522516-25ee-4a91-a409-79a8852a8c6d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																		<td> <a href="../elements/7d93fbb1-b931-492a-b2d7-d01200357bcb.html" target="element"> SCORING </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element">  </a> </td>
																		<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																		<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/adf47e8c-78f2-4071-8b55-7b406bca97b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/adf47e8c-78f2-4071-8b55-7b406bca97b4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																		<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>