<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Was 7 Producción</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Was 7 Producci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8710956c.png" alt="Arquitectura Was 7 Producción" usemap="#8710956cmap"/>
			   <map name="8710956cmap">
				          <area shape="rect" coords="1604,112,1974,196" href="../objects/8cf3c2a3.html" target="element" >
				          <area shape="rect" coords="1460,236,1830,320" href="../objects/03609c1f.html" target="element" >
				          <area shape="rect" coords="68,212,438,300" href="../objects/c4ab54db.html" target="element" >
				          <area shape="rect" coords="500,210,870,300" href="../objects/e3ce0fc3.html" target="element" >
				  		<area shape="rect" coords="1004,812,1414,922" href="../elements/50afe573.html"  target="element">
				  		<area shape="rect" coords="1004,548,1414,646" href="../elements/6330df86.html"  target="element">
				  						<area shape="rect" coords="1076,140,1316,238" href="../elements/88f23c4b.html"  target="element">

				  				<area shape="rect" coords="1004,92,1390,262" href="../elements/32e33f80.html"  target="element">

				  		<area shape="rect" coords="980,20,1438,286" href="../elements/b6f35b37.html"  target="element">
				  										<area shape="rect" coords="1556,818,1846,1036" href="../elements/9948e36d.html"  target="element">
				  										<area shape="rect" coords="1556,572,1846,694" href="../elements/a542433e.html"  target="element">

				  								<area shape="rect" coords="1508,500,1870,1054" href="../elements/3f92326a.html"  target="element">

				  						<area shape="rect" coords="1460,452,1894,1078" href="../elements/489268cd.html"  target="element">

				  				<area shape="rect" coords="1460,404,1918,1126" href="../elements/32e33f80.html"  target="element">

				  		<area shape="rect" coords="1436,332,1942,1150" href="../elements/885c5fba.html"  target="element">
				  												<area shape="rect" coords="182,1148,532,1198" href="../elements/8c4d3f82.html"  target="element">
				  												<area shape="rect" coords="184,1220,530,1276" href="../elements/a1d6fa30.html"  target="element">
				  												<area shape="rect" coords="548,1074,842,1130" href="../elements/aacf3470.html"  target="element">
				  												<area shape="rect" coords="176,1076,538,1126" href="../elements/4c041dfd.html"  target="element">
				  												<area shape="rect" coords="500,1000,840,1058" href="../elements/4dd55942.html"  target="element">
				  												<area shape="rect" coords="176,1004,416,1056" href="../elements/5ac2b6f5.html"  target="element">
				  												<area shape="rect" coords="222,884,462,934" href="../elements/06ce2343.html"  target="element">
				  												<area shape="rect" coords="500,884,806,934" href="../elements/f0e8de88.html"  target="element">
				  												<area shape="rect" coords="356,812,596,862" href="../elements/04709673.html"  target="element">

				  										<area shape="rect" coords="140,740,862,1288" href="../elements/853e2559.html"  target="element">
				  												<area shape="rect" coords="212,644,574,694" href="../elements/b373ed1a.html"  target="element">

				  										<area shape="rect" coords="140,572,598,718" href="../elements/5ec34772.html"  target="element">

				  								<area shape="rect" coords="92,500,886,1318" href="../elements/39ab2cc3.html"  target="element">

				  						<area shape="rect" coords="44,452,910,1342" href="../elements/489268cd.html"  target="element">

				  				<area shape="rect" coords="44,404,934,1366" href="../elements/32e33f80.html"  target="element">

				  		<area shape="rect" coords="20,332,982,1390" href="../elements/89f79c5a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
											    <td> <a href="../elements/89f79c5a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
													    <td> <a href="../elements/32e33f80.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/489268cd.html" target="element"> CELL </a> </td>
															    <td> <a href="../elements/489268cd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/39ab2cc3.html" target="element"> FNABOGWASPNODE01 </a> </td>
																	    <td> <a href="../elements/39ab2cc3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/5ec34772.html" target="element"> WebAppV7_01 </a> </td>
																			    <td> <a href="../elements/5ec34772.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/b373ed1a.html" target="element"> CobroJuridicoEAR </a> </td>
																					    <td> <a href="../elements/b373ed1a.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																			<tr>
																			    <td> <a href="../elements/853e2559.html" target="element"> Server7 </a> </td>
																			    <td> <a href="../elements/853e2559.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/04709673.html" target="element"> BaseEAR </a> </td>
																					    <td> <a href="../elements/04709673.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/f0e8de88.html" target="element"> BasePersistenciaEAR </a> </td>
																					    <td> <a href="../elements/f0e8de88.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/06ce2343.html" target="element"> BitacoraEAR </a> </td>
																					    <td> <a href="../elements/06ce2343.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/5ac2b6f5.html" target="element"> CalendarioEAR </a> </td>
																					    <td> <a href="../elements/5ac2b6f5.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/4dd55942.html" target="element"> ContingenciaSebraEAR </a> </td>
																					    <td> <a href="../elements/4dd55942.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/4c041dfd.html" target="element"> DirectorioEmpleadosEAR </a> </td>
																					    <td> <a href="../elements/4c041dfd.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/aacf3470.html" target="element"> GestionFraudesEAR </a> </td>
																					    <td> <a href="../elements/aacf3470.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/a1d6fa30.html" target="element"> GestionParametrosEAR </a> </td>
																					    <td> <a href="../elements/a1d6fa30.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/8c4d3f82.html" target="element"> GestionRetencionesEAR </a> </td>
																					    <td> <a href="../elements/8c4d3f82.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
											
											<tr>
											    <td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
											    <td> <a href="../elements/885c5fba.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
													    <td> <a href="../elements/32e33f80.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/489268cd.html" target="element"> CELL </a> </td>
															    <td> <a href="../elements/489268cd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/3f92326a.html" target="element"> FNABOGWASRNODE01 </a> </td>
																	    <td> <a href="../elements/3f92326a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/a542433e.html" target="element"> WebAppV7_02 </a> </td>
																			    <td> <a href="../elements/a542433e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/9948e36d.html" target="element"> Server8 </a> </td>
																			    <td> <a href="../elements/9948e36d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																	
															
													
											
											<tr>
											    <td> <a href="../elements/b6f35b37.html" target="element"> FNABOGWNDR </a> </td>
											    <td> <a href="../elements/b6f35b37.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
													    <td> <a href="../elements/32e33f80.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/88f23c4b.html" target="element"> DMGR </a> </td>
															    <td> <a href="../elements/88f23c4b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/6330df86.html" target="element"> FNAWASClusterWebApp   </a> </td>
											    <td> <a href="../elements/6330df86.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/50afe573.html" target="element"> FNAWASClusterb   </a> </td>
											    <td> <a href="../elements/50afe573.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/e3ce0fc3.html" target="element">  </a> </td>
									           <td> <a href="../objects/e3ce0fc3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/c4ab54db.html" target="element">  </a> </td>
									           <td> <a href="../objects/c4ab54db.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/03609c1f.html" target="element">  </a> </td>
									           <td> <a href="../objects/03609c1f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/8cf3c2a3.html" target="element">  </a> </td>
									           <td> <a href="../objects/8cf3c2a3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																									<tr>
																										<td> <a href="../elements/972b9ff3.html" target="element">  </a> </td>
																										<td> <a href="../elements/972b9ff3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																										<td> <a href="../elements/5ec34772.html" target="element"> WebAppV7_01 </a> </td>
																										<td> <a href="../elements/6330df86.html" target="element"> FNAWASClusterWebApp   </a> </td>
																									</tr>

																			
																									<tr>
																										<td> <a href="../elements/2d535cd6.html" target="element">  </a> </td>
																										<td> <a href="../elements/2d535cd6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																										<td> <a href="../elements/853e2559.html" target="element"> Server7 </a> </td>
																										<td> <a href="../elements/50afe573.html" target="element"> FNAWASClusterb   </a> </td>
																									</tr>

																			
																	
															
													
											
																	
															
													
											
																			<tr>
																				<td> <a href="../elements/2a309a4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/2a309a4a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
																				<td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2a309a4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/2a309a4a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
																				<td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/1550e7c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/1550e7c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6330df86.html" target="element"> FNAWASClusterWebApp   </a> </td>
																		<td> <a href="../elements/a542433e.html" target="element"> WebAppV7_02 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/64116206.html" target="element">  </a> </td>
																		<td> <a href="../elements/64116206.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/50afe573.html" target="element"> FNAWASClusterb   </a> </td>
																		<td> <a href="../elements/9948e36d.html" target="element"> Server8 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>