<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Infraestructura MTBase Producción</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Infraestructura MTBase Producci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8bcd44be.png" alt="Arquitectura Infraestructura MTBase Producción" usemap="#8bcd44bemap"/>
			   <map name="8bcd44bemap">
				  		<area shape="rect" coords="20,20,260,742" href="../elements/462938a2.html"  target="element">
				  				<area shape="rect" coords="2228,644,2468,718" href="../elements/c40034ce.html"  target="element">

				  		<area shape="rect" coords="2132,548,2590,742" href="../elements/bd8e679f.html"  target="element">
				  										<area shape="rect" coords="452,452,766,550" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="404,404,790,574" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="452,260,766,358" href="../elements/ccce2d3c.html"  target="element">

				  								<area shape="rect" coords="404,212,790,382" href="../elements/94979924.html"  target="element">
				  										<area shape="rect" coords="884,284,1246,358" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="836,212,1270,406" href="../elements/1cdadd6d.html"  target="element">
				  										<area shape="rect" coords="1148,524,1388,634" href="../elements/da8dd1f6.html"  target="element">

				  								<area shape="rect" coords="836,452,1724,694" href="../elements/7c717388.html"  target="element">
				  										<area shape="rect" coords="1340,260,1702,370" href="../elements/e83189f0.html"  target="element">

				  								<area shape="rect" coords="1292,212,1724,406" href="../elements/c5d5fb02.html"  target="element">

				  						<area shape="rect" coords="380,140,1750,706" href="../elements/3af9d480.html"  target="element">
				  						<area shape="rect" coords="1772,404,2036,454" href="../elements/2ea7689b.html"  target="element">
				  						<area shape="rect" coords="1772,296,2036,346" href="../elements/59421d0b.html"  target="element">
				  						<area shape="rect" coords="1772,188,2036,238" href="../elements/95c59cd4.html"  target="element">

				  				<area shape="rect" coords="356,92,2062,718" href="../elements/d8bde283.html"  target="element">

				  		<area shape="rect" coords="332,20,2110,742" href="../elements/8b563994.html"  target="element">
				  				<area shape="rect" coords="2228,380,2468,454" href="../elements/a5fc4b5b.html"  target="element">

				  		<area shape="rect" coords="2132,284,2590,478" href="../elements/ab792a4c.html"  target="element">
				  				<area shape="rect" coords="2228,116,2468,190" href="../elements/4aeb7ab9.html"  target="element">

				  		<area shape="rect" coords="2132,20,2590,214" href="../elements/74460ffe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/74460ffe.html" target="element"> FNABOGIQPRO1 (172.16.128.30:2890) </a> </td>
											    <td> <a href="../elements/74460ffe.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4aeb7ab9.html" target="element"> SAP IQ  </a> </td>
													    <td> <a href="../elements/4aeb7ab9.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ab792a4c.html" target="element"> FNABOGIQPRO2 (172.16.128.223:2895) </a> </td>
											    <td> <a href="../elements/ab792a4c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a5fc4b5b.html" target="element"> SAP IQ </a> </td>
													    <td> <a href="../elements/a5fc4b5b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
											    <td> <a href="../elements/8b563994.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d8bde283.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/d8bde283.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/95c59cd4.html" target="element"> JDBC_SAPIQ1 </a> </td>
															    <td> <a href="../elements/95c59cd4.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/59421d0b.html" target="element"> JDBC_SAPIQ2 </a> </td>
															    <td> <a href="../elements/59421d0b.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2ea7689b.html" target="element"> JDBC_SAPHANA </a> </td>
															    <td> <a href="../elements/2ea7689b.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/c5d5fb02.html" target="element"> DB01_IntegrationAdpInt </a> </td>
																	    <td> <a href="../elements/c5d5fb02.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/e83189f0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																	    <td> <a href="../elements/7c717388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																			    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/94979924.html" target="element"> RST01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/94979924.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/ccce2d3c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
											
											<tr>
											    <td> <a href="../elements/bd8e679f.html" target="element"> FNA-HANABIPRO (172.16.131.226:30015) </a> </td>
											    <td> <a href="../elements/bd8e679f.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c40034ce.html" target="element"> SAP HANA </a> </td>
													    <td> <a href="../elements/c40034ce.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/462938a2.html" target="element"> FNABOGSOA (172.16.127.33) </a> </td>
											    <td> <a href="../elements/462938a2.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
											
																					<tr>
																						<td> <a href="../elements/ce26774f.html" target="element">  </a> </td>
																						<td> <a href="../elements/ce26774f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/95c59cd4.html" target="element"> JDBC_SAPIQ1 </a> </td>
																						<td> <a href="../elements/4aeb7ab9.html" target="element"> SAP IQ  </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f92842d6.html" target="element">  </a> </td>
																						<td> <a href="../elements/f92842d6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/95c59cd4.html" target="element"> JDBC_SAPIQ1 </a> </td>
																						<td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/4a3e9556.html" target="element">  </a> </td>
																						<td> <a href="../elements/4a3e9556.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/59421d0b.html" target="element"> JDBC_SAPIQ2 </a> </td>
																						<td> <a href="../elements/a5fc4b5b.html" target="element"> SAP IQ </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/da4909eb.html" target="element">  </a> </td>
																						<td> <a href="../elements/da4909eb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/59421d0b.html" target="element"> JDBC_SAPIQ2 </a> </td>
																						<td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/8350e627.html" target="element">  </a> </td>
																						<td> <a href="../elements/8350e627.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/2ea7689b.html" target="element"> JDBC_SAPHANA </a> </td>
																						<td> <a href="../elements/c40034ce.html" target="element"> SAP HANA </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7f4a1ad3.html" target="element">  </a> </td>
																						<td> <a href="../elements/7f4a1ad3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/2ea7689b.html" target="element"> JDBC_SAPHANA </a> </td>
																						<td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																					</tr>

																	
																							<tr>
																								<td> <a href="../elements/e66de1cd.html" target="element">  </a> </td>
																								<td> <a href="../elements/e66de1cd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																								<td> <a href="../elements/e83189f0.html" target="element"> FWK_DatabaseIntegrationAdapter </a> </td>
																							</tr>

																	
																									<tr>
																										<td> <a href="../elements/a7f60328.html" target="element">  </a> </td>
																										<td> <a href="../elements/a7f60328.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/55211bb7.html" target="element">  </a> </td>
																										<td> <a href="../elements/55211bb7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
											
											
																	<tr>
																		<td> <a href="../elements/0eef5cf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0eef5cf1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/462938a2.html" target="element"> FNABOGSOA (172.16.127.33) </a> </td>
																		<td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>