<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Componentes AS-IS_old</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Componentes AS-IS_old</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8e001995-3bad-452f-80b1-d5ea6a172351.png" alt="Vista Componentes AS-IS_old" usemap="#8e001995-3bad-452f-80b1-d5ea6a172351map"/>
			   <map name="8e001995-3bad-452f-80b1-d5ea6a172351map">
				  						<area shape="rect" coords="1556,572,1894,622" href="../elements/56b227ae.html"  target="element">
				  						<area shape="rect" coords="1556,500,1894,550" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1508,452,1918,646" href="../elements/f8a1a465.html"  target="element">
				  				<area shape="rect" coords="1820,332,2230,382" href="../elements/e48b6f3d.html"  target="element">
				  				<area shape="rect" coords="1820,236,2230,286" href="../elements/8958819d.html"  target="element">
				  				<area shape="rect" coords="1508,188,1748,430" href="../elements/c3799fae.html"  target="element">

				          <area shape="rect" coords="1460,20,2260,694" href="../objects/37d67593-a4ee-496d-98e7-adec75e298dc.html" target="element" >
				  				<area shape="rect" coords="44,788,284,898" href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html"  target="element">
				  				<area shape="rect" coords="836,788,1076,898" href="../elements/da67f30e.html"  target="element">
				  				<area shape="rect" coords="572,788,812,898" href="../elements/5ef0965c.html"  target="element">
				  				<area shape="rect" coords="308,788,548,898" href="../elements/be34ce94.html"  target="element">

				          <area shape="rect" coords="20,716,2260,934" href="../objects/35bf805f-65a0-473f-bfbe-5b24a27a2363.html" target="element" >
				  				<area shape="rect" coords="1124,152,1364,262" href="../elements/af3a0ac7-06f5-4669-8825-95dd803df460.html"  target="element">
				  				<area shape="rect" coords="1124,284,1364,646" href="../elements/2abeddc5.html"  target="element">
				  				<area shape="rect" coords="812,284,1052,394" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">

				          <area shape="rect" coords="788,20,1438,694" href="../objects/4b8ea9db-2c4a-4a0e-974b-62e71365d294.html" target="element" >
				  				<area shape="rect" coords="452,284,716,406" href="../elements/19558b78.html"  target="element">
				  				<area shape="rect" coords="380,92,670,214" href="../elements/8a5026b1.html"  target="element">

				          <area shape="rect" coords="332,20,766,694" href="../objects/988a4358-a673-4c1b-9f37-b6ff1ec2f115.html" target="element" >
				  				<area shape="rect" coords="44,92,284,202" href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html"  target="element">

				          <area shape="rect" coords="20,20,310,694" href="../objects/c854be0f-19c3-4297-9bac-47219c023601.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/c854be0f-19c3-4297-9bac-47219c023601.html" target="element"> Usuarios </a> </td>
									           <td> <a href="../objects/c854be0f-19c3-4297-9bac-47219c023601.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/988a4358-a673-4c1b-9f37-b6ff1ec2f115.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/988a4358-a673-4c1b-9f37-b6ff1ec2f115.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
													    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/4b8ea9db-2c4a-4a0e-974b-62e71365d294.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/4b8ea9db-2c4a-4a0e-974b-62e71365d294.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/af3a0ac7-06f5-4669-8825-95dd803df460.html" target="element"> ESB-FILE - WAS </a> </td>
													    <td> <a href="../elements/af3a0ac7-06f5-4669-8825-95dd803df460.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/35bf805f-65a0-473f-bfbe-5b24a27a2363.html" target="element"> Servicios de Infraestructura </a> </td>
									           <td> <a href="../objects/35bf805f-65a0-473f-bfbe-5b24a27a2363.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
													    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
													    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
													    <td> <a href="../elements/da67f30e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/37d67593-a4ee-496d-98e7-adec75e298dc.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/37d67593-a4ee-496d-98e7-adec75e298dc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
													    <td> <a href="../elements/c3799fae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
													    <td> <a href="../elements/8958819d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
													    <td> <a href="../elements/e48b6f3d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element">  </a> </td>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/de48b1ef-6ceb-480b-beba-1b1d88ff87fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/de48b1ef-6ceb-480b-beba-1b1d88ff87fc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/af3a0ac7-06f5-4669-8825-95dd803df460.html" target="element"> ESB-FILE - WAS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9cbc89e9-a9f3-49d9-825a-57b3f5cc1a22.html" target="element">  </a> </td>
																				<td> <a href="../elements/9cbc89e9-a9f3-49d9-825a-57b3f5cc1a22.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f97fb08a-c6a1-4510-b80c-e4f510d8c02e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f97fb08a-c6a1-4510-b80c-e4f510d8c02e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/af3a0ac7-06f5-4669-8825-95dd803df460.html" target="element"> ESB-FILE - WAS </a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element">  </a> </td>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element">  </a> </td>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>