<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Componentes</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Componentes</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8e318bfa-b8de-40bc-895a-272ec05fae83.png" alt="Componentes" usemap="#8e318bfa-b8de-40bc-895a-272ec05fae83map"/>
			   <map name="8e318bfa-b8de-40bc-895a-272ec05fae83map">
				  				<area shape="rect" coords="788,932,982,1042" href="../elements/e455fc36-9210-4bf1-88cd-6ab701d57404.html"  target="element">
				  				<area shape="rect" coords="308,932,526,1042" href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html"  target="element">
				  				<area shape="rect" coords="44,932,284,1042" href="../elements/5ef0965c.html"  target="element">
				  				<area shape="rect" coords="548,932,766,1042" href="../elements/be34ce94.html"  target="element">

				          <area shape="rect" coords="20,836,1870,1102" href="../objects/65d4918e-466f-4afc-baad-3c7b704661f5.html" target="element" >
				  				<area shape="rect" coords="1580,560,1820,670" href="../elements/c73a98fd.html"  target="element">
				  				<area shape="rect" coords="1580,428,1820,538" href="../elements/e48b6f3d.html"  target="element">
				  				<area shape="rect" coords="1580,92,1820,406" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1532,20,1870,814" href="../objects/7ed90270-f7b3-4ebd-a339-2c85054b363c.html" target="element" >
				  				<area shape="rect" coords="1220,476,1460,622" href="../elements/c93a5deb.html"  target="element">
				  				<area shape="rect" coords="932,668,1460,778" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">
				  				<area shape="rect" coords="932,236,1172,382" href="../elements/2abeddc5.html"  target="element">
				  				<area shape="rect" coords="932,92,1172,202" href="../elements/40f86dda.html"  target="element">

				          <area shape="rect" coords="884,20,1486,814" href="../objects/8cbbd0b6-8b4e-470c-974f-04e02adfc638.html" target="element" >
				  				<area shape="rect" coords="404,428,668,538" href="../elements/788bb640-d5ad-4929-b177-7277fb570018.html"  target="element">
				  				<area shape="rect" coords="404,572,668,790" href="../elements/8a5026b1.html"  target="element">
				  				<area shape="rect" coords="404,92,668,406" href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html"  target="element">

				          <area shape="rect" coords="380,20,718,814" href="../objects/64d313d8-e8df-4746-aa71-980f173a998d.html" target="element" >
				  				<area shape="rect" coords="68,500,308,610" href="../elements/a3e58ac9-46a2-408d-bcc6-b2f39f489763.html"  target="element">
				  				<area shape="rect" coords="68,332,308,442" href="../elements/3bef92bb.html"  target="element">
				  				<area shape="rect" coords="68,212,308,322" href="../elements/4a371ded-6ac0-4cd1-b18b-eaa3920847c3.html"  target="element">
				  				<area shape="rect" coords="68,92,308,202" href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html"  target="element">

				          <area shape="rect" coords="20,20,358,814" href="../objects/c4d1418d-3938-48d4-91b2-e0fa9d914c0c.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/c4d1418d-3938-48d4-91b2-e0fa9d914c0c.html" target="element"> Consumidores </a> </td>
									           <td> <a href="../objects/c4d1418d-3938-48d4-91b2-e0fa9d914c0c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4a371ded-6ac0-4cd1-b18b-eaa3920847c3.html" target="element"> Usuario Interno FNA </a> </td>
													    <td> <a href="../elements/4a371ded-6ac0-4cd1-b18b-eaa3920847c3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
													    <td> <a href="../elements/3bef92bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a3e58ac9-46a2-408d-bcc6-b2f39f489763.html" target="element"> Usuario Fraudes </a> </td>
													    <td> <a href="../elements/a3e58ac9-46a2-408d-bcc6-b2f39f489763.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/64d313d8-e8df-4746-aa71-980f173a998d.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/64d313d8-e8df-4746-aa71-980f173a998d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
													    <td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
													    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/788bb640-d5ad-4929-b177-7277fb570018.html" target="element"> Cliente Desencriptar Archivos </a> </td>
													    <td> <a href="../elements/788bb640-d5ad-4929-b177-7277fb570018.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/8cbbd0b6-8b4e-470c-974f-04e02adfc638.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/8cbbd0b6-8b4e-470c-974f-04e02adfc638.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
													    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
													    <td> <a href="../elements/c93a5deb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/7ed90270-f7b3-4ebd-a339-2c85054b363c.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/7ed90270-f7b3-4ebd-a339-2c85054b363c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
													    <td> <a href="../elements/e48b6f3d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c73a98fd.html" target="element"> Aplicaci&#243;n Ws - Andes Signer </a> </td>
													    <td> <a href="../elements/c73a98fd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/65d4918e-466f-4afc-baad-3c7b704661f5.html" target="element"> Infraestructura </a> </td>
									           <td> <a href="../objects/65d4918e-466f-4afc-baad-3c7b704661f5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
													    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
													    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e455fc36-9210-4bf1-88cd-6ab701d57404.html" target="element"> Andes CA </a> </td>
													    <td> <a href="../elements/e455fc36-9210-4bf1-88cd-6ab701d57404.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/33a0aae1-c646-4a0f-9b86-0ef21bbe06e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/33a0aae1-c646-4a0f-9b86-0ef21bbe06e7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/136504e0-0ba7-499b-97c4-bdaa445b1767.html" target="element">  </a> </td>
																				<td> <a href="../elements/136504e0-0ba7-499b-97c4-bdaa445b1767.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4a371ded-6ac0-4cd1-b18b-eaa3920847c3.html" target="element"> Usuario Interno FNA </a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f88a08a9-940a-40bf-8dc1-ccad5ba4d5fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/f88a08a9-940a-40bf-8dc1-ccad5ba4d5fa.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/45190d76-a7c4-47dd-80e2-c489f3a1e415.html" target="element">  </a> </td>
																				<td> <a href="../elements/45190d76-a7c4-47dd-80e2-c489f3a1e415.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a3e58ac9-46a2-408d-bcc6-b2f39f489763.html" target="element"> Usuario Fraudes </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/785ac1d7-bdec-4c82-8359-d6c8e15845cf.html" target="element">  </a> </td>
																				<td> <a href="../elements/785ac1d7-bdec-4c82-8359-d6c8e15845cf.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a3e58ac9-46a2-408d-bcc6-b2f39f489763.html" target="element"> Usuario Fraudes </a> </td>
																				<td> <a href="../elements/788bb640-d5ad-4929-b177-7277fb570018.html" target="element"> Cliente Desencriptar Archivos </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/3b024b0b-301e-46c2-8853-bf62f4a47835.html" target="element">  </a> </td>
																				<td> <a href="../elements/3b024b0b-301e-46c2-8853-bf62f4a47835.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6f2ca34c-e82b-4091-a5f5-fc900b070199.html" target="element">  </a> </td>
																				<td> <a href="../elements/6f2ca34c-e82b-4091-a5f5-fc900b070199.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																				<td> <a href="../elements/e455fc36-9210-4bf1-88cd-6ab701d57404.html" target="element"> Andes CA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e1acf381-54d1-44e6-9f64-ecaddb0072f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/e1acf381-54d1-44e6-9f64-ecaddb0072f8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/234dd26a-478c-4e18-8f2f-bf3a283f85f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/234dd26a-478c-4e18-8f2f-bf3a283f85f9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e088419f-41c2-43e0-ae23-5f7c4df14d2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/e088419f-41c2-43e0-ae23-5f7c4df14d2f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6781699a-a6ab-42f9-8097-5d15f8750b33.html" target="element">  </a> </td>
																				<td> <a href="../elements/6781699a-a6ab-42f9-8097-5d15f8750b33.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9b795718-1300-414d-8cce-4ed59ec559ae.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b795718-1300-414d-8cce-4ed59ec559ae.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0de2ff63-b5d6-48f6-924f-374877c239f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/0de2ff63-b5d6-48f6-924f-374877c239f7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/90781904-c1ac-48e6-91de-3a55cf059f91.html" target="element">  </a> </td>
																				<td> <a href="../elements/90781904-c1ac-48e6-91de-3a55cf059f91.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ccd68e2a-6f50-4600-bebe-13b0711b5bd1.html" target="element">  </a> </td>
																				<td> <a href="../elements/ccd68e2a-6f50-4600-bebe-13b0711b5bd1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/788bb640-d5ad-4929-b177-7277fb570018.html" target="element"> Cliente Desencriptar Archivos </a> </td>
																				<td> <a href="../elements/e455fc36-9210-4bf1-88cd-6ab701d57404.html" target="element"> Andes CA </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4a4fb909-5194-4aa5-818b-b66ee0b126b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/4a4fb909-5194-4aa5-818b-b66ee0b126b6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0de9c623-061b-480f-8d5f-d98d6e989bae.html" target="element">  </a> </td>
																				<td> <a href="../elements/0de9c623-061b-480f-8d5f-d98d6e989bae.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/f59874b1-e521-4dfc-a891-a1accf0aa4e8.html" target="element"> Denuncias WEB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4a5858ee-479b-44e3-adc4-dfe971ce1d9d.html" target="element">  </a> </td>
																				<td> <a href="../elements/4a5858ee-479b-44e3-adc4-dfe971ce1d9d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element">  </a> </td>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6574123e-508f-4cd9-9e62-af8cfa438908.html" target="element">  </a> </td>
																				<td> <a href="../elements/6574123e-508f-4cd9-9e62-af8cfa438908.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element">  </a> </td>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bb745a87-c4af-4438-8c43-7cadbcc46a68.html" target="element">  </a> </td>
																				<td> <a href="../elements/bb745a87-c4af-4438-8c43-7cadbcc46a68.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																				<td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8f166bfb-d01b-4151-88be-d6b6df6cff67.html" target="element">  </a> </td>
																				<td> <a href="../elements/8f166bfb-d01b-4151-88be-d6b6df6cff67.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																				<td> <a href="../elements/c73a98fd.html" target="element"> Aplicaci&#243;n Ws - Andes Signer </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/d9cb599a-893b-4733-bbaa-7cdc101e546b.html" target="element">  </a> </td>
																				<td> <a href="../elements/d9cb599a-893b-4733-bbaa-7cdc101e546b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>