<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Componentes GAP - Fase3</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Componentes GAP - Fase3</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9b32904a-8fcf-4324-8484-936dd2ea8b80.png" alt="Vista Componentes GAP - Fase3" usemap="#9b32904a-8fcf-4324-8484-936dd2ea8b80map"/>
			   <map name="9b32904a-8fcf-4324-8484-936dd2ea8b80map">
				  				<area shape="rect" coords="1412,884,1714,982" href="../elements/aeb07220-b620-42b2-9f89-6ad8aaad2c95.html"  target="element">
				  						<area shape="rect" coords="1460,788,1798,838" href="../elements/56b227ae.html"  target="element">
				  						<area shape="rect" coords="1460,716,1798,766" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1412,668,1822,862" href="../elements/f8a1a465.html"  target="element">
				  				<area shape="rect" coords="1412,428,1714,526" href="../elements/e48b6f3d.html"  target="element">
				  				<area shape="rect" coords="1406,308,1714,406" href="../elements/8958819d.html"  target="element">
				  				<area shape="rect" coords="1412,548,1714,658" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1364,20,1870,1006" href="../objects/8a5a04c2-5c9d-4175-8a7e-99ab2d482842.html" target="element" >
				  				<area shape="rect" coords="44,1100,284,1210" href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html"  target="element">
				  				<area shape="rect" coords="836,1100,1076,1210" href="../elements/da67f30e.html"  target="element">
				  				<area shape="rect" coords="572,1100,812,1210" href="../elements/5ef0965c.html"  target="element">
				  				<area shape="rect" coords="308,1100,548,1210" href="../elements/be34ce94.html"  target="element">

				          <area shape="rect" coords="20,1028,1870,1246" href="../objects/c15288b3-eb16-4fee-a0c0-dbc83c0bd919.html" target="element" >
				  				<area shape="rect" coords="1076,476,1316,586" href="../elements/40f86dda.html"  target="element">
				  				<area shape="rect" coords="1076,620,1316,982" href="../elements/2abeddc5.html"  target="element">
				  				<area shape="rect" coords="764,860,1004,970" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">

				          <area shape="rect" coords="740,20,1342,1006" href="../objects/79ad71a9-b943-4512-af6d-82441596a4bd.html" target="element" >
				  				<area shape="rect" coords="380,548,668,658" href="../elements/1e9e8d79-e525-428d-96b0-6ec1a58dfa1c.html"  target="element">
				  				<area shape="rect" coords="382,68,670,178" href="../elements/135a4b9c.html"  target="element">
				  				<area shape="rect" coords="382,260,670,370" href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html"  target="element">
				  				<area shape="rect" coords="382,404,670,502" href="../elements/c3799fae.html"  target="element">
				  				<area shape="rect" coords="380,836,668,970" href="../elements/19558b78.html"  target="element">
				  				<area shape="rect" coords="380,692,670,790" href="../elements/8a5026b1.html"  target="element">

				          <area shape="rect" coords="332,20,718,1006" href="../objects/381d28c1-3b59-4c01-b5bc-259eae319aa6.html" target="element" >
				  				<area shape="rect" coords="44,68,284,178" href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html"  target="element">
				  				<area shape="rect" coords="44,356,284,418" href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html"  target="element">
				  				<area shape="rect" coords="44,284,284,346" href="../elements/3bef92bb.html"  target="element">
				  				<area shape="rect" coords="44,188,284,262" href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html"  target="element">
				  				<area shape="rect" coords="44,428,284,790" href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html"  target="element">

				          <area shape="rect" coords="20,20,310,1006" href="../objects/17bdf163-483f-418f-8d76-432a9c055213.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/17bdf163-483f-418f-8d76-432a9c055213.html" target="element"> Usuarios </a> </td>
									           <td> <a href="../objects/17bdf163-483f-418f-8d76-432a9c055213.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
													    <td> <a href="../elements/3bef92bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/381d28c1-3b59-4c01-b5bc-259eae319aa6.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/381d28c1-3b59-4c01-b5bc-259eae319aa6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
													    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
													    <td> <a href="../elements/c3799fae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
													    <td> <a href="../elements/135a4b9c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1e9e8d79-e525-428d-96b0-6ec1a58dfa1c.html" target="element"> Visor Documental </a> </td>
													    <td> <a href="../elements/1e9e8d79-e525-428d-96b0-6ec1a58dfa1c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/79ad71a9-b943-4512-af6d-82441596a4bd.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/79ad71a9-b943-4512-af6d-82441596a4bd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
													    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/c15288b3-eb16-4fee-a0c0-dbc83c0bd919.html" target="element"> Servicios de Infraestructura </a> </td>
									           <td> <a href="../objects/c15288b3-eb16-4fee-a0c0-dbc83c0bd919.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
													    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
													    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
													    <td> <a href="../elements/da67f30e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/8a5a04c2-5c9d-4175-8a7e-99ab2d482842.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/8a5a04c2-5c9d-4175-8a7e-99ab2d482842.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
													    <td> <a href="../elements/8958819d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
													    <td> <a href="../elements/e48b6f3d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/aeb07220-b620-42b2-9f89-6ad8aaad2c95.html" target="element"> Control de Garantias </a> </td>
													    <td> <a href="../elements/aeb07220-b620-42b2-9f89-6ad8aaad2c95.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/52c43c35-479f-4a63-accd-7929feb59aa4.html" target="element">  </a> </td>
																				<td> <a href="../elements/52c43c35-479f-4a63-accd-7929feb59aa4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element">  </a> </td>
																				<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/11ba7995-72d3-4775-8aa8-31663e164fb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/11ba7995-72d3-4775-8aa8-31663e164fb9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/02e7c056-a183-4093-a99c-ada78ca6b27a.html" target="element">  </a> </td>
																				<td> <a href="../elements/02e7c056-a183-4093-a99c-ada78ca6b27a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element">  </a> </td>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/30dc1e55-bc22-46cc-9cbd-d083cc086db1.html" target="element">  </a> </td>
																				<td> <a href="../elements/30dc1e55-bc22-46cc-9cbd-d083cc086db1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/1e9e8d79-e525-428d-96b0-6ec1a58dfa1c.html" target="element"> Visor Documental </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element">  </a> </td>
																				<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0a51c07c-ea0b-4411-b71d-fccb2f5bd643.html" target="element">  </a> </td>
																				<td> <a href="../elements/0a51c07c-ea0b-4411-b71d-fccb2f5bd643.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4ed561d5-3524-4e84-8eba-0734f5d1301a.html" target="element">  </a> </td>
																				<td> <a href="../elements/4ed561d5-3524-4e84-8eba-0734f5d1301a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1e9e8d79-e525-428d-96b0-6ec1a58dfa1c.html" target="element"> Visor Documental </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element">  </a> </td>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d7048cb9-05af-4cad-99e8-50ea9bf0ed90.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7048cb9-05af-4cad-99e8-50ea9bf0ed90.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/aeb07220-b620-42b2-9f89-6ad8aaad2c95.html" target="element"> Control de Garantias </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5082fcd4-62e7-4f5e-8bab-8e9d4416098a.html" target="element">  </a> </td>
																				<td> <a href="../elements/5082fcd4-62e7-4f5e-8bab-8e9d4416098a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ce0b5acd-9e98-4ca3-baf1-8a2bfd3248b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/ce0b5acd-9e98-4ca3-baf1-8a2bfd3248b2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element">  </a> </td>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element">  </a> </td>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>