<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Conceptual AppIBM [TO-BE]</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Conceptual AppIBM [TO-BE]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9dd38729.png" alt="Arquitectura Conceptual AppIBM [TO-BE]" usemap="#9dd38729map"/>
			   <map name="9dd38729map">
				          <area shape="rect" coords="332,20,702,88" href="../objects/482bca21.html" target="element" >
				  						<area shape="rect" coords="404,1052,742,1102" href="../elements/d7e1da67.html"  target="element">

				  				<area shape="rect" coords="116,1004,958,1126" href="../elements/1ea6e267.html"  target="element">
				  		        <area shape="rect" coords="548,212,934,372" href="../objects/53d66188.html" target="element" >
				  		        <area shape="rect" coords="116,308,486,382" href="../objects/05060473.html" target="element" >
				  						<area shape="rect" coords="454,822,694,932" href="../elements/13cded39.html"  target="element">
				  						<area shape="rect" coords="740,476,932,932" href="../elements/d8361c60.html"  target="element">
				  						<area shape="rect" coords="428,722,694,778" href="../elements/f7835fe9.html"  target="element">
				  						<area shape="rect" coords="428,656,694,706" href="../elements/a8fac91d.html"  target="element">
				  						<area shape="rect" coords="428,584,694,634" href="../elements/2186f480.html"  target="element">
				  						<area shape="rect" coords="140,476,380,586" href="../elements/d19d2ec2.html"  target="element">

				  				<area shape="rect" coords="92,404,958,982" href="../elements/fb981bb3.html"  target="element">
				  						<area shape="rect" coords="1748,596,1988,706" href="../elements/57f4b033.html"  target="element">

				  				<area shape="rect" coords="1676,524,2038,766" href="../elements/e495796e.html"  target="element">
				  						<area shape="rect" coords="1220,500,1460,610" href="../elements/a417cca8.html"  target="element">

				  				<area shape="rect" coords="1028,428,1606,670" href="../elements/84e3e138.html"  target="element">
				  						<area shape="rect" coords="1340,788,1604,898" href="../elements/231747b0.html"  target="element">
				  						<area shape="rect" coords="1076,788,1316,898" href="../elements/da8dd1f6.html"  target="element">

				  				<area shape="rect" coords="1028,692,1630,958" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,140,2062,1198" href="../objects/e269f623.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/e269f623.html" target="element"> Red Interna </a> </td>
									           <td> <a href="../objects/e269f623.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
															    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
															    <td> <a href="../elements/231747b0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/84e3e138.html" target="element"> PROCESS SERVER </a> </td>
													    <td> <a href="../elements/84e3e138.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
															    <td> <a href="../elements/a417cca8.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/e495796e.html" target="element"> WAS </a> </td>
													    <td> <a href="../elements/e495796e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
															    <td> <a href="../elements/57f4b033.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
													    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d19d2ec2.html" target="element"> Portal Admin Backend </a> </td>
															    <td> <a href="../elements/d19d2ec2.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2186f480.html" target="element"> Auditoria </a> </td>
															    <td> <a href="../elements/2186f480.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a8fac91d.html" target="element"> Push </a> </td>
															    <td> <a href="../elements/a8fac91d.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f7835fe9.html" target="element"> Administraci&#243;n </a> </td>
															    <td> <a href="../elements/f7835fe9.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
															    <td> <a href="../elements/d8361c60.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/13cded39.html" target="element"> .NET Framework 4.0.3 </a> </td>
															    <td> <a href="../elements/13cded39.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/05060473.html" target="element">  </a> </td>
											           <td> <a href="../objects/05060473.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/53d66188.html" target="element">  </a> </td>
											           <td> <a href="../objects/53d66188.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/1ea6e267.html" target="element"> Base de Datos Mb </a> </td>
													    <td> <a href="../elements/1ea6e267.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d7e1da67.html" target="element"> SQL Server 2008 SP1 </a> </td>
															    <td> <a href="../elements/d7e1da67.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/482bca21.html" target="element">  </a> </td>
									           <td> <a href="../objects/482bca21.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/6616a9e2.html" target="element">  </a> </td>
																						<td> <a href="../elements/6616a9e2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																						<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/07ad1e22.html" target="element">  </a> </td>
																						<td> <a href="../elements/07ad1e22.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																						<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/f3b3df46.html" target="element">  </a> </td>
																						<td> <a href="../elements/f3b3df46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																						<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																					</tr>

													
													
																			<tr>
																				<td> <a href="../elements/81fb3adb.html" target="element">  </a> </td>
																				<td> <a href="../elements/81fb3adb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																				<td> <a href="../elements/1ea6e267.html" target="element"> Base de Datos Mb </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/c827abfe.html" target="element">  </a> </td>
																						<td> <a href="../elements/c827abfe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																						<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f1f93564.html" target="element">  </a> </td>
																						<td> <a href="../elements/f1f93564.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/c4177654.html" target="element">  </a> </td>
																						<td> <a href="../elements/c4177654.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																						<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>