<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Conceptual Servicios 2FA [AS-IS]</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Conceptual Servicios 2FA [AS-IS]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a13a0180.png" alt="Vista Conceptual Servicios 2FA [AS-IS]" usemap="#a13a0180map"/>
			   <map name="a13a0180map">
				  						<area shape="rect" coords="2156,1316,2660,1390" href="../elements/4a51b466.html"  target="element">

				  				<area shape="rect" coords="2108,1268,2708,1522" href="../elements/9794ef24.html"  target="element">
				  						<area shape="rect" coords="2154,1148,2682,1196" href="../elements/be0cb43d.html"  target="element">
				  						<area shape="rect" coords="2154,1076,2682,1124" href="../elements/01eec08f.html"  target="element">
				  						<area shape="rect" coords="2154,1004,2682,1052" href="../elements/4489ed6d.html"  target="element">
				  						<area shape="rect" coords="2154,932,2682,980" href="../elements/d2ac9778.html"  target="element">
				  						<area shape="rect" coords="2154,860,2682,908" href="../elements/93981d6b.html"  target="element">

				  				<area shape="rect" coords="2106,716,2708,1222" href="../elements/54b2df6a.html"  target="element">

				          <area shape="rect" coords="2058,116,2756,1582" href="../objects/27bd5c0f.html" target="element" >
				  				<area shape="rect" coords="2420,2276,2660,2386" href="../elements/6d3ac015.html"  target="element">
				  				<area shape="rect" coords="2420,1700,2660,1810" href="../elements/18bde541.html"  target="element">
				  				<area shape="rect" coords="2084,2588,2686,2650" href="../elements/93c5e46c.html"  target="element">
				  				<area shape="rect" coords="2132,1700,2372,1810" href="../elements/62f83e8b.html"  target="element">
				  				<area shape="rect" coords="2132,2276,2372,2386" href="../elements/b5f011e8.html"  target="element">

				          <area shape="rect" coords="2060,1628,2708,2686" href="../objects/f3b6206e.html" target="element" >
				  						<area shape="rect" coords="1052,164,1388,236" href="../elements/1c4b75ed.html"  target="element">

				  				<area shape="rect" coords="1004,92,1438,284" href="../elements/579664f3.html"  target="element">
				  								<area shape="rect" coords="1556,860,1966,1198" href="../elements/cbb416b8.html"  target="element">

				  						<area shape="rect" coords="1532,716,1990,1222" href="../elements/0a2dccb9.html"  target="element">

				  				<area shape="rect" coords="1508,332,2014,1270" href="../elements/3af9d480.html"  target="element">
				  				<area shape="rect" coords="44,92,310,202" href="../elements/fb981bb3.html"  target="element">
				  				<area shape="rect" coords="644,1460,956,1570" href="../elements/9450cf7b.html"  target="element">
				  								<area shape="rect" coords="1004,1316,1294,1390" href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html"  target="element">

				  						<area shape="rect" coords="956,1268,1318,1414" href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html"  target="element">
				  								<area shape="rect" coords="908,572,1366,670" href="../elements/28162ccb.html"  target="element">

				  						<area shape="rect" coords="884,428,1390,790" href="../elements/0a2dccb9.html"  target="element">
				  								<area shape="rect" coords="116,668,430,766" href="../elements/da1a980e.html"  target="element">

				  						<area shape="rect" coords="68,620,454,790" href="../elements/09685725.html"  target="element">
				  								<area shape="rect" coords="116,476,430,574" href="../elements/ccce2d3c.html"  target="element">

				  						<area shape="rect" coords="68,428,454,598" href="../elements/94979924.html"  target="element">
				  								<area shape="rect" coords="524,548,838,694" href="../elements/0937407e.html"  target="element">

				  						<area shape="rect" coords="500,428,862,790" href="../elements/1cdadd6d.html"  target="element">
				  								<area shape="rect" coords="524,1028,1318,1078" href="../elements/fc42ba93.html"  target="element">
				  								<area shape="rect" coords="524,1100,1318,1150" href="../elements/267e8b39.html"  target="element">
				  								<area shape="rect" coords="524,884,1318,934" href="../elements/011338fe.html"  target="element">
				  								<area shape="rect" coords="524,956,1318,1006" href="../elements/3ccb3c8f.html"  target="element">
				  								<area shape="rect" coords="524,1172,1318,1222" href="../elements/72ed8010.html"  target="element">

				  						<area shape="rect" coords="500,812,1390,1246" href="../elements/7c717388.html"  target="element">

				  				<area shape="rect" coords="44,332,1438,1438" href="../elements/3af9d480.html"  target="element">

				          <area shape="rect" coords="20,20,2038,1582" href="../objects/e82d48f9.html" target="element" >
				  				<area shape="rect" coords="1652,1724,1940,1774" href="../elements/5660837a.html"  target="element">
				  						<area shape="rect" coords="1676,2132,1916,2242" href="../elements/bfc548dc.html"  target="element">

				  				<area shape="rect" coords="1652,2012,1940,2276" href="../elements/da67f30e.html"  target="element">
				  				<area shape="rect" coords="632,1798,872,1848" href="../elements/138f5942.html"  target="element">
				  						<area shape="rect" coords="630,2230,870,2340" href="../elements/76c43dc6.html"  target="element">
				  						<area shape="rect" coords="630,2062,870,2172" href="../elements/c07ed088.html"  target="element">

				  				<area shape="rect" coords="606,1990,896,2390" href="../elements/04723c5b.html"  target="element">
				  						<area shape="rect" coords="1388,2130,1606,2240" href="../elements/1fd618bb.html"  target="element">

				  				<area shape="rect" coords="1364,2010,1630,2276" href="../elements/ea7af6be.html"  target="element">
				  				<area shape="rect" coords="44,2444,476,2554" href="../elements/918e0f2f.html"  target="element">
				  						<area shape="rect" coords="70,2228,408,2338" href="../elements/240df97b.html"  target="element">
				  						<area shape="rect" coords="70,2084,310,2194" href="../elements/696e3e58.html"  target="element">

				  				<area shape="rect" coords="46,1988,478,2392" href="../elements/8b563994.html"  target="element">
				  				<area shape="rect" coords="212,1866,478,1916" href="../elements/874d50af.html"  target="element">
				  				<area shape="rect" coords="1052,2444,1342,2554" href="../elements/821cf569.html"  target="element">
				  				<area shape="rect" coords="1052,1724,1342,1772" href="../elements/2a94ca75.html"  target="element">
				  				<area shape="rect" coords="44,1798,454,1848" href="../elements/4df9015c.html"  target="element">
				  				<area shape="rect" coords="1364,1720,1630,1776" href="../elements/e61f2abb.html"  target="element">
				  				<area shape="rect" coords="46,2588,2016,2650" href="../elements/1a98218f.html"  target="element">
				  				<area shape="rect" coords="46,1700,766,1750" href="../elements/96a84b57.html"  target="element">
				  				<area shape="rect" coords="1052,1888,1342,1938" href="../elements/da0cb3b5.html"  target="element">
				  						<area shape="rect" coords="1076,2108,1316,2218" href="../elements/5ef0965c.html"  target="element">

				  				<area shape="rect" coords="1052,2012,1342,2410" href="../elements/f675d4dc.html"  target="element">

				          <area shape="rect" coords="20,1628,2038,2686" href="../objects/d534c22e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/d534c22e.html" target="element"> Red Interna - Infraestructura </a> </td>
									           <td> <a href="../objects/d534c22e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
													    <td> <a href="../elements/f675d4dc.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
															    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
													    <td> <a href="../elements/da0cb3b5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
													    <td> <a href="../elements/96a84b57.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
													    <td> <a href="../elements/1a98218f.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
													    <td> <a href="../elements/e61f2abb.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
													    <td> <a href="../elements/4df9015c.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
													    <td> <a href="../elements/2a94ca75.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
													    <td> <a href="../elements/821cf569.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/874d50af.html" target="element"> Servicio ODBC </a> </td>
													    <td> <a href="../elements/874d50af.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
													    <td> <a href="../elements/8b563994.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
															    <td> <a href="../elements/696e3e58.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
															    <td> <a href="../elements/240df97b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
													    <td> <a href="../elements/918e0f2f.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ea7af6be.html" target="element"> FNABOGDBAPP </a> </td>
													    <td> <a href="../elements/ea7af6be.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1fd618bb.html" target="element"> DB2 10.5 </a> </td>
															    <td> <a href="../elements/1fd618bb.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/04723c5b.html" target="element"> FNABOGFAP2 (172.16.131.223) </a> </td>
													    <td> <a href="../elements/04723c5b.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c07ed088.html" target="element"> Apache Tomcat 6.0.35 </a> </td>
															    <td> <a href="../elements/c07ed088.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/76c43dc6.html" target="element"> S.O - Windows Server 2012 R2 </a> </td>
															    <td> <a href="../elements/76c43dc6.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/138f5942.html" target="element"> Agente 2FA </a> </td>
													    <td> <a href="../elements/138f5942.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
													    <td> <a href="../elements/da67f30e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/bfc548dc.html" target="element"> Microsoft Exchange </a> </td>
															    <td> <a href="../elements/bfc548dc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/5660837a.html" target="element"> Servicio Correo (25) </a> </td>
													    <td> <a href="../elements/5660837a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/e82d48f9.html" target="element"> Aplicaciones Back </a> </td>
									           <td> <a href="../objects/e82d48f9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
													    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
															    <td> <a href="../elements/7c717388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																	    <td> <a href="../elements/72ed8010.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/3ccb3c8f.html" target="element"> ESB_076_Seguridad_AdministrarUsuario2FA </a> </td>
																	    <td> <a href="../elements/3ccb3c8f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/011338fe.html" target="element"> ESB_075_Seguridad_AdministrarConexion2FA - CQ148541 </a> </td>
																	    <td> <a href="../elements/011338fe.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/267e8b39.html" target="element"> ESB_099_Seguridad_AprovisionarTokenUsuario2FA - CQ159871 </a> </td>
																	    <td> <a href="../elements/267e8b39.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/fc42ba93.html" target="element"> ESB_098_Seguridad_AdicionarUsuario2FA - CQ159867 </a> </td>
																	    <td> <a href="../elements/fc42ba93.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
															    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																	    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/94979924.html" target="element"> RST01_Technology_AdpTch </a> </td>
															    <td> <a href="../elements/94979924.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/ccce2d3c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
															    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
															    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
															    <td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																	    <td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/9450cf7b.html" target="element"> Aplicacion Ws - SeguridadService2FA </a> </td>
													    <td> <a href="../elements/9450cf7b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
													    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
													    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
															    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/cbb416b8.html" target="element"> FWK_PublicWebServicesIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/cbb416b8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
													    <td> <a href="../elements/579664f3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1c4b75ed.html" target="element"> 2FA - WI5391 </a> </td>
															    <td> <a href="../elements/1c4b75ed.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/f3b6206e.html" target="element"> Red Externa- Infraestructura </a> </td>
									           <td> <a href="../objects/f3b6206e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/b5f011e8.html" target="element"> Gemalto </a> </td>
													    <td> <a href="../elements/b5f011e8.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/62f83e8b.html" target="element"> Servicios 2FA </a> </td>
													    <td> <a href="../elements/62f83e8b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/93c5e46c.html" target="element"> Internet </a> </td>
													    <td> <a href="../elements/93c5e46c.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18bde541.html" target="element"> Servicios SMS </a> </td>
													    <td> <a href="../elements/18bde541.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6d3ac015.html" target="element"> Allus </a> </td>
													    <td> <a href="../elements/6d3ac015.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/27bd5c0f.html" target="element"> Aplicaciones Externas </a> </td>
									           <td> <a href="../objects/27bd5c0f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/54b2df6a.html" target="element"> SafeNet BSIDCA </a> </td>
													    <td> <a href="../elements/54b2df6a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/93981d6b.html" target="element"> pingConnection </a> </td>
															    <td> <a href="../elements/93981d6b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d2ac9778.html" target="element"> connect </a> </td>
															    <td> <a href="../elements/d2ac9778.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/4489ed6d.html" target="element"> getUser </a> </td>
															    <td> <a href="../elements/4489ed6d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/01eec08f.html" target="element"> addUser </a> </td>
															    <td> <a href="../elements/01eec08f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/be0cb43d.html" target="element"> provisionUsers </a> </td>
															    <td> <a href="../elements/be0cb43d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/9794ef24.html" target="element"> Aplicaci&#243;n UDP - SafeNet Authentication </a> </td>
													    <td> <a href="../elements/9794ef24.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/4a51b466.html" target="element"> Authenticate </a> </td>
															    <td> <a href="../elements/4a51b466.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/6da24f97.html" target="element">  </a> </td>
																				<td> <a href="../elements/6da24f97.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
																				<td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a168dbfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/a168dbfb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
																				<td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/70b9dbe5.html" target="element">  </a> </td>
																						<td> <a href="../elements/70b9dbe5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																						<td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/d2dee6f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/d2dee6f2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																				<td> <a href="../elements/9450cf7b.html" target="element"> Aplicacion Ws - SeguridadService2FA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c9ca7dc3.html" target="element">  </a> </td>
																				<td> <a href="../elements/c9ca7dc3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/010c3a47.html" target="element">  </a> </td>
																				<td> <a href="../elements/010c3a47.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/67a20592.html" target="element">  </a> </td>
																				<td> <a href="../elements/67a20592.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
																				<td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/1231bd2b.html" target="element">  </a> </td>
																						<td> <a href="../elements/1231bd2b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/918f2b45.html" target="element">  </a> </td>
																						<td> <a href="../elements/918f2b45.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																						<td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/d7995da3.html" target="element">  </a> </td>
																						<td> <a href="../elements/d7995da3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/8d5f5d2d.html" target="element">  </a> </td>
																						<td> <a href="../elements/8d5f5d2d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/874d50af.html" target="element"> Servicio ODBC </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/b65e20d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/b65e20d5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ee998223.html" target="element">  </a> </td>
																				<td> <a href="../elements/ee998223.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ea7af6be.html" target="element"> FNABOGDBAPP </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/f363c7d5.html" target="element">  </a> </td>
																						<td> <a href="../elements/f363c7d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/1fd618bb.html" target="element"> DB2 10.5 </a> </td>
																						<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/34505729.html" target="element">  </a> </td>
																						<td> <a href="../elements/34505729.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/c07ed088.html" target="element"> Apache Tomcat 6.0.35 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/4861c0c6.html" target="element">  </a> </td>
																						<td> <a href="../elements/4861c0c6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/76c43dc6.html" target="element"> S.O - Windows Server 2012 R2 </a> </td>
																						<td> <a href="../elements/138f5942.html" target="element"> Agente 2FA </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/40859f2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/40859f2c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/138f5942.html" target="element"> Agente 2FA </a> </td>
																				<td> <a href="../elements/9450cf7b.html" target="element"> Aplicacion Ws - SeguridadService2FA </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/11654a1e.html" target="element">  </a> </td>
																						<td> <a href="../elements/11654a1e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/bfc548dc.html" target="element"> Microsoft Exchange </a> </td>
																						<td> <a href="../elements/5660837a.html" target="element"> Servicio Correo (25) </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/bb0c2f25-d486-4f6b-a40d-2c4f478f48f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/bb0c2f25-d486-4f6b-a40d-2c4f478f48f2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																				<td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
																			</tr>

																							<tr>
																								<td> <a href="../elements/0d2fd9ca-7299-4f36-97e5-2565ec4d883c.html" target="element">  </a> </td>
																								<td> <a href="../elements/0d2fd9ca-7299-4f36-97e5-2565ec4d883c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																								<td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																								<td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/9a86ff9e.html" target="element">  </a> </td>
																								<td> <a href="../elements/9a86ff9e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																								<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/88514f03.html" target="element">  </a> </td>
																								<td> <a href="../elements/88514f03.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/3ccb3c8f.html" target="element"> ESB_076_Seguridad_AdministrarUsuario2FA </a> </td>
																								<td> <a href="../elements/cbb416b8.html" target="element"> FWK_PublicWebServicesIntegrationAdapter </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/6ea2758c.html" target="element">  </a> </td>
																								<td> <a href="../elements/6ea2758c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/3ccb3c8f.html" target="element"> ESB_076_Seguridad_AdministrarUsuario2FA </a> </td>
																								<td> <a href="../elements/011338fe.html" target="element"> ESB_075_Seguridad_AdministrarConexion2FA - CQ148541 </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/9bb21e9f.html" target="element">  </a> </td>
																								<td> <a href="../elements/9bb21e9f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/011338fe.html" target="element"> ESB_075_Seguridad_AdministrarConexion2FA - CQ148541 </a> </td>
																								<td> <a href="../elements/cbb416b8.html" target="element"> FWK_PublicWebServicesIntegrationAdapter </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/2402444b.html" target="element">  </a> </td>
																								<td> <a href="../elements/2402444b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/267e8b39.html" target="element"> ESB_099_Seguridad_AprovisionarTokenUsuario2FA - CQ159871 </a> </td>
																								<td> <a href="../elements/cbb416b8.html" target="element"> FWK_PublicWebServicesIntegrationAdapter </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/4b3638fd.html" target="element">  </a> </td>
																								<td> <a href="../elements/4b3638fd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/267e8b39.html" target="element"> ESB_099_Seguridad_AprovisionarTokenUsuario2FA - CQ159871 </a> </td>
																								<td> <a href="../elements/011338fe.html" target="element"> ESB_075_Seguridad_AdministrarConexion2FA - CQ148541 </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/675e3028.html" target="element">  </a> </td>
																								<td> <a href="../elements/675e3028.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/fc42ba93.html" target="element"> ESB_098_Seguridad_AdicionarUsuario2FA - CQ159867 </a> </td>
																								<td> <a href="../elements/cbb416b8.html" target="element"> FWK_PublicWebServicesIntegrationAdapter </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/b42e410c.html" target="element">  </a> </td>
																								<td> <a href="../elements/b42e410c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/fc42ba93.html" target="element"> ESB_098_Seguridad_AdicionarUsuario2FA - CQ159867 </a> </td>
																								<td> <a href="../elements/011338fe.html" target="element"> ESB_075_Seguridad_AdministrarConexion2FA - CQ148541 </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/a7f60328.html" target="element">  </a> </td>
																								<td> <a href="../elements/a7f60328.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																								<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/55211bb7.html" target="element">  </a> </td>
																								<td> <a href="../elements/55211bb7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																								<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

															
															
																					<tr>
																						<td> <a href="../elements/1c958a68-7ff3-49da-bf40-4abcc1483821.html" target="element">  </a> </td>
																						<td> <a href="../elements/1c958a68-7ff3-49da-bf40-4abcc1483821.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
																						<td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/ea3a0ea2-5eb8-41e7-8866-7a64bd10d6f8.html" target="element">  </a> </td>
																								<td> <a href="../elements/ea3a0ea2-5eb8-41e7-8866-7a64bd10d6f8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																								<td> <a href="../elements/4a51b466.html" target="element"> Authenticate </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/768f7536.html" target="element">  </a> </td>
																				<td> <a href="../elements/768f7536.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/9450cf7b.html" target="element"> Aplicacion Ws - SeguridadService2FA </a> </td>
																				<td> <a href="../elements/9794ef24.html" target="element"> Aplicaci&#243;n UDP - SafeNet Authentication </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/beb1719c.html" target="element">  </a> </td>
																				<td> <a href="../elements/beb1719c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/9450cf7b.html" target="element"> Aplicacion Ws - SeguridadService2FA </a> </td>
																				<td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5f36bb95-c54d-4c17-9ac6-48b88fcefeb6.html" target="element">  </a> </td>
																				<td> <a href="../elements/5f36bb95-c54d-4c17-9ac6-48b88fcefeb6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																				<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																			</tr>

																							<tr>
																								<td> <a href="../elements/b822c9be.html" target="element">  </a> </td>
																								<td> <a href="../elements/b822c9be.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/cbb416b8.html" target="element"> FWK_PublicWebServicesIntegrationAdapter </a> </td>
																								<td> <a href="../elements/54b2df6a.html" target="element"> SafeNet BSIDCA </a> </td>
																							</tr>

															
													
																					<tr>
																						<td> <a href="../elements/5ea0013f.html" target="element">  </a> </td>
																						<td> <a href="../elements/5ea0013f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/1c4b75ed.html" target="element"> 2FA - WI5391 </a> </td>
																						<td> <a href="../elements/9794ef24.html" target="element"> Aplicaci&#243;n UDP - SafeNet Authentication </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/df62df83.html" target="element">  </a> </td>
																				<td> <a href="../elements/df62df83.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/b5f011e8.html" target="element"> Gemalto </a> </td>
																				<td> <a href="../elements/62f83e8b.html" target="element"> Servicios 2FA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/43009709.html" target="element">  </a> </td>
																				<td> <a href="../elements/43009709.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/b5f011e8.html" target="element"> Gemalto </a> </td>
																				<td> <a href="../elements/93c5e46c.html" target="element"> Internet </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/959c90ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/959c90ad.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/93c5e46c.html" target="element"> Internet </a> </td>
																				<td> <a href="../elements/6d3ac015.html" target="element"> Allus </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/49452cec.html" target="element">  </a> </td>
																				<td> <a href="../elements/49452cec.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6d3ac015.html" target="element"> Allus </a> </td>
																				<td> <a href="../elements/18bde541.html" target="element"> Servicios SMS </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b6d46843.html" target="element">  </a> </td>
																				<td> <a href="../elements/b6d46843.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/54b2df6a.html" target="element"> SafeNet BSIDCA </a> </td>
																				<td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
																			</tr>

													
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>