<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Migración WPS-ESB [TO-BE]</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Migraci&#243;n WPS-ESB [TO-BE]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a75e0c12.png" alt="Migración WPS-ESB [TO-BE]" usemap="#a75e0c12map"/>
			   <map name="a75e0c12map">
				  				<area shape="rect" coords="1460,1220,2230,1270" href="../elements/93dc444d.html"  target="element">
				  				<area shape="rect" coords="1460,692,2230,742" href="../elements/077c4ad6.html"  target="element">
				  				<area shape="rect" coords="1460,1148,2230,1198" href="../elements/26959c0c.html"  target="element">
				  				<area shape="rect" coords="1460,764,2230,886" href="../elements/9c591212.html"  target="element">
				  				<area shape="rect" coords="1460,620,2230,670" href="../elements/1a416fdc.html"  target="element">
				  				<area shape="rect" coords="1460,548,2230,598" href="../elements/99c76e0c.html"  target="element">
				  				<area shape="rect" coords="1460,164,2230,214" href="../elements/b3550feb.html"  target="element">
				  				<area shape="rect" coords="1460,92,2230,142" href="../elements/7325a371.html"  target="element">
				  				<area shape="rect" coords="1460,932,2230,1126" href="../elements/d2ac9083.html"  target="element">

				  		<area shape="rect" coords="1436,20,2254,1486" href="../elements/57f4b033.html"  target="element">
				  				<area shape="rect" coords="668,1220,1390,1270" href="../elements/a8e41408.html"  target="element">
				  				<area shape="rect" coords="668,1388,1390,1438" href="../elements/6b63ca10.html"  target="element">
				  				<area shape="rect" coords="668,1292,1390,1342" href="../elements/90ff33cf.html"  target="element">
				  				<area shape="rect" coords="668,476,1390,526" href="../elements/fa8a9da2.html"  target="element">
				  				<area shape="rect" coords="668,236,1270,286" href="../elements/4715bd58.html"  target="element">
				  				<area shape="rect" coords="668,692,1390,742" href="../elements/58c34e28.html"  target="element">
				  				<area shape="rect" coords="668,1148,1390,1198" href="../elements/ce2393c1.html"  target="element">
				  				<area shape="rect" coords="668,836,1390,886" href="../elements/3887bdba.html"  target="element">
				  				<area shape="rect" coords="668,764,1390,814" href="../elements/a66117b8.html"  target="element">
				  				<area shape="rect" coords="668,1076,1390,1126" href="../elements/fca202cf.html"  target="element">
				  				<area shape="rect" coords="668,1004,1390,1054" href="../elements/3fcc6241.html"  target="element">
				  				<area shape="rect" coords="668,620,1390,670" href="../elements/76513c88.html"  target="element">
				  				<area shape="rect" coords="668,548,1390,598" href="../elements/5da63822.html"  target="element">
				  				<area shape="rect" coords="668,404,1342,454" href="../elements/abdb7e65.html"  target="element">
				  				<area shape="rect" coords="668,164,1246,214" href="../elements/ee5e0708.html"  target="element">
				  				<area shape="rect" coords="668,92,1390,142" href="../elements/e909bdbc.html"  target="element">
				  				<area shape="rect" coords="668,932,1390,982" href="../elements/4e5be408.html"  target="element">

				  		<area shape="rect" coords="644,20,1414,1486" href="../elements/da8dd1f6.html"  target="element">
				  				<area shape="rect" coords="68,1388,604,1438" href="../elements/38902ab2.html"  target="element">
				  				<area shape="rect" coords="68,1292,604,1344" href="../elements/56f0e913.html"  target="element">
				  				<area shape="rect" coords="68,932,604,1198" href="../elements/71bb4b22.html"  target="element">
				  				<area shape="rect" coords="68,764,604,886" href="../elements/4f66a572.html"  target="element">
				  				<area shape="rect" coords="68,692,604,744" href="../elements/6c1a4f3d.html"  target="element">
				  				<area shape="rect" coords="68,548,604,670" href="../elements/fa363d98.html"  target="element">
				  				<area shape="rect" coords="68,476,604,528" href="../elements/d873edfc.html"  target="element">
				  				<area shape="rect" coords="68,404,604,454" href="../elements/9468bd49.html"  target="element">
				  				<area shape="rect" coords="68,332,604,382" href="../elements/1c1e2f62.html"  target="element">
				  				<area shape="rect" coords="68,164,604,214" href="../elements/1d25152c.html"  target="element">
				  				<area shape="rect" coords="68,92,604,142" href="../elements/6e2eef5a.html"  target="element">

				  		<area shape="rect" coords="20,20,622,1486" href="../elements/a417cca8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
											    <td> <a href="../elements/a417cca8.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6e2eef5a.html" target="element"> AS003 - ConsultaCreditos </a> </td>
													    <td> <a href="../elements/6e2eef5a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1d25152c.html" target="element"> AS006 - VerificarEntidad </a> </td>
													    <td> <a href="../elements/1d25152c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1c1e2f62.html" target="element"> AS007 - PrevinculacionCesantias </a> </td>
													    <td> <a href="../elements/1c1e2f62.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9468bd49.html" target="element"> AS008 - ConsultaRecaudoBogota </a> </td>
													    <td> <a href="../elements/9468bd49.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d873edfc.html" target="element"> AS009 - ConsultaRecaudo </a> </td>
													    <td> <a href="../elements/d873edfc.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fa363d98.html" target="element"> AS017 - GestorConsultasAVOL </a> </td>
													    <td> <a href="../elements/fa363d98.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6c1a4f3d.html" target="element"> AS018 - GestorConsultasCEST </a> </td>
													    <td> <a href="../elements/6c1a4f3d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4f66a572.html" target="element"> AS019 - GestorConsultasClientes </a> </td>
													    <td> <a href="../elements/4f66a572.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/71bb4b22.html" target="element"> AS020 - GestorConsultasCRED </a> </td>
													    <td> <a href="../elements/71bb4b22.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/56f0e913.html" target="element"> AS021 - EntidadesPila </a> </td>
													    <td> <a href="../elements/56f0e913.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/38902ab2.html" target="element"> AS029 - ConsultaRecaudoSeguro </a> </td>
													    <td> <a href="../elements/38902ab2.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
											    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4e5be408.html" target="element"> ESB_022_Credito_RecuperarTramiteSolicitudes - CQ90537 </a> </td>
													    <td> <a href="../elements/4e5be408.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
													    <td> <a href="../elements/e909bdbc.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ee5e0708.html" target="element"> ESB_144_Clientes_ConsultarReferenciaJuridica </a> </td>
													    <td> <a href="../elements/ee5e0708.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/abdb7e65.html" target="element"> ESB_132_ClntePrsnaNtral_FachadaConsultaRecaudoBta </a> </td>
													    <td> <a href="../elements/abdb7e65.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5da63822.html" target="element"> ESB_033_CuentaAVC_ConsultarCuenta </a> </td>
													    <td> <a href="../elements/5da63822.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/76513c88.html" target="element"> ESB_XXX_CuentaAVC_ConsultarScore </a> </td>
													    <td> <a href="../elements/76513c88.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3fcc6241.html" target="element"> ESB_063_Credito_RecuperarDetalleTramite </a> </td>
													    <td> <a href="../elements/3fcc6241.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fca202cf.html" target="element"> ESB_097_Credito_RecuperarFlujoTramite </a> </td>
													    <td> <a href="../elements/fca202cf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
													    <td> <a href="../elements/a66117b8.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3887bdba.html" target="element"> ESB_026_ClientePN_RecuperarInformacionLaboral </a> </td>
													    <td> <a href="../elements/3887bdba.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ce2393c1.html" target="element"> ESB_XXX_Cartera_ConsultaObligacion </a> </td>
													    <td> <a href="../elements/ce2393c1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58c34e28.html" target="element"> ESB_029_Cesantias_RecuperarDatosBasicos </a> </td>
													    <td> <a href="../elements/58c34e28.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4715bd58.html" target="element"> ESB_XXX_FachadaClientePJ_VerificarEntidad </a> </td>
													    <td> <a href="../elements/4715bd58.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fa8a9da2.html" target="element"> ESB_XXX_FachadaClientePN_ConsultaRecaudo </a> </td>
													    <td> <a href="../elements/fa8a9da2.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/90ff33cf.html" target="element"> ESB_XXX_FachadaClientePJ_RecuperarInformacion </a> </td>
													    <td> <a href="../elements/90ff33cf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b63ca10.html" target="element"> ESBXXX_FachadaClientePN_ConsultarRecaudoSeguro </a> </td>
													    <td> <a href="../elements/6b63ca10.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a8e41408.html" target="element"> ESB_058_ClientePJ_RecuperarInformacionConsolidadaV2 - CQ142691 </a> </td>
													    <td> <a href="../elements/a8e41408.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
											    <td> <a href="../elements/57f4b033.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d2ac9083.html" target="element"> AS049-ConsultaTramiteCredito </a> </td>
													    <td> <a href="../elements/d2ac9083.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7325a371.html" target="element"> AS033-ConsultaProductosConsumidorFinanciero </a> </td>
													    <td> <a href="../elements/7325a371.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b3550feb.html" target="element"> AS122-ConsultaReferenciaJuridica </a> </td>
													    <td> <a href="../elements/b3550feb.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/99c76e0c.html" target="element"> AS038-ConsultaCuentaAVC </a> </td>
													    <td> <a href="../elements/99c76e0c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1a416fdc.html" target="element"> AS123-ConsultaScoringAVC </a> </td>
													    <td> <a href="../elements/1a416fdc.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
													    <td> <a href="../elements/9c591212.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/26959c0c.html" target="element"> AS124-ConsultaObligacionCartera </a> </td>
													    <td> <a href="../elements/26959c0c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/077c4ad6.html" target="element"> AS040_ConsultaCuentaCesantias </a> </td>
													    <td> <a href="../elements/077c4ad6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/93dc444d.html" target="element"> AS037-ConsultarEntidad </a> </td>
													    <td> <a href="../elements/93dc444d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/d9dcf8d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/d9dcf8d6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6e2eef5a.html" target="element"> AS003 - ConsultaCreditos </a> </td>
																				<td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0fc4b510.html" target="element">  </a> </td>
																				<td> <a href="../elements/0fc4b510.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/1d25152c.html" target="element"> AS006 - VerificarEntidad </a> </td>
																				<td> <a href="../elements/ee5e0708.html" target="element"> ESB_144_Clientes_ConsultarReferenciaJuridica </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/879fe5e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/879fe5e7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/1d25152c.html" target="element"> AS006 - VerificarEntidad </a> </td>
																				<td> <a href="../elements/4715bd58.html" target="element"> ESB_XXX_FachadaClientePJ_VerificarEntidad </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9be89c79.html" target="element">  </a> </td>
																				<td> <a href="../elements/9be89c79.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/9468bd49.html" target="element"> AS008 - ConsultaRecaudoBogota </a> </td>
																				<td> <a href="../elements/abdb7e65.html" target="element"> ESB_132_ClntePrsnaNtral_FachadaConsultaRecaudoBta </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ad16765a.html" target="element">  </a> </td>
																				<td> <a href="../elements/ad16765a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/d873edfc.html" target="element"> AS009 - ConsultaRecaudo </a> </td>
																				<td> <a href="../elements/fa8a9da2.html" target="element"> ESB_XXX_FachadaClientePN_ConsultaRecaudo </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0991407f.html" target="element">  </a> </td>
																				<td> <a href="../elements/0991407f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/fa363d98.html" target="element"> AS017 - GestorConsultasAVOL </a> </td>
																				<td> <a href="../elements/5da63822.html" target="element"> ESB_033_CuentaAVC_ConsultarCuenta </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0753759e.html" target="element">  </a> </td>
																				<td> <a href="../elements/0753759e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/fa363d98.html" target="element"> AS017 - GestorConsultasAVOL </a> </td>
																				<td> <a href="../elements/76513c88.html" target="element"> ESB_XXX_CuentaAVC_ConsultarScore </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/03fbefc6.html" target="element">  </a> </td>
																				<td> <a href="../elements/03fbefc6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6c1a4f3d.html" target="element"> AS018 - GestorConsultasCEST </a> </td>
																				<td> <a href="../elements/58c34e28.html" target="element"> ESB_029_Cesantias_RecuperarDatosBasicos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2420039c.html" target="element">  </a> </td>
																				<td> <a href="../elements/2420039c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/4f66a572.html" target="element"> AS019 - GestorConsultasClientes </a> </td>
																				<td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9c88c68d.html" target="element">  </a> </td>
																				<td> <a href="../elements/9c88c68d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/4f66a572.html" target="element"> AS019 - GestorConsultasClientes </a> </td>
																				<td> <a href="../elements/3887bdba.html" target="element"> ESB_026_ClientePN_RecuperarInformacionLaboral </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2c553763.html" target="element">  </a> </td>
																				<td> <a href="../elements/2c553763.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/71bb4b22.html" target="element"> AS020 - GestorConsultasCRED </a> </td>
																				<td> <a href="../elements/4e5be408.html" target="element"> ESB_022_Credito_RecuperarTramiteSolicitudes - CQ90537 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c2c81562.html" target="element">  </a> </td>
																				<td> <a href="../elements/c2c81562.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/71bb4b22.html" target="element"> AS020 - GestorConsultasCRED </a> </td>
																				<td> <a href="../elements/3fcc6241.html" target="element"> ESB_063_Credito_RecuperarDetalleTramite </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/75a7422d.html" target="element">  </a> </td>
																				<td> <a href="../elements/75a7422d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/71bb4b22.html" target="element"> AS020 - GestorConsultasCRED </a> </td>
																				<td> <a href="../elements/fca202cf.html" target="element"> ESB_097_Credito_RecuperarFlujoTramite </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0ffedeba.html" target="element">  </a> </td>
																				<td> <a href="../elements/0ffedeba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/71bb4b22.html" target="element"> AS020 - GestorConsultasCRED </a> </td>
																				<td> <a href="../elements/ce2393c1.html" target="element"> ESB_XXX_Cartera_ConsultaObligacion </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1f49eea7.html" target="element">  </a> </td>
																				<td> <a href="../elements/1f49eea7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/56f0e913.html" target="element"> AS021 - EntidadesPila </a> </td>
																				<td> <a href="../elements/90ff33cf.html" target="element"> ESB_XXX_FachadaClientePJ_RecuperarInformacion </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/aa489b0c.html" target="element">  </a> </td>
																				<td> <a href="../elements/aa489b0c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/38902ab2.html" target="element"> AS029 - ConsultaRecaudoSeguro </a> </td>
																				<td> <a href="../elements/6b63ca10.html" target="element"> ESBXXX_FachadaClientePN_ConsultarRecaudoSeguro </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/74f296d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/74f296d8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4e5be408.html" target="element"> ESB_022_Credito_RecuperarTramiteSolicitudes - CQ90537 </a> </td>
																				<td> <a href="../elements/d2ac9083.html" target="element"> AS049-ConsultaTramiteCredito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d0d899d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/d0d899d9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ee5e0708.html" target="element"> ESB_144_Clientes_ConsultarReferenciaJuridica </a> </td>
																				<td> <a href="../elements/b3550feb.html" target="element"> AS122-ConsultaReferenciaJuridica </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3debe5b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/3debe5b5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/abdb7e65.html" target="element"> ESB_132_ClntePrsnaNtral_FachadaConsultaRecaudoBta </a> </td>
																				<td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8c23838f.html" target="element">  </a> </td>
																				<td> <a href="../elements/8c23838f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/76513c88.html" target="element"> ESB_XXX_CuentaAVC_ConsultarScore </a> </td>
																				<td> <a href="../elements/1a416fdc.html" target="element"> AS123-ConsultaScoringAVC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/341fc395.html" target="element">  </a> </td>
																				<td> <a href="../elements/341fc395.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/fca202cf.html" target="element"> ESB_097_Credito_RecuperarFlujoTramite </a> </td>
																				<td> <a href="../elements/d2ac9083.html" target="element"> AS049-ConsultaTramiteCredito </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/658566f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/658566f4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3887bdba.html" target="element"> ESB_026_ClientePN_RecuperarInformacionLaboral </a> </td>
																				<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/63abc586.html" target="element">  </a> </td>
																				<td> <a href="../elements/63abc586.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce2393c1.html" target="element"> ESB_XXX_Cartera_ConsultaObligacion </a> </td>
																				<td> <a href="../elements/26959c0c.html" target="element"> AS124-ConsultaObligacionCartera </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/960039cd.html" target="element">  </a> </td>
																				<td> <a href="../elements/960039cd.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/58c34e28.html" target="element"> ESB_029_Cesantias_RecuperarDatosBasicos </a> </td>
																				<td> <a href="../elements/077c4ad6.html" target="element"> AS040_ConsultaCuentaCesantias </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/110665f2.html" target="element">  </a> </td>
																				<td> <a href="../elements/110665f2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4715bd58.html" target="element"> ESB_XXX_FachadaClientePJ_VerificarEntidad </a> </td>
																				<td> <a href="../elements/ee5e0708.html" target="element"> ESB_144_Clientes_ConsultarReferenciaJuridica </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b802dd02.html" target="element">  </a> </td>
																				<td> <a href="../elements/b802dd02.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/fa8a9da2.html" target="element"> ESB_XXX_FachadaClientePN_ConsultaRecaudo </a> </td>
																				<td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/aae85e91.html" target="element">  </a> </td>
																				<td> <a href="../elements/aae85e91.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/6b63ca10.html" target="element"> ESBXXX_FachadaClientePN_ConsultarRecaudoSeguro </a> </td>
																				<td> <a href="../elements/e909bdbc.html" target="element"> ESB_001_ClientePN_RecuperarProductos </a> </td>
																			</tr>

											
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>