<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Banlínea_TO_BE</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Banl&#237;nea_TO_BE</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a77a095e-f1b2-422b-9e8b-419f73ef86ec.png" alt="Banlínea_TO_BE" usemap="#a77a095e-f1b2-422b-9e8b-419f73ef86ecmap"/>
			   <map name="a77a095e-f1b2-422b-9e8b-419f73ef86ecmap">
				          <area shape="rect" coords="22,1004,1632,1390" href="../objects/cbc74fdf-ebcd-4ba5-88c1-41f27e70c2ef.html" target="element" >
				  				<area shape="rect" coords="94,692,334,802" href="../elements/f16a524b.html"  target="element">
				  				<area shape="rect" coords="1006,836,1246,946" href="../elements/6d740a1f-44ec-476a-b25a-1e3cfe0be36c.html"  target="element">
				  				<area shape="rect" coords="718,836,958,946" href="../elements/7d93fbb1-b931-492a-b2d7-d01200357bcb.html"  target="element">
				  				<area shape="rect" coords="406,836,646,946" href="../elements/a724f117-b6e4-4023-a429-aa90785a30b0.html"  target="element">
				  				<area shape="rect" coords="94,836,334,946" href="../elements/52fe9565.html"  target="element">
				  				<area shape="rect" coords="1294,692,1534,802" href="../elements/38e287ad-4137-44d9-af0a-1f5262e83430.html"  target="element">
				  				<area shape="rect" coords="1006,692,1246,802" href="../elements/40f86dda.html"  target="element">
				  				<area shape="rect" coords="718,692,958,802" href="../elements/2d355af1.html"  target="element">
				  				<area shape="rect" coords="406,692,646,802" href="../elements/ddf6f701.html"  target="element">

				          <area shape="rect" coords="22,620,1632,982" href="../objects/4605c34f-fe48-4363-b8fb-2db58964ff4c.html" target="element" >
				  				<area shape="rect" coords="356,428,1336,538" href="../elements/da8dd1f6.html"  target="element">

				          <area shape="rect" coords="20,332,1634,576" href="../objects/cb0c0ea0-d798-4b51-9653-3acbfde6d70e.html" target="element" >
				  				<area shape="rect" coords="670,116,910,226" href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html"  target="element">

				          <area shape="rect" coords="22,20,1632,286" href="../objects/6206d3bb-94d5-423f-991b-6aa3aa972d44.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/6206d3bb-94d5-423f-991b-6aa3aa972d44.html" target="element"> Aplicaciones Front End </a> </td>
									           <td> <a href="../objects/6206d3bb-94d5-423f-991b-6aa3aa972d44.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element"> Aplicaci&#243;n Ext - Banl&#237;nea </a> </td>
													    <td> <a href="../elements/5078eb60-f557-4a78-9f95-e06bc40b911e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/cb0c0ea0-d798-4b51-9653-3acbfde6d70e.html" target="element"> ESB - FNA </a> </td>
									           <td> <a href="../objects/cb0c0ea0-d798-4b51-9653-3acbfde6d70e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
													    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/4605c34f-fe48-4363-b8fb-2db58964ff4c.html" target="element"> Aplicaciones Back End </a> </td>
									           <td> <a href="../objects/4605c34f-fe48-4363-b8fb-2db58964ff4c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ddf6f701.html" target="element"> Vigia </a> </td>
													    <td> <a href="../elements/ddf6f701.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
													    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/38e287ad-4137-44d9-af0a-1f5262e83430.html" target="element"> PKI </a> </td>
													    <td> <a href="../elements/38e287ad-4137-44d9-af0a-1f5262e83430.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/52fe9565.html" target="element"> CIFIN - Transunion </a> </td>
													    <td> <a href="../elements/52fe9565.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a724f117-b6e4-4023-a429-aa90785a30b0.html" target="element"> CCB </a> </td>
													    <td> <a href="../elements/a724f117-b6e4-4023-a429-aa90785a30b0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7d93fbb1-b931-492a-b2d7-d01200357bcb.html" target="element"> SCORING </a> </td>
													    <td> <a href="../elements/7d93fbb1-b931-492a-b2d7-d01200357bcb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6d740a1f-44ec-476a-b25a-1e3cfe0be36c.html" target="element"> 2FA </a> </td>
													    <td> <a href="../elements/6d740a1f-44ec-476a-b25a-1e3cfe0be36c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f16a524b.html" target="element"> Cobis </a> </td>
													    <td> <a href="../elements/f16a524b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/cbc74fdf-ebcd-4ba5-88c1-41f27e70c2ef.html" target="element"> Aplicaciones Externas </a> </td>
									           <td> <a href="../objects/cbc74fdf-ebcd-4ba5-88c1-41f27e70c2ef.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>