<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_023</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_023</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a7bf2cda-20d4-4736-a9e8-a475d2450a42.png" alt="ESB_023" usemap="#a7bf2cda-20d4-4736-a9e8-a475d2450a42map"/>
			   <map name="a7bf2cda-20d4-4736-a9e8-a475d2450a42map">
				  		<area shape="rect" coords="92,252,272,320" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">
				  		<area shape="rect" coords="578,260,708,312" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="524,20,764,130" href="../elements/fb981bb3.html"  target="element">
				          <area shape="rect" coords="644,128,750,214" href="../objects/22060b99-1a3f-41aa-9466-042058ba5f47.html" target="element" >
				          <area shape="rect" coords="188,128,294,214" href="../objects/1911de58-a60d-4890-8013-a2abbeccbd68.html" target="element" >
				  		<area shape="rect" coords="1916,764,2062,814" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="66,20,296,130" href="../elements/536d11f6.html"  target="element">
				          <area shape="rect" coords="2060,788,2158,862" href="../objects/05aafaf8-d951-42e8-a23d-b14ab65459ff.html" target="element" >
				  								<area shape="rect" coords="2180,1100,2614,1210" href="../elements/ccd0519c-9a58-44e0-8cd1-22a6186fa63c.html"  target="element">
				  								<area shape="rect" coords="2180,956,2614,1078" href="../elements/f2019ae6-642b-4fcd-aa44-92f081be5464.html"  target="element">
				  								<area shape="rect" coords="2180,812,2614,934" href="../elements/3efcf101-69a4-466e-850c-745d1c123df2.html"  target="element">
				  								<area shape="rect" coords="2180,668,2614,790" href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html"  target="element">
				  								<area shape="rect" coords="2180,524,2614,646" href="../elements/03ec5d9d-1366-4808-a10f-20270eeb9f90.html"  target="element">

				  						<area shape="rect" coords="2156,452,2638,1246" href="../elements/9c591212.html"  target="element">

				  				<area shape="rect" coords="2108,404,2662,1270" href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html"  target="element">

				          <area shape="rect" coords="2084,356,2710,1294" href="../objects/fc9ada9e-baa3-44f2-bef5-54e60eaea4b0.html" target="element" >
				  						<area shape="rect" coords="94,668,334,788" href="../elements/62cec5d8.html"  target="element">

				  				<area shape="rect" coords="46,452,382,1270" href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html"  target="element">
				  												<area shape="rect" coords="572,1124,1750,1174" href="../elements/1450e1fe-b356-4b05-b0f3-1fc69ce211ca.html"  target="element">

				  										<area shape="rect" coords="524,1076,1798,1198" href="../elements/2bcb17ea-08b6-4e60-8304-2e8fa24a4d18.html"  target="element">

				  								<area shape="rect" coords="500,1028,1822,1222" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1340,692,1798,958" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1316,620,1822,982" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="524,668,862,958" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="500,620,886,982" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="956,716,1270,910" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="932,620,1294,982" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="476,524,1846,1246" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="404,452,1870,1270" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,356,1894,1294" href="../objects/89d43d94-6f43-451c-b9cc-b74386a61489.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/89d43d94-6f43-451c-b9cc-b74386a61489.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/89d43d94-6f43-451c-b9cc-b74386a61489.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/2bcb17ea-08b6-4e60-8304-2e8fa24a4d18.html" target="element"> ESB_023_ClientePersonaNatural_RecuperarInformacionConsolidada </a> </td>
																			    <td> <a href="../elements/2bcb17ea-08b6-4e60-8304-2e8fa24a4d18.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/1450e1fe-b356-4b05-b0f3-1fc69ce211ca.html" target="element"> ESB_023_recuperarInfoConsolidada </a> </td>
																					    <td> <a href="../elements/1450e1fe-b356-4b05-b0f3-1fc69ce211ca.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
													<tr>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
															    <td> <a href="../elements/62cec5d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/fc9ada9e-baa3-44f2-bef5-54e60eaea4b0.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/fc9ada9e-baa3-44f2-bef5-54e60eaea4b0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
															    <td> <a href="../elements/9c591212.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/03ec5d9d-1366-4808-a10f-20270eeb9f90.html" target="element"> AS055-consultarConsumidorFinancieroPorCodigo </a> </td>
																	    <td> <a href="../elements/03ec5d9d-1366-4808-a10f-20270eeb9f90.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html" target="element"> AS055-consultarConsumidorFinancieroPorIdentificacion </a> </td>
																	    <td> <a href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/3efcf101-69a4-466e-850c-745d1c123df2.html" target="element"> AS055-consultarInformacionFinancieraConsumidorFinanciero </a> </td>
																	    <td> <a href="../elements/3efcf101-69a4-466e-850c-745d1c123df2.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/f2019ae6-642b-4fcd-aa44-92f081be5464.html" target="element"> AS055-consultarInformacionLaboralConsumidorFinanciero </a> </td>
																	    <td> <a href="../elements/f2019ae6-642b-4fcd-aa44-92f081be5464.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/ccd0519c-9a58-44e0-8cd1-22a6186fa63c.html" target="element"> AS055-consultarRelacionesConsumidorFinanciero </a> </td>
																	    <td> <a href="../elements/ccd0519c-9a58-44e0-8cd1-22a6186fa63c.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/05aafaf8-d951-42e8-a23d-b14ab65459ff.html" target="element">  </a> </td>
									           <td> <a href="../objects/05aafaf8-d951-42e8-a23d-b14ab65459ff.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/536d11f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/1911de58-a60d-4890-8013-a2abbeccbd68.html" target="element">  </a> </td>
									           <td> <a href="../objects/1911de58-a60d-4890-8013-a2abbeccbd68.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/22060b99-1a3f-41aa-9466-042058ba5f47.html" target="element">  </a> </td>
									           <td> <a href="../objects/22060b99-1a3f-41aa-9466-042058ba5f47.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
											    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/0ead8bb7-94de-4a02-8424-735370c24859.html" target="element">  </a> </td>
																										<td> <a href="../elements/0ead8bb7-94de-4a02-8424-735370c24859.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/2bcb17ea-08b6-4e60-8304-2e8fa24a4d18.html" target="element"> ESB_023_ClientePersonaNatural_RecuperarInformacionConsolidada </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/5ff4b20b-fab6-48ab-9330-bdad1c66382a.html" target="element">  </a> </td>
																								<td> <a href="../elements/5ff4b20b-fab6-48ab-9330-bdad1c66382a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/2bcb17ea-08b6-4e60-8304-2e8fa24a4d18.html" target="element"> ESB_023_ClientePersonaNatural_RecuperarInformacionConsolidada </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/7ff26891-1e9a-4023-b9f9-aa8c9a2dc003.html" target="element">  </a> </td>
																										<td> <a href="../elements/7ff26891-1e9a-4023-b9f9-aa8c9a2dc003.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/2bcb17ea-08b6-4e60-8304-2e8fa24a4d18.html" target="element"> ESB_023_ClientePersonaNatural_RecuperarInformacionConsolidada </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
															
													
																			<tr>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
																				<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element">  </a> </td>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																						<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/a99d7c3e-f945-4800-8bee-607b04c223a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/a99d7c3e-f945-4800-8bee-607b04c223a2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
																				<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6af879d6-8b0c-4058-83b8-75ea78539a70.html" target="element">  </a> </td>
																		<td> <a href="../elements/6af879d6-8b0c-4058-83b8-75ea78539a70.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/c49fc451-6e96-4358-a008-428a71a0cea6.html" target="element">  </a> </td>
																		<td> <a href="../elements/c49fc451-6e96-4358-a008-428a71a0cea6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																		<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>