<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_216</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_216</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/af7311f2-f6c4-4e03-9aa0-a4ef85681408.png" alt="ESB_216" usemap="#af7311f2-f6c4-4e03-9aa0-a4ef85681408map"/>
			   <map name="af7311f2-f6c4-4e03-9aa0-a4ef85681408map">
				  		<area shape="rect" coords="284,224,422,280" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				          <area shape="rect" coords="356,128,456,202" href="../objects/39487668-9de6-4b54-b81f-f0d025055bcd.html" target="element" >
				  		<area shape="rect" coords="234,20,474,130" href="../elements/19558b78.html"  target="element">
				  		<area shape="rect" coords="1700,704,1918,754" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">
				          <area shape="rect" coords="1556,728,1654,802" href="../objects/0e0af5be-abc2-4de9-90a6-8ac319cfa01d.html" target="element" >
				  								<area shape="rect" coords="2060,704,2446,790" href="../elements/3933165d-0495-45e4-ad4d-89848fbe1a1f.html"  target="element">

				  						<area shape="rect" coords="2036,656,2470,826" href="../elements/9320f29e-0a69-454e-a353-a1fb738a9e6e.html"  target="element">

				  				<area shape="rect" coords="1964,608,2494,850" href="../elements/e2ec76d8-c5a1-4554-abe0-24eacedbed50.html"  target="element">

				          <area shape="rect" coords="1940,320,2518,1234" href="../objects/e121872d-0345-4b51-a8a3-bebb7fd013b5.html" target="element" >
				  										<area shape="rect" coords="188,632,550,898" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="140,560,574,922" href="../elements/09685725.html"  target="element">
				  												<area shape="rect" coords="188,1064,1414,1114" href="../elements/04467d4e-0b85-47fd-bc06-d05ea6e26b2b.html"  target="element">

				  										<area shape="rect" coords="164,1016,1438,1138" href="../elements/1e495e13-a5f5-42bd-875d-34862ed6fb0f.html"  target="element">

				  								<area shape="rect" coords="140,968,1462,1162" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1076,632,1438,898" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1052,560,1462,922" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="632,632,970,898" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="608,560,994,922" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="116,464,1510,1186" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="44,392,1558,1210" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,320,1606,1234" href="../objects/7df07471-a6aa-4a9c-baf4-cdf3e39bf044.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/7df07471-a6aa-4a9c-baf4-cdf3e39bf044.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/7df07471-a6aa-4a9c-baf4-cdf3e39bf044.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/1e495e13-a5f5-42bd-875d-34862ed6fb0f.html" target="element"> ESB_216_Cartera_FirmarPagare </a> </td>
																			    <td> <a href="../elements/1e495e13-a5f5-42bd-875d-34862ed6fb0f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/04467d4e-0b85-47fd-bc06-d05ea6e26b2b.html" target="element"> ESB_216_firmarPagare </a> </td>
																					    <td> <a href="../elements/04467d4e-0b85-47fd-bc06-d05ea6e26b2b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/e121872d-0345-4b51-a8a3-bebb7fd013b5.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/e121872d-0345-4b51-a8a3-bebb7fd013b5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/e2ec76d8-c5a1-4554-abe0-24eacedbed50.html" target="element"> Deceval </a> </td>
													    <td> <a href="../elements/e2ec76d8-c5a1-4554-abe0-24eacedbed50.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9320f29e-0a69-454e-a353-a1fb738a9e6e.html" target="element"> SDLService </a> </td>
															    <td> <a href="../elements/9320f29e-0a69-454e-a353-a1fb738a9e6e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/3933165d-0495-45e4-ad4d-89848fbe1a1f.html" target="element"> SDLService_firmarPagares </a> </td>
																	    <td> <a href="../elements/3933165d-0495-45e4-ad4d-89848fbe1a1f.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/0e0af5be-abc2-4de9-90a6-8ac319cfa01d.html" target="element">  </a> </td>
									           <td> <a href="../objects/0e0af5be-abc2-4de9-90a6-8ac319cfa01d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
											    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/39487668-9de6-4b54-b81f-f0d025055bcd.html" target="element">  </a> </td>
									           <td> <a href="../objects/39487668-9de6-4b54-b81f-f0d025055bcd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/9e29dd21-a05e-4b19-b2d8-f9d6f29ddb28.html" target="element">  </a> </td>
																										<td> <a href="../elements/9e29dd21-a05e-4b19-b2d8-f9d6f29ddb28.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/1e495e13-a5f5-42bd-875d-34862ed6fb0f.html" target="element"> ESB_216_Cartera_FirmarPagare </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/f84c39db-5afb-409c-bb42-d6c3c786022c.html" target="element">  </a> </td>
																										<td> <a href="../elements/f84c39db-5afb-409c-bb42-d6c3c786022c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/fbde61ba-0997-438f-b6e2-1b0c9d01357f.html" target="element">  </a> </td>
																								<td> <a href="../elements/fbde61ba-0997-438f-b6e2-1b0c9d01357f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/1e495e13-a5f5-42bd-875d-34862ed6fb0f.html" target="element"> ESB_216_Cartera_FirmarPagare </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/59b7564c-bfb7-440f-8f0f-09b97e35be4d.html" target="element">  </a> </td>
																										<td> <a href="../elements/59b7564c-bfb7-440f-8f0f-09b97e35be4d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/1e495e13-a5f5-42bd-875d-34862ed6fb0f.html" target="element"> ESB_216_Cartera_FirmarPagare </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/e7597f3d-6214-4633-a15d-d3b751fc4c09.html" target="element">  </a> </td>
																				<td> <a href="../elements/e7597f3d-6214-4633-a15d-d3b751fc4c09.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e2ec76d8-c5a1-4554-abe0-24eacedbed50.html" target="element"> Deceval </a> </td>
																				<td> <a href="../elements/9320f29e-0a69-454e-a353-a1fb738a9e6e.html" target="element"> SDLService </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/49ed797b-23a3-4d1a-82b4-32f8b94c476c.html" target="element">  </a> </td>
																		<td> <a href="../elements/49ed797b-23a3-4d1a-82b4-32f8b94c476c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																		<td> <a href="../elements/9320f29e-0a69-454e-a353-a1fb738a9e6e.html" target="element"> SDLService </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>