<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_180</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_180</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/afde8f73-7cf6-4644-96a5-46bad73110c5.png" alt="ESB_180" usemap="#afde8f73-7cf6-4644-96a5-46bad73110c5map"/>
			   <map name="afde8f73-7cf6-4644-96a5-46bad73110c5map">
				          <area shape="rect" coords="668,128,774,214" href="../objects/04a1e33c-2eed-4fe7-8c0e-85403c607a2b.html" target="element" >
				  		<area shape="rect" coords="548,20,788,130" href="../elements/fb981bb3.html"  target="element">
				  		<area shape="rect" coords="548,260,788,322" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="1940,764,2062,814" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="58,260,318,322" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">
				  		<area shape="rect" coords="58,20,338,130" href="../elements/536d11f6.html"  target="element">
				          <area shape="rect" coords="1820,788,1918,862" href="../objects/279211a4-7072-477c-8d36-bd9b715cea62.html" target="element" >
				          <area shape="rect" coords="188,128,294,214" href="../objects/be31f5ca-ea9e-4e50-a63d-685c4b084b77.html" target="element" >
				  								<area shape="rect" coords="2180,1076,2614,1186" href="../elements/8b2ebdbd-0549-4f0a-9583-9ccc9ec57cc0.html"  target="element">
				  								<area shape="rect" coords="2180,932,2614,1054" href="../elements/bf7ac553-de2f-4aea-9d4c-248842a00ae8.html"  target="element">
				  								<area shape="rect" coords="2180,836,2614,910" href="../elements/22fd7fd6-dab7-4ef7-bbae-f04a2aeb5c26.html"  target="element">
				  								<area shape="rect" coords="2180,740,2614,814" href="../elements/4f246052-bcf6-44a7-b9da-5b5bc2250795.html"  target="element">

				  						<area shape="rect" coords="2156,692,2638,1198" href="../elements/7bad5834.html"  target="element">

				  				<area shape="rect" coords="2108,644,2662,1246" href="../elements/56b227ae.html"  target="element">

				          <area shape="rect" coords="2084,356,2686,1486" href="../objects/a3b5fc20-4707-4cf3-bd58-2c893e616ad1.html" target="element" >
				  						<area shape="rect" coords="92,716,310,826" href="../elements/62cec5d8.html"  target="element">

				  				<area shape="rect" coords="44,428,358,1462" href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html"  target="element">
				  												<area shape="rect" coords="500,1316,1726,1366" href="../elements/768a8cf3-f52e-4f74-b043-4f9a097bd6b3.html"  target="element">
				  												<area shape="rect" coords="500,1250,1726,1294" href="../elements/128b3a41-16eb-4724-9769-ebbbc0054e3d.html"  target="element">
				  												<area shape="rect" coords="500,1172,1726,1222" href="../elements/f98fd936-23bc-4204-8189-d431fbace9b5.html"  target="element">
				  												<area shape="rect" coords="500,1100,1726,1150" href="../elements/36b3726a-389a-447d-90ee-0e4926ca445d.html"  target="element">

				  										<area shape="rect" coords="476,1052,1750,1390" href="../elements/c55d4fec-650d-42cb-9f67-6ec13faef1c4.html"  target="element">

				  								<area shape="rect" coords="452,1004,1774,1414" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1292,644,1750,934" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1268,596,1774,958" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="500,644,814,934" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="452,596,838,958" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="908,644,1222,934" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="884,596,1246,958" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="428,500,1798,1438" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="356,428,1822,1462" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,356,1846,1486" href="../objects/258a4965-1c4e-4485-a8a0-8271f31241aa.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/258a4965-1c4e-4485-a8a0-8271f31241aa.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/258a4965-1c4e-4485-a8a0-8271f31241aa.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/c55d4fec-650d-42cb-9f67-6ec13faef1c4.html" target="element"> ESB_180_Ahorro_GeneracionCertificadoAVC </a> </td>
																			    <td> <a href="../elements/c55d4fec-650d-42cb-9f67-6ec13faef1c4.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/36b3726a-389a-447d-90ee-0e4926ca445d.html" target="element"> ESB_180_enviarCertificadoCuentaAVC </a> </td>
																					    <td> <a href="../elements/36b3726a-389a-447d-90ee-0e4926ca445d.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/f98fd936-23bc-4204-8189-d431fbace9b5.html" target="element"> ESB_180_generarCertificadoCuentaAVC </a> </td>
																					    <td> <a href="../elements/f98fd936-23bc-4204-8189-d431fbace9b5.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/128b3a41-16eb-4724-9769-ebbbc0054e3d.html" target="element"> ESB_180_generarCertificadoCuentaAVCSinSaldo </a> </td>
																					    <td> <a href="../elements/128b3a41-16eb-4724-9769-ebbbc0054e3d.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/768a8cf3-f52e-4f74-b043-4f9a097bd6b3.html" target="element"> ESB_180_generarCertificadoCuentaAVCCorteAnnio </a> </td>
																					    <td> <a href="../elements/768a8cf3-f52e-4f74-b043-4f9a097bd6b3.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
													<tr>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
															    <td> <a href="../elements/62cec5d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/a3b5fc20-4707-4cf3-bd58-2c893e616ad1.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/a3b5fc20-4707-4cf3-bd58-2c893e616ad1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
													    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7bad5834.html" target="element"> AS059-GeneracionCertificadoAVC </a> </td>
															    <td> <a href="../elements/7bad5834.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/4f246052-bcf6-44a7-b9da-5b5bc2250795.html" target="element"> AS059-enviarCertificadoCuentaAVC </a> </td>
																	    <td> <a href="../elements/4f246052-bcf6-44a7-b9da-5b5bc2250795.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/22fd7fd6-dab7-4ef7-bbae-f04a2aeb5c26.html" target="element"> AS059-generarCertificadoCuentaAVC </a> </td>
																	    <td> <a href="../elements/22fd7fd6-dab7-4ef7-bbae-f04a2aeb5c26.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/bf7ac553-de2f-4aea-9d4c-248842a00ae8.html" target="element"> AS059-generarCertificadoCuentaAVCSinSaldo </a> </td>
																	    <td> <a href="../elements/bf7ac553-de2f-4aea-9d4c-248842a00ae8.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/8b2ebdbd-0549-4f0a-9583-9ccc9ec57cc0.html" target="element"> AS059-generarCertificadoCuentaAVCCorteAnnio </a> </td>
																	    <td> <a href="../elements/8b2ebdbd-0549-4f0a-9583-9ccc9ec57cc0.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/be31f5ca-ea9e-4e50-a63d-685c4b084b77.html" target="element">  </a> </td>
									           <td> <a href="../objects/be31f5ca-ea9e-4e50-a63d-685c4b084b77.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/279211a4-7072-477c-8d36-bd9b715cea62.html" target="element">  </a> </td>
									           <td> <a href="../objects/279211a4-7072-477c-8d36-bd9b715cea62.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/536d11f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
											    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/04a1e33c-2eed-4fe7-8c0e-85403c607a2b.html" target="element">  </a> </td>
									           <td> <a href="../objects/04a1e33c-2eed-4fe7-8c0e-85403c607a2b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/457f215c-c3bd-432d-ac30-4ebe214d5906.html" target="element">  </a> </td>
																										<td> <a href="../elements/457f215c-c3bd-432d-ac30-4ebe214d5906.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/c55d4fec-650d-42cb-9f67-6ec13faef1c4.html" target="element"> ESB_180_Ahorro_GeneracionCertificadoAVC </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/77757878-6855-4b40-8c4c-80896ebcabed.html" target="element">  </a> </td>
																								<td> <a href="../elements/77757878-6855-4b40-8c4c-80896ebcabed.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/c55d4fec-650d-42cb-9f67-6ec13faef1c4.html" target="element"> ESB_180_Ahorro_GeneracionCertificadoAVC </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/6f4dac22-ef73-4735-9b24-174c228321a5.html" target="element">  </a> </td>
																										<td> <a href="../elements/6f4dac22-ef73-4735-9b24-174c228321a5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/c55d4fec-650d-42cb-9f67-6ec13faef1c4.html" target="element"> ESB_180_Ahorro_GeneracionCertificadoAVC </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
															
													
																			<tr>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
																				<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element">  </a> </td>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																						<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/5b4821d7-16c8-4e56-89b8-8b3c0b96affb.html" target="element">  </a> </td>
																				<td> <a href="../elements/5b4821d7-16c8-4e56-89b8-8b3c0b96affb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/7bad5834.html" target="element"> AS059-GeneracionCertificadoAVC </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																		<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c72f74b0-e68f-45da-8264-c8016c969cb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/c72f74b0-e68f-45da-8264-c8016c969cb6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/7bad5834.html" target="element"> AS059-GeneracionCertificadoAVC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c49fc451-6e96-4358-a008-428a71a0cea6.html" target="element">  </a> </td>
																		<td> <a href="../elements/c49fc451-6e96-4358-a008-428a71a0cea6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>