<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Componentes GAP - Fase3 - Sprint1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Componentes GAP - Fase3 - Sprint1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b57bcffc-5a57-4b1d-99a1-83668fbbf45e.png" alt="Vista Componentes GAP - Fase3 - Sprint1" usemap="#b57bcffc-5a57-4b1d-99a1-83668fbbf45emap"/>
			   <map name="b57bcffc-5a57-4b1d-99a1-83668fbbf45emap">
				  				<area shape="rect" coords="1508,188,1966,238" href="../elements/5422dfcb-34da-403e-8b20-b6ff01104e43.html"  target="element">
				  				<area shape="rect" coords="1508,260,1966,310" href="../elements/31f9cdfd-f38f-43d9-b89d-67b9dd265907.html"  target="element">
				  				<area shape="rect" coords="1506,500,1966,550" href="../elements/fb981bb3.html"  target="element">
				  								<area shape="rect" coords="1604,740,1942,814" href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html"  target="element">

				  						<area shape="rect" coords="1556,692,1966,838" href="../elements/56b227ae.html"  target="element">
				  						<area shape="rect" coords="1556,620,1966,670" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1508,572,1990,862" href="../elements/f8a1a465.html"  target="element">
				  				<area shape="rect" coords="1508,404,1966,454" href="../elements/e48b6f3d.html"  target="element">
				  				<area shape="rect" coords="1506,332,1966,394" href="../elements/8958819d.html"  target="element">
				  				<area shape="rect" coords="1508,68,1966,178" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1460,20,2014,1030" href="../objects/56fc27a5-18f0-483b-ad49-7f6292ebc8e4.html" target="element" >
				  				<area shape="rect" coords="44,1124,284,1234" href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html"  target="element">
				  				<area shape="rect" coords="836,1124,1076,1234" href="../elements/da67f30e.html"  target="element">
				  				<area shape="rect" coords="572,1124,812,1234" href="../elements/5ef0965c.html"  target="element">
				  				<area shape="rect" coords="308,1124,548,1234" href="../elements/be34ce94.html"  target="element">

				          <area shape="rect" coords="20,1052,2014,1294" href="../objects/867df7e9-5e12-4b2b-aa97-8e1d40f7288c.html" target="element" >
				  				<area shape="rect" coords="1148,212,1388,286" href="../elements/c93a5deb.html"  target="element">
				  						<area shape="rect" coords="1146,860,1364,958" href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html"  target="element">

				  				<area shape="rect" coords="1098,812,1388,994" href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html"  target="element">
				  				<area shape="rect" coords="1148,116,1388,190" href="../elements/40f86dda.html"  target="element">
				  				<area shape="rect" coords="1148,452,1388,778" href="../elements/2abeddc5.html"  target="element">
				  				<area shape="rect" coords="836,668,1076,778" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">

				          <area shape="rect" coords="812,20,1414,1030" href="../objects/02d711ea-55fc-4704-a3ae-432875c25355.html" target="element" >
				  				<area shape="rect" coords="454,428,740,538" href="../elements/6723606e-8f4f-4eaf-926e-bf1a9e24190a.html"  target="element">
				  				<area shape="rect" coords="454,68,740,166" href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html"  target="element">
				  				<area shape="rect" coords="454,188,742,298" href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html"  target="element">
				  				<area shape="rect" coords="454,308,742,406" href="../elements/c3799fae.html"  target="element">
				  				<area shape="rect" coords="452,572,742,982" href="../elements/8a5026b1.html"  target="element">

				          <area shape="rect" coords="404,20,790,1030" href="../objects/bb45a997-0297-4135-bc87-131d71d09ea5.html" target="element" >
				  				<area shape="rect" coords="44,284,284,346" href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html"  target="element">
				  				<area shape="rect" coords="44,212,284,274" href="../elements/3bef92bb.html"  target="element">
				  				<area shape="rect" coords="44,68,284,190" href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html"  target="element">
				  				<area shape="rect" coords="44,356,284,670" href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html"  target="element">

				          <area shape="rect" coords="20,20,310,1030" href="../objects/1ff044da-1ee6-4e17-9c38-4e6326bcb695.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/1ff044da-1ee6-4e17-9c38-4e6326bcb695.html" target="element"> Usuarios </a> </td>
									           <td> <a href="../objects/1ff044da-1ee6-4e17-9c38-4e6326bcb695.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
													    <td> <a href="../elements/3bef92bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/bb45a997-0297-4135-bc87-131d71d09ea5.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/bb45a997-0297-4135-bc87-131d71d09ea5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
													    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
													    <td> <a href="../elements/c3799fae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element"> WM_Capture </a> </td>
													    <td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6723606e-8f4f-4eaf-926e-bf1a9e24190a.html" target="element"> GoAnyWhere Transfer </a> </td>
													    <td> <a href="../elements/6723606e-8f4f-4eaf-926e-bf1a9e24190a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/02d711ea-55fc-4704-a3ae-432875c25355.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/02d711ea-55fc-4704-a3ae-432875c25355.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
													    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
													    <td> <a href="../elements/c93a5deb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/867df7e9-5e12-4b2b-aa97-8e1d40f7288c.html" target="element"> Servicios de Infraestructura </a> </td>
									           <td> <a href="../objects/867df7e9-5e12-4b2b-aa97-8e1d40f7288c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
													    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
													    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
													    <td> <a href="../elements/da67f30e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/56fc27a5-18f0-483b-ad49-7f6292ebc8e4.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/56fc27a5-18f0-483b-ad49-7f6292ebc8e4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
													    <td> <a href="../elements/8958819d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
													    <td> <a href="../elements/e48b6f3d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																	    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
													    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/31f9cdfd-f38f-43d9-b89d-67b9dd265907.html" target="element"> WM_Downloader </a> </td>
													    <td> <a href="../elements/31f9cdfd-f38f-43d9-b89d-67b9dd265907.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5422dfcb-34da-403e-8b20-b6ff01104e43.html" target="element"> WM_MasiveFiles </a> </td>
													    <td> <a href="../elements/5422dfcb-34da-403e-8b20-b6ff01104e43.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/28eb733c-51f5-447f-bb2c-b067cf75f738.html" target="element">  </a> </td>
																				<td> <a href="../elements/28eb733c-51f5-447f-bb2c-b067cf75f738.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/6723606e-8f4f-4eaf-926e-bf1a9e24190a.html" target="element"> GoAnyWhere Transfer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/52c43c35-479f-4a63-accd-7929feb59aa4.html" target="element">  </a> </td>
																				<td> <a href="../elements/52c43c35-479f-4a63-accd-7929feb59aa4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/aeee39c0-09a9-496f-8692-2df9f754b6cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/aeee39c0-09a9-496f-8692-2df9f754b6cb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
																				<td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element"> WM_Capture </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element">  </a> </td>
																				<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/11ba7995-72d3-4775-8aa8-31663e164fb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/11ba7995-72d3-4775-8aa8-31663e164fb9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ad6927ae-e9bd-44c1-969e-c52b6a05e245.html" target="element">  </a> </td>
																				<td> <a href="../elements/ad6927ae-e9bd-44c1-969e-c52b6a05e245.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/31f9cdfd-f38f-43d9-b89d-67b9dd265907.html" target="element"> WM_Downloader </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element">  </a> </td>
																				<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9b523ce4-f204-41fe-bf76-75b10b0181a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b523ce4-f204-41fe-bf76-75b10b0181a9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element"> WM_Capture </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element">  </a> </td>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element">  </a> </td>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/84c3cb58-665a-47d8-8a52-77f2660e460a.html" target="element">  </a> </td>
																				<td> <a href="../elements/84c3cb58-665a-47d8-8a52-77f2660e460a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ce0b5acd-9e98-4ca3-baf1-8a2bfd3248b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/ce0b5acd-9e98-4ca3-baf1-8a2bfd3248b2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/abcd83a8-65ae-4137-a727-3680ffb14c3f.html" target="element">  </a> </td>
																				<td> <a href="../elements/abcd83a8-65ae-4137-a727-3680ffb14c3f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2512ab79-4481-4a4d-8d5c-7c20d696ec86.html" target="element">  </a> </td>
																				<td> <a href="../elements/2512ab79-4481-4a4d-8d5c-7c20d696ec86.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/5422dfcb-34da-403e-8b20-b6ff01104e43.html" target="element"> WM_MasiveFiles </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d8464858-e022-4be9-9a74-5d689b4607f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/d8464858-e022-4be9-9a74-5d689b4607f1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/6723606e-8f4f-4eaf-926e-bf1a9e24190a.html" target="element"> GoAnyWhere Transfer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/425e9c2e-441d-412b-9cf2-121e7eafd9b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/425e9c2e-441d-412b-9cf2-121e7eafd9b2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element">  </a> </td>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/bc88a0b3-507f-41bf-8986-029e000ffcd3.html" target="element">  </a> </td>
																						<td> <a href="../elements/bc88a0b3-507f-41bf-8986-029e000ffcd3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																						<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element">  </a> </td>
																				<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element">  </a> </td>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element">  </a> </td>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e9e45aa9-1019-46e5-b7dc-6879a3228813.html" target="element">  </a> </td>
																						<td> <a href="../elements/e9e45aa9-1019-46e5-b7dc-6879a3228813.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element">  </a> </td>
																								<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																								<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																							</tr>

															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>