<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB-FILE_189</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB-FILE_189</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b5d2b5c4-f68a-4b8d-8348-43905ac34478.png" alt="ESB-FILE_189" usemap="#b5d2b5c4-f68a-4b8d-8348-43905ac34478map"/>
			   <map name="b5d2b5c4-f68a-4b8d-8348-43905ac34478map">
				          <area shape="rect" coords="1006,572,1134,628" href="../objects/d00b7cae-3e42-4358-b66a-22ebac141ce5.html" target="element" >
				  		<area shape="rect" coords="984,524,1154,574" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  								<area shape="rect" coords="1296,520,1706,570" href="../elements/ac775683-4fb6-43e7-9c91-2124c4b9abe9.html"  target="element">

				  						<area shape="rect" coords="1272,472,1730,594" href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html"  target="element">

				  				<area shape="rect" coords="1224,424,1754,642" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1200,328,1778,718" href="../objects/8fc51932-3816-4d7a-a0e8-284d0946e20f.html" target="element" >
				          <area shape="rect" coords="480,152,608,208" href="../objects/bc4a3909-dc10-466c-851d-d185bab975cf.html" target="element" >
				  		<area shape="rect" coords="336,20,624,130" href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html"  target="element">
				  		<area shape="rect" coords="20,236,938,286" href="../elements/1d6b5f0b.html"  target="element">
				  										<area shape="rect" coords="164,568,790,618" href="../elements/935ce5b2-1b34-430f-aaed-372913803357.html"  target="element">

				  								<area shape="rect" coords="140,520,814,642" href="../elements/4c3363bd-e7be-47e8-bed4-4c9cab6418fe.html"  target="element">

				  						<area shape="rect" coords="116,472,838,666" href="../elements/84ed5901.html"  target="element">

				  				<area shape="rect" coords="44,400,884,690" href="../elements/c93a5deb.html"  target="element">

				          <area shape="rect" coords="20,328,938,718" href="../objects/966ca5c2-fd14-482d-89b7-7157c887b52e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/966ca5c2-fd14-482d-89b7-7157c887b52e.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/966ca5c2-fd14-482d-89b7-7157c887b52e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
													    <td> <a href="../elements/c93a5deb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/84ed5901.html" target="element"> Servicios ESBFile </a> </td>
															    <td> <a href="../elements/84ed5901.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/4c3363bd-e7be-47e8-bed4-4c9cab6418fe.html" target="element"> ESB_189_GestorDocumental_AgregarDocumento </a> </td>
																	    <td> <a href="../elements/4c3363bd-e7be-47e8-bed4-4c9cab6418fe.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/935ce5b2-1b34-430f-aaed-372913803357.html" target="element"> ESB_189_agregarDocumento </a> </td>
																			    <td> <a href="../elements/935ce5b2-1b34-430f-aaed-372913803357.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																			</tr>

																	
															
													
											
											<tr>
											    <td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/1d6b5f0b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/bc4a3909-dc10-466c-851d-d185bab975cf.html" target="element">  </a> </td>
									           <td> <a href="../objects/bc4a3909-dc10-466c-851d-d185bab975cf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/8fc51932-3816-4d7a-a0e8-284d0946e20f.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/8fc51932-3816-4d7a-a0e8-284d0946e20f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/ac775683-4fb6-43e7-9c91-2124c4b9abe9.html" target="element"> Form_AttachFiles </a> </td>
																	    <td> <a href="../elements/ac775683-4fb6-43e7-9c91-2124c4b9abe9.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d00b7cae-3e42-4358-b66a-22ebac141ce5.html" target="element">  </a> </td>
									           <td> <a href="../objects/d00b7cae-3e42-4358-b66a-22ebac141ce5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/8ee7578c-6bc5-4714-818d-2e9a9b31d629.html" target="element">  </a> </td>
																				<td> <a href="../elements/8ee7578c-6bc5-4714-818d-2e9a9b31d629.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																				<td> <a href="../elements/84ed5901.html" target="element"> Servicios ESBFile </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/df0a2347-0913-4466-9a7d-f98fa124bbf4.html" target="element">  </a> </td>
																						<td> <a href="../elements/df0a2347-0913-4466-9a7d-f98fa124bbf4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/84ed5901.html" target="element"> Servicios ESBFile </a> </td>
																						<td> <a href="../elements/4c3363bd-e7be-47e8-bed4-4c9cab6418fe.html" target="element"> ESB_189_GestorDocumental_AgregarDocumento </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/3b18e1fe-4678-400f-8e8e-6965c395cb4c.html" target="element">  </a> </td>
																								<td> <a href="../elements/3b18e1fe-4678-400f-8e8e-6965c395cb4c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/4c3363bd-e7be-47e8-bed4-4c9cab6418fe.html" target="element"> ESB_189_GestorDocumental_AgregarDocumento </a> </td>
																								<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																							</tr>

																	
															
													
											
																	<tr>
																		<td> <a href="../elements/6664922a-af9e-4817-aaab-e2008c1bcb96.html" target="element">  </a> </td>
																		<td> <a href="../elements/6664922a-af9e-4817-aaab-e2008c1bcb96.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/4c3363bd-e7be-47e8-bed4-4c9cab6418fe.html" target="element"> ESB_189_GestorDocumental_AgregarDocumento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/408940af-8b2e-49f0-b747-54d3612e5f9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/408940af-8b2e-49f0-b747-54d3612e5f9c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																				<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/82302180-d96a-4588-b783-ea8dd357cc25.html" target="element">  </a> </td>
																						<td> <a href="../elements/82302180-d96a-4588-b783-ea8dd357cc25.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																						<td> <a href="../elements/ac775683-4fb6-43e7-9c91-2124c4b9abe9.html" target="element"> Form_AttachFiles </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/3341f6b1-90d5-40ac-a979-ede813168dc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/3341f6b1-90d5-40ac-a979-ede813168dc3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/ac775683-4fb6-43e7-9c91-2124c4b9abe9.html" target="element"> Form_AttachFiles </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>