<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Servicios PKI</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Servicios PKI</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b799695f.png" alt="Arquitectura Servicios PKI" usemap="#b799695fmap"/>
			   <map name="b799695fmap">
				          <area shape="rect" coords="1244,390,1342,474" href="../objects/92fc8d06-c9e7-4d36-89d0-d1d79b36fa6d.html" target="element" >
				          <area shape="rect" coords="258,452,356,536" href="../objects/9ccff3bf-310e-48d5-ae0e-69d59b80b1e9.html" target="element" >
				          <area shape="rect" coords="258,236,356,320" href="../objects/df9e618d-d146-4ebb-9792-adacea51606d.html" target="element" >
				  		<area shape="rect" coords="20,390,260,500" href="../elements/fb981bb3.html"  target="element">
				  		<area shape="rect" coords="20,186,260,296" href="../elements/579664f3.html"  target="element">
				  		<area shape="rect" coords="356,116,478,622" href="../elements/1d6b5f0b.html"  target="element">
				  		<area shape="rect" coords="1364,116,1510,622" href="../elements/1d6b5f0b.html"  target="element">
				  						<area shape="rect" coords="1604,260,1918,370" href="../elements/6adf5492.html"  target="element">
				  						<area shape="rect" coords="1604,140,1918,238" href="../elements/08cdd419.html"  target="element">

				  				<area shape="rect" coords="1556,92,1942,406" href="../elements/c3799fae.html"  target="element">

				          <area shape="rect" coords="1532,20,1966,622" href="../objects/74a3dca2.html" target="element" >
				  						<area shape="rect" coords="596,524,1198,574" href="../elements/f692048a.html"  target="element">
				  						<area shape="rect" coords="596,452,1198,502" href="../elements/302ac1f6.html"  target="element">

				  				<area shape="rect" coords="524,404,1222,598" href="../elements/980aed19.html"  target="element">
				  						<area shape="rect" coords="572,308,1198,358" href="../elements/279372ae.html"  target="element">
				  						<area shape="rect" coords="572,236,1198,286" href="../elements/b433d401.html"  target="element">
				  						<area shape="rect" coords="572,164,1198,214" href="../elements/f64e7aee.html"  target="element">

				  				<area shape="rect" coords="524,116,1222,382" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="500,20,1246,622" href="../objects/e1c3d2e1.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/e1c3d2e1.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/e1c3d2e1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/f64e7aee.html" target="element"> ESB_119_Seguridad_SolicitarCertificadoDigital </a> </td>
															    <td> <a href="../elements/f64e7aee.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b433d401.html" target="element"> ESB_134_Seguridad_ConsultarCertificadoDigital </a> </td>
															    <td> <a href="../elements/b433d401.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/279372ae.html" target="element"> ESB_135_Seguridad_RevocarCertificadoDigital </a> </td>
															    <td> <a href="../elements/279372ae.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/980aed19.html" target="element"> WAS_PKI </a> </td>
													    <td> <a href="../elements/980aed19.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/302ac1f6.html" target="element"> ESBFile_001_Seguridad_FirmarDocumento </a> </td>
															    <td> <a href="../elements/302ac1f6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f692048a.html" target="element"> ESBFile_002_Seguridad_EnviarCorreoSeguro </a> </td>
															    <td> <a href="../elements/f692048a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/74a3dca2.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/74a3dca2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
													    <td> <a href="../elements/c3799fae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/08cdd419.html" target="element"> WSAndes </a> </td>
															    <td> <a href="../elements/08cdd419.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6adf5492.html" target="element"> WSSealMail </a> </td>
															    <td> <a href="../elements/6adf5492.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/1d6b5f0b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/1d6b5f0b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
											    <td> <a href="../elements/579664f3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
											    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/df9e618d-d146-4ebb-9792-adacea51606d.html" target="element">  </a> </td>
									           <td> <a href="../objects/df9e618d-d146-4ebb-9792-adacea51606d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/9ccff3bf-310e-48d5-ae0e-69d59b80b1e9.html" target="element">  </a> </td>
									           <td> <a href="../objects/9ccff3bf-310e-48d5-ae0e-69d59b80b1e9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/92fc8d06-c9e7-4d36-89d0-d1d79b36fa6d.html" target="element">  </a> </td>
									           <td> <a href="../objects/92fc8d06-c9e7-4d36-89d0-d1d79b36fa6d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/11a85444-d6fd-45fe-a7db-3fc550ea9147.html" target="element">  </a> </td>
																						<td> <a href="../elements/11a85444-d6fd-45fe-a7db-3fc550ea9147.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/f64e7aee.html" target="element"> ESB_119_Seguridad_SolicitarCertificadoDigital </a> </td>
																						<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/77d74646-9d34-43a9-9949-cff0664c00f4.html" target="element">  </a> </td>
																						<td> <a href="../elements/77d74646-9d34-43a9-9949-cff0664c00f4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/b433d401.html" target="element"> ESB_134_Seguridad_ConsultarCertificadoDigital </a> </td>
																						<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/22ee97dc-d01c-4e13-8f9c-ceb70e7a3c67.html" target="element">  </a> </td>
																						<td> <a href="../elements/22ee97dc-d01c-4e13-8f9c-ceb70e7a3c67.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/279372ae.html" target="element"> ESB_135_Seguridad_RevocarCertificadoDigital </a> </td>
																						<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/5bebfcc8-b504-402a-aab9-45ad702b98f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/5bebfcc8-b504-402a-aab9-45ad702b98f2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/302ac1f6.html" target="element"> ESBFile_001_Seguridad_FirmarDocumento </a> </td>
																						<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/ca8745a5-74dc-4bcc-adf7-cf95e57caae5.html" target="element">  </a> </td>
																						<td> <a href="../elements/ca8745a5-74dc-4bcc-adf7-cf95e57caae5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/f692048a.html" target="element"> ESBFile_002_Seguridad_EnviarCorreoSeguro </a> </td>
																						<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
											
																	<tr>
																		<td> <a href="../elements/e0d82ced-7dfc-4f2d-b2a0-6cd6954ea873.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0d82ced-7dfc-4f2d-b2a0-6cd6954ea873.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/08cdd419.html" target="element"> WSAndes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0905585e-5aad-41ae-b828-9db848fbd2b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/0905585e-5aad-41ae-b828-9db848fbd2b8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/6adf5492.html" target="element"> WSSealMail </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8b508ce-f4b6-452a-b3c4-0a93a3125e9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8b508ce-f4b6-452a-b3c4-0a93a3125e9d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/f692048a.html" target="element"> ESBFile_002_Seguridad_EnviarCorreoSeguro </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54b2b047-6a51-4998-9552-cab507bb52f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/54b2b047-6a51-4998-9552-cab507bb52f3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/302ac1f6.html" target="element"> ESBFile_001_Seguridad_FirmarDocumento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/00eb0f50-ae30-47b4-8968-5f63fca561c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/00eb0f50-ae30-47b4-8968-5f63fca561c4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/279372ae.html" target="element"> ESB_135_Seguridad_RevocarCertificadoDigital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ccf5dea1-adcc-4934-ac6f-7fa4c1f1ac16.html" target="element">  </a> </td>
																		<td> <a href="../elements/ccf5dea1-adcc-4934-ac6f-7fa4c1f1ac16.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/b433d401.html" target="element"> ESB_134_Seguridad_ConsultarCertificadoDigital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9dc7c19f-19b8-4f6c-ba1d-966b20007254.html" target="element">  </a> </td>
																		<td> <a href="../elements/9dc7c19f-19b8-4f6c-ba1d-966b20007254.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/f64e7aee.html" target="element"> ESB_119_Seguridad_SolicitarCertificadoDigital </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/34624e59-999b-4e6f-a905-73791514e1d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/34624e59-999b-4e6f-a905-73791514e1d6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cee481b4-cf24-42a1-945e-050693449d8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/cee481b4-cf24-42a1-945e-050693449d8c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>