<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Conceptual Aplicaciones JBOSS Portal [GAP]</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Conceptual Aplicaciones JBOSS Portal [GAP]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ba9e9701.png" alt="Vista Conceptual Aplicaciones JBOSS Portal [GAP]" usemap="#ba9e9701map"/>
			   <map name="ba9e9701map">
				  				<area shape="rect" coords="1208,452,1546,562" href="../elements/2723f680.html"  target="element">
				  				<area shape="rect" coords="824,452,1162,562" href="../elements/595ed7d1.html"  target="element">
				  				<area shape="rect" coords="104,452,442,562" href="../elements/9b026f0b.html"  target="element">
				  				<area shape="rect" coords="464,452,802,562" href="../elements/6fbfaaa3.html"  target="element">

				          <area shape="rect" coords="32,356,1702,646" href="../objects/b29d1f18.html" target="element" >
				  				<area shape="rect" coords="1262,116,1594,226" href="../elements/2c960f6d.html"  target="element">
				  				<area shape="rect" coords="854,116,1192,226" href="../elements/31787afe.html"  target="element">
				  				<area shape="rect" coords="470,116,808,226" href="../elements/aea52030.html"  target="element">
				  				<area shape="rect" coords="130,116,418,226" href="../elements/8fca4104.html"  target="element">

				          <area shape="rect" coords="38,20,1704,310" href="../objects/7443f32f.html" target="element" >
				  				<area shape="rect" coords="46,1516,742,1582" href="../elements/885c5fba.html"  target="element">
				  								<area shape="rect" coords="92,1364,262,1416" href="../elements/f710633e.html"  target="element">
				  								<area shape="rect" coords="92,1292,262,1354" href="../elements/0002f2de.html"  target="element">
				  								<area shape="rect" coords="92,1220,262,1272" href="../elements/d3e5a675.html"  target="element">

				  						<area shape="rect" coords="68,1148,286,1462" href="../elements/d52814df.html"  target="element">
				  								<area shape="rect" coords="332,1220,502,1270" href="../elements/d3e5a675.html"  target="element">

				  						<area shape="rect" coords="308,1148,526,1294" href="../elements/32e33f80.html"  target="element">
				  						<area shape="rect" coords="548,1148,694,1462" href="../elements/240df97b.html"  target="element">

				  				<area shape="rect" coords="44,1076,742,1486" href="../elements/89f79c5a.html"  target="element">
				  				<area shape="rect" coords="1412,1292,1652,1342" href="../elements/1ac9870e.html"  target="element">
				  				<area shape="rect" coords="46,958,742,1008" href="../elements/4df9015c.html"  target="element">
				  				<area shape="rect" coords="1412,858,1942,914" href="../elements/e61f2abb.html"  target="element">
				  						<area shape="rect" coords="1700,1122,1894,1196" href="../elements/0b8a4e79.html"  target="element">

				  				<area shape="rect" coords="1676,1074,1942,1222" href="../elements/afe730f8.html"  target="element">
				  						<area shape="rect" coords="1436,1148,1630,1222" href="../elements/c3aae0cc.html"  target="element">

				  				<area shape="rect" coords="1412,1076,1652,1248" href="../elements/c91cc177.html"  target="element">
				  				<area shape="rect" coords="44,1652,1942,1714" href="../elements/1a98218f.html"  target="element">
				  				<area shape="rect" coords="46,860,1078,910" href="../elements/96a84b57.html"  target="element">
				  				<area shape="rect" coords="1100,858,1390,914" href="../elements/da0cb3b5.html"  target="element">
				  						<area shape="rect" coords="1124,1196,1364,1306" href="../elements/5ef0965c.html"  target="element">

				  				<area shape="rect" coords="1100,1076,1390,1342" href="../elements/f675d4dc.html"  target="element">

				          <area shape="rect" coords="20,788,2518,1750" href="../objects/eeeff5da.html" target="element" >
				  		<area shape="rect" coords="34,692,2506,754" href="../elements/7b27761a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
											    <td> <a href="../elements/7b27761a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/eeeff5da.html" target="element"> Capa de Infraestructura </a> </td>
									           <td> <a href="../objects/eeeff5da.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
													    <td> <a href="../elements/f675d4dc.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
															    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
													    <td> <a href="../elements/da0cb3b5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
													    <td> <a href="../elements/96a84b57.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
													    <td> <a href="../elements/1a98218f.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c91cc177.html" target="element"> FNABOGCS1 </a> </td>
													    <td> <a href="../elements/c91cc177.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c3aae0cc.html" target="element"> SQL Server 2005 </a> </td>
															    <td> <a href="../elements/c3aae0cc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/afe730f8.html" target="element"> FNABOGPROD1 </a> </td>
													    <td> <a href="../elements/afe730f8.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/0b8a4e79.html" target="element"> Sybase 15.7 </a> </td>
															    <td> <a href="../elements/0b8a4e79.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
													    <td> <a href="../elements/e61f2abb.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
													    <td> <a href="../elements/4df9015c.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1ac9870e.html" target="element"> FNABOGCS2 </a> </td>
													    <td> <a href="../elements/1ac9870e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
													    <td> <a href="../elements/89f79c5a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
															    <td> <a href="../elements/240df97b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
															    <td> <a href="../elements/32e33f80.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/d3e5a675.html" target="element"> JDK 1.6 </a> </td>
																	    <td> <a href="../elements/d3e5a675.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
															    <td> <a href="../elements/d52814df.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/d3e5a675.html" target="element"> JDK 1.6 </a> </td>
																	    <td> <a href="../elements/d3e5a675.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/0002f2de.html" target="element"> JDK 1.7 </a> </td>
																	    <td> <a href="../elements/0002f2de.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/f710633e.html" target="element"> JDK 1.8 </a> </td>
																	    <td> <a href="../elements/f710633e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
													    <td> <a href="../elements/885c5fba.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/7443f32f.html" target="element"> Aplicaci&#243;n Front </a> </td>
									           <td> <a href="../objects/7443f32f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8fca4104.html" target="element"> Aplicaci&#243;n Web - Calendario Externo (WAS 8.5) </a> </td>
													    <td> <a href="../elements/8fca4104.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aea52030.html" target="element"> Aplicaci&#243;n Web - Planilla de Consignaci&#243;n (WAS 8.5) </a> </td>
													    <td> <a href="../elements/aea52030.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/31787afe.html" target="element"> Aplicaci&#243;n Web - Certificados Tributarios (WAS 8.5) </a> </td>
													    <td> <a href="../elements/31787afe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2c960f6d.html" target="element"> Aplicaci&#243;n Web - Directorio de Empleados (WAS 8.5) </a> </td>
													    <td> <a href="../elements/2c960f6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/b29d1f18.html" target="element"> Capa de Aplicaci&#243;n </a> </td>
									           <td> <a href="../objects/b29d1f18.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/6fbfaaa3.html" target="element"> Aplicaci&#243;n EJB - Planilla Consignaci&#243;n (JBoss EAP) </a> </td>
													    <td> <a href="../elements/6fbfaaa3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b026f0b.html" target="element"> Aplicaci&#243;n EJB - Calendario Externo (JBoss EAP) </a> </td>
													    <td> <a href="../elements/9b026f0b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/595ed7d1.html" target="element"> Aplicaci&#243;n JaxRs - Certificados Tributarios (JBoss EAP) </a> </td>
													    <td> <a href="../elements/595ed7d1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2723f680.html" target="element"> Aplicaci&#243;n EJB - Directorio de Empleados (JBoss EAP) </a> </td>
													    <td> <a href="../elements/2723f680.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/84c53f04.html" target="element">  </a> </td>
																		<td> <a href="../elements/84c53f04.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd633e61.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd633e61.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8aec0c7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8aec0c7d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/70b9dbe5.html" target="element">  </a> </td>
																						<td> <a href="../elements/70b9dbe5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																						<td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/c9e69271.html" target="element">  </a> </td>
																						<td> <a href="../elements/c9e69271.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/c3aae0cc.html" target="element"> SQL Server 2005 </a> </td>
																						<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/21de4161.html" target="element">  </a> </td>
																				<td> <a href="../elements/21de4161.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/afe730f8.html" target="element"> FNABOGPROD1 </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/7400dc82.html" target="element">  </a> </td>
																						<td> <a href="../elements/7400dc82.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/0b8a4e79.html" target="element"> Sybase 15.7 </a> </td>
																						<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/f1c0b2b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/f1c0b2b0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/1ac9870e.html" target="element"> FNABOGCS2 </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5faecd4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/5faecd4f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/1ac9870e.html" target="element"> FNABOGCS2 </a> </td>
																				<td> <a href="../elements/c91cc177.html" target="element"> FNABOGCS1 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c4e4b4e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/c4e4b4e6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
																				<td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/3c1e509c.html" target="element">  </a> </td>
																						<td> <a href="../elements/3c1e509c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/fe0b857b.html" target="element">  </a> </td>
																						<td> <a href="../elements/fe0b857b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/657edf16.html" target="element">  </a> </td>
																						<td> <a href="../elements/657edf16.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
																						<td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6f8272ed.html" target="element">  </a> </td>
																						<td> <a href="../elements/6f8272ed.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/32e33f80.html" target="element"> WAS 7 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/b57956a6.html" target="element">  </a> </td>
																						<td> <a href="../elements/b57956a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																						<td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/21426b09.html" target="element">  </a> </td>
																						<td> <a href="../elements/21426b09.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/fc3cb4aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc3cb4aa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/25929c5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/25929c5d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6fbfaaa3.html" target="element"> Aplicaci&#243;n EJB - Planilla Consignaci&#243;n (JBoss EAP) </a> </td>
																				<td> <a href="../elements/aea52030.html" target="element"> Aplicaci&#243;n Web - Planilla de Consignaci&#243;n (WAS 8.5) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/08631ac5.html" target="element">  </a> </td>
																				<td> <a href="../elements/08631ac5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/9b026f0b.html" target="element"> Aplicaci&#243;n EJB - Calendario Externo (JBoss EAP) </a> </td>
																				<td> <a href="../elements/8fca4104.html" target="element"> Aplicaci&#243;n Web - Calendario Externo (WAS 8.5) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4ec6fe37.html" target="element">  </a> </td>
																				<td> <a href="../elements/4ec6fe37.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/595ed7d1.html" target="element"> Aplicaci&#243;n JaxRs - Certificados Tributarios (JBoss EAP) </a> </td>
																				<td> <a href="../elements/31787afe.html" target="element"> Aplicaci&#243;n Web - Certificados Tributarios (WAS 8.5) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/665ee421.html" target="element">  </a> </td>
																				<td> <a href="../elements/665ee421.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/2723f680.html" target="element"> Aplicaci&#243;n EJB - Directorio de Empleados (JBoss EAP) </a> </td>
																				<td> <a href="../elements/2c960f6d.html" target="element"> Aplicaci&#243;n Web - Directorio de Empleados (WAS 8.5) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>