<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Componentes GAP - Fase2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Componentes GAP - Fase2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c883cdc7-e0be-4e57-9dbb-40b76d8133a5.png" alt="Vista Componentes GAP - Fase2" usemap="#c883cdc7-e0be-4e57-9dbb-40b76d8133a5map"/>
			   <map name="c883cdc7-e0be-4e57-9dbb-40b76d8133a5map">
				  				<area shape="rect" coords="1506,764,1814,886" href="../elements/fb981bb3.html"  target="element">
				  				<area shape="rect" coords="1502,116,1810,226" href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html"  target="element">
				  								<area shape="rect" coords="1604,1196,1942,1270" href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html"  target="element">
				  								<area shape="rect" coords="1604,1100,1942,1174" href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html"  target="element">

				  						<area shape="rect" coords="1556,1052,1966,1294" href="../elements/56b227ae.html"  target="element">
				  						<area shape="rect" coords="1556,980,1966,1030" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1508,932,1990,1318" href="../elements/f8a1a465.html"  target="element">
				  				<area shape="rect" coords="1508,500,1810,598" href="../elements/e48b6f3d.html"  target="element">
				  				<area shape="rect" coords="1502,380,1810,478" href="../elements/8958819d.html"  target="element">
				  				<area shape="rect" coords="1508,620,1810,730" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1460,20,2014,1342" href="../objects/cb616e3f-c7a0-4cca-b8a2-f46d28fe8071.html" target="element" >
				  				<area shape="rect" coords="44,1436,284,1546" href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html"  target="element">
				  				<area shape="rect" coords="836,1436,1076,1546" href="../elements/da67f30e.html"  target="element">
				  				<area shape="rect" coords="572,1436,812,1546" href="../elements/5ef0965c.html"  target="element">
				  				<area shape="rect" coords="308,1436,548,1546" href="../elements/be34ce94.html"  target="element">

				          <area shape="rect" coords="20,1364,2014,1582" href="../objects/895268fb-eb6f-4971-addf-32df1756e461.html" target="element" >
				  				<area shape="rect" coords="1148,284,1388,394" href="../elements/c93a5deb.html"  target="element">
				  						<area shape="rect" coords="1146,1088,1364,1234" href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html"  target="element">

				  				<area shape="rect" coords="1098,1040,1388,1246" href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html"  target="element">
				  				<area shape="rect" coords="1148,548,1388,658" href="../elements/40f86dda.html"  target="element">
				  				<area shape="rect" coords="1148,692,1388,1018" href="../elements/2abeddc5.html"  target="element">
				  				<area shape="rect" coords="836,932,1076,1042" href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html"  target="element">

				          <area shape="rect" coords="812,20,1414,1342" href="../objects/8784274f-59c7-44be-a243-9f903eb19c6d.html" target="element" >
				  				<area shape="rect" coords="454,596,740,718" href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html"  target="element">
				  				<area shape="rect" coords="454,212,740,310" href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html"  target="element">
				  				<area shape="rect" coords="454,68,742,178" href="../elements/135a4b9c.html"  target="element">
				  				<area shape="rect" coords="454,332,742,442" href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html"  target="element">
				  				<area shape="rect" coords="454,476,742,574" href="../elements/c3799fae.html"  target="element">
				  				<area shape="rect" coords="454,884,742,1018" href="../elements/19558b78.html"  target="element">
				  				<area shape="rect" coords="450,740,740,838" href="../elements/8a5026b1.html"  target="element">

				          <area shape="rect" coords="404,20,790,1342" href="../objects/fef2e583-0684-4038-b5eb-cea8750e4e0d.html" target="element" >
				  				<area shape="rect" coords="44,68,284,178" href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html"  target="element">
				  				<area shape="rect" coords="44,428,284,490" href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html"  target="element">
				  				<area shape="rect" coords="44,356,284,418" href="../elements/3bef92bb.html"  target="element">
				  				<area shape="rect" coords="44,212,284,334" href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html"  target="element">
				  				<area shape="rect" coords="44,500,284,862" href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html"  target="element">

				          <area shape="rect" coords="20,20,310,1342" href="../objects/f4cdbf30-ea12-44a0-99e5-9e3aaafef31a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/f4cdbf30-ea12-44a0-99e5-9e3aaafef31a.html" target="element"> Usuarios </a> </td>
									           <td> <a href="../objects/f4cdbf30-ea12-44a0-99e5-9e3aaafef31a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
													    <td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
													    <td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
													    <td> <a href="../elements/3bef92bb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
													    <td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/fef2e583-0684-4038-b5eb-cea8750e4e0d.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/fef2e583-0684-4038-b5eb-cea8750e4e0d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
													    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
													    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
													    <td> <a href="../elements/c3799fae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
													    <td> <a href="../elements/135a4b9c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element"> WM_Capture </a> </td>
													    <td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
													    <td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/8784274f-59c7-44be-a243-9f903eb19c6d.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/8784274f-59c7-44be-a243-9f903eb19c6d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
													    <td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
													    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
													    <td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
															    <td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
													    <td> <a href="../elements/c93a5deb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/895268fb-eb6f-4971-addf-32df1756e461.html" target="element"> Servicios de Infraestructura </a> </td>
									           <td> <a href="../objects/895268fb-eb6f-4971-addf-32df1756e461.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
													    <td> <a href="../elements/be34ce94.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
													    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
													    <td> <a href="../elements/da67f30e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
													    <td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/cb616e3f-c7a0-4cca-b8a2-f46d28fe8071.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/cb616e3f-c7a0-4cca-b8a2-f46d28fe8071.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
													    <td> <a href="../elements/8958819d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
													    <td> <a href="../elements/e48b6f3d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
															    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																	    <td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
																	    <td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html" target="element"> DataSoft </a> </td>
													    <td> <a href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
													    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fad3cdb-25cd-422c-be0e-3af9b07a3ef4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a99e4a7-b1a9-4426-b902-d2c63d698b46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f86cc946-b54f-43d6-90e3-e543553e836d.html" target="element">  </a> </td>
																				<td> <a href="../elements/f86cc946-b54f-43d6-90e3-e543553e836d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bdea1da1-f3e7-407c-914d-0c4f27d3a438.html" target="element"> Legalizadora </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/52c43c35-479f-4a63-accd-7929feb59aa4.html" target="element">  </a> </td>
																				<td> <a href="../elements/52c43c35-479f-4a63-accd-7929feb59aa4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/aeee39c0-09a9-496f-8692-2df9f754b6cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/aeee39c0-09a9-496f-8692-2df9f754b6cb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
																				<td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element"> WM_Capture </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7e4c5fa9-a640-48a4-b81c-cdfb6979b0f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/7e4c5fa9-a640-48a4-b81c-cdfb6979b0f3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c650819c-c7eb-490b-a65a-6266b637c5a3.html" target="element"> Punto de Atenci&#243;n </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element">  </a> </td>
																				<td> <a href="../elements/26545ed8-6b93-44da-980e-c7dc8b3fc164.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/439ca805-f39a-4e2b-932d-cbe2a9f96a24.html" target="element">  </a> </td>
																				<td> <a href="../elements/439ca805-f39a-4e2b-932d-cbe2a9f96a24.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/3bef92bb.html" target="element"> Call Center </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/11ba7995-72d3-4775-8aa8-31663e164fb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/11ba7995-72d3-4775-8aa8-31663e164fb9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/54c7cb64-d92b-4733-8d77-092339cf6177.html" target="element">  </a> </td>
																				<td> <a href="../elements/54c7cb64-d92b-4733-8d77-092339cf6177.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/d96c031a-3892-4acd-b3a3-224880549e64.html" target="element"> Comercial </a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/02e7c056-a183-4093-a99c-ada78ca6b27a.html" target="element">  </a> </td>
																				<td> <a href="../elements/02e7c056-a183-4093-a99c-ada78ca6b27a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element">  </a> </td>
																				<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3d71f10-1e0e-4340-8638-c2f61e942956.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/be34ce94.html" target="element"> SQL Server 2014 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ded6148-b1c8-4bc5-80ba-78937d3916a8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/bbedc3d2-85fe-472e-959f-2c7ffc12d3c3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c703126-7fc1-4d44-8bda-202c41883c7d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/23bf06e5-7204-4b00-85af-89cae2029f5c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/8958819d.html" target="element"> Andes HUB Documental </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/b80664db-02e5-4ea4-a472-0c511fe532fe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																				<td> <a href="../elements/e48b6f3d.html" target="element"> Andes SealMail </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element">  </a> </td>
																				<td> <a href="../elements/81b26d91-3ee9-4318-b7f7-77e2210d1970.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0a51c07c-ea0b-4411-b71d-fccb2f5bd643.html" target="element">  </a> </td>
																				<td> <a href="../elements/0a51c07c-ea0b-4411-b71d-fccb2f5bd643.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9b523ce4-f204-41fe-bf76-75b10b0181a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b523ce4-f204-41fe-bf76-75b10b0181a9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f0839ca6-87d3-4a7f-a292-bccd21da2793.html" target="element"> WM_Capture </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1a1763a6-5f7a-40cd-8f47-3884167dd637.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a1763a6-5f7a-40cd-8f47-3884167dd637.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/243118f3-fe3d-4cbb-9269-1684ed31d8f3.html" target="element"> Aplicaci&#243;n Web - DataSoft </a> </td>
																				<td> <a href="../elements/6a5896cb-e05f-42a7-9bdc-6fb069137923.html" target="element"> DataSoft </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/f710d580-ede9-4bdc-8ae3-0fe0ec0321c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element">  </a> </td>
																				<td> <a href="../elements/46db94bd-90de-4b5a-bba3-50d051e1ca80.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae18d513-d81f-4b09-8089-ed6ef08fb55b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element">  </a> </td>
																				<td> <a href="../elements/f7982729-4631-49c5-b2ff-7479665a368e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element">  </a> </td>
																				<td> <a href="../elements/c160b59c-f0b5-4282-bad0-17eb85df8be1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/115dda03-4902-455c-92aa-6fb1082ff406.html" target="element"> ProxyBizagi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/84c3cb58-665a-47d8-8a52-77f2660e460a.html" target="element">  </a> </td>
																				<td> <a href="../elements/84c3cb58-665a-47d8-8a52-77f2660e460a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5082fcd4-62e7-4f5e-8bab-8e9d4416098a.html" target="element">  </a> </td>
																				<td> <a href="../elements/5082fcd4-62e7-4f5e-8bab-8e9d4416098a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/135a4b9c.html" target="element"> Portal Internet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0a8b1f84-7120-4e95-9975-260d9a5d3eb8.html" target="element">  </a> </td>
																				<td> <a href="../elements/0a8b1f84-7120-4e95-9975-260d9a5d3eb8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/da67f30e.html" target="element"> Servidor Correo (10.5.78.3) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ce0b5acd-9e98-4ca3-baf1-8a2bfd3248b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/ce0b5acd-9e98-4ca3-baf1-8a2bfd3248b2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element">  </a> </td>
																				<td> <a href="../elements/f223e298-6f51-4e8f-a157-9ba555069995.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ec6f7e4f-1f74-4ac7-b6a8-ab7d23f9a8db.html" target="element"> QGMRP_CTS_3 (MQ) </a> </td>
																				<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/bc88a0b3-507f-41bf-8986-029e000ffcd3.html" target="element">  </a> </td>
																						<td> <a href="../elements/bc88a0b3-507f-41bf-8986-029e000ffcd3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																						<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element">  </a> </td>
																				<td> <a href="../elements/c58d0647-406e-4769-9b42-a3e9e2093c81.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c93a5deb.html" target="element"> ESB-File </a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/9372ba26-f561-4f19-992a-1d9e2c8931c5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e56ada0-fbc8-4d21-8deb-c9eace386319.html" target="element"> NetIQ - IDM </a> </td>
																				<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element">  </a> </td>
																				<td> <a href="../elements/cdb42a24-ef7c-41da-a536-914216f61535.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/9dafa5a6-37ad-42cf-ab05-d44fe3837e7f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element">  </a> </td>
																						<td> <a href="../elements/e69a5860-3aab-42d3-9222-6b81e16f5a52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/e1eb6bd9-6f57-493c-95e4-fbd5ae54a1e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/722fc1fc-995d-4d6e-9f4a-567091834f95.html" target="element">  </a> </td>
																						<td> <a href="../elements/722fc1fc-995d-4d6e-9f4a-567091834f95.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																						<td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element">  </a> </td>
																								<td> <a href="../elements/9f97d051-f965-4616-a163-917c9816a211.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/57c555e5-0119-4c27-8853-cb1729c61d4b.html" target="element"> COBIS_AS130_Desembolso </a> </td>
																								<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/8440fc69-5fb4-447c-b3e6-7f5f13a89033.html" target="element">  </a> </td>
																								<td> <a href="../elements/8440fc69-5fb4-447c-b3e6-7f5f13a89033.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/cdd87515-de3a-45cc-8aa0-879718fbce88.html" target="element"> COBIS_TramiteCredito_Aprobaci&#243;n </a> </td>
																								<td> <a href="../elements/1d97d80c-3def-4468-bc99-840bc2df5e14.html" target="element"> COB_Notifi_ESB </a> </td>
																							</tr>

															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>