<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Was 8.5 Producción</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Was 8.5 Producci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cc7dbcd5.png" alt="Arquitectura Was 8.5 Producción" usemap="#cc7dbcd5map"/>
			   <map name="cc7dbcd5map">
				          <area shape="rect" coords="476,236,846,330" href="../objects/dfd884fe.html" target="element" >
				  				<area shape="rect" coords="1136,788,1376,838" href="../elements/d3e5a675.html"  target="element">

				  		<area shape="rect" coords="1016,740,1402,862" href="../elements/d7fff343.html"  target="element">
				  				<area shape="rect" coords="1136,620,1376,670" href="../elements/0002f2de.html"  target="element">

				  		<area shape="rect" coords="1016,572,1402,694" href="../elements/3ef534df.html"  target="element">
				          <area shape="rect" coords="68,20,438,108" href="../objects/73b765e0.html" target="element" >
				          <area shape="rect" coords="236,132,606,222" href="../objects/88e44969.html" target="element" >
				  				<area shape="rect" coords="1136,956,1376,1006" href="../elements/d3e5a675.html"  target="element">

				  		<area shape="rect" coords="1016,908,1402,1030" href="../elements/6330df86.html"  target="element">
				  						<area shape="rect" coords="1076,164,1316,262" href="../elements/88f23c4b.html"  target="element">

				  				<area shape="rect" coords="1004,116,1390,286" href="../elements/d52814df.html"  target="element">

				  		<area shape="rect" coords="980,44,1438,310" href="../elements/b6f35b37.html"  target="element">
				  										<area shape="rect" coords="1556,932,1796,1042" href="../elements/e60af0ed.html"  target="element">
				  										<area shape="rect" coords="1556,764,1796,874" href="../elements/2723c387.html"  target="element">
				  										<area shape="rect" coords="1556,596,1796,706" href="../elements/41e5e2c5.html"  target="element">

				  								<area shape="rect" coords="1508,524,1846,1078" href="../elements/56469307.html"  target="element">

				  						<area shape="rect" coords="1460,476,1870,1102" href="../elements/489268cd.html"  target="element">

				  				<area shape="rect" coords="1460,428,1894,1150" href="../elements/d52814df.html"  target="element">

				  		<area shape="rect" coords="1436,356,1942,1174" href="../elements/885c5fba.html"  target="element">
				  										<area shape="rect" coords="140,1076,862,1318" href="../elements/f788633b.html"  target="element">
				  										<area shape="rect" coords="140,860,862,1054" href="../elements/5fa257bd.html"  target="element">
				  										<area shape="rect" coords="140,596,862,838" href="../elements/bbcf576b.html"  target="element">

				  								<area shape="rect" coords="92,524,886,1342" href="../elements/3ea627a0.html"  target="element">

				  						<area shape="rect" coords="44,476,910,1366" href="../elements/489268cd.html"  target="element">

				  				<area shape="rect" coords="44,428,934,1390" href="../elements/d52814df.html"  target="element">

				  		<area shape="rect" coords="20,356,982,1414" href="../elements/89f79c5a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
											    <td> <a href="../elements/89f79c5a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
													    <td> <a href="../elements/d52814df.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/489268cd.html" target="element"> CELL </a> </td>
															    <td> <a href="../elements/489268cd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/3ea627a0.html" target="element"> FNABOGWASPNODE03 </a> </td>
																	    <td> <a href="../elements/3ea627a0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/bbcf576b.html" target="element"> NodoApp1.7_01 </a> </td>
																			    <td> <a href="../elements/bbcf576b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/5fa257bd.html" target="element"> BusinessApp_01 </a> </td>
																			    <td> <a href="../elements/5fa257bd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/f788633b.html" target="element"> WebApps_01 </a> </td>
																			    <td> <a href="../elements/f788633b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																	
															
													
											
											<tr>
											    <td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
											    <td> <a href="../elements/885c5fba.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
													    <td> <a href="../elements/d52814df.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/489268cd.html" target="element"> CELL </a> </td>
															    <td> <a href="../elements/489268cd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/56469307.html" target="element"> FNABOGWASRNODE03 </a> </td>
																	    <td> <a href="../elements/56469307.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/41e5e2c5.html" target="element"> NodoApp1.7_02 </a> </td>
																			    <td> <a href="../elements/41e5e2c5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/2723c387.html" target="element"> BusinessApp_02 </a> </td>
																			    <td> <a href="../elements/2723c387.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/e60af0ed.html" target="element"> WebApps_02 </a> </td>
																			    <td> <a href="../elements/e60af0ed.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																			</tr>

																	
															
													
											
											<tr>
											    <td> <a href="../elements/b6f35b37.html" target="element"> FNABOGWNDR </a> </td>
											    <td> <a href="../elements/b6f35b37.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
													    <td> <a href="../elements/d52814df.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/88f23c4b.html" target="element"> DMGR </a> </td>
															    <td> <a href="../elements/88f23c4b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/6330df86.html" target="element"> FNAWASClusterWebApp   </a> </td>
											    <td> <a href="../elements/6330df86.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d3e5a675.html" target="element"> JDK 1.6 </a> </td>
													    <td> <a href="../elements/d3e5a675.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/88e44969.html" target="element">  </a> </td>
									           <td> <a href="../objects/88e44969.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/73b765e0.html" target="element">  </a> </td>
									           <td> <a href="../objects/73b765e0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/3ef534df.html" target="element"> FNAWASClusterApp1.7  </a> </td>
											    <td> <a href="../elements/3ef534df.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0002f2de.html" target="element"> JDK 1.7 </a> </td>
													    <td> <a href="../elements/0002f2de.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d7fff343.html" target="element"> FNAWASClusterBApps  </a> </td>
											    <td> <a href="../elements/d7fff343.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d3e5a675.html" target="element"> JDK 1.6 </a> </td>
													    <td> <a href="../elements/d3e5a675.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/dfd884fe.html" target="element">  </a> </td>
									           <td> <a href="../objects/dfd884fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																									<tr>
																										<td> <a href="../elements/cf382c81.html" target="element">  </a> </td>
																										<td> <a href="../elements/cf382c81.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																										<td> <a href="../elements/bbcf576b.html" target="element"> NodoApp1.7_01 </a> </td>
																										<td> <a href="../elements/3ef534df.html" target="element"> FNAWASClusterApp1.7  </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/0ab1f717.html" target="element">  </a> </td>
																										<td> <a href="../elements/0ab1f717.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																										<td> <a href="../elements/5fa257bd.html" target="element"> BusinessApp_01 </a> </td>
																										<td> <a href="../elements/d7fff343.html" target="element"> FNAWASClusterBApps  </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/783e42a7.html" target="element">  </a> </td>
																										<td> <a href="../elements/783e42a7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																										<td> <a href="../elements/f788633b.html" target="element"> WebApps_01 </a> </td>
																										<td> <a href="../elements/6330df86.html" target="element"> FNAWASClusterWebApp   </a> </td>
																									</tr>

																	
															
													
											
																	
															
													
											
													
											
																	<tr>
																		<td> <a href="../elements/3bfcfd90.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bfcfd90.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6330df86.html" target="element"> FNAWASClusterWebApp   </a> </td>
																		<td> <a href="../elements/e60af0ed.html" target="element"> WebApps_02 </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/16133e64.html" target="element">  </a> </td>
																		<td> <a href="../elements/16133e64.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3ef534df.html" target="element"> FNAWASClusterApp1.7  </a> </td>
																		<td> <a href="../elements/41e5e2c5.html" target="element"> NodoApp1.7_02 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/1b9b4787.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b9b4787.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d7fff343.html" target="element"> FNAWASClusterBApps  </a> </td>
																		<td> <a href="../elements/2723c387.html" target="element"> BusinessApp_02 </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>