<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_185</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_185</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cc92c4aa-ad98-4f7e-9c4d-c587f2ff0aff.png" alt="ESB_185" usemap="#cc92c4aa-ad98-4f7e-9c4d-c587f2ff0affmap"/>
			   <map name="cc92c4aa-ad98-4f7e-9c4d-c587f2ff0affmap">
				  		<area shape="rect" coords="1868,764,1990,814" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="92,236,332,298" href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html"  target="element">
				  		<area shape="rect" coords="78,20,344,118" href="../elements/536d11f6.html"  target="element">
				          <area shape="rect" coords="1772,788,1870,862" href="../objects/805a9cdf-1fab-47b1-8486-e07a6e868e58.html" target="element" >
				          <area shape="rect" coords="212,116,318,202" href="../objects/a795dca3-ab36-4171-8b3f-fa3fc31fdf99.html" target="element" >
				  								<area shape="rect" coords="2108,884,2542,958" href="../elements/c0c35643-cf86-40dc-a652-8d4a9cef90dc.html"  target="element">
				  								<area shape="rect" coords="2108,764,2542,862" href="../elements/d2878597-eff4-4ff9-beef-06ea858fd673.html"  target="element">

				  						<area shape="rect" coords="2084,668,2566,982" href="../elements/37cc9765-feea-4bed-831d-2e5738f6243e.html"  target="element">

				  				<area shape="rect" coords="2036,620,2590,1006" href="../elements/56b227ae.html"  target="element">

				          <area shape="rect" coords="2012,332,2614,1414" href="../objects/f6562063-a0d3-4aa9-bcda-5f567bb4b78f.html" target="element" >
				  						<area shape="rect" coords="92,668,310,778" href="../elements/62cec5d8.html"  target="element">

				  				<area shape="rect" coords="44,404,334,1342" href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html"  target="element">
				  												<area shape="rect" coords="452,1172,1678,1222" href="../elements/d2dfadb3-c0bd-48aa-891d-fe1a9b3aa922.html"  target="element">
				  												<area shape="rect" coords="452,1100,1678,1150" href="../elements/ed176ea3-5a0a-4385-8b8c-1f6fa30a09f8.html"  target="element">

				  										<area shape="rect" coords="428,1052,1702,1246" href="../elements/fcb1f65e-6446-42ae-858a-6750701b65cc.html"  target="element">

				  								<area shape="rect" coords="404,980,1726,1270" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1244,644,1702,910" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1220,572,1726,934" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="452,620,766,910" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="404,572,790,934" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="860,668,1174,862" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="836,572,1198,934" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="380,476,1750,1294" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="332,404,1774,1342" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,332,1798,1366" href="../objects/c72fa7c3-ad22-436c-a61b-81ab2a813377.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/c72fa7c3-ad22-436c-a61b-81ab2a813377.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/c72fa7c3-ad22-436c-a61b-81ab2a813377.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/fcb1f65e-6446-42ae-858a-6750701b65cc.html" target="element"> ESB_185_Cartera_GeneracionFacturaObligacion </a> </td>
																			    <td> <a href="../elements/fcb1f65e-6446-42ae-858a-6750701b65cc.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/ed176ea3-5a0a-4385-8b8c-1f6fa30a09f8.html" target="element"> ESB_185_enviarFacturaObligacionCartera </a> </td>
																					    <td> <a href="../elements/ed176ea3-5a0a-4385-8b8c-1f6fa30a09f8.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/d2dfadb3-c0bd-48aa-891d-fe1a9b3aa922.html" target="element"> ESB_185_generarFacturaObligacionCartera </a> </td>
																					    <td> <a href="../elements/d2dfadb3-c0bd-48aa-891d-fe1a9b3aa922.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
													<tr>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
															    <td> <a href="../elements/62cec5d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/f6562063-a0d3-4aa9-bcda-5f567bb4b78f.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/f6562063-a0d3-4aa9-bcda-5f567bb4b78f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
													    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/37cc9765-feea-4bed-831d-2e5738f6243e.html" target="element"> AS083-GeneracionFacturaObligacionCartera </a> </td>
															    <td> <a href="../elements/37cc9765-feea-4bed-831d-2e5738f6243e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/d2878597-eff4-4ff9-beef-06ea858fd673.html" target="element"> AS083_enviarFacturaObligacionCartera </a> </td>
																	    <td> <a href="../elements/d2878597-eff4-4ff9-beef-06ea858fd673.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/c0c35643-cf86-40dc-a652-8d4a9cef90dc.html" target="element"> AS083_generarFacturaObligacionCartera </a> </td>
																	    <td> <a href="../elements/c0c35643-cf86-40dc-a652-8d4a9cef90dc.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/a795dca3-ab36-4171-8b3f-fa3fc31fdf99.html" target="element">  </a> </td>
									           <td> <a href="../objects/a795dca3-ab36-4171-8b3f-fa3fc31fdf99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/805a9cdf-1fab-47b1-8486-e07a6e868e58.html" target="element">  </a> </td>
									           <td> <a href="../objects/805a9cdf-1fab-47b1-8486-e07a6e868e58.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/536d11f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
											    <td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/b34f110c-aa99-4099-9b93-11516d247b05.html" target="element">  </a> </td>
																										<td> <a href="../elements/b34f110c-aa99-4099-9b93-11516d247b05.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/fcb1f65e-6446-42ae-858a-6750701b65cc.html" target="element"> ESB_185_Cartera_GeneracionFacturaObligacion </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/9da0f0f9-ab0d-40f5-ac4f-a5240eedf7c7.html" target="element">  </a> </td>
																								<td> <a href="../elements/9da0f0f9-ab0d-40f5-ac4f-a5240eedf7c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/fcb1f65e-6446-42ae-858a-6750701b65cc.html" target="element"> ESB_185_Cartera_GeneracionFacturaObligacion </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/b7e40975-8854-44bb-99b0-60f4df9ff838.html" target="element">  </a> </td>
																										<td> <a href="../elements/b7e40975-8854-44bb-99b0-60f4df9ff838.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/fcb1f65e-6446-42ae-858a-6750701b65cc.html" target="element"> ESB_185_Cartera_GeneracionFacturaObligacion </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
															
													
																			<tr>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
																				<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element">  </a> </td>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																						<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/f251aa2c-b5fa-49a0-b1f9-a01b41714b04.html" target="element">  </a> </td>
																				<td> <a href="../elements/f251aa2c-b5fa-49a0-b1f9-a01b41714b04.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/37cc9765-feea-4bed-831d-2e5738f6243e.html" target="element"> AS083-GeneracionFacturaObligacionCartera </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/39d5a1cc-d038-47e0-84fa-371d47156c9a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e484bcae-5868-4976-a08e-b0289263bcb4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/b56b7224-3ffe-4ea5-b7a3-6e3262fe5331.html" target="element"> F5_DMZ </a> </td>
																		<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bb918cae-2b17-4c75-8c51-42be8be2254c.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb918cae-2b17-4c75-8c51-42be8be2254c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/37cc9765-feea-4bed-831d-2e5738f6243e.html" target="element"> AS083-GeneracionFacturaObligacionCartera </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>