<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_048</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_048</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/db98f098-46c4-4baa-966c-ae3e57a30374.png" alt="ESB_048" usemap="#db98f098-46c4-4baa-966c-ae3e57a30374map"/>
			   <map name="db98f098-46c4-4baa-966c-ae3e57a30374map">
				  		<area shape="rect" coords="1700,884,1822,934" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="260,332,500,390" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="68,20,308,130" href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html"  target="element">
				  		<area shape="rect" coords="410,20,650,130" href="../elements/fb981bb3.html"  target="element">
				          <area shape="rect" coords="284,128,390,214" href="../objects/016d2fdb-8d2d-4eee-ac2e-9374d0ae6ca4.html" target="element" >
				          <area shape="rect" coords="1580,906,1678,984" href="../objects/76ff8dba-693d-4d55-906f-24c752bb2b1b.html" target="element" >
				          <area shape="rect" coords="452,128,558,214" href="../objects/b484ab9e-ba1d-477d-8389-f1735c4e85c9.html" target="element" >
				  								<area shape="rect" coords="1940,956,2350,1014" href="../elements/bbe09644-847a-4b42-9740-c0a36e6aa615.html"  target="element">
				  								<area shape="rect" coords="1940,860,2350,934" href="../elements/17b49a79-f4bf-429f-a674-1556302b1d81.html"  target="element">
				  								<area shape="rect" coords="2742,904,2982,1014" href="../elements/bbe09644-847a-4b42-9740-c0a36e6aa615.html"  target="element">
				  								<area shape="rect" coords="2442,904,2682,1014" href="../elements/17b49a79-f4bf-429f-a674-1556302b1d81.html"  target="element">
				  								<area shape="rect" coords="1940,764,2350,838" href="../elements/c1353194-df9f-4a0c-a813-89ebf9825370.html"  target="element">

				  						<area shape="rect" coords="1916,716,2374,1054" href="../elements/52f7056c.html"  target="element">

				  				<area shape="rect" coords="1868,644,2374,1102" href="../elements/f8a1a465.html"  target="element">

				          <area shape="rect" coords="1844,428,2446,1462" href="../objects/a11c55f4-3be9-4026-a2ae-ec9ca6689445.html" target="element" >
				  												<area shape="rect" coords="236,1292,1412,1342" href="../elements/d1041fca-2dd1-4826-ad19-80af9964fd02.html"  target="element">
				  												<area shape="rect" coords="236,1244,1412,1294" href="../elements/1106d82f-c5ac-410a-8de3-3fc506079350.html"  target="element">
				  												<area shape="rect" coords="236,1196,1412,1246" href="../elements/be68a0ee-fc6a-4b12-88ff-255ec32ea110.html"  target="element">

				  										<area shape="rect" coords="188,1148,1462,1366" href="../elements/52bd6b54-c6cf-4667-a106-af755ee3854d.html"  target="element">

				  								<area shape="rect" coords="164,1100,1486,1390" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1004,764,1462,1030" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="980,692,1486,1054" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="260,764,526,862" href="../elements/ccce2d3c.html"  target="element">
				  										<area shape="rect" coords="188,908,430,1030" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="164,692,550,1054" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="620,764,934,1006" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="596,692,958,1054" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,596,1534,1414" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,524,1582,1438" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,428,1630,1462" href="../objects/7dddf86e-04ae-4bad-84c1-95c84e8da735.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/7dddf86e-04ae-4bad-84c1-95c84e8da735.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/7dddf86e-04ae-4bad-84c1-95c84e8da735.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/ccce2d3c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/52bd6b54-c6cf-4667-a106-af755ee3854d.html" target="element"> ESB_048_ClntePrsnaNtral_GestionarCredenciales </a> </td>
																			    <td> <a href="../elements/52bd6b54-c6cf-4667-a106-af755ee3854d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/be68a0ee-fc6a-4b12-88ff-255ec32ea110.html" target="element"> ESB_048_AsignarClaveUsuario </a> </td>
																					    <td> <a href="../elements/be68a0ee-fc6a-4b12-88ff-255ec32ea110.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/1106d82f-c5ac-410a-8de3-3fc506079350.html" target="element"> ESB_048_AutenticarUsuario </a> </td>
																					    <td> <a href="../elements/1106d82f-c5ac-410a-8de3-3fc506079350.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/d1041fca-2dd1-4826-ad19-80af9964fd02.html" target="element"> ESB_048_CambiarClaveUsuario </a> </td>
																					    <td> <a href="../elements/d1041fca-2dd1-4826-ad19-80af9964fd02.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
											
									        <tr>
									           <td> <a href="../objects/a11c55f4-3be9-4026-a2ae-ec9ca6689445.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/a11c55f4-3be9-4026-a2ae-ec9ca6689445.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
															    <td> <a href="../elements/52f7056c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/c1353194-df9f-4a0c-a813-89ebf9825370.html" target="element"> AS026-CambiarClaveLogin </a> </td>
																	    <td> <a href="../elements/c1353194-df9f-4a0c-a813-89ebf9825370.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/17b49a79-f4bf-429f-a674-1556302b1d81.html" target="element"> AS026-asignarclavelogin </a> </td>
																	    <td> <a href="../elements/17b49a79-f4bf-429f-a674-1556302b1d81.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/bbe09644-847a-4b42-9740-c0a36e6aa615.html" target="element"> AS026-validardatosaccesologin </a> </td>
																	    <td> <a href="../elements/bbe09644-847a-4b42-9740-c0a36e6aa615.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/17b49a79-f4bf-429f-a674-1556302b1d81.html" target="element"> AS026-asignarclavelogin </a> </td>
																	    <td> <a href="../elements/17b49a79-f4bf-429f-a674-1556302b1d81.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/bbe09644-847a-4b42-9740-c0a36e6aa615.html" target="element"> AS026-validardatosaccesologin </a> </td>
																	    <td> <a href="../elements/bbe09644-847a-4b42-9740-c0a36e6aa615.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/b484ab9e-ba1d-477d-8389-f1735c4e85c9.html" target="element">  </a> </td>
									           <td> <a href="../objects/b484ab9e-ba1d-477d-8389-f1735c4e85c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/76ff8dba-693d-4d55-906f-24c752bb2b1b.html" target="element">  </a> </td>
									           <td> <a href="../objects/76ff8dba-693d-4d55-906f-24c752bb2b1b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/016d2fdb-8d2d-4eee-ac2e-9374d0ae6ca4.html" target="element">  </a> </td>
									           <td> <a href="../objects/016d2fdb-8d2d-4eee-ac2e-9374d0ae6ca4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
											    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/401ec004-702f-4347-84c0-2ad0ea5cfa88.html" target="element">  </a> </td>
																										<td> <a href="../elements/401ec004-702f-4347-84c0-2ad0ea5cfa88.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/52bd6b54-c6cf-4667-a106-af755ee3854d.html" target="element"> ESB_048_ClntePrsnaNtral_GestionarCredenciales </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/41c985fc-dce6-4443-b78a-25e0c6a106a6.html" target="element">  </a> </td>
																								<td> <a href="../elements/41c985fc-dce6-4443-b78a-25e0c6a106a6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/b59ae6f2.html" target="element">  </a> </td>
																								<td> <a href="../elements/b59ae6f2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/55211bb7.html" target="element">  </a> </td>
																										<td> <a href="../elements/55211bb7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/6f1a7385-df28-488d-ab5c-48dec4e744eb.html" target="element">  </a> </td>
																								<td> <a href="../elements/6f1a7385-df28-488d-ab5c-48dec4e744eb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/52bd6b54-c6cf-4667-a106-af755ee3854d.html" target="element"> ESB_048_ClntePrsnaNtral_GestionarCredenciales </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/023d804e-8d66-49aa-a069-1c6a5058b9ba.html" target="element">  </a> </td>
																										<td> <a href="../elements/023d804e-8d66-49aa-a069-1c6a5058b9ba.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/52bd6b54-c6cf-4667-a106-af755ee3854d.html" target="element"> ESB_048_ClntePrsnaNtral_GestionarCredenciales </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/82c630b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/82c630b6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b4b71b4281314c36b393aabf573fb50f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b4b71b4281314c36b393aabf573fb50f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/53c01560-a3e9-4a72-981d-7e711a8b17f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/53c01560-a3e9-4a72-981d-7e711a8b17f8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4646b6e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/4646b6e3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/c49fc451-6e96-4358-a008-428a71a0cea6.html" target="element">  </a> </td>
																		<td> <a href="../elements/c49fc451-6e96-4358-a008-428a71a0cea6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9a986192-8456-439f-8cdf-77d536c6c659.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a986192-8456-439f-8cdf-77d536c6c659.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/de3f313a-50e8-4b78-82aa-d42243210709.html" target="element">  </a> </td>
																		<td> <a href="../elements/de3f313a-50e8-4b78-82aa-d42243210709.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1d84fd8d-3365-471f-9631-881f3260963a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1d84fd8d-3365-471f-9631-881f3260963a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7eef5644-8e0e-4354-b8b5-4aa40acc2beb.html" target="element">  </a> </td>
																		<td> <a href="../elements/7eef5644-8e0e-4354-b8b5-4aa40acc2beb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de3f313a-50e8-4b78-82aa-d42243210709.html" target="element">  </a> </td>
																		<td> <a href="../elements/de3f313a-50e8-4b78-82aa-d42243210709.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>