<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_175</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_175</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e3af2ff2-62c8-4d88-bc4d-7976cff0e3e9.png" alt="ESB_175" usemap="#e3af2ff2-62c8-4d88-bc4d-7976cff0e3e9map"/>
			   <map name="e3af2ff2-62c8-4d88-bc4d-7976cff0e3e9map">
				  		<area shape="rect" coords="1724,716,1844,762" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="284,260,524,322" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="284,20,524,130" href="../elements/40f86dda.html"  target="element">
				          <area shape="rect" coords="404,128,510,202" href="../objects/3c69ba6c-34d6-447c-b9d9-2f59891c56a7.html" target="element" >
				          <area shape="rect" coords="1580,740,1678,818" href="../objects/c3047e6f-4843-4761-90df-3ae8653d5d87.html" target="element" >
				  								<area shape="rect" coords="1964,752,2374,802" href="../elements/711d3363-4585-4c5c-8830-32b8b6e982ed.html"  target="element">

				  						<area shape="rect" coords="1940,704,2398,826" href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html"  target="element">

				  				<area shape="rect" coords="1892,656,2422,874" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1868,368,2446,1270" href="../objects/3ea8ca20-7b94-4dc5-b69b-51e6dc60951c.html" target="element" >
				  										<area shape="rect" coords="236,668,550,934" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="188,596,574,958" href="../elements/09685725.html"  target="element">
				  												<area shape="rect" coords="212,1100,1438,1150" href="../elements/b6c6cfe7-e1cf-4024-90fc-10b3721309d7.html"  target="element">

				  										<area shape="rect" coords="188,1052,1462,1174" href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html"  target="element">

				  								<area shape="rect" coords="164,1004,1486,1198" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1004,668,1462,934" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="980,596,1486,958" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="620,668,934,934" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="596,596,958,958" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,500,1534,1222" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,428,1582,1246" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,356,1630,1270" href="../objects/04d39793-de25-4a65-9ade-9d2dd99f4f51.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/04d39793-de25-4a65-9ade-9d2dd99f4f51.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/04d39793-de25-4a65-9ade-9d2dd99f4f51.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																			    <td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/b6c6cfe7-e1cf-4024-90fc-10b3721309d7.html" target="element"> ESB_175_crearRadicadoDocumento </a> </td>
																					    <td> <a href="../elements/b6c6cfe7-e1cf-4024-90fc-10b3721309d7.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/3ea8ca20-7b94-4dc5-b69b-51e6dc60951c.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/3ea8ca20-7b94-4dc5-b69b-51e6dc60951c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/711d3363-4585-4c5c-8830-32b8b6e982ed.html" target="element"> Form_Insert </a> </td>
																	    <td> <a href="../elements/711d3363-4585-4c5c-8830-32b8b6e982ed.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/c3047e6f-4843-4761-90df-3ae8653d5d87.html" target="element">  </a> </td>
									           <td> <a href="../objects/c3047e6f-4843-4761-90df-3ae8653d5d87.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/3c69ba6c-34d6-447c-b9d9-2f59891c56a7.html" target="element">  </a> </td>
									           <td> <a href="../objects/3c69ba6c-34d6-447c-b9d9-2f59891c56a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
											    <td> <a href="../elements/40f86dda.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/3a390cf2-9c80-47bc-beb4-56821f80e610.html" target="element">  </a> </td>
																										<td> <a href="../elements/3a390cf2-9c80-47bc-beb4-56821f80e610.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/44eb26c0-fc3f-4dd5-887f-ae1f2184f950.html" target="element">  </a> </td>
																								<td> <a href="../elements/44eb26c0-fc3f-4dd5-887f-ae1f2184f950.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/cb9ac901-4fc5-4729-8f03-714b993f3127.html" target="element">  </a> </td>
																										<td> <a href="../elements/cb9ac901-4fc5-4729-8f03-714b993f3127.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/7eb06df8-04b4-4026-9a99-98c87fd2024e.html" target="element"> ESB_175_GestorDocumental_CrearRadicadoDocumento </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																				<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/0993aca4-01f4-4552-83d6-33e447e4d4d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/0993aca4-01f4-4552-83d6-33e447e4d4d3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/40f86dda.html" target="element"> GoAnyWhere </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/65a87cbb-df8e-4353-8a48-159ef981dcdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/65a87cbb-df8e-4353-8a48-159ef981dcdd.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>