<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_077</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_077</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e960f33f-5ad2-4732-ba52-6971f2fc88f6.png" alt="ESB_077" usemap="#e960f33f-5ad2-4732-ba52-6971f2fc88f6map"/>
			   <map name="e960f33f-5ad2-4732-ba52-6971f2fc88f6map">
				          <area shape="rect" coords="1796,620,1894,694" href="../objects/4e4e4ac5-7778-4d93-8ea9-70ef230eac18.html" target="element" >
				  		<area shape="rect" coords="1892,596,2014,646" href="../elements/1d6b5f0b.html"  target="element">
				  		<area shape="rect" coords="284,258,488,308" href="../elements/1d6b5f0b.html"  target="element">
				          <area shape="rect" coords="452,128,550,212" href="../objects/d670a8cd-81af-4305-9cf8-34aabf1cb598.html" target="element" >
				  		<area shape="rect" coords="404,20,718,130" href="../elements/fb981bb3.html"  target="element">
				  		<area shape="rect" coords="92,20,382,130" href="../elements/579664f3.html"  target="element">
				          <area shape="rect" coords="236,128,334,212" href="../objects/f39529e5-4aab-43ad-a9e3-2300006c7d0f.html" target="element" >
				  						<area shape="rect" coords="2108,572,2470,646" href="../elements/4a51b466.html"  target="element">

				  				<area shape="rect" coords="2060,404,2494,718" href="../elements/9794ef24.html"  target="element">

				          <area shape="rect" coords="2036,332,2518,1078" href="../objects/c2770d23-539a-490b-96bd-3674164ee9b8.html" target="element" >
				  										<area shape="rect" coords="1460,572,1750,646" href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html"  target="element">

				  								<area shape="rect" coords="1412,500,1774,694" href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html"  target="element">
				  										<area shape="rect" coords="188,572,526,670" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="140,500,550,694" href="../elements/09685725.html"  target="element">
				  												<area shape="rect" coords="188,884,1342,934" href="../elements/43583431-46a7-4b22-8e7e-b3d2bf2fc372.html"  target="element">
				  												<area shape="rect" coords="188,812,1342,862" href="../elements/b7c083bd-6673-4905-b0ba-a2ae85c6365a.html"  target="element">

				  										<area shape="rect" coords="164,764,1366,958" href="../elements/72ed8010.html"  target="element">

				  								<area shape="rect" coords="140,716,1390,982" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="980,572,1366,670" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="956,500,1390,694" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="596,572,910,670" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="572,500,934,694" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="116,452,1798,1006" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,404,1822,1030" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,332,1846,1054" href="../objects/f31ff507-f424-4f08-8c5d-28f3919e0f4d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/f31ff507-f424-4f08-8c5d-28f3919e0f4d.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/f31ff507-f424-4f08-8c5d-28f3919e0f4d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																			    <td> <a href="../elements/72ed8010.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/b7c083bd-6673-4905-b0ba-a2ae85c6365a.html" target="element"> ESB_077_recuperarToken2FA </a> </td>
																					    <td> <a href="../elements/b7c083bd-6673-4905-b0ba-a2ae85c6365a.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/43583431-46a7-4b22-8e7e-b3d2bf2fc372.html" target="element"> ESB_077_validarToken2FA </a> </td>
																					    <td> <a href="../elements/43583431-46a7-4b22-8e7e-b3d2bf2fc372.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
																	    <td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																			    <td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/c2770d23-539a-490b-96bd-3674164ee9b8.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/c2770d23-539a-490b-96bd-3674164ee9b8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/9794ef24.html" target="element"> Aplicaci&#243;n UDP - SafeNet Authentication </a> </td>
													    <td> <a href="../elements/9794ef24.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/4a51b466.html" target="element"> Authenticate </a> </td>
															    <td> <a href="../elements/4a51b466.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/f39529e5-4aab-43ad-a9e3-2300006c7d0f.html" target="element">  </a> </td>
									           <td> <a href="../objects/f39529e5-4aab-43ad-a9e3-2300006c7d0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
											    <td> <a href="../elements/579664f3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
											    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d670a8cd-81af-4305-9cf8-34aabf1cb598.html" target="element">  </a> </td>
									           <td> <a href="../objects/d670a8cd-81af-4305-9cf8-34aabf1cb598.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/1d6b5f0b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/1d6b5f0b.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/4e4e4ac5-7778-4d93-8ea9-70ef230eac18.html" target="element">  </a> </td>
									           <td> <a href="../objects/4e4e4ac5-7778-4d93-8ea9-70ef230eac18.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/bb0c2f25-d486-4f6b-a40d-2c4f478f48f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/bb0c2f25-d486-4f6b-a40d-2c4f478f48f2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/4851ae7d-3b91-4a59-a320-3359b4ebf9d5.html" target="element">  </a> </td>
																										<td> <a href="../elements/4851ae7d-3b91-4a59-a320-3359b4ebf9d5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/0d72b052-9b28-4e86-8f53-d04c435fccd3.html" target="element">  </a> </td>
																										<td> <a href="../elements/0d72b052-9b28-4e86-8f53-d04c435fccd3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/8ae436c3-872c-48dd-96c7-0ac0a4a72a4c.html" target="element">  </a> </td>
																								<td> <a href="../elements/8ae436c3-872c-48dd-96c7-0ac0a4a72a4c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/9a86ff9e.html" target="element">  </a> </td>
																										<td> <a href="../elements/9a86ff9e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/72ed8010.html" target="element"> ESB_077_Seguridad_AdministrarToken2FA </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/1c958a68-7ff3-49da-bf40-4abcc1483821.html" target="element">  </a> </td>
																								<td> <a href="../elements/1c958a68-7ff3-49da-bf40-4abcc1483821.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
																								<td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/ecdf01d1-673c-4600-8b4d-4760b97b7be0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ecdf01d1-673c-4600-8b4d-4760b97b7be0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/e3120353-371d-4cfc-960f-321c30bb9c62.html" target="element"> Authenticate </a> </td>
																										<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/7f9ccfc8-9a88-4f36-aefb-7355dbaa9ee8.html" target="element">  </a> </td>
																				<td> <a href="../elements/7f9ccfc8-9a88-4f36-aefb-7355dbaa9ee8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/9794ef24.html" target="element"> Aplicaci&#243;n UDP - SafeNet Authentication </a> </td>
																				<td> <a href="../elements/4a51b466.html" target="element"> Authenticate </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/34624e59-999b-4e6f-a905-73791514e1d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/34624e59-999b-4e6f-a905-73791514e1d6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cee481b4-cf24-42a1-945e-050693449d8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/cee481b4-cf24-42a1-945e-050693449d8c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/2e2664e2-ad10-4df9-b2c7-71487dbefcdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e2664e2-ad10-4df9-b2c7-71487dbefcdf.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8587d776-9827-40da-a609-7b4b0d70f62f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8587d776-9827-40da-a609-7b4b0d70f62f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1d6b5f0b.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/4a51b466.html" target="element"> Authenticate </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>