<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Componentes 91808</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Componentes 91808</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/eeb513f2-11e2-40e4-b7f1-bff9b1ff48f9.png" alt="Vista Componentes 91808" usemap="#eeb513f2-11e2-40e4-b7f1-bff9b1ff48f9map"/>
			   <map name="eeb513f2-11e2-40e4-b7f1-bff9b1ff48f9map">
				  				<area shape="rect" coords="1148,596,1414,706" href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html"  target="element">
				  				<area shape="rect" coords="1148,452,1414,562" href="../elements/1b9d9390-09c4-4d1b-99a9-e0710a5e922e.html"  target="element">
				  				<area shape="rect" coords="1148,284,1414,430" href="../elements/ff08bbfe-fbbc-4787-a1d2-80d01a3082b1.html"  target="element">
				  				<area shape="rect" coords="1148,92,1414,238" href="../elements/54b2df6a.html"  target="element">

				          <area shape="rect" coords="1124,20,1438,742" href="../objects/ca158eca-c773-4f2a-9966-b04fd676abc0.html" target="element" >
				  						<area shape="rect" coords="788,284,1054,406" href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html"  target="element">

				  				<area shape="rect" coords="740,92,1078,718" href="../elements/2abeddc5.html"  target="element">

				          <area shape="rect" coords="692,20,1102,742" href="../objects/6b5a02b7-45a6-4e82-9c08-f7a4da4598b6.html" target="element" >
				  				<area shape="rect" coords="380,92,620,238" href="../elements/e42019f2.html"  target="element">

				          <area shape="rect" coords="332,20,670,742" href="../objects/5bbe1974-1045-4c83-b38c-cc7ec23aa7f1.html" target="element" >
				  				<area shape="rect" coords="44,92,284,238" href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html"  target="element">

				          <area shape="rect" coords="20,20,310,742" href="../objects/ba6f7a80-8b7c-4df2-9cbf-ec17806221c9.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/ba6f7a80-8b7c-4df2-9cbf-ec17806221c9.html" target="element"> Usuarios </a> </td>
									           <td> <a href="../objects/ba6f7a80-8b7c-4df2-9cbf-ec17806221c9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
													    <td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/5bbe1974-1045-4c83-b38c-cc7ec23aa7f1.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/5bbe1974-1045-4c83-b38c-cc7ec23aa7f1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/e42019f2.html" target="element"> FNA M&#243;vil &#193;gil </a> </td>
													    <td> <a href="../elements/e42019f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6b5a02b7-45a6-4e82-9c08-f7a4da4598b6.html" target="element"> Integraci&#243;n </a> </td>
									           <td> <a href="../objects/6b5a02b7-45a6-4e82-9c08-f7a4da4598b6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
													    <td> <a href="../elements/2abeddc5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
															    <td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/ca158eca-c773-4f2a-9966-b04fd676abc0.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/ca158eca-c773-4f2a-9966-b04fd676abc0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/54b2df6a.html" target="element"> SafeNet BSIDCA </a> </td>
													    <td> <a href="../elements/54b2df6a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ff08bbfe-fbbc-4787-a1d2-80d01a3082b1.html" target="element"> SafeNet Authentication </a> </td>
													    <td> <a href="../elements/ff08bbfe-fbbc-4787-a1d2-80d01a3082b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1b9d9390-09c4-4d1b-99a9-e0710a5e922e.html" target="element"> COBIS - Administrador de Seguridad </a> </td>
													    <td> <a href="../elements/1b9d9390-09c4-4d1b-99a9-e0710a5e922e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9f074df6-86e9-4d91-87cc-77927c742585.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f074df6-86e9-4d91-87cc-77927c742585.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ce65c2a0-246f-4b4c-977f-f950471d951c.html" target="element"> Consumidor Financiero </a> </td>
																				<td> <a href="../elements/e42019f2.html" target="element"> FNA M&#243;vil &#193;gil </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/fc77b947-4801-4e4e-9abe-17aeb7032fea.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc77b947-4801-4e4e-9abe-17aeb7032fea.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/e42019f2.html" target="element"> FNA M&#243;vil &#193;gil </a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/7a670bd9-8f32-4926-9e57-751d9bcb0113.html" target="element">  </a> </td>
																				<td> <a href="../elements/7a670bd9-8f32-4926-9e57-751d9bcb0113.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/54b2df6a.html" target="element"> SafeNet BSIDCA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9d8971b5-351b-4334-ac38-c597a7ceeffd.html" target="element">  </a> </td>
																				<td> <a href="../elements/9d8971b5-351b-4334-ac38-c597a7ceeffd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/31fb35d3-3813-4ab4-959f-e7a2c10f248f.html" target="element">  </a> </td>
																				<td> <a href="../elements/31fb35d3-3813-4ab4-959f-e7a2c10f248f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/1b9d9390-09c4-4d1b-99a9-e0710a5e922e.html" target="element"> COBIS - Administrador de Seguridad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6af531ce-c90a-46c5-b22a-b6fb6fb6e2c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/6af531ce-c90a-46c5-b22a-b6fb6fb6e2c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2abeddc5.html" target="element"> ESB - BROKER9 </a> </td>
																				<td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/aa1916c4-54a2-4e58-80ca-0d8d24100cef.html" target="element">  </a> </td>
																						<td> <a href="../elements/aa1916c4-54a2-4e58-80ca-0d8d24100cef.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/3a204a12-cb79-48ae-bbf2-92c511638758.html" target="element"> BSIDJavaAPI_AIX </a> </td>
																						<td> <a href="../elements/ff08bbfe-fbbc-4787-a1d2-80d01a3082b1.html" target="element"> SafeNet Authentication </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>