<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Conceptual ECollect [TO-BE]</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Conceptual ECollect [TO-BE]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ef695328.png" alt="Vista Conceptual ECollect [TO-BE]" usemap="#ef695328map"/>
			   <map name="ef695328map">
				  						<area shape="rect" coords="2302,1628,2542,1738" href="../elements/ac986f20.html"  target="element">
				  						<area shape="rect" coords="2278,1772,2566,1846" href="../elements/21e7d1fc.html"  target="element">

				  				<area shape="rect" coords="2254,1532,2638,1870" href="../elements/f6209936.html"  target="element">
				  				<area shape="rect" coords="2254,1340,2638,1414" href="../elements/96a84b57.html"  target="element">
				  				<area shape="rect" coords="1870,1340,2208,1414" href="../elements/503146e7.html"  target="element">
				  						<area shape="rect" coords="1894,1748,2160,1858" href="../elements/3338f4d9.html"  target="element">

				  				<area shape="rect" coords="1870,1532,2208,1870" href="../elements/5759f2ea.html"  target="element">
				  				<area shape="rect" coords="1896,2276,2184,2338" href="../elements/93c5e46c.html"  target="element">

				          <area shape="rect" coords="1846,1268,2662,2374" href="../objects/939f7a25.html" target="element" >
				  				<area shape="rect" coords="1894,308,2616,502" href="../elements/a4c2c0b1.html"  target="element">

				          <area shape="rect" coords="1846,44,2662,1126" href="../objects/735b4d3f.html" target="element" >
				  		<area shape="rect" coords="22,1148,2662,1226" href="../elements/7b27761a.html"  target="element">
				  				<area shape="rect" coords="94,92,360,202" href="../elements/fb981bb3.html"  target="element">
				  						<area shape="rect" coords="1462,668,1728,790" href="../elements/5b0e79c7.html"  target="element">

				  				<area shape="rect" coords="1414,308,1776,1078" href="../elements/f8a1a465.html"  target="element">
				  								<area shape="rect" coords="142,452,456,550" href="../elements/ccce2d3c.html"  target="element">

				  						<area shape="rect" coords="94,404,480,574" href="../elements/94979924.html"  target="element">
				  								<area shape="rect" coords="912,476,1296,548" href="../elements/563f3aef.html"  target="element">

				  						<area shape="rect" coords="888,404,1320,596" href="../elements/91b1693a.html"  target="element">
				  								<area shape="rect" coords="910,692,1296,766" href="../elements/28162ccb.html"  target="element">

				  						<area shape="rect" coords="886,620,1320,814" href="../elements/0a2dccb9.html"  target="element">
				  								<area shape="rect" coords="142,644,456,742" href="../elements/da1a980e.html"  target="element">

				  						<area shape="rect" coords="94,596,480,766" href="../elements/09685725.html"  target="element">
				  								<area shape="rect" coords="528,452,842,742" href="../elements/0937407e.html"  target="element">

				  						<area shape="rect" coords="504,404,866,766" href="../elements/1cdadd6d.html"  target="element">
				  								<area shape="rect" coords="816,956,1056,1030" href="../elements/da8dd1f6.html"  target="element">

				  						<area shape="rect" coords="504,884,1322,1054" href="../elements/7c717388.html"  target="element">

				  				<area shape="rect" coords="46,308,1344,1076" href="../elements/3af9d480.html"  target="element">

				          <area shape="rect" coords="22,20,1824,1126" href="../objects/797345ef.html" target="element" >
				  						<area shape="rect" coords="1316,1748,1630,1858" href="../elements/4de0c9ad.html"  target="element">
				  						<area shape="rect" coords="1316,1628,1630,1726" href="../elements/462938a2.html"  target="element">

				  				<area shape="rect" coords="1292,1532,1676,1896" href="../elements/920262a3.html"  target="element">
				  				<area shape="rect" coords="1292,1344,1676,1416" href="../elements/503146e7.html"  target="element">
				  				<area shape="rect" coords="356,2144,646,2254" href="../elements/885c5fba.html"  target="element">
				  						<area shape="rect" coords="380,1820,622,1930" href="../elements/d52814df.html"  target="element">
				  						<area shape="rect" coords="380,1964,622,2074" href="../elements/240df97b.html"  target="element">

				  				<area shape="rect" coords="356,1628,646,2110" href="../elements/89f79c5a.html"  target="element">
				  						<area shape="rect" coords="1028,1628,1246,1738" href="../elements/1fd618bb.html"  target="element">

				  				<area shape="rect" coords="1004,1532,1270,1798" href="../elements/ea7af6be.html"  target="element">
				  				<area shape="rect" coords="52,2144,328,2254" href="../elements/918e0f2f.html"  target="element">
				  						<area shape="rect" coords="76,1964,316,2074" href="../elements/240df97b.html"  target="element">
				  						<area shape="rect" coords="76,1820,316,1930" href="../elements/696e3e58.html"  target="element">

				  				<area shape="rect" coords="52,1628,340,2108" href="../elements/8b563994.html"  target="element">
				  				<area shape="rect" coords="44,1532,334,1582" href="../elements/874d50af.html"  target="element">
				  				<area shape="rect" coords="692,1958,982,2068" href="../elements/821cf569.html"  target="element">
				  				<area shape="rect" coords="692,1342,982,1390" href="../elements/2a94ca75.html"  target="element">
				  				<area shape="rect" coords="46,1436,550,1486" href="../elements/4df9015c.html"  target="element">
				  				<area shape="rect" coords="1004,1340,1270,1390" href="../elements/e61f2abb.html"  target="element">
				  				<area shape="rect" coords="44,2276,1726,2338" href="../elements/1a98218f.html"  target="element">
				  				<area shape="rect" coords="46,1340,646,1390" href="../elements/96a84b57.html"  target="element">
				  				<area shape="rect" coords="692,1436,982,1486" href="../elements/da0cb3b5.html"  target="element">
				  						<area shape="rect" coords="716,1628,956,1738" href="../elements/5ef0965c.html"  target="element">

				  				<area shape="rect" coords="692,1532,982,1930" href="../elements/f675d4dc.html"  target="element">

				          <area shape="rect" coords="20,1268,1750,2374" href="../objects/846e37ad.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/846e37ad.html" target="element"> Capa de Infraestructura </a> </td>
									           <td> <a href="../objects/846e37ad.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
													    <td> <a href="../elements/f675d4dc.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
															    <td> <a href="../elements/5ef0965c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
													    <td> <a href="../elements/da0cb3b5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
													    <td> <a href="../elements/96a84b57.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
													    <td> <a href="../elements/1a98218f.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
													    <td> <a href="../elements/e61f2abb.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
													    <td> <a href="../elements/4df9015c.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
													    <td> <a href="../elements/2a94ca75.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
													    <td> <a href="../elements/821cf569.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/874d50af.html" target="element"> Servicio ODBC </a> </td>
													    <td> <a href="../elements/874d50af.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
													    <td> <a href="../elements/8b563994.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
															    <td> <a href="../elements/696e3e58.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
															    <td> <a href="../elements/240df97b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
													    <td> <a href="../elements/918e0f2f.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ea7af6be.html" target="element"> FNABOGDBAPP </a> </td>
													    <td> <a href="../elements/ea7af6be.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1fd618bb.html" target="element"> DB2 10.5 </a> </td>
															    <td> <a href="../elements/1fd618bb.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
													    <td> <a href="../elements/89f79c5a.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
															    <td> <a href="../elements/240df97b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
															    <td> <a href="../elements/d52814df.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
													    <td> <a href="../elements/885c5fba.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/503146e7.html" target="element"> Servicio de Balanceo </a> </td>
													    <td> <a href="../elements/503146e7.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/920262a3.html" target="element"> F5 </a> </td>
													    <td> <a href="../elements/920262a3.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/462938a2.html" target="element"> FNABOGSOA (172.16.127.33) </a> </td>
															    <td> <a href="../elements/462938a2.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/4de0c9ad.html" target="element"> APLICACIONESWEB (172.16.127.137) </a> </td>
															    <td> <a href="../elements/4de0c9ad.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/797345ef.html" target="element"> Aplicaciones Back </a> </td>
									           <td> <a href="../objects/797345ef.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
													    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
															    <td> <a href="../elements/7c717388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
															    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																	    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
															    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
															    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/91b1693a.html" target="element"> RS01_Integration_AdpInt </a> </td>
															    <td> <a href="../elements/91b1693a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/563f3aef.html" target="element"> FWK_RestIntegrationAdapter </a> </td>
																	    <td> <a href="../elements/563f3aef.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/94979924.html" target="element"> RST01_Technology_AdpTch </a> </td>
															    <td> <a href="../elements/94979924.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																	    <td> <a href="../elements/ccce2d3c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
													    <td> <a href="../elements/f8a1a465.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5b0e79c7.html" target="element"> COBIS - Clientes </a> </td>
															    <td> <a href="../elements/5b0e79c7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
													    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
											    <td> <a href="../elements/7b27761a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/735b4d3f.html" target="element"> Aplicaciones Externas </a> </td>
									           <td> <a href="../objects/735b4d3f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/a4c2c0b1.html" target="element"> Aplicaci&#243;n Ws - Pagos ECollect </a> </td>
													    <td> <a href="../elements/a4c2c0b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/939f7a25.html" target="element"> Capa Externa de Infraestructura </a> </td>
									           <td> <a href="../objects/939f7a25.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/93c5e46c.html" target="element"> Internet </a> </td>
													    <td> <a href="../elements/93c5e46c.html" target="element" class="i18n-elementtype-CommunicationNetwork"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5759f2ea.html" target="element"> NetScaler </a> </td>
													    <td> <a href="../elements/5759f2ea.html" target="element" class="i18n-elementtype-Device"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3338f4d9.html" target="element"> (192.168.249.10) </a> </td>
															    <td> <a href="../elements/3338f4d9.html" target="element" class="i18n-elementtype-Node"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/503146e7.html" target="element"> Servicio de Balanceo </a> </td>
													    <td> <a href="../elements/503146e7.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
													    <td> <a href="../elements/96a84b57.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f6209936.html" target="element"> FNACL04 (192.168.249.145) </a> </td>
													    <td> <a href="../elements/f6209936.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/21e7d1fc.html" target="element"> S.O - Windows Server 2003 </a> </td>
															    <td> <a href="../elements/21e7d1fc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ac986f20.html" target="element"> Internet Information Server IIS </a> </td>
															    <td> <a href="../elements/ac986f20.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/a168dbfb.html" target="element">  </a> </td>
																				<td> <a href="../elements/a168dbfb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
																				<td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6da24f97.html" target="element">  </a> </td>
																				<td> <a href="../elements/6da24f97.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f675d4dc.html" target="element"> FNABOGPR1 (172.16.0.36) </a> </td>
																				<td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/70b9dbe5.html" target="element">  </a> </td>
																						<td> <a href="../elements/70b9dbe5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/5ef0965c.html" target="element"> Microsoft Active Directory </a> </td>
																						<td> <a href="../elements/da0cb3b5.html" target="element"> Servicio LDAP </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/010c3a47.html" target="element">  </a> </td>
																				<td> <a href="../elements/010c3a47.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/821cf569.html" target="element"> FNABOGPR2 (172.16.0.37) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/67a20592.html" target="element">  </a> </td>
																				<td> <a href="../elements/67a20592.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8b563994.html" target="element"> FNABOGMBP (172.16.126.40) </a> </td>
																				<td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/918f2b45.html" target="element">  </a> </td>
																						<td> <a href="../elements/918f2b45.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																						<td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1231bd2b.html" target="element">  </a> </td>
																						<td> <a href="../elements/1231bd2b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/8d5f5d2d.html" target="element">  </a> </td>
																						<td> <a href="../elements/8d5f5d2d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/874d50af.html" target="element"> Servicio ODBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/d7995da3.html" target="element">  </a> </td>
																						<td> <a href="../elements/d7995da3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/696e3e58.html" target="element"> IIB 9.0.0.4 </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/b65e20d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/b65e20d5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/918e0f2f.html" target="element"> FNABOGMBR (172.16.126.45) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ee998223.html" target="element">  </a> </td>
																				<td> <a href="../elements/ee998223.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ea7af6be.html" target="element"> FNABOGDBAPP </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/f363c7d5.html" target="element">  </a> </td>
																						<td> <a href="../elements/f363c7d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/1fd618bb.html" target="element"> DB2 10.5 </a> </td>
																						<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/c4e4b4e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/c4e4b4e6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/89f79c5a.html" target="element"> FNABOGWASP (172.16.126.32) </a> </td>
																				<td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/fe0b857b.html" target="element">  </a> </td>
																						<td> <a href="../elements/fe0b857b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/240df97b.html" target="element"> S.O - AIX 7.1 </a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/b57956a6.html" target="element">  </a> </td>
																						<td> <a href="../elements/b57956a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																						<td> <a href="../elements/4df9015c.html" target="element"> Servicio JDBC </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/21426b09.html" target="element">  </a> </td>
																						<td> <a href="../elements/21426b09.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/d52814df.html" target="element"> WAS 8.5.5.11 </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/fc3cb4aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc3cb4aa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/885c5fba.html" target="element"> FNABOGWASR (172.16.126.33) </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d9fe5c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/d9fe5c7d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/920262a3.html" target="element"> F5 </a> </td>
																				<td> <a href="../elements/503146e7.html" target="element"> Servicio de Balanceo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c082aea6.html" target="element">  </a> </td>
																				<td> <a href="../elements/c082aea6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/920262a3.html" target="element"> F5 </a> </td>
																				<td> <a href="../elements/1a98218f.html" target="element"> LAN </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/c925876a.html" target="element">  </a> </td>
																						<td> <a href="../elements/c925876a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/4de0c9ad.html" target="element"> APLICACIONESWEB (172.16.127.137) </a> </td>
																						<td> <a href="../elements/3338f4d9.html" target="element"> (192.168.249.10) </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/f751635a.html" target="element">  </a> </td>
																						<td> <a href="../elements/f751635a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																						<td> <a href="../elements/563f3aef.html" target="element"> FWK_RestIntegrationAdapter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/947a6bc5.html" target="element">  </a> </td>
																						<td> <a href="../elements/947a6bc5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																						<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																					</tr>

															
																							<tr>
																								<td> <a href="../elements/a7f60328.html" target="element">  </a> </td>
																								<td> <a href="../elements/a7f60328.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																								<td> <a href="../elements/7c717388.html" target="element"> Grupos de Ejecuci&#243;n </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/2587c8fb.html" target="element">  </a> </td>
																						<td> <a href="../elements/2587c8fb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																						<td> <a href="../elements/a4c2c0b1.html" target="element"> Aplicaci&#243;n Ws - Pagos ECollect </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																								<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

															
															
															
																					<tr>
																						<td> <a href="../elements/f786b911.html" target="element">  </a> </td>
																						<td> <a href="../elements/f786b911.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/94979924.html" target="element"> RST01_Technology_AdpTch </a> </td>
																						<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/55211bb7.html" target="element">  </a> </td>
																								<td> <a href="../elements/55211bb7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																								<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/4646b6e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/4646b6e3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																				<td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/8aec0c7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8aec0c7d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/e61f2abb.html" target="element"> Servicio de Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62225bb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/62225bb0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/2a94ca75.html" target="element"> Servicio DNS (53) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/84c53f04.html" target="element">  </a> </td>
																		<td> <a href="../elements/84c53f04.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2fb32e30.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fb32e30.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/f8a1a465.html" target="element"> COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/84c53f04.html" target="element">  </a> </td>
																		<td> <a href="../elements/84c53f04.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8df5cdff.html" target="element">  </a> </td>
																		<td> <a href="../elements/8df5cdff.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/503146e7.html" target="element"> Servicio de Balanceo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8df5cdff.html" target="element">  </a> </td>
																		<td> <a href="../elements/8df5cdff.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/503146e7.html" target="element"> Servicio de Balanceo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7eedd372.html" target="element">  </a> </td>
																		<td> <a href="../elements/7eedd372.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/318fe6c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/318fe6c6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/a4c2c0b1.html" target="element"> Aplicaci&#243;n Ws - Pagos ECollect </a> </td>
																				<td> <a href="../elements/91b1693a.html" target="element"> RS01_Integration_AdpInt </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4fed54cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fed54cb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/5759f2ea.html" target="element"> NetScaler </a> </td>
																				<td> <a href="../elements/503146e7.html" target="element"> Servicio de Balanceo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/011a5ff6.html" target="element">  </a> </td>
																				<td> <a href="../elements/011a5ff6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/5759f2ea.html" target="element"> NetScaler </a> </td>
																				<td> <a href="../elements/93c5e46c.html" target="element"> Internet </a> </td>
																			</tr>

													
																					<tr>
																						<td> <a href="../elements/5688fd25.html" target="element">  </a> </td>
																						<td> <a href="../elements/5688fd25.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/21e7d1fc.html" target="element"> S.O - Windows Server 2003 </a> </td>
																						<td> <a href="../elements/ac986f20.html" target="element"> Internet Information Server IIS </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/33202600.html" target="element">  </a> </td>
																						<td> <a href="../elements/33202600.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/ac986f20.html" target="element"> Internet Information Server IIS </a> </td>
																						<td> <a href="../elements/96a84b57.html" target="element"> Servicio Aplicaciones / SOA </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>