<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_195</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_195</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f117bba1-6c03-46ff-946e-0ff317655c3b.png" alt="ESB_195" usemap="#f117bba1-6c03-46ff-946e-0ff317655c3bmap"/>
			   <map name="f117bba1-6c03-46ff-946e-0ff317655c3bmap">
				  		<area shape="rect" coords="1700,764,1864,818" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="286,284,526,338" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				          <area shape="rect" coords="476,128,572,214" href="../objects/d2466c8a-34ce-4e2e-90a2-3806e90d3a52.html" target="element" >
				  		<area shape="rect" coords="426,20,666,130" href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html"  target="element">
				  		<area shape="rect" coords="140,20,380,130" href="../elements/19558b78.html"  target="element">
				          <area shape="rect" coords="1580,788,1682,862" href="../objects/bae7e675-010f-488c-8790-2786b88ed5c4.html" target="element" >
				          <area shape="rect" coords="332,128,428,214" href="../objects/0d8da9c0-2d57-46f1-bc6b-88a4917adbab.html" target="element" >
				  								<area shape="rect" coords="2012,764,2398,814" href="../elements/ad44dbe9-5548-429e-9a11-519fb3d4b9da.html"  target="element">

				  						<area shape="rect" coords="1988,716,2422,838" href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html"  target="element">

				  				<area shape="rect" coords="1916,644,2470,886" href="../elements/2d355af1.html"  target="element">

				          <area shape="rect" coords="1892,380,2494,1294" href="../objects/28eec4e7-45b2-47ce-9b76-d9d06258e4d5.html" target="element" >
				  										<area shape="rect" coords="212,692,574,958" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="164,620,598,982" href="../elements/09685725.html"  target="element">
				  												<area shape="rect" coords="212,1124,1438,1174" href="../elements/5eef0663-ed87-427d-870c-bdafa1159eb7.html"  target="element">

				  										<area shape="rect" coords="188,1076,1462,1198" href="../elements/2473944a-9d96-4840-b8fe-d3eb44228721.html"  target="element">

				  								<area shape="rect" coords="164,1028,1486,1222" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1100,692,1462,958" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1076,620,1486,982" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="656,692,994,958" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="632,620,1018,982" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,524,1534,1246" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,452,1582,1270" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,380,1630,1294" href="../objects/7b2df05a-76c4-4836-b798-d7687897bcdc.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/7b2df05a-76c4-4836-b798-d7687897bcdc.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/7b2df05a-76c4-4836-b798-d7687897bcdc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/2473944a-9d96-4840-b8fe-d3eb44228721.html" target="element"> ESB_195_GestorDocumental_InicioFlujoTrabajoDocumento </a> </td>
																			    <td> <a href="../elements/2473944a-9d96-4840-b8fe-d3eb44228721.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/5eef0663-ed87-427d-870c-bdafa1159eb7.html" target="element"> ESB_195_InicioFlujoTrabajoDocumento </a> </td>
																					    <td> <a href="../elements/5eef0663-ed87-427d-870c-bdafa1159eb7.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/28eec4e7-45b2-47ce-9b76-d9d06258e4d5.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/28eec4e7-45b2-47ce-9b76-d9d06258e4d5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
													    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
															    <td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/ad44dbe9-5548-429e-9a11-519fb3d4b9da.html" target="element"> Workflow_Start </a> </td>
																	    <td> <a href="../elements/ad44dbe9-5548-429e-9a11-519fb3d4b9da.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/0d8da9c0-2d57-46f1-bc6b-88a4917adbab.html" target="element">  </a> </td>
									           <td> <a href="../objects/0d8da9c0-2d57-46f1-bc6b-88a4917adbab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/bae7e675-010f-488c-8790-2786b88ed5c4.html" target="element">  </a> </td>
									           <td> <a href="../objects/bae7e675-010f-488c-8790-2786b88ed5c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
											    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
											    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d2466c8a-34ce-4e2e-90a2-3806e90d3a52.html" target="element">  </a> </td>
									           <td> <a href="../objects/d2466c8a-34ce-4e2e-90a2-3806e90d3a52.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/15d132f7-5c49-4f6d-937c-7b8939ca49b5.html" target="element">  </a> </td>
																										<td> <a href="../elements/15d132f7-5c49-4f6d-937c-7b8939ca49b5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/2473944a-9d96-4840-b8fe-d3eb44228721.html" target="element"> ESB_195_GestorDocumental_InicioFlujoTrabajoDocumento </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element">  </a> </td>
																										<td> <a href="../elements/ba443b08-bd74-463b-9d79-ae4016ae46c0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/818cc8ab-ce4d-4cf2-8059-93d8db15bcb2.html" target="element">  </a> </td>
																								<td> <a href="../elements/818cc8ab-ce4d-4cf2-8059-93d8db15bcb2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/2473944a-9d96-4840-b8fe-d3eb44228721.html" target="element"> ESB_195_GestorDocumental_InicioFlujoTrabajoDocumento </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/d6f7e268-5bed-42b3-9ad4-a58ee681e369.html" target="element">  </a> </td>
																										<td> <a href="../elements/d6f7e268-5bed-42b3-9ad4-a58ee681e369.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/2473944a-9d96-4840-b8fe-d3eb44228721.html" target="element"> ESB_195_GestorDocumental_InicioFlujoTrabajoDocumento </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b94dd43-b363-4672-930d-94cca5263217.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																				<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/fec69e9c-af62-4583-9ddb-b1932acde737.html" target="element">  </a> </td>
																						<td> <a href="../elements/fec69e9c-af62-4583-9ddb-b1932acde737.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																						<td> <a href="../elements/ad44dbe9-5548-429e-9a11-519fb3d4b9da.html" target="element"> Workflow_Start </a> </td>
																					</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9d97855-405f-42ed-b1cf-c2652608086e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a7adcb98-f170-4a09-b01d-a1634a5c6fd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7adcb98-f170-4a09-b01d-a1634a5c6fd0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/65a87cbb-df8e-4353-8a48-159ef981dcdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/65a87cbb-df8e-4353-8a48-159ef981dcdd.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/3c1b95f2-f1f3-4f28-8271-74af4fcf84a0.html" target="element"> APIv2 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>