<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_054</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_054</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f5fae138-ae35-4ab0-bb41-1c8fee9f06a1.png" alt="ESB_054" usemap="#f5fae138-ae35-4ab0-bb41-1c8fee9f06a1map"/>
			   <map name="f5fae138-ae35-4ab0-bb41-1c8fee9f06a1map">
				  		<area shape="rect" coords="164,20,492,106" href="../elements/536d11f6.html"  target="element">
				          <area shape="rect" coords="1604,668,1710,728" href="../objects/1a7b53f2-4b0e-4822-b1a1-dd503ec95483.html" target="element" >
				          <area shape="rect" coords="356,128,462,214" href="../objects/f914b227-a024-4c0b-831d-b869d83a9e19.html" target="element" >
				  								<area shape="rect" coords="1772,692,2206,814" href="../elements/0d6e8129-2917-4cec-9c79-9ad774b27dd9.html"  target="element">

				  						<area shape="rect" coords="1748,596,2230,838" href="../elements/b49ce4a9-8ccd-48a0-a742-2aa2a87b2230.html"  target="element">

				  				<area shape="rect" coords="1700,524,2254,862" href="../elements/56b227ae.html"  target="element">

				          <area shape="rect" coords="1676,236,2278,1246" href="../objects/fb415dfd-c560-4e1e-8e4f-706844cfa4dd.html" target="element" >
				  										<area shape="rect" coords="188,956,1462,1066" href="../elements/7925e18c-c83a-4dec-a43d-d4b2be9b366e.html"  target="element">

				  								<area shape="rect" coords="164,908,1486,1102" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1004,572,1462,838" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="980,500,1486,862" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="212,548,526,838" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="164,500,550,862" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="620,596,934,790" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="596,500,958,862" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,404,1534,1150" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,332,1582,1198" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,236,1630,1246" href="../objects/0da18f03-164d-44af-b867-ffedd75e850b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/0da18f03-164d-44af-b867-ffedd75e850b.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/0da18f03-164d-44af-b867-ffedd75e850b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/7925e18c-c83a-4dec-a43d-d4b2be9b366e.html" target="element"> ESB_054_ClientePersonaNatural_ModificarInfoBasicaRq </a> </td>
																			    <td> <a href="../elements/7925e18c-c83a-4dec-a43d-d4b2be9b366e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/fb415dfd-c560-4e1e-8e4f-706844cfa4dd.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/fb415dfd-c560-4e1e-8e4f-706844cfa4dd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
													    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/b49ce4a9-8ccd-48a0-a742-2aa2a87b2230.html" target="element"> AS068-ModificacionConsumidorFinanciero </a> </td>
															    <td> <a href="../elements/b49ce4a9-8ccd-48a0-a742-2aa2a87b2230.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0d6e8129-2917-4cec-9c79-9ad774b27dd9.html" target="element"> AS068-ModificarInformacionBasicaConsumidorFinanciero </a> </td>
																	    <td> <a href="../elements/0d6e8129-2917-4cec-9c79-9ad774b27dd9.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/f914b227-a024-4c0b-831d-b869d83a9e19.html" target="element">  </a> </td>
									           <td> <a href="../objects/f914b227-a024-4c0b-831d-b869d83a9e19.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/1a7b53f2-4b0e-4822-b1a1-dd503ec95483.html" target="element">  </a> </td>
									           <td> <a href="../objects/1a7b53f2-4b0e-4822-b1a1-dd503ec95483.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/536d11f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/b251cb39-cf7a-4277-88ee-6c914ea3c9a5.html" target="element">  </a> </td>
																										<td> <a href="../elements/b251cb39-cf7a-4277-88ee-6c914ea3c9a5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/7925e18c-c83a-4dec-a43d-d4b2be9b366e.html" target="element"> ESB_054_ClientePersonaNatural_ModificarInfoBasicaRq </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/60153bf2-b942-4565-868e-a73dd3420013.html" target="element">  </a> </td>
																										<td> <a href="../elements/60153bf2-b942-4565-868e-a73dd3420013.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																										<td> <a href="../elements/b49ce4a9-8ccd-48a0-a742-2aa2a87b2230.html" target="element"> AS068-ModificacionConsumidorFinanciero </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/ebf0fc4b-0402-4a6e-ad41-8f1bcba949dc.html" target="element">  </a> </td>
																								<td> <a href="../elements/ebf0fc4b-0402-4a6e-ad41-8f1bcba949dc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/7925e18c-c83a-4dec-a43d-d4b2be9b366e.html" target="element"> ESB_054_ClientePersonaNatural_ModificarInfoBasicaRq </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/6f8bc26d-e708-4769-8592-8bf5e39b0192.html" target="element">  </a> </td>
																										<td> <a href="../elements/6f8bc26d-e708-4769-8592-8bf5e39b0192.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/7925e18c-c83a-4dec-a43d-d4b2be9b366e.html" target="element"> ESB_054_ClientePersonaNatural_ModificarInfoBasicaRq </a> </td>
																										<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/3c68a5c5-46ab-44d2-9d92-262d6cd6bff7.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c68a5c5-46ab-44d2-9d92-262d6cd6bff7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/b49ce4a9-8ccd-48a0-a742-2aa2a87b2230.html" target="element"> AS068-ModificacionConsumidorFinanciero </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>