<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Negocio FNA. 1. Capa de Negocio</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Negocio FNA. 1. Capa de Negocio</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f63e001f.png" alt="Negocio FNA. 1. Capa de Negocio" usemap="#f63e001fmap"/>
			   <map name="f63e001fmap">
				  						<area shape="rect" coords="68,308,1174,358" href="../elements/606cff00.html"  target="element">
				  						<area shape="rect" coords="68,236,1174,286" href="../elements/d2cc5119.html"  target="element">
				  						<area shape="rect" coords="68,164,1174,214" href="../elements/944150d5.html"  target="element">

				  				<area shape="rect" coords="44,92,1198,382" href="../elements/2fdf87de.html"  target="element">
				  						<area shape="rect" coords="908,596,1148,706" href="../elements/f5ebda51.html"  target="element">
				  						<area shape="rect" coords="908,452,1148,562" href="../elements/0b6a7ff1.html"  target="element">
				  								<area shape="rect" coords="92,596,406,706" href="../elements/6a32c551.html"  target="element">
				  								<area shape="rect" coords="92,500,836,574" href="../elements/d4d3be42.html"  target="element">
				  								<area shape="rect" coords="524,596,836,706" href="../elements/961007cd.html"  target="element">

				  						<area shape="rect" coords="68,452,862,742" href="../elements/3b68ab40.html"  target="element">

				  				<area shape="rect" coords="44,404,1198,778" href="../elements/77325a45.html"  target="element">
				  						<area shape="rect" coords="2540,192,2782,650" href="../elements/54065f7e.html"  target="element">
				  						<area shape="rect" coords="2276,192,2494,650" href="../elements/2b887ba9.html"  target="element">
				  								<area shape="rect" coords="1940,576,2206,626" href="../elements/29a2c4d0.html"  target="element">
				  								<area shape="rect" coords="1940,504,2206,554" href="../elements/8c8d5428.html"  target="element">

				  						<area shape="rect" coords="1916,432,2230,650" href="../elements/8ca9f4e4.html"  target="element">
				  								<area shape="rect" coords="1940,336,2206,386" href="../elements/cf461829.html"  target="element">
				  								<area shape="rect" coords="1938,264,2206,314" href="../elements/284d6c4c.html"  target="element">

				  						<area shape="rect" coords="1916,192,2230,410" href="../elements/f77894bd.html"  target="element">
				  						<area shape="rect" coords="1580,324,1822,434" href="../elements/f8ff3536.html"  target="element">
				  						<area shape="rect" coords="1580,192,1822,302" href="../elements/ab51167b.html"  target="element">
				  						<area shape="rect" coords="1268,192,1484,650" href="../elements/8831065e.html"  target="element">

				  				<area shape="rect" coords="1220,96,2830,778" href="../elements/1a72dd46.html"  target="element">
				  								<area shape="rect" coords="3932,644,4126,718" href="../elements/551b5480.html"  target="element">
				  								<area shape="rect" coords="3932,548,4126,622" href="../elements/a9e49b4d.html"  target="element">
				  								<area shape="rect" coords="3932,452,4126,526" href="../elements/4da7ff6c.html"  target="element">
				  								<area shape="rect" coords="3932,356,4126,430" href="../elements/7955ccd5.html"  target="element">
				  								<area shape="rect" coords="3932,260,4126,334" href="../elements/db8c08d7.html"  target="element">

				  						<area shape="rect" coords="3908,188,4148,754" href="../elements/5d0e9bf8.html"  target="element">
				  								<area shape="rect" coords="3260,500,3526,610" href="../elements/deb5d26a.html"  target="element">
				  								<area shape="rect" coords="3260,260,3526,370" href="../elements/d673b530.html"  target="element">

				  						<area shape="rect" coords="3236,188,3574,694" href="../elements/35568ac1.html"  target="element">
				  						<area shape="rect" coords="4196,188,4438,298" href="../elements/03b47358.html"  target="element">
				  						<area shape="rect" coords="4196,644,4438,754" href="../elements/1544ae38.html"  target="element">
				  								<area shape="rect" coords="3620,260,3838,370" href="../elements/e31f4d25.html"  target="element">
				  								<area shape="rect" coords="3620,620,3838,730" href="../elements/2835e811.html"  target="element">
				  								<area shape="rect" coords="3620,500,3838,610" href="../elements/224cf7ea.html"  target="element">
				  								<area shape="rect" coords="3620,380,3838,490" href="../elements/e2ff9ff6.html"  target="element">

				  						<area shape="rect" coords="3596,188,3862,754" href="../elements/116e34b7.html"  target="element">
				  								<area shape="rect" coords="2924,500,3166,610" href="../elements/615fc76a.html"  target="element">
				  								<area shape="rect" coords="2924,380,3166,490" href="../elements/d912380b.html"  target="element">
				  								<area shape="rect" coords="2924,260,3166,370" href="../elements/437d6502.html"  target="element">

				  						<area shape="rect" coords="2876,188,3214,694" href="../elements/32bb8a44.html"  target="element">

				  				<area shape="rect" coords="2852,92,4486,778" href="../elements/ec5dca64.html"  target="element">

				          <area shape="rect" coords="20,20,4510,814" href="../objects/a029b1ce.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> alcanceSOA </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">Fase 1.1</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/a029b1ce.html" target="element"> Capa de Negocio </a> </td>
									           <td> <a href="../objects/a029b1ce.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ec5dca64.html" target="element"> Procesos Estrategicos </a> </td>
													    <td> <a href="../elements/ec5dca64.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/32bb8a44.html" target="element"> Planeaci&#243;n Estrategica </a> </td>
															    <td> <a href="../elements/32bb8a44.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/437d6502.html" target="element"> Planeaci&#243;n Estrategica </a> </td>
																	    <td> <a href="../elements/437d6502.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/d912380b.html" target="element"> Planeaci&#243;n SGC </a> </td>
																	    <td> <a href="../elements/d912380b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/615fc76a.html" target="element"> Comunicaci&#243;n </a> </td>
																	    <td> <a href="../elements/615fc76a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/116e34b7.html" target="element"> Gesti&#243;n Financiera </a> </td>
															    <td> <a href="../elements/116e34b7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/e2ff9ff6.html" target="element"> Planeaci&#243;n Financiera </a> </td>
																	    <td> <a href="../elements/e2ff9ff6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/224cf7ea.html" target="element"> Presupuesto </a> </td>
																	    <td> <a href="../elements/224cf7ea.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/2835e811.html" target="element"> Tesoreria </a> </td>
																	    <td> <a href="../elements/2835e811.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/e31f4d25.html" target="element"> Gesti&#243;n Contable </a> </td>
																	    <td> <a href="../elements/e31f4d25.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/1544ae38.html" target="element"> Inverstigaci&#243;n y Desarrollo </a> </td>
															    <td> <a href="../elements/1544ae38.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/03b47358.html" target="element"> Mercadeo </a> </td>
															    <td> <a href="../elements/03b47358.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/35568ac1.html" target="element"> Gesti&#243;n Tecnologica y Organizacional </a> </td>
															    <td> <a href="../elements/35568ac1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/d673b530.html" target="element"> Gesti&#243;n Tecnologica </a> </td>
																	    <td> <a href="../elements/d673b530.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/deb5d26a.html" target="element"> Gesti&#243;n de Desarrollo Organizacional </a> </td>
																	    <td> <a href="../elements/deb5d26a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/5d0e9bf8.html" target="element"> Gestion de Riesgos </a> </td>
															    <td> <a href="../elements/5d0e9bf8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/db8c08d7.html" target="element"> SARO </a> </td>
																	    <td> <a href="../elements/db8c08d7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/7955ccd5.html" target="element"> SARC </a> </td>
																	    <td> <a href="../elements/7955ccd5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/4da7ff6c.html" target="element"> SARLAFT </a> </td>
																	    <td> <a href="../elements/4da7ff6c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/a9e49b4d.html" target="element"> SARM </a> </td>
																	    <td> <a href="../elements/a9e49b4d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/551b5480.html" target="element"> SARL </a> </td>
																	    <td> <a href="../elements/551b5480.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/1a72dd46.html" target="element"> Procesos Misionales </a> </td>
													    <td> <a href="../elements/1a72dd46.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
															    <td> <a href="../elements/8831065e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
															    <td> <a href="../elements/ab51167b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
															    <td> <a href="../elements/f8ff3536.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
															    <td> <a href="../elements/f77894bd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/284d6c4c.html" target="element"> Cesantias </a> </td>
																	    <td> <a href="../elements/284d6c4c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/cf461829.html" target="element"> Ahorro Voluntario </a> </td>
																	    <td> <a href="../elements/cf461829.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
															    <td> <a href="../elements/8ca9f4e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/8c8d5428.html" target="element"> Educativo </a> </td>
																	    <td> <a href="../elements/8c8d5428.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/29a2c4d0.html" target="element"> Hipotecario </a> </td>
																	    <td> <a href="../elements/29a2c4d0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
															    <td> <a href="../elements/2b887ba9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
															    <td> <a href="../elements/54065f7e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/77325a45.html" target="element"> Procesos de Soporte </a> </td>
													    <td> <a href="../elements/77325a45.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3b68ab40.html" target="element"> Gesti&#243;n Administrativa </a> </td>
															    <td> <a href="../elements/3b68ab40.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/961007cd.html" target="element"> Contrataci&#243;n </a> </td>
																	    <td> <a href="../elements/961007cd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/d4d3be42.html" target="element"> Gesti&#243;n de Archivo y Correspondencia </a> </td>
																	    <td> <a href="../elements/d4d3be42.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/6a32c551.html" target="element"> Gesti&#243;n de Infraestructura </a> </td>
																	    <td> <a href="../elements/6a32c551.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/0b6a7ff1.html" target="element"> Gesti&#243;n Humana </a> </td>
															    <td> <a href="../elements/0b6a7ff1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f5ebda51.html" target="element"> Gesti&#243;n Juridica </a> </td>
															    <td> <a href="../elements/f5ebda51.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/2fdf87de.html" target="element"> Procesos de Evaluaci&#243;n </a> </td>
													    <td> <a href="../elements/2fdf87de.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/944150d5.html" target="element"> Medici&#243;n de la satisfacci&#243;n del cliente </a> </td>
															    <td> <a href="../elements/944150d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d2cc5119.html" target="element"> Peticiones, Quejas y Reclamos </a> </td>
															    <td> <a href="../elements/d2cc5119.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/606cff00.html" target="element"> Sistema de control Interno y Mejoramiento Continuo </a> </td>
															    <td> <a href="../elements/606cff00.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															
															
															
															
													
																					<tr>
																						<td> <a href="../elements/ae46ed56.html" target="element">  </a> </td>
																						<td> <a href="../elements/ae46ed56.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6815bda1.html" target="element">  </a> </td>
																						<td> <a href="../elements/6815bda1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/964863e4.html" target="element">  </a> </td>
																						<td> <a href="../elements/964863e4.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a0d9d784.html" target="element">  </a> </td>
																						<td> <a href="../elements/a0d9d784.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																						<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/07986b71.html" target="element">  </a> </td>
																						<td> <a href="../elements/07986b71.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																						<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a8966709.html" target="element">  </a> </td>
																						<td> <a href="../elements/a8966709.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/e07d3e3e.html" target="element">  </a> </td>
																						<td> <a href="../elements/e07d3e3e.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/589afb68.html" target="element">  </a> </td>
																						<td> <a href="../elements/589afb68.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																						<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																					</tr>

													
															
													
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>