<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Servicios de Consulta AS-IS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Servicios de Consulta AS-IS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/feb81121-00b7-42c9-a3cf-f03694edace6.png" alt="Servicios de Consulta AS-IS" usemap="#feb81121-00b7-42c9-a3cf-f03694edace6map"/>
			   <map name="feb81121-00b7-42c9-a3cf-f03694edace6map">
				          <area shape="rect" coords="1604,760,1710,820" href="../objects/dc1bbb3a-5c87-4542-a5ba-57a3a620fe6d.html" target="element" >
				  				<area shape="rect" coords="212,92,452,202" href="../elements/fb981bb3.html"  target="element">
				  				<area shape="rect" coords="2636,92,2876,202" href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html"  target="element">
				  				<area shape="rect" coords="2324,92,2564,202" href="../elements/579664f3.html"  target="element">

				          <area shape="rect" coords="20,20,2950,262" href="../objects/845e495b-c0fa-4e6d-a747-0f10b6c60be9.html" target="element" >
				          <area shape="rect" coords="1604,860,1710,920" href="../objects/7a19c75f-78b7-404f-9326-711d846dffb6.html" target="element" >
				          <area shape="rect" coords="1604,644,1710,704" href="../objects/313fc983-6c97-48f2-935c-0914b5d3de94.html" target="element" >
				  						<area shape="rect" coords="2372,500,2830,598" href="../elements/63ab5f4b-e8a7-4caa-8d65-1efb181d1b9b.html"  target="element">
				  						<area shape="rect" coords="2372,620,2830,718" href="../elements/7b4798bd-341c-43cb-8d17-468a7e5ef550.html"  target="element">
				  						<area shape="rect" coords="2372,740,2830,814" href="../elements/06c8880a-4c3a-4673-b9fb-5393e4f4748b.html"  target="element">
				  								<area shape="rect" coords="1772,524,2254,646" href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html"  target="element">

				  						<area shape="rect" coords="1748,476,2278,670" href="../elements/9c591212.html"  target="element">
				  								<area shape="rect" coords="1772,908,2254,1006" href="../elements/12773c1a-2262-4cc7-a485-0e24959370fd.html"  target="element">

				  						<area shape="rect" coords="1748,836,2278,1030" href="../elements/5ef76641-5bee-4a80-8fd4-f9e39483fec6.html"  target="element">
				  								<area shape="rect" coords="1772,740,2254,790" href="../elements/772e8dea-0d8a-482e-acd1-0db12710d5e5.html"  target="element">

				  						<area shape="rect" coords="1748,692,2278,814" href="../elements/99c76e0c.html"  target="element">

				  				<area shape="rect" coords="1700,428,2926,1078" href="../elements/56b227ae.html"  target="element">

				          <area shape="rect" coords="1676,284,2974,1294" href="../objects/84661aa1-b89e-4a1f-bc7b-f9e67ab9340e.html" target="element" >
				  										<area shape="rect" coords="212,596,574,862" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="164,524,598,886" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="188,980,1462,1030" href="../elements/a66117b8.html"  target="element">
				  										<area shape="rect" coords="188,1124,1462,1174" href="../elements/bd6f4278-abce-4179-935e-5357e8b2d88b.html"  target="element">
				  										<area shape="rect" coords="188,1052,1462,1102" href="../elements/5da63822.html"  target="element">

				  								<area shape="rect" coords="164,932,1486,1198" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1100,596,1462,862" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1076,524,1486,886" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="656,596,994,862" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="632,524,1018,886" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="140,428,1534,1222" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="68,356,1582,1270" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,284,1630,1294" href="../objects/98ad8bc8-255b-4f36-b5b3-16cd39bbc978.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/98ad8bc8-255b-4f36-b5b3-16cd39bbc978.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/98ad8bc8-255b-4f36-b5b3-16cd39bbc978.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/5da63822.html" target="element"> ESB_033_CuentaAVC_ConsultarCuenta </a> </td>
																			    <td> <a href="../elements/5da63822.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/bd6f4278-abce-4179-935e-5357e8b2d88b.html" target="element"> ESB_032_CuentaAVC_RecuperarMovimientos  </a> </td>
																			    <td> <a href="../elements/bd6f4278-abce-4179-935e-5357e8b2d88b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																			    <td> <a href="../elements/a66117b8.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/84661aa1-b89e-4a1f-bc7b-f9e67ab9340e.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/84661aa1-b89e-4a1f-bc7b-f9e67ab9340e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
													    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/99c76e0c.html" target="element"> AS038-ConsultaCuentaAVC </a> </td>
															    <td> <a href="../elements/99c76e0c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/772e8dea-0d8a-482e-acd1-0db12710d5e5.html" target="element"> AS038-consultarCuentaAVC </a> </td>
																	    <td> <a href="../elements/772e8dea-0d8a-482e-acd1-0db12710d5e5.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/5ef76641-5bee-4a80-8fd4-f9e39483fec6.html" target="element"> AS039-ConsultaMovimientoCuentaAVC </a> </td>
															    <td> <a href="../elements/5ef76641-5bee-4a80-8fd4-f9e39483fec6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/12773c1a-2262-4cc7-a485-0e24959370fd.html" target="element"> AS039-consultarMovimientosCuentaAVC </a> </td>
																	    <td> <a href="../elements/12773c1a-2262-4cc7-a485-0e24959370fd.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
															    <td> <a href="../elements/9c591212.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html" target="element"> AS055-consultarConsumidorFinancieroPorIdentificacion </a> </td>
																	    <td> <a href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/06c8880a-4c3a-4673-b9fb-5393e4f4748b.html" target="element"> cob_ahorros..sp_puntuacionAV </a> </td>
															    <td> <a href="../elements/06c8880a-4c3a-4673-b9fb-5393e4f4748b.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7b4798bd-341c-43cb-8d17-468a7e5ef550.html" target="element"> cob_credito..sp_utilidades_intranet 'ahorros' </a> </td>
															    <td> <a href="../elements/7b4798bd-341c-43cb-8d17-468a7e5ef550.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/63ab5f4b-e8a7-4caa-8d65-1efb181d1b9b.html" target="element"> cob_credito..sp_utilidades_intranet 'clientes' </a> </td>
															    <td> <a href="../elements/63ab5f4b-e8a7-4caa-8d65-1efb181d1b9b.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/313fc983-6c97-48f2-935c-0914b5d3de94.html" target="element">  </a> </td>
									           <td> <a href="../objects/313fc983-6c97-48f2-935c-0914b5d3de94.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7a19c75f-78b7-404f-9326-711d846dffb6.html" target="element">  </a> </td>
									           <td> <a href="../objects/7a19c75f-78b7-404f-9326-711d846dffb6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/845e495b-c0fa-4e6d-a747-0f10b6c60be9.html" target="element"> Frontend </a> </td>
									           <td> <a href="../objects/845e495b-c0fa-4e6d-a747-0f10b6c60be9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
													    <td> <a href="../elements/579664f3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
													    <td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
													    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/dc1bbb3a-5c87-4542-a5ba-57a3a620fe6d.html" target="element">  </a> </td>
									           <td> <a href="../objects/dc1bbb3a-5c87-4542-a5ba-57a3a620fe6d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element">  </a> </td>
																						<td> <a href="../elements/001f37e3-7fc6-4c35-9469-54d1c99cda28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/503dc7f3-cec3-4e8b-957a-f856ee7b65e2.html" target="element">  </a> </td>
																										<td> <a href="../elements/503dc7f3-cec3-4e8b-957a-f856ee7b65e2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																									</tr>

																	
																	
																							<tr>
																								<td> <a href="../elements/cd8c5fea-75a1-405a-b7bc-42a7b88e2719.html" target="element">  </a> </td>
																								<td> <a href="../elements/cd8c5fea-75a1-405a-b7bc-42a7b88e2719.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/9bd2a868-acdb-424d-840c-e4e678e4cd00.html" target="element">  </a> </td>
																								<td> <a href="../elements/9bd2a868-acdb-424d-840c-e4e678e4cd00.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/bd6f4278-abce-4179-935e-5357e8b2d88b.html" target="element"> ESB_032_CuentaAVC_RecuperarMovimientos  </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/12a304ae-9767-49c3-87c6-9c237b60b968.html" target="element">  </a> </td>
																								<td> <a href="../elements/12a304ae-9767-49c3-87c6-9c237b60b968.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/5da63822.html" target="element"> ESB_033_CuentaAVC_ConsultarCuenta </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/8b462f87-13d3-49b0-9759-4153a710c0d5.html" target="element">  </a> </td>
																								<td> <a href="../elements/8b462f87-13d3-49b0-9759-4153a710c0d5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																							</tr>

																	
																							<tr>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element">  </a> </td>
																								<td> <a href="../elements/5b03cc79-208a-4dd7-846a-b48fa02020c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/2a820676-6797-4ad9-91b3-a9aa1e6b7252.html" target="element">  </a> </td>
																				<td> <a href="../elements/2a820676-6797-4ad9-91b3-a9aa1e6b7252.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ed549a99-19a3-415a-b72a-df41529d12d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/ed549a99-19a3-415a-b72a-df41529d12d1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/5ef76641-5bee-4a80-8fd4-f9e39483fec6.html" target="element"> AS039-ConsultaMovimientoCuentaAVC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ee52d3ab-364d-4044-b15c-7c8794d82dd7.html" target="element">  </a> </td>
																				<td> <a href="../elements/ee52d3ab-364d-4044-b15c-7c8794d82dd7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/99c76e0c.html" target="element"> AS038-ConsultaCuentaAVC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4927a493-91bf-4cbe-be6a-1b8157a19d9f.html" target="element">  </a> </td>
																				<td> <a href="../elements/4927a493-91bf-4cbe-be6a-1b8157a19d9f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/06c8880a-4c3a-4673-b9fb-5393e4f4748b.html" target="element"> cob_ahorros..sp_puntuacionAV </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c546950e-fa64-415e-a04a-e07d6f000c15.html" target="element">  </a> </td>
																				<td> <a href="../elements/c546950e-fa64-415e-a04a-e07d6f000c15.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/7b4798bd-341c-43cb-8d17-468a7e5ef550.html" target="element"> cob_credito..sp_utilidades_intranet 'ahorros' </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b36e947b-39d1-4268-a962-9e39f10a27a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/b36e947b-39d1-4268-a962-9e39f10a27a7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																				<td> <a href="../elements/63ab5f4b-e8a7-4caa-8d65-1efb181d1b9b.html" target="element"> cob_credito..sp_utilidades_intranet 'clientes' </a> </td>
																			</tr>

															
															
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/e4078cf2-9e98-4f4c-94ec-12725e5bda34.html" target="element">  </a> </td>
																				<td> <a href="../elements/e4078cf2-9e98-4f4c-94ec-12725e5bda34.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
																				<td> <a href="../elements/63ab5f4b-e8a7-4caa-8d65-1efb181d1b9b.html" target="element"> cob_credito..sp_utilidades_intranet 'clientes' </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/54d670fa-b20b-4622-a402-0825c6d41aff.html" target="element">  </a> </td>
																				<td> <a href="../elements/54d670fa-b20b-4622-a402-0825c6d41aff.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
																				<td> <a href="../elements/7b4798bd-341c-43cb-8d17-468a7e5ef550.html" target="element"> cob_credito..sp_utilidades_intranet 'ahorros' </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e07cf9c4-df5e-4f4a-baaa-4aef3bad51ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/e07cf9c4-df5e-4f4a-baaa-4aef3bad51ec.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/579664f3.html" target="element"> Aplicaci&#243;n Web - FEL Persona </a> </td>
																				<td> <a href="../elements/06c8880a-4c3a-4673-b9fb-5393e4f4748b.html" target="element"> cob_ahorros..sp_puntuacionAV </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7460dbc6-f42c-46b3-8a8f-a18ad09bc2f4.html" target="element">  </a> </td>
																				<td> <a href="../elements/7460dbc6-f42c-46b3-8a8f-a18ad09bc2f4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																				<td> <a href="../elements/63ab5f4b-e8a7-4caa-8d65-1efb181d1b9b.html" target="element"> cob_credito..sp_utilidades_intranet 'clientes' </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/11411b78-e79e-4e49-9f44-baea64262502.html" target="element">  </a> </td>
																				<td> <a href="../elements/11411b78-e79e-4e49-9f44-baea64262502.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																				<td> <a href="../elements/7b4798bd-341c-43cb-8d17-468a7e5ef550.html" target="element"> cob_credito..sp_utilidades_intranet 'ahorros' </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2461ad2a-d6fc-4c0b-b30f-19327b914dce.html" target="element">  </a> </td>
																				<td> <a href="../elements/2461ad2a-d6fc-4c0b-b30f-19327b914dce.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96ed9017-694d-4068-ab46-0627d1be52f5.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																				<td> <a href="../elements/06c8880a-4c3a-4673-b9fb-5393e4f4748b.html" target="element"> cob_ahorros..sp_puntuacionAV </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>