<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ESB_024</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ESB_024</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fed42aeb-e13e-4f1e-bebb-f3156c3cbd2d.png" alt="ESB_024" usemap="#fed42aeb-e13e-4f1e-bebb-f3156c3cbd2dmap"/>
			   <map name="fed42aeb-e13e-4f1e-bebb-f3156c3cbd2dmap">
				          <area shape="rect" coords="836,134,942,220" href="../objects/11cf849b-758f-4fe6-b51a-a76654cd797b.html" target="element" >
				  		<area shape="rect" coords="812,20,1052,130" href="../elements/fb981bb3.html"  target="element">
				  		<area shape="rect" coords="476,20,716,130" href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html"  target="element">
				          <area shape="rect" coords="620,140,726,226" href="../objects/712baec8-158b-401b-a88a-f975741b70ff.html" target="element" >
				          <area shape="rect" coords="226,128,332,214" href="../objects/a2c1ad1b-52a7-4968-88c0-9c9b5e4a4ee0.html" target="element" >
				  		<area shape="rect" coords="56,248,368,298" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="56,20,384,106" href="../elements/536d11f6.html"  target="element">
				          <area shape="rect" coords="1988,832,2094,892" href="../objects/e368e042-1188-427c-a877-f61dbae3e6f9.html" target="element" >
				  								<area shape="rect" coords="2204,932,2638,1054" href="../elements/03ec5d9d-1366-4808-a10f-20270eeb9f90.html"  target="element">
				  								<area shape="rect" coords="2204,788,2638,910" href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html"  target="element">

				  						<area shape="rect" coords="2180,692,2662,1078" href="../elements/9c591212.html"  target="element">

				  				<area shape="rect" coords="2132,644,2686,1102" href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html"  target="element">

				          <area shape="rect" coords="2084,356,2710,1366" href="../objects/2b760b8f-81b9-4e16-8192-575d62cb2898.html" target="element" >
				  						<area shape="rect" coords="94,668,334,788" href="../elements/62cec5d8.html"  target="element">

				  				<area shape="rect" coords="46,452,382,1292" href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html"  target="element">
				  												<area shape="rect" coords="548,1124,1774,1174" href="../elements/c2e845fb-9fce-403d-8241-d975295ad13e.html"  target="element">

				  										<area shape="rect" coords="524,1076,1798,1198" href="../elements/a66117b8.html"  target="element">

				  								<area shape="rect" coords="500,1028,1822,1222" href="../elements/da8dd1f6.html"  target="element">
				  										<area shape="rect" coords="1340,692,1798,958" href="../elements/28162ccb.html"  target="element">

				  								<area shape="rect" coords="1316,620,1822,982" href="../elements/0a2dccb9.html"  target="element">
				  										<area shape="rect" coords="596,812,862,910" href="../elements/ccce2d3c.html"  target="element">
				  										<area shape="rect" coords="524,668,766,790" href="../elements/da1a980e.html"  target="element">

				  								<area shape="rect" coords="500,620,886,982" href="../elements/09685725.html"  target="element">
				  										<area shape="rect" coords="956,716,1270,910" href="../elements/0937407e.html"  target="element">

				  								<area shape="rect" coords="932,620,1294,982" href="../elements/1cdadd6d.html"  target="element">

				  						<area shape="rect" coords="476,524,1870,1270" href="../elements/3af9d480.html"  target="element">

				  				<area shape="rect" coords="404,452,1918,1318" href="../elements/2a08dfb0.html"  target="element">

				          <area shape="rect" coords="20,356,1990,1366" href="../objects/2c7e97de-cff6-4769-8efb-bbeba05d1915.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/2c7e97de-cff6-4769-8efb-bbeba05d1915.html" target="element"> ESB-FNA </a> </td>
									           <td> <a href="../objects/2c7e97de-cff6-4769-8efb-bbeba05d1915.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
													    <td> <a href="../elements/2a08dfb0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
															    <td> <a href="../elements/3af9d480.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/1cdadd6d.html" target="element"> GW01_Gateway_Services </a> </td>
																	    <td> <a href="../elements/1cdadd6d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																			    <td> <a href="../elements/0937407e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																	    <td> <a href="../elements/09685725.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/da1a980e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																			    <td> <a href="../elements/ccce2d3c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/0a2dccb9.html" target="element"> WS01_Integration_AdpInt </a> </td>
																	    <td> <a href="../elements/0a2dccb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/28162ccb.html" target="element"> FWK_WebServicesIntegrationAdapter </a> </td>
																			    <td> <a href="../elements/28162ccb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																			    <td> <a href="../elements/a66117b8.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/c2e845fb-9fce-403d-8241-d975295ad13e.html" target="element"> ESB_024_recuperarInfoBasica </a> </td>
																					    <td> <a href="../elements/c2e845fb-9fce-403d-8241-d975295ad13e.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																					</tr>

																			
																	
															
													
													<tr>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
													    <td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
															    <td> <a href="../elements/62cec5d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/2b760b8f-81b9-4e16-8192-575d62cb2898.html" target="element"> Backend </a> </td>
									           <td> <a href="../objects/2b760b8f-81b9-4e16-8192-575d62cb2898.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
															    <td> <a href="../elements/9c591212.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html" target="element"> AS055-consultarConsumidorFinancieroPorIdentificacion </a> </td>
																	    <td> <a href="../elements/afb22e98-f172-4c8d-802b-5d5f3944b752.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/03ec5d9d-1366-4808-a10f-20270eeb9f90.html" target="element"> AS055-consultarConsumidorFinancieroPorCodigo </a> </td>
																	    <td> <a href="../elements/03ec5d9d-1366-4808-a10f-20270eeb9f90.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/e368e042-1188-427c-a877-f61dbae3e6f9.html" target="element">  </a> </td>
									           <td> <a href="../objects/e368e042-1188-427c-a877-f61dbae3e6f9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
											    <td> <a href="../elements/536d11f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/a2c1ad1b-52a7-4968-88c0-9c9b5e4a4ee0.html" target="element">  </a> </td>
									           <td> <a href="../objects/a2c1ad1b-52a7-4968-88c0-9c9b5e4a4ee0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/712baec8-158b-401b-a88a-f975741b70ff.html" target="element">  </a> </td>
									           <td> <a href="../objects/712baec8-158b-401b-a88a-f975741b70ff.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
											    <td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
											    <td> <a href="../elements/fb981bb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/11cf849b-758f-4fe6-b51a-a76654cd797b.html" target="element">  </a> </td>
									           <td> <a href="../objects/11cf849b-758f-4fe6-b51a-a76654cd797b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element">  </a> </td>
																				<td> <a href="../elements/b51bbe1c-4853-419f-926f-d3facb68d2bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/2a08dfb0.html" target="element"> BROKER9_BUS </a> </td>
																				<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element">  </a> </td>
																						<td> <a href="../elements/deacae31-8e28-4633-afab-8a83040709f7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/3af9d480.html" target="element"> Framework ESB </a> </td>
																						<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																					</tr>

																									<tr>
																										<td> <a href="../elements/c05de810-3808-4e30-a2df-497f77690311.html" target="element">  </a> </td>
																										<td> <a href="../elements/c05de810-3808-4e30-a2df-497f77690311.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																										<td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																									</tr>

																	
																							<tr>
																								<td> <a href="../elements/41c985fc-dce6-4443-b78a-25e0c6a106a6.html" target="element">  </a> </td>
																								<td> <a href="../elements/41c985fc-dce6-4443-b78a-25e0c6a106a6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																								<td> <a href="../elements/09685725.html" target="element"> WS01_Technology_AdpTch </a> </td>
																								<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/0cf8dc20.html" target="element">  </a> </td>
																										<td> <a href="../elements/0cf8dc20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/55211bb7.html" target="element">  </a> </td>
																										<td> <a href="../elements/55211bb7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																										<td> <a href="../elements/0937407e.html" target="element"> FWK_ServiceGateway </a> </td>
																									</tr>

																	
																	
																							<tr>
																								<td> <a href="../elements/cd8c5fea-75a1-405a-b7bc-42a7b88e2719.html" target="element">  </a> </td>
																								<td> <a href="../elements/cd8c5fea-75a1-405a-b7bc-42a7b88e2719.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																								<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																								<td> <a href="../elements/a66117b8.html" target="element"> ESB_024_ClientePN_RecuperarInformacionBasica </a> </td>
																							</tr>

																			
																	
															
													
																			<tr>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/342e324d-299f-4057-aac3-c82c5540d6f5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/904db72b-4371-4ccf-a2ce-29983e21280c.html" target="element"> BROKER9_BUS_DMZ </a> </td>
																				<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element">  </a> </td>
																						<td> <a href="../elements/acbc26b4-6ea9-4e54-bbe7-7cf05f8bc0c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/62cec5d8.html" target="element"> Adaptador Tecnologia SOAP DMZ </a> </td>
																						<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/a99d7c3e-f945-4800-8bee-607b04c223a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/a99d7c3e-f945-4800-8bee-607b04c223a2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
																				<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																			</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/6af879d6-8b0c-4058-83b8-75ea78539a70.html" target="element">  </a> </td>
																		<td> <a href="../elements/6af879d6-8b0c-4058-83b8-75ea78539a70.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/9c591212.html" target="element"> AS055-ConsultaConsumidorFinanciero </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b5b8195-e837-402c-beb7-34963267fddb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/da1a980e.html" target="element"> FWK_WebServiceTechnologyAdapter </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/9a986192-8456-439f-8cdf-77d536c6c659.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a986192-8456-439f-8cdf-77d536c6c659.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9b60b40b-a755-4280-b5c6-f4f3a39e13a4.html" target="element"> Aplicaci&#243;n Consumidora FNA </a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5f36bb95-c54d-4c17-9ac6-48b88fcefeb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f36bb95-c54d-4c17-9ac6-48b88fcefeb6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/fb981bb3.html" target="element"> FNAMobile - Back </a> </td>
																		<td> <a href="../elements/ccce2d3c.html" target="element"> FWK_RestTechnologyAdapter </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>