<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Segmento.3.SOA FNA 181-2020.2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Segmento.3.SOA FNA 181-2020.2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1ade1fc042d14cf7b9654076b1c4da9e.png" alt="Segmento.3.SOA FNA 181-2020.2" usemap="#id-1ade1fc042d14cf7b9654076b1c4da9emap"/>
			   <map name="id-1ade1fc042d14cf7b9654076b1c4da9emap">
				          <area shape="rect" coords="20,20,390,180" href="../objects/id-203dd1e1135c4dffb6351ba0dc753741.html" target="element" >
				  		<area shape="rect" coords="2120,1776,2360,1886" href="../elements/bb4a936f.html"  target="element">
				  		<area shape="rect" coords="1820,1776,2060,1886" href="../elements/7b27761a.html"  target="element">
				  		<area shape="rect" coords="716,912,956,1022" href="../elements/cf461829.html"  target="element">
				  		<area shape="rect" coords="416,912,656,1022" href="../elements/4c26b231.html"  target="element">
				  		<area shape="rect" coords="20,236,260,346" href="../elements/f8ff3536.html"  target="element">
				  		<area shape="rect" coords="3016,272,3256,382" href="../elements/c8a8ca55.html"  target="element">
				  		<area shape="rect" coords="2716,272,2956,382" href="../elements/54065f7e.html"  target="element">
				  		<area shape="rect" coords="2120,836,2360,946" href="../elements/2b887ba9.html"  target="element">
				  		<area shape="rect" coords="1820,836,2060,946" href="../elements/16b5b737.html"  target="element">
				  		<area shape="rect" coords="1520,836,1760,946" href="../elements/56b227ae.html"  target="element">
				  		<area shape="rect" coords="2120,636,2360,746" href="../elements/8a5026b1.html"  target="element">
				  		<area shape="rect" coords="1820,636,2060,746" href="../elements/4a85c8f2.html"  target="element">
				  		<area shape="rect" coords="1520,636,1760,746" href="../elements/15ab4739.html"  target="element">
				  		<area shape="rect" coords="2120,436,2360,546" href="../elements/354399f6.html"  target="element">
				  		<area shape="rect" coords="1820,436,2060,546" href="../elements/19558b78.html"  target="element">
				  		<area shape="rect" coords="1520,436,1760,546" href="../elements/29a2c4d0.html"  target="element">
				  		<area shape="rect" coords="2120,236,2360,346" href="../elements/1a72dd46.html"  target="element">
				  		<area shape="rect" coords="1820,236,2060,346" href="../elements/8c8d5428.html"  target="element">
				  		<area shape="rect" coords="1520,236,1760,346" href="../elements/8ca9f4e4.html"  target="element">
				  		<area shape="rect" coords="716,744,956,854" href="../elements/284d6c4c.html"  target="element">
				  		<area shape="rect" coords="416,744,656,854" href="../elements/1bc44151.html"  target="element">
				  		<area shape="rect" coords="708,436,948,546" href="../elements/8831065e.html"  target="element">
				  		<area shape="rect" coords="408,436,648,546" href="../elements/f77894bd.html"  target="element">
				  		<area shape="rect" coords="1008,236,1248,346" href="../elements/f3ac3208.html"  target="element">
				  		<area shape="rect" coords="708,236,948,346" href="../elements/ab51167b.html"  target="element">
				  		<area shape="rect" coords="408,236,648,346" href="../elements/dcc589f6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/dcc589f6.html" target="element"> Aplicaci&#243;n ScriptPortlet - Planilla de Consignaci&#243;n </a> </td>
											    <td> <a href="../elements/dcc589f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
											    <td> <a href="../elements/ab51167b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f3ac3208.html" target="element"> Aplicaci&#243;n Web - Gesti&#243;n Traslado </a> </td>
											    <td> <a href="../elements/f3ac3208.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
											    <td> <a href="../elements/f77894bd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
											    <td> <a href="../elements/8831065e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1bc44151.html" target="element"> COBIS - Cesantias </a> </td>
											    <td> <a href="../elements/1bc44151.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/284d6c4c.html" target="element"> Cesantias </a> </td>
											    <td> <a href="../elements/284d6c4c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
											    <td> <a href="../elements/8ca9f4e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8c8d5428.html" target="element"> Educativo </a> </td>
											    <td> <a href="../elements/8c8d5428.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a72dd46.html" target="element"> Procesos Misionales </a> </td>
											    <td> <a href="../elements/1a72dd46.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/29a2c4d0.html" target="element"> Hipotecario </a> </td>
											    <td> <a href="../elements/29a2c4d0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
											    <td> <a href="../elements/19558b78.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
											    <td> <a href="../elements/354399f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/15ab4739.html" target="element"> Aplicaci&#243;n Web - Cr&#233;dito Constructor </a> </td>
											    <td> <a href="../elements/15ab4739.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a85c8f2.html" target="element"> Aplicaci&#243;n Web - Scoring </a> </td>
											    <td> <a href="../elements/4a85c8f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
											    <td> <a href="../elements/8a5026b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
											    <td> <a href="../elements/56b227ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16b5b737.html" target="element"> Servicios Score </a> </td>
											    <td> <a href="../elements/16b5b737.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
											    <td> <a href="../elements/2b887ba9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
											    <td> <a href="../elements/54065f7e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8a8ca55.html" target="element"> COBIS - Cartera </a> </td>
											    <td> <a href="../elements/c8a8ca55.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
											    <td> <a href="../elements/f8ff3536.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4c26b231.html" target="element"> COBIS - AVC </a> </td>
											    <td> <a href="../elements/4c26b231.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf461829.html" target="element"> Ahorro Voluntario </a> </td>
											    <td> <a href="../elements/cf461829.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
											    <td> <a href="../elements/7b27761a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb4a936f.html" target="element"> Transunion </a> </td>
											    <td> <a href="../elements/bb4a936f.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-203dd1e1135c4dffb6351ba0dc753741.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-203dd1e1135c4dffb6351ba0dc753741.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/054ee0ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/054ee0ae.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/dcc589f6.html" target="element"> Aplicaci&#243;n ScriptPortlet - Planilla de Consignaci&#243;n </a> </td>
																		<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a0d9d784.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0d9d784.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a2c2b202.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2c2b202.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/f3ac3208.html" target="element"> Aplicaci&#243;n Web - Gesti&#243;n Traslado </a> </td>
																		<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8966709.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8966709.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ae46ed56.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae46ed56.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																		<td> <a href="../elements/ab51167b.html" target="element"> Aporte Censatias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/964863e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/964863e4.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6815bda1.html" target="element">  </a> </td>
																		<td> <a href="../elements/6815bda1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																		<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/824b0d05.html" target="element">  </a> </td>
																		<td> <a href="../elements/824b0d05.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/1bc44151.html" target="element"> COBIS - Cesantias </a> </td>
																		<td> <a href="../elements/284d6c4c.html" target="element"> Cesantias </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2e4b9ef8-aa81-417f-a7cc-72cdb493559f.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e4b9ef8-aa81-417f-a7cc-72cdb493559f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																		<td> <a href="../elements/8c8d5428.html" target="element"> Educativo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5497929b-1e23-4bae-b7da-f11521d39d7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/5497929b-1e23-4bae-b7da-f11521d39d7a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																		<td> <a href="../elements/29a2c4d0.html" target="element"> Hipotecario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e07d3e3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e07d3e3e.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e9046a3f-15fe-45bb-9e6a-40edaded0f15.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9046a3f-15fe-45bb-9e6a-40edaded0f15.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a72dd46.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b55e539f-cfd9-4b81-b904-8decd13a846b.html" target="element">  </a> </td>
																		<td> <a href="../elements/b55e539f-cfd9-4b81-b904-8decd13a846b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a72dd46.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/23629ac9-e7c5-4f73-af97-0f29e919c24d.html" target="element">  </a> </td>
																		<td> <a href="../elements/23629ac9-e7c5-4f73-af97-0f29e919c24d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a72dd46.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aad1e0cd-70aa-4741-8f98-357cd291308e.html" target="element">  </a> </td>
																		<td> <a href="../elements/aad1e0cd-70aa-4741-8f98-357cd291308e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/1a72dd46.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/42b71156.html" target="element">  </a> </td>
																		<td> <a href="../elements/42b71156.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/585dabde.html" target="element">  </a> </td>
																		<td> <a href="../elements/585dabde.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																		<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c9b1232e.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9b1232e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62ad7be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/62ad7be5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																		<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5052226a.html" target="element">  </a> </td>
																		<td> <a href="../elements/5052226a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/354399f6.html" target="element"> Aplicaci&#243;n EJB - Credito Constructor  </a> </td>
																		<td> <a href="../elements/15ab4739.html" target="element"> Aplicaci&#243;n Web - Cr&#233;dito Constructor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/58e1da43.html" target="element">  </a> </td>
																		<td> <a href="../elements/58e1da43.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/15ab4739.html" target="element"> Aplicaci&#243;n Web - Cr&#233;dito Constructor </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2c97b81.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2c97b81.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4a85c8f2.html" target="element"> Aplicaci&#243;n Web - Scoring </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/70509f8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/70509f8f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element">  </a> </td>
																		<td> <a href="../elements/265f85e4-caae-4339-9bf1-fe330f5ee147.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																		<td> <a href="../elements/19558b78.html" target="element"> Aplicaci&#243;n Back - Bizagi Engine </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/893bf157.html" target="element">  </a> </td>
																		<td> <a href="../elements/893bf157.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/44c2354d-30ce-44f6-b6bd-2895156cafdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/44c2354d-30ce-44f6-b6bd-2895156cafdc.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/56b227ae.html" target="element"> COBIS - Cr&#233;dito </a> </td>
																		<td> <a href="../elements/8a5026b1.html" target="element"> BIZAGI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cbeabe62.html" target="element">  </a> </td>
																		<td> <a href="../elements/cbeabe62.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/16b5b737.html" target="element"> Servicios Score </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/589afb68.html" target="element">  </a> </td>
																		<td> <a href="../elements/589afb68.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																		<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3e086932.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e086932.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/c8a8ca55.html" target="element"> COBIS - Cartera </a> </td>
																		<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/07986b71.html" target="element">  </a> </td>
																		<td> <a href="../elements/07986b71.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4b9fb6d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b9fb6d9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4c26b231.html" target="element"> COBIS - AVC </a> </td>
																		<td> <a href="../elements/cf461829.html" target="element"> Ahorro Voluntario </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/02ad18e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/02ad18e6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
																		<td> <a href="../elements/16b5b737.html" target="element"> Servicios Score </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d8cca29e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8cca29e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bb4a936f.html" target="element"> Transunion </a> </td>
																		<td> <a href="../elements/16b5b737.html" target="element"> Servicios Score </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>