<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Oficina. Flujo Arq. 1n.1. ADM. 2b. Proveedores</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Oficina. Flujo Arq. 1n.1. ADM. 2b. Proveedores</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-456d3963f0c04efc971e1ea4538ae3f7.png" alt="Oficina. Flujo Arq. 1n.1. ADM. 2b. Proveedores" usemap="#id-456d3963f0c04efc971e1ea4538ae3f7map"/>
			   <map name="id-456d3963f0c04efc971e1ea4538ae3f7map">
				  		<area shape="rect" coords="1716,848,2124,958" href="../elements/id-d6cc64cf5c5c4b19bf498f9256345041.html"  target="element">
				  		<area shape="rect" coords="1718,2656,2218,2766" href="../elements/id-e5c2aa9b26794595b0d8596b83cedb92.html"  target="element">
				  		<area shape="rect" coords="1502,2792,2002,2902" href="../elements/id-8471a07b33a640968a6935454b4bfcf2.html"  target="element">
				  				<area shape="rect" coords="1550,2156,2050,2266" href="../elements/id-1a9a15325ccc483498f3068fbae8495b.html"  target="element">
				  				<area shape="rect" coords="1550,1436,2050,1546" href="../elements/id-aef957d71afd4033bab9a19760b4857f.html"  target="element">
				  				<area shape="rect" coords="1550,2400,2050,2510" href="../elements/id-11c69cc36fec4d29875ee592c1ff507e.html"  target="element">
				  				<area shape="rect" coords="1550,2280,2050,2390" href="../elements/id-bbf1390313174a69844ce476ecdf501e.html"  target="element">
				  				<area shape="rect" coords="1550,2036,2050,2146" href="../elements/id-77fb42b576014526bf33e641963dd82c.html"  target="element">
				  				<area shape="rect" coords="1550,1916,2050,2026" href="../elements/id-5430f89d3e22433b97aa7510257e66ab.html"  target="element">
				  				<area shape="rect" coords="1550,1556,2050,1666" href="../elements/id-4a32e697acc2407db7884d1e79a438a7.html"  target="element">

				  		<area shape="rect" coords="1502,1340,2118,2578" href="../elements/id-307c42587b714fc5847206e4aca764c6.html"  target="element">
				  		<area shape="rect" coords="926,152,1238,262" href="../elements/id-31b02a77ee6c420085095d93123ab71a.html"  target="element">
				  		<area shape="rect" coords="1382,260,1622,370" href="../elements/id-c400f3822acc42e2a30405ea8dd88db7.html"  target="element">
				  		        <area shape="rect" coords="1550,548,1648,598" href="../objects/id-93a31112aaf9404bbef68abdb075e88a.html" target="element" >

				  		<area shape="rect" coords="1382,428,1718,620" href="../elements/id-0698e33d751a4b15931ed6aab4508fe6.html"  target="element">
				          <area shape="rect" coords="20,20,500,262" href="../objects/id-f834ff19c061409aa52fb46850ee4235.html" target="element" >
				  		<area shape="rect" coords="1382,68,1622,178" href="../elements/id-678884913a5d45379e96d0151ac7835f.html"  target="element">
				  		        <area shape="rect" coords="326,1268,424,1318" href="../objects/id-d8eb72b945364e28af9f306eaef9c844.html" target="element" >
				  		        <area shape="rect" coords="422,1268,520,1318" href="../objects/id-e0e1feda28514539b5132c58e9696414.html" target="element" >

				  		<area shape="rect" coords="254,1196,544,1330" href="../elements/id-e8035ea9d6a94d2da0ff434df2e0b50c.html"  target="element">
				  		        <area shape="rect" coords="854,1268,952,1318" href="../objects/id-be69adfc3e014ea3980e18c5fcb3f2a8.html" target="element" >

				  		<area shape="rect" coords="638,1196,976,1330" href="../elements/id-fecc6377b0f84130aeb744beb7f1568a.html"  target="element">
				  		        <area shape="rect" coords="186,1532,284,1582" href="../objects/id-ad1e065ef51c4e8786a6245e8c3ab3b5.html" target="element" >

				  		<area shape="rect" coords="20,1460,306,1594" href="../elements/id-57723ba141744c00bf0be0a70b8035ec.html"  target="element">
				  				        <area shape="rect" coords="1052,500,1150,550" href="../objects/id-5240c0551d7240c98f58101a82408868.html" target="element" >

				  				<area shape="rect" coords="884,428,1172,572" href="../elements/id-59b152aeccaf44599b80ea8377c9a1d8.html"  target="element">
				  				        <area shape="rect" coords="212,504,310,554" href="../objects/id-eaa64d1a722e4482aa30aa800e0b8a4a.html" target="element" >

				  				<area shape="rect" coords="92,432,332,566" href="../elements/id-17753de3add043a7baf7ca6517b8d675.html"  target="element">
				  				        <area shape="rect" coords="816,812,914,862" href="../objects/id-4c887afe74254819b57bdbf988bc4a21.html" target="element" >

				  				<area shape="rect" coords="668,740,936,874" href="../elements/id-7f329c1dc58f438abd97ae3cd5a512f3.html"  target="element">

				  		<area shape="rect" coords="20,356,1240,958" href="../elements/id-c4dc1200c264443f95715da63d4e1c94.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c4dc1200c264443f95715da63d4e1c94.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
											    <td> <a href="../elements/id-c4dc1200c264443f95715da63d4e1c94.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7f329c1dc58f438abd97ae3cd5a512f3.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
													    <td> <a href="../elements/id-7f329c1dc58f438abd97ae3cd5a512f3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-4c887afe74254819b57bdbf988bc4a21.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4c887afe74254819b57bdbf988bc4a21.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-17753de3add043a7baf7ca6517b8d675.html" target="element"> Arquitecto FNA </a> </td>
													    <td> <a href="../elements/id-17753de3add043a7baf7ca6517b8d675.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-eaa64d1a722e4482aa30aa800e0b8a4a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-eaa64d1a722e4482aa30aa800e0b8a4a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-59b152aeccaf44599b80ea8377c9a1d8.html" target="element"> GOB03. Modelamiento </a> </td>
													    <td> <a href="../elements/id-59b152aeccaf44599b80ea8377c9a1d8.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5240c0551d7240c98f58101a82408868.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5240c0551d7240c98f58101a82408868.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-57723ba141744c00bf0be0a70b8035ec.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
											    <td> <a href="../elements/id-57723ba141744c00bf0be0a70b8035ec.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-ad1e065ef51c4e8786a6245e8c3ab3b5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ad1e065ef51c4e8786a6245e8c3ab3b5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-fecc6377b0f84130aeb744beb7f1568a.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
											    <td> <a href="../elements/id-fecc6377b0f84130aeb744beb7f1568a.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-be69adfc3e014ea3980e18c5fcb3f2a8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-be69adfc3e014ea3980e18c5fcb3f2a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-e8035ea9d6a94d2da0ff434df2e0b50c.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
											    <td> <a href="../elements/id-e8035ea9d6a94d2da0ff434df2e0b50c.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e0e1feda28514539b5132c58e9696414.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e0e1feda28514539b5132c58e9696414.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d8eb72b945364e28af9f306eaef9c844.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d8eb72b945364e28af9f306eaef9c844.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-678884913a5d45379e96d0151ac7835f.html" target="element"> Actores &#193;reas FNA </a> </td>
											    <td> <a href="../elements/id-678884913a5d45379e96d0151ac7835f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-f834ff19c061409aa52fb46850ee4235.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f834ff19c061409aa52fb46850ee4235.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0698e33d751a4b15931ed6aab4508fe6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-0698e33d751a4b15931ed6aab4508fe6.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-93a31112aaf9404bbef68abdb075e88a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-93a31112aaf9404bbef68abdb075e88a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c400f3822acc42e2a30405ea8dd88db7.html" target="element"> Contenidos </a> </td>
											    <td> <a href="../elements/id-c400f3822acc42e2a30405ea8dd88db7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31b02a77ee6c420085095d93123ab71a.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
											    <td> <a href="../elements/id-31b02a77ee6c420085095d93123ab71a.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
											    <td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4a32e697acc2407db7884d1e79a438a7.html" target="element"> CCF02. Gesti&#243;n del dise&#241;o y arquitecturas: categorizaci&#243;n de complejidad </a> </td>
													    <td> <a href="../elements/id-4a32e697acc2407db7884d1e79a438a7.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5430f89d3e22433b97aa7510257e66ab.html" target="element"> CCF05. Correspondencia complejidad </a> </td>
													    <td> <a href="../elements/id-5430f89d3e22433b97aa7510257e66ab.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-77fb42b576014526bf33e641963dd82c.html" target="element"> CCF10. D&#233;bil (o inexistente) procedimiento de evaluaci&#243;n de inversi&#243;n&#8203; </a> </td>
													    <td> <a href="../elements/id-77fb42b576014526bf33e641963dd82c.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bbf1390313174a69844ce476ecdf501e.html" target="element"> CCF12. Normnalizar registro de resultados de las entregas de proveedores&#8203; (confiabilidad) </a> </td>
													    <td> <a href="../elements/id-bbf1390313174a69844ce476ecdf501e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-11c69cc36fec4d29875ee592c1ff507e.html" target="element"> CCF13. Asignaci&#243;n de responsables de gesti&#243;n de las inversiones de TI </a> </td>
													    <td> <a href="../elements/id-11c69cc36fec4d29875ee592c1ff507e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aef957d71afd4033bab9a19760b4857f.html" target="element"> CCF01. Debilidad en la completitud de los CU </a> </td>
													    <td> <a href="../elements/id-aef957d71afd4033bab9a19760b4857f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a9a15325ccc483498f3068fbae8495b.html" target="element"> CCF11. D&#233;bil (o inexistente) formalidad para el c&#225;lculo de eficacia un inversi&#243;n&#8203; TI, proveedores </a> </td>
													    <td> <a href="../elements/id-1a9a15325ccc483498f3068fbae8495b.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8471a07b33a640968a6935454b4bfcf2.html" target="element"> CCF04. Normalizaci&#243;n y fortalecimiento de los ambientes QA </a> </td>
											    <td> <a href="../elements/id-8471a07b33a640968a6935454b4bfcf2.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e5c2aa9b26794595b0d8596b83cedb92.html" target="element"> CCF03. Herramientas y m&#233;todos de QA relacionados con sistemas distribuidos y QA </a> </td>
											    <td> <a href="../elements/id-e5c2aa9b26794595b0d8596b83cedb92.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6cc64cf5c5c4b19bf498f9256345041.html" target="element"> GOB02. Roles y Responsabilidades Oficina de Arquitectura </a> </td>
											    <td> <a href="../elements/id-d6cc64cf5c5c4b19bf498f9256345041.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-911c29da73b243fa9c21545d0323b2d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-911c29da73b243fa9c21545d0323b2d8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c4dc1200c264443f95715da63d4e1c94.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/id-17753de3add043a7baf7ca6517b8d675.html" target="element"> Arquitecto FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a9dc7c07373d4c1ca7bf20607170e597.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9dc7c07373d4c1ca7bf20607170e597.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c4dc1200c264443f95715da63d4e1c94.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f86c3c3b8a4e4e90a48e194e4db4064c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f86c3c3b8a4e4e90a48e194e4db4064c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c4dc1200c264443f95715da63d4e1c94.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/id-7f329c1dc58f438abd97ae3cd5a512f3.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b08814d445e4aecbbb6bed4682e0f5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b08814d445e4aecbbb6bed4682e0f5d.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c4dc1200c264443f95715da63d4e1c94.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/id-31b02a77ee6c420085095d93123ab71a.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-89c9078ac5784e519d2e42639e49198a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89c9078ac5784e519d2e42639e49198a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-7f329c1dc58f438abd97ae3cd5a512f3.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																				<td> <a href="../elements/id-e8035ea9d6a94d2da0ff434df2e0b50c.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70af5b912c1c4c43ad912850b28e55d9.html" target="element"> detalle </a> </td>
																				<td> <a href="../elements/id-70af5b912c1c4c43ad912850b28e55d9.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-7f329c1dc58f438abd97ae3cd5a512f3.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																				<td> <a href="../elements/id-fecc6377b0f84130aeb744beb7f1568a.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-e3d42ba802924f079bb85bf454aa4e52.html" target="element"> detalle N100 </a> </td>
																				<td> <a href="../elements/id-e3d42ba802924f079bb85bf454aa4e52.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-17753de3add043a7baf7ca6517b8d675.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/id-59b152aeccaf44599b80ea8377c9a1d8.html" target="element"> GOB03. Modelamiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e7c3b1beb68d444cb19769b469914e61.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e7c3b1beb68d444cb19769b469914e61.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-17753de3add043a7baf7ca6517b8d675.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/id-e8035ea9d6a94d2da0ff434df2e0b50c.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c735ca1952cd4df2864e3b3b78f9c0b7.html" target="element"> inicia </a> </td>
																				<td> <a href="../elements/id-c735ca1952cd4df2864e3b3b78f9c0b7.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-17753de3add043a7baf7ca6517b8d675.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/id-57723ba141744c00bf0be0a70b8035ec.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-86b549f12133473496fdf05cf7f02b4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-86b549f12133473496fdf05cf7f02b4c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-59b152aeccaf44599b80ea8377c9a1d8.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/id-0698e33d751a4b15931ed6aab4508fe6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-217e5b33326143e0b7c435aa3c35b274.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-217e5b33326143e0b7c435aa3c35b274.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-59b152aeccaf44599b80ea8377c9a1d8.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-d879f0747022461fb72afed5348f07a4.html" target="element"> accede </a> </td>
																		<td> <a href="../elements/id-d879f0747022461fb72afed5348f07a4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-678884913a5d45379e96d0151ac7835f.html" target="element"> Actores &#193;reas FNA </a> </td>
																		<td> <a href="../elements/id-c400f3822acc42e2a30405ea8dd88db7.html" target="element"> Contenidos </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-4aefa6c5929d495b823df95e39130525.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4aefa6c5929d495b823df95e39130525.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0698e33d751a4b15931ed6aab4508fe6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-c400f3822acc42e2a30405ea8dd88db7.html" target="element"> Contenidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-227e1f75e2b54909a0992484d167c296.html" target="element"> incidencia </a> </td>
																		<td> <a href="../elements/id-227e1f75e2b54909a0992484d167c296.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0698e33d751a4b15931ed6aab4508fe6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-a9b167e68bfb4a2f890c4a26d2ff3770.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9b167e68bfb4a2f890c4a26d2ff3770.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-4a32e697acc2407db7884d1e79a438a7.html" target="element"> CCF02. Gesti&#243;n del dise&#241;o y arquitecturas: categorizaci&#243;n de complejidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fbe8296edf5f428cb1eb86987ce17cb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbe8296edf5f428cb1eb86987ce17cb2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-1a9a15325ccc483498f3068fbae8495b.html" target="element"> CCF11. D&#233;bil (o inexistente) formalidad para el c&#225;lculo de eficacia un inversi&#243;n&#8203; TI, proveedores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d495d4da06db4d4080e1a16e9509e43e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d495d4da06db4d4080e1a16e9509e43e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-bbf1390313174a69844ce476ecdf501e.html" target="element"> CCF12. Normnalizar registro de resultados de las entregas de proveedores&#8203; (confiabilidad) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06dc4c9649754a8ebeea14ee6c806954.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06dc4c9649754a8ebeea14ee6c806954.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-5430f89d3e22433b97aa7510257e66ab.html" target="element"> CCF05. Correspondencia complejidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37caf7ddb9494ed6846dc071cb90c832.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37caf7ddb9494ed6846dc071cb90c832.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-11c69cc36fec4d29875ee592c1ff507e.html" target="element"> CCF13. Asignaci&#243;n de responsables de gesti&#243;n de las inversiones de TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29a2118c31bb4b73a5e713ed150c8bdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29a2118c31bb4b73a5e713ed150c8bdf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-8471a07b33a640968a6935454b4bfcf2.html" target="element"> CCF04. Normalizaci&#243;n y fortalecimiento de los ambientes QA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5dc48231f24e4c28afb74e6983ce807c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5dc48231f24e4c28afb74e6983ce807c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-77fb42b576014526bf33e641963dd82c.html" target="element"> CCF10. D&#233;bil (o inexistente) procedimiento de evaluaci&#243;n de inversi&#243;n&#8203; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73d5f6014f9a49de8a775d3773374213.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73d5f6014f9a49de8a775d3773374213.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-e5c2aa9b26794595b0d8596b83cedb92.html" target="element"> CCF03. Herramientas y m&#233;todos de QA relacionados con sistemas distribuidos y QA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f26e232ec4f34800afa13e353b2115db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f26e232ec4f34800afa13e353b2115db.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-aef957d71afd4033bab9a19760b4857f.html" target="element"> CCF01. Debilidad en la completitud de los CU </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-457cd2504157455e9a0bd6b9ff2508b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-457cd2504157455e9a0bd6b9ff2508b8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-d6cc64cf5c5c4b19bf498f9256345041.html" target="element"> GOB02. Roles y Responsabilidades Oficina de Arquitectura </a> </td>
																		<td> <a href="../elements/id-307c42587b714fc5847206e4aca764c6.html" target="element"> CCF. Gobierno </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>