<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Comite. Modelo de evaluación. 1a</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Comite. Modelo de evaluaci&#243;n. 1a</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-45d68ad190374da4a329d0734068a76c.png" alt="Comite. Modelo de evaluación. 1a" usemap="#id-45d68ad190374da4a329d0734068a76cmap"/>
			   <map name="id-45d68ad190374da4a329d0734068a76cmap">
				  		<area shape="rect" coords="1222,536,1534,646" href="../elements/id-faca9fdd8389475ba5f1ad6abb12efbb.html"  target="element">
				  		<area shape="rect" coords="1222,264,1534,374" href="../elements/id-86d9ec329be945ce9090c74db50c0089.html"  target="element">
				  		<area shape="rect" coords="908,536,1196,646" href="../elements/id-b95c6b05517d4c98a90da33b886636ed.html"  target="element">
				  		<area shape="rect" coords="908,264,1196,374" href="../elements/id-8ff1db6887ef4239869e6921eb027d7f.html"  target="element">
				  		<area shape="rect" coords="908,398,1196,508" href="../elements/id-b9359e5c8b6b4420aa823873e18263cc.html"  target="element">
				  		<area shape="rect" coords="140,372,526,508" href="../elements/id-6cbeb4314ed741439db15220da0496bd.html"  target="element">
				  		<area shape="rect" coords="1222,398,1534,508" href="../elements/id-e5f34644f7384da98e0b4442cb23eeb9.html"  target="element">
				  		<area shape="rect" coords="20,306,692,574" href="../views/id-db707e0d29b448a6bf32f8e99629d576.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="20,20,430,282" href="../objects/id-7b1a910d9001407db658ec8552c3c02a.html" target="element" >
				  		<area shape="rect" coords="380,644,694,766" href="../elements/id-28fafa4c80d5406a98e2bb07e1b960f0.html"  target="element">
				  		<area shape="rect" coords="20,644,334,766" href="../elements/id-4f716b2f80de47719468be01d502a470.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4f716b2f80de47719468be01d502a470.html" target="element"> Brechas de la evaluaci&#243;n </a> </td>
											    <td> <a href="../elements/id-4f716b2f80de47719468be01d502a470.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28fafa4c80d5406a98e2bb07e1b960f0.html" target="element"> Cambios de la evaluaci&#243;n </a> </td>
											    <td> <a href="../elements/id-28fafa4c80d5406a98e2bb07e1b960f0.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-7b1a910d9001407db658ec8552c3c02a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7b1a910d9001407db658ec8552c3c02a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-db707e0d29b448a6bf32f8e99629d576.html" target="view"> Comite. Modelo de evaluación. 1 </a> </td>
											    <td> <a href="../views/id-db707e0d29b448a6bf32f8e99629d576.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-e5f34644f7384da98e0b4442cb23eeb9.html" target="element"> EVARQ1. Interoperabilidad </a> </td>
											    <td> <a href="../elements/id-e5f34644f7384da98e0b4442cb23eeb9.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6cbeb4314ed741439db15220da0496bd.html" target="element"> PR.EVARQ. M&#233;todo de evaluaci&#243;n de arquitectura (ASAM) del FNA </a> </td>
											    <td> <a href="../elements/id-6cbeb4314ed741439db15220da0496bd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b9359e5c8b6b4420aa823873e18263cc.html" target="element"> EVARQ1.  Flexibilidad </a> </td>
											    <td> <a href="../elements/id-b9359e5c8b6b4420aa823873e18263cc.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ff1db6887ef4239869e6921eb027d7f.html" target="element"> EVARQ1.  Mantenibilidad </a> </td>
											    <td> <a href="../elements/id-8ff1db6887ef4239869e6921eb027d7f.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b95c6b05517d4c98a90da33b886636ed.html" target="element"> EVARQ1.  Monitoreo / Observabilidad  </a> </td>
											    <td> <a href="../elements/id-b95c6b05517d4c98a90da33b886636ed.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86d9ec329be945ce9090c74db50c0089.html" target="element"> EVARQ1.  Escalabilidad </a> </td>
											    <td> <a href="../elements/id-86d9ec329be945ce9090c74db50c0089.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-faca9fdd8389475ba5f1ad6abb12efbb.html" target="element"> EVARQ1. Seguridad </a> </td>
											    <td> <a href="../elements/id-faca9fdd8389475ba5f1ad6abb12efbb.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5aa460a884094f5cb358e4bc38195821.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5aa460a884094f5cb358e4bc38195821.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4f716b2f80de47719468be01d502a470.html" target="element"> Brechas de la evaluaci&#243;n </a> </td>
																		<td> <a href="../elements/id-28fafa4c80d5406a98e2bb07e1b960f0.html" target="element"> Cambios de la evaluaci&#243;n </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-79dc33283edf480fa2937a562d50f66d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79dc33283edf480fa2937a562d50f66d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cbeb4314ed741439db15220da0496bd.html" target="element"> PR.EVARQ. M&#233;todo de evaluaci&#243;n de arquitectura (ASAM) del FNA </a> </td>
																		<td> <a href="../elements/id-e5f34644f7384da98e0b4442cb23eeb9.html" target="element"> EVARQ1. Interoperabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cb2341c7cab4f4c81d781d146f5ba69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cb2341c7cab4f4c81d781d146f5ba69.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cbeb4314ed741439db15220da0496bd.html" target="element"> PR.EVARQ. M&#233;todo de evaluaci&#243;n de arquitectura (ASAM) del FNA </a> </td>
																		<td> <a href="../elements/id-8ff1db6887ef4239869e6921eb027d7f.html" target="element"> EVARQ1.  Mantenibilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c25b73a1f96b4305b8696ff3145cf5f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c25b73a1f96b4305b8696ff3145cf5f1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cbeb4314ed741439db15220da0496bd.html" target="element"> PR.EVARQ. M&#233;todo de evaluaci&#243;n de arquitectura (ASAM) del FNA </a> </td>
																		<td> <a href="../elements/id-b95c6b05517d4c98a90da33b886636ed.html" target="element"> EVARQ1.  Monitoreo / Observabilidad  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f0f6a322d0e4795b3657d2580f5214c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f0f6a322d0e4795b3657d2580f5214c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cbeb4314ed741439db15220da0496bd.html" target="element"> PR.EVARQ. M&#233;todo de evaluaci&#243;n de arquitectura (ASAM) del FNA </a> </td>
																		<td> <a href="../elements/id-86d9ec329be945ce9090c74db50c0089.html" target="element"> EVARQ1.  Escalabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-648fe75a74e34e83b942530520c1a949.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-648fe75a74e34e83b942530520c1a949.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cbeb4314ed741439db15220da0496bd.html" target="element"> PR.EVARQ. M&#233;todo de evaluaci&#243;n de arquitectura (ASAM) del FNA </a> </td>
																		<td> <a href="../elements/id-faca9fdd8389475ba5f1ad6abb12efbb.html" target="element"> EVARQ1. Seguridad </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>