<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Comite. 1. Modelo</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Comite. 1. Modelo</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5e2280824a6c4e69ac7f2fdc61b05490.png" alt="Comite. 1. Modelo" usemap="#id-5e2280824a6c4e69ac7f2fdc61b05490map"/>
			   <map name="id-5e2280824a6c4e69ac7f2fdc61b05490map">
				  						<area shape="rect" coords="794,1602,1058,1712" href="../elements/id-6f8cc7d878404785b62d6d08da87f045.html"  target="element">

				  				<area shape="rect" coords="698,1530,1106,1770" href="../elements/id-755214b6bb504313a2d5946a08ae77ed.html"  target="element">
				  						<area shape="rect" coords="194,2030,434,2140" href="../elements/id-94a632a998004c9c84b43d99046986a9.html"  target="element">
				  						<area shape="rect" coords="170,2006,410,2116" href="../elements/id-6e18332738424bb5864ceecd095144af.html"  target="element">
				  						<area shape="rect" coords="146,1982,386,2092" href="../elements/id-2af79515d1574087acfb40e2da059596.html"  target="element">

				  				<area shape="rect" coords="74,1910,506,2152" href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html"  target="element">
				  						<area shape="rect" coords="146,1576,386,1686" href="../elements/id-87f07e20f4254f7b92a680ed1d3f7bf7.html"  target="element">

				  				<area shape="rect" coords="74,1528,506,1770" href="../elements/id-e4817ee36621408f86f5b95bac393dd8.html"  target="element">

				  		<area shape="rect" coords="26,1456,1168,2202" href="../elements/id-98bba2f4bc7f492db6e942ddda268b45.html"  target="element">
				  				<area shape="rect" coords="134,432,374,542" href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html"  target="element">
				  				<area shape="rect" coords="102,716,374,836" href="../elements/id-ea1ed3d6d45543dd8ae093f5542fa954.html"  target="element">
				  				<area shape="rect" coords="1190,714,1478,836" href="../elements/id-a2b38b4edf6c47969e2de030ba27b61a.html"  target="element">
				  				<area shape="rect" coords="710,432,950,542" href="../elements/id-79b704b531554410b5f4a9f64b2b49c1.html"  target="element">
				  				<area shape="rect" coords="614,692,1046,860" href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html"  target="element">
				  				<area shape="rect" coords="1190,432,1430,542" href="../elements/id-95db15e62a0e45e5863b63e9c5acb231.html"  target="element">
				  				<area shape="rect" coords="134,1056,424,1166" href="../elements/id-ee48c9c7383940be8b8ca2ee76567594.html"  target="element">

				          <area shape="rect" coords="38,332,1528,1222" href="../objects/id-6d497b3fd2914adba6eba8a696694848.html" target="element" >
				          <area shape="rect" coords="20,20,500,262" href="../objects/id-dba3488861dd4569903e6a3856a52f5c.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-dba3488861dd4569903e6a3856a52f5c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dba3488861dd4569903e6a3856a52f5c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6d497b3fd2914adba6eba8a696694848.html" target="element"> Marco de Gobierno SOA FNA. Comit&#233; </a> </td>
									           <td> <a href="../objects/id-6d497b3fd2914adba6eba8a696694848.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-ee48c9c7383940be8b8ca2ee76567594.html" target="element"> Oficina Arquitectura FNA </a> </td>
													    <td> <a href="../elements/id-ee48c9c7383940be8b8ca2ee76567594.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-95db15e62a0e45e5863b63e9c5acb231.html" target="element"> Arquitectura Empresarial FNA </a> </td>
													    <td> <a href="../elements/id-95db15e62a0e45e5863b63e9c5acb231.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
													    <td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79b704b531554410b5f4a9f64b2b49c1.html" target="element"> Contrato de Gobierno SOA FNA </a> </td>
													    <td> <a href="../elements/id-79b704b531554410b5f4a9f64b2b49c1.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a2b38b4edf6c47969e2de030ba27b61a.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
													    <td> <a href="../elements/id-a2b38b4edf6c47969e2de030ba27b61a.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ea1ed3d6d45543dd8ae093f5542fa954.html" target="element"> Declaraci&#243;n Trabajo Arquitectura </a> </td>
													    <td> <a href="../elements/id-ea1ed3d6d45543dd8ae093f5542fa954.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html" target="element"> Gobierno TI FNA </a> </td>
													    <td> <a href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-98bba2f4bc7f492db6e942ddda268b45.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-98bba2f4bc7f492db6e942ddda268b45.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e4817ee36621408f86f5b95bac393dd8.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
													    <td> <a href="../elements/id-e4817ee36621408f86f5b95bac393dd8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-87f07e20f4254f7b92a680ed1d3f7bf7.html" target="element"> Decisi&#243;n </a> </td>
															    <td> <a href="../elements/id-87f07e20f4254f7b92a680ed1d3f7bf7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
													    <td> <a href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2af79515d1574087acfb40e2da059596.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-2af79515d1574087acfb40e2da059596.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6e18332738424bb5864ceecd095144af.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-6e18332738424bb5864ceecd095144af.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-94a632a998004c9c84b43d99046986a9.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-94a632a998004c9c84b43d99046986a9.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-755214b6bb504313a2d5946a08ae77ed.html" target="element"> Repositorio SOA </a> </td>
													    <td> <a href="../elements/id-755214b6bb504313a2d5946a08ae77ed.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-6f8cc7d878404785b62d6d08da87f045.html" target="element"> Modelo Arquitectura </a> </td>
															    <td> <a href="../elements/id-6f8cc7d878404785b62d6d08da87f045.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-357d595f6a0b47129bc3d9b6928f06bd.html" target="element"> participa </a> </td>
																				<td> <a href="../elements/id-357d595f6a0b47129bc3d9b6928f06bd.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-ee48c9c7383940be8b8ca2ee76567594.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4ee6bed93ba04c99a6f5ffbfe09a8c25.html" target="element"> eval&#250;a </a> </td>
																				<td> <a href="../elements/id-4ee6bed93ba04c99a6f5ffbfe09a8c25.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-ea1ed3d6d45543dd8ae093f5542fa954.html" target="element"> Declaraci&#243;n Trabajo Arquitectura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-66a398317650414ba41a60953f882255.html" target="element"> reporta </a> </td>
																				<td> <a href="../elements/id-66a398317650414ba41a60953f882255.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-a2b38b4edf6c47969e2de030ba27b61a.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bb78c0ddb85445c4958de9f44d67ad02.html" target="element"> cumple </a> </td>
																				<td> <a href="../elements/id-bb78c0ddb85445c4958de9f44d67ad02.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-95db15e62a0e45e5863b63e9c5acb231.html" target="element"> Arquitectura Empresarial FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d89572ba704a4f10a0490110b8c1fd6e.html" target="element"> aprueba </a> </td>
																				<td> <a href="../elements/id-d89572ba704a4f10a0490110b8c1fd6e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-98bba2f4bc7f492db6e942ddda268b45.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7cd12ab96e5946db9ba95c3a48d30f10.html" target="element"> cumple </a> </td>
																				<td> <a href="../elements/id-7cd12ab96e5946db9ba95c3a48d30f10.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-79b704b531554410b5f4a9f64b2b49c1.html" target="element"> Contrato de Gobierno SOA FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-891ccfad647f449db66c0e82459c74ae.html" target="element"> informa </a> </td>
																				<td> <a href="../elements/id-891ccfad647f449db66c0e82459c74ae.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-fc515052ddd5469d9489a6ea7ece53c7.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html" target="element"> Gobierno TI FNA </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/id-cd5ae2d0f0b2409e9fb57ce721a56c7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cd5ae2d0f0b2409e9fb57ce721a56c7f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-e4817ee36621408f86f5b95bac393dd8.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																				<td> <a href="../elements/id-98bba2f4bc7f492db6e942ddda268b45.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f523e6fd1e9640b6af826f03329d83e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f523e6fd1e9640b6af826f03329d83e2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-e4817ee36621408f86f5b95bac393dd8.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																				<td> <a href="../elements/id-87f07e20f4254f7b92a680ed1d3f7bf7.html" target="element"> Decisi&#243;n </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f3b930779f274d40a2efde8dcae7bc4a.html" target="element"> diagnostica </a> </td>
																				<td> <a href="../elements/id-f3b930779f274d40a2efde8dcae7bc4a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-755214b6bb504313a2d5946a08ae77ed.html" target="element"> Repositorio SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f6c5271fb074497dbaa5e0e821a127d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f6c5271fb074497dbaa5e0e821a127d9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-2af79515d1574087acfb40e2da059596.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a7bbc1df70224181ae6926c2d7890229.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7bbc1df70224181ae6926c2d7890229.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-94a632a998004c9c84b43d99046986a9.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-acfc5e190c884e5cb411864f70ca9b15.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-acfc5e190c884e5cb411864f70ca9b15.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-6e18332738424bb5864ceecd095144af.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4785d246dbde42e19d5b5ecf6dedb361.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4785d246dbde42e19d5b5ecf6dedb361.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-4c2a756acd974ee4ad008b77b83532fa.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-98bba2f4bc7f492db6e942ddda268b45.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-70bbc47a64fa4a50ab9347cea94069f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70bbc47a64fa4a50ab9347cea94069f0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-755214b6bb504313a2d5946a08ae77ed.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-98bba2f4bc7f492db6e942ddda268b45.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7fd19a9bc1a44a87bc03bfac2b7a5eed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7fd19a9bc1a44a87bc03bfac2b7a5eed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-755214b6bb504313a2d5946a08ae77ed.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-6f8cc7d878404785b62d6d08da87f045.html" target="element"> Modelo Arquitectura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-af9f88a61e5d4c11bb20b72f6dfb9b99.html" target="element"> registra </a> </td>
																				<td> <a href="../elements/id-af9f88a61e5d4c11bb20b72f6dfb9b99.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-755214b6bb504313a2d5946a08ae77ed.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-e4817ee36621408f86f5b95bac393dd8.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>