<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Implementación. 1. Vista general</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Implementaci&#243;n. 1. Vista general</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6446679070a446c8aca17d5e7929c08c.png" alt="Implementación. 1. Vista general" usemap="#id-6446679070a446c8aca17d5e7929c08cmap"/>
			   <map name="id-6446679070a446c8aca17d5e7929c08cmap">
				          <area shape="rect" coords="1584,476,1954,572" href="../objects/id-8b66d0f65e79404ca3b9dfbad4b0551f.html" target="element" >
				          <area shape="rect" coords="840,474,1210,570" href="../objects/id-0138690394c94d18b408d2e037737214.html" target="element" >
				          <area shape="rect" coords="288,476,658,572" href="../objects/id-168557f771fb4fcf94d5c71364bd8204.html" target="element" >
				  		<area shape="rect" coords="1440,308,1874,452" href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html"  target="element">
				  		<area shape="rect" coords="720,308,1154,452" href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html"  target="element">
				  		<area shape="rect" coords="48,308,482,452" href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html"  target="element">
				          <area shape="rect" coords="20,20,550,284" href="../objects/id-db9103d1b02c424bb91bc7d2ae14bd93.html" target="element" >
				  				<area shape="rect" coords="1274,740,1826,884" href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html"  target="element">
				  				<area shape="rect" coords="452,740,1004,884" href="../elements/id-3ef00fadc122442b9a5ec9a488b15a2e.html"  target="element">
				  				<area shape="rect" coords="452,908,1826,1052" href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html"  target="element">
				  				<area shape="rect" coords="92,740,380,1054" href="../elements/id-d09d48fdc5d74f22b7c1d06afafd6f68.html"  target="element">

				  		<area shape="rect" coords="20,644,1896,1150" href="../elements/id-e165645706214c6db8620a9205549684.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">- PR20. Documentaci&#243;n de estructuraci&#243;n y gesti&#243;n de proyectos hoja de ruta E-Service por implementar
- PR21. Aprobaci&#243;n de inicio de los proyectos de la hoja de ruta E-Service
- PR22. Plan de trabajo de los proyectos de la hoja de ruta E-Service 
- PR23. Listados de recursos, roles y personas requeridas por los proyectos de la hoja de ruta E-Service
- PR24. Arquitectura de soluci&#243;n de los proyectos de cierre de brecha
- PR25.  Ficha de proyectos hoja de ruta E-Service. Incremento 1
- PR26.  Ficha de proyectos hoja de ruta E-Service. Incremento 2
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e165645706214c6db8620a9205549684.html" target="element"> Proyecto Hoja de Ruta E-Service FNA, 2023 </a> </td>
											    <td> <a href="../elements/id-e165645706214c6db8620a9205549684.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d09d48fdc5d74f22b7c1d06afafd6f68.html" target="element"> Organizaci&#243;n /Inicio </a> </td>
													    <td> <a href="../elements/id-d09d48fdc5d74f22b7c1d06afafd6f68.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
													    <td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3ef00fadc122442b9a5ec9a488b15a2e.html" target="element"> Proyecto 1 (PRY01). Gobierno FNA. Abril 2023 a Agosto 2023 </a> </td>
													    <td> <a href="../elements/id-3ef00fadc122442b9a5ec9a488b15a2e.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html" target="element"> Proyecto 2 (PRY02). Arquitectura Referencia 2.0 SOA FNA. Abril 2023 a Agosto 2023 </a> </td>
													    <td> <a href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-db9103d1b02c424bb91bc7d2ae14bd93.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-db9103d1b02c424bb91bc7d2ae14bd93.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
											    <td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
											    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
											    <td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-168557f771fb4fcf94d5c71364bd8204.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-168557f771fb4fcf94d5c71364bd8204.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0138690394c94d18b408d2e037737214.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0138690394c94d18b408d2e037737214.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8b66d0f65e79404ca3b9dfbad4b0551f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8b66d0f65e79404ca3b9dfbad4b0551f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-232a1c80a8184ac1a1cf58fcaa1ab2af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-232a1c80a8184ac1a1cf58fcaa1ab2af.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e165645706214c6db8620a9205549684.html" target="element"> Proyecto Hoja de Ruta E-Service FNA, 2023 </a> </td>
																		<td> <a href="../elements/id-d09d48fdc5d74f22b7c1d06afafd6f68.html" target="element"> Organizaci&#243;n /Inicio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24988bd6b4994244b773e3211cc211cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24988bd6b4994244b773e3211cc211cd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e165645706214c6db8620a9205549684.html" target="element"> Proyecto Hoja de Ruta E-Service FNA, 2023 </a> </td>
																		<td> <a href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html" target="element"> Proyecto 2 (PRY02). Arquitectura Referencia 2.0 SOA FNA. Abril 2023 a Agosto 2023 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2deea1c8341b4ce3afcce27848b57d7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2deea1c8341b4ce3afcce27848b57d7b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e165645706214c6db8620a9205549684.html" target="element"> Proyecto Hoja de Ruta E-Service FNA, 2023 </a> </td>
																		<td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e0ddcd1549848cf8a2e6ae314c01802.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e0ddcd1549848cf8a2e6ae314c01802.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e165645706214c6db8620a9205549684.html" target="element"> Proyecto Hoja de Ruta E-Service FNA, 2023 </a> </td>
																		<td> <a href="../elements/id-3ef00fadc122442b9a5ec9a488b15a2e.html" target="element"> Proyecto 1 (PRY01). Gobierno FNA. Abril 2023 a Agosto 2023 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-074f50abaf414b959386f059a994728d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-074f50abaf414b959386f059a994728d.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-d09d48fdc5d74f22b7c1d06afafd6f68.html" target="element"> Organizaci&#243;n /Inicio </a> </td>
																				<td> <a href="../elements/id-3ef00fadc122442b9a5ec9a488b15a2e.html" target="element"> Proyecto 1 (PRY01). Gobierno FNA. Abril 2023 a Agosto 2023 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-190d9cf7d902439dbc5e24d60eca3257.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-190d9cf7d902439dbc5e24d60eca3257.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-d09d48fdc5d74f22b7c1d06afafd6f68.html" target="element"> Organizaci&#243;n /Inicio </a> </td>
																				<td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8b6e98f1b0704cd19697ae0952380976.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b6e98f1b0704cd19697ae0952380976.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-3ef00fadc122442b9a5ec9a488b15a2e.html" target="element"> Proyecto 1 (PRY01). Gobierno FNA. Abril 2023 a Agosto 2023 </a> </td>
																				<td> <a href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html" target="element"> Proyecto 2 (PRY02). Arquitectura Referencia 2.0 SOA FNA. Abril 2023 a Agosto 2023 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e2de31adaf3486388f0f5fbeaf5e8df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e2de31adaf3486388f0f5fbeaf5e8df.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-3ef00fadc122442b9a5ec9a488b15a2e.html" target="element"> Proyecto 1 (PRY01). Gobierno FNA. Abril 2023 a Agosto 2023 </a> </td>
																				<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e5a2aabaa2274c14a8bfcd33c4a25476.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5a2aabaa2274c14a8bfcd33c4a25476.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html" target="element"> Proyecto 2 (PRY02). Arquitectura Referencia 2.0 SOA FNA. Abril 2023 a Agosto 2023 </a> </td>
																				<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e4b0e121a2274f3f9ba763dec6465be1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4b0e121a2274f3f9ba763dec6465be1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html" target="element"> Proyecto 2 (PRY02). Arquitectura Referencia 2.0 SOA FNA. Abril 2023 a Agosto 2023 </a> </td>
																				<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4344c29fd52d45b0b9fbc429db413f03.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4344c29fd52d45b0b9fbc429db413f03.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a53fe8920f0448da86f775d3f60b30ff.html" target="element"> Proyecto 2 (PRY02). Arquitectura Referencia 2.0 SOA FNA. Abril 2023 a Agosto 2023 </a> </td>
																				<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b0bebfd1febf43759dbe4692588ec161.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0bebfd1febf43759dbe4692588ec161.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4be8945a4121407ba8fda67eaa6730f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4be8945a4121407ba8fda67eaa6730f1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																		<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>