<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Implementación. 4. pry3. estructuracion</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Implementaci&#243;n. 4. pry3. estructuracion</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7f4afe70058e4737a4083f59ad61af5c.png" alt="Implementación. 4. pry3. estructuracion" usemap="#id-7f4afe70058e4737a4083f59ad61af5cmap"/>
			   <map name="id-7f4afe70058e4737a4083f59ad61af5cmap">
				          <area shape="rect" coords="1332,432,1654,528" href="../objects/id-e6fb5d8d135246aea94e7d90fb3b252e.html" target="element" >
				          <area shape="rect" coords="446,432,734,528" href="../objects/id-dfb99471048b408192125aec4e44e9d6.html" target="element" >
				          <area shape="rect" coords="1018,432,1312,528" href="../objects/id-51560f1d550a43ccafbc1dfcb3e41adc.html" target="element" >
				          <area shape="rect" coords="54,432,424,528" href="../objects/id-cf6a3a553dcd41d7a2d4723112cb9e81.html" target="element" >
				          <area shape="rect" coords="732,432,1020,528" href="../objects/id-0e6255d3172045f785335c222312b44d.html" target="element" >
				  		<area shape="rect" coords="1310,360,1654,432" href="../elements/id-96e70c434dfa44d69e19580e39712695.html"  target="element">
				  		<area shape="rect" coords="1018,360,1312,432" href="../elements/id-631a016064d045ddbb88d5c453248180.html"  target="element">
				  		<area shape="rect" coords="700,360,1020,432" href="../elements/id-358069724eae46bb82ae3e7a6111d618.html"  target="element">
				  		<area shape="rect" coords="446,360,702,432" href="../elements/id-e4554d9799754279a564592ac034dc61.html"  target="element">
				  		<area shape="rect" coords="54,360,446,432" href="../elements/id-e1c5a05525b04da6afb15885ca75b964.html"  target="element">
				  				<area shape="rect" coords="1308,1536,1694,1680" href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html"  target="element">
				  				<area shape="rect" coords="104,1536,490,1680" href="../elements/id-09b632bea2eb4fb488a274b5d6500b03.html"  target="element">
				  				<area shape="rect" coords="684,1536,1070,1680" href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html"  target="element">

				  		<area shape="rect" coords="36,1440,1788,1824" href="../elements/id-16ff383e07174e26836db5fe885b123f.html"  target="element">
				  						<area shape="rect" coords="1372,792,1612,902" href="../elements/id-917283ddfcb24d18a21c364cd5d32dc4.html"  target="element">

				  				<area shape="rect" coords="1324,696,1662,1248" href="../elements/id-8391ada0d8fa465893ffbefac3126835.html"  target="element">
				  						<area shape="rect" coords="964,792,1204,902" href="../elements/id-b82fe7bdda91469ab7d7bcb7f175f827.html"  target="element">

				  				<area shape="rect" coords="916,696,1252,1248" href="../elements/id-efa6aaa82e6646df9e3a21d897d6c98e.html"  target="element">
				  						<area shape="rect" coords="148,936,388,1046" href="../elements/id-a74954f9c27344ff83af90c727e69c56.html"  target="element">
				  						<area shape="rect" coords="148,792,388,902" href="../elements/id-8f8828a3cfa04aa89c1189a0e0bd4e98.html"  target="element">

				  				<area shape="rect" coords="100,696,436,1106" href="../elements/id-0951c2fcb2c241a384a391ecc2ac8539.html"  target="element">
				  						<area shape="rect" coords="556,936,796,1046" href="../elements/id-d22a832259e24919adff09f89a04a816.html"  target="element">
				  						<area shape="rect" coords="556,1104,796,1214" href="../elements/id-215b2131cb0a4546a4ff198e3754249f.html"  target="element">
				  						<area shape="rect" coords="556,792,796,902" href="../elements/id-f6ac4380ba0d49ad8fff3cfba971d2ee.html"  target="element">

				  				<area shape="rect" coords="508,696,844,1248" href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html"  target="element">

				  		<area shape="rect" coords="28,576,1788,1346" href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html"  target="element">
				          <area shape="rect" coords="20,20,698,290" href="../objects/id-456cd3842e564bedbc4a6ea3ab25aaf7.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-456cd3842e564bedbc4a6ea3ab25aaf7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-456cd3842e564bedbc4a6ea3ab25aaf7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
											    <td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element"> Fase 1. Definici&#243;n de soluciones brechas </a> </td>
													    <td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f6ac4380ba0d49ad8fff3cfba971d2ee.html" target="element"> PR22. Plan de trabajo de los proyectos de la hoja de ruta E-Service  </a> </td>
															    <td> <a href="../elements/id-f6ac4380ba0d49ad8fff3cfba971d2ee.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-215b2131cb0a4546a4ff198e3754249f.html" target="element"> PR24. Arquitectura de soluci&#243;n de los proyectos de cierre de brecha </a> </td>
															    <td> <a href="../elements/id-215b2131cb0a4546a4ff198e3754249f.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d22a832259e24919adff09f89a04a816.html" target="element"> PR23. Listados de recursos, roles y personas requeriras por los los proyectos de la hoja de ruta E-Service </a> </td>
															    <td> <a href="../elements/id-d22a832259e24919adff09f89a04a816.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0951c2fcb2c241a384a391ecc2ac8539.html" target="element"> Fase 0. Levantamiento </a> </td>
													    <td> <a href="../elements/id-0951c2fcb2c241a384a391ecc2ac8539.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8f8828a3cfa04aa89c1189a0e0bd4e98.html" target="element"> PR20. Documentaci&#243;n de estructuraci&#243;n y gesti&#243;n de proyectos hoja de ruta E-Service por implementar </a> </td>
															    <td> <a href="../elements/id-8f8828a3cfa04aa89c1189a0e0bd4e98.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a74954f9c27344ff83af90c727e69c56.html" target="element"> PR21. Aprobaci&#243;n de inicio de los proyectos de la hoja de ruta E-Service </a> </td>
															    <td> <a href="../elements/id-a74954f9c27344ff83af90c727e69c56.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-efa6aaa82e6646df9e3a21d897d6c98e.html" target="element"> Fase 2. Estructuraci&#243;n proyectos. Incremento 1 </a> </td>
													    <td> <a href="../elements/id-efa6aaa82e6646df9e3a21d897d6c98e.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b82fe7bdda91469ab7d7bcb7f175f827.html" target="element"> PR25. Ficha de proyectos hoja de ruta E-Service. Incremento 1 </a> </td>
															    <td> <a href="../elements/id-b82fe7bdda91469ab7d7bcb7f175f827.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-8391ada0d8fa465893ffbefac3126835.html" target="element"> Fase 3. Estructuraci&#243;n proyectos. Incremento 2 </a> </td>
													    <td> <a href="../elements/id-8391ada0d8fa465893ffbefac3126835.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-917283ddfcb24d18a21c364cd5d32dc4.html" target="element"> PR26. Ficha de proyectos hoja de ruta E-Service. Incremento 2 </a> </td>
															    <td> <a href="../elements/id-917283ddfcb24d18a21c364cd5d32dc4.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
											    <td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
													    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09b632bea2eb4fb488a274b5d6500b03.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
													    <td> <a href="../elements/id-09b632bea2eb4fb488a274b5d6500b03.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
													    <td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e1c5a05525b04da6afb15885ca75b964.html" target="element"> 1er Mes </a> </td>
											    <td> <a href="../elements/id-e1c5a05525b04da6afb15885ca75b964.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e4554d9799754279a564592ac034dc61.html" target="element"> 2do Mes </a> </td>
											    <td> <a href="../elements/id-e4554d9799754279a564592ac034dc61.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-358069724eae46bb82ae3e7a6111d618.html" target="element"> 3er Mes </a> </td>
											    <td> <a href="../elements/id-358069724eae46bb82ae3e7a6111d618.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-631a016064d045ddbb88d5c453248180.html" target="element"> 4to Mes </a> </td>
											    <td> <a href="../elements/id-631a016064d045ddbb88d5c453248180.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96e70c434dfa44d69e19580e39712695.html" target="element"> 5to Mes </a> </td>
											    <td> <a href="../elements/id-96e70c434dfa44d69e19580e39712695.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0e6255d3172045f785335c222312b44d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0e6255d3172045f785335c222312b44d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cf6a3a553dcd41d7a2d4723112cb9e81.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cf6a3a553dcd41d7a2d4723112cb9e81.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-51560f1d550a43ccafbc1dfcb3e41adc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-51560f1d550a43ccafbc1dfcb3e41adc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-dfb99471048b408192125aec4e44e9d6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dfb99471048b408192125aec4e44e9d6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e6fb5d8d135246aea94e7d90fb3b252e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e6fb5d8d135246aea94e7d90fb3b252e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-cdbf4ff113524cd0993aef782efbbb31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdbf4ff113524cd0993aef782efbbb31.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
																		<td> <a href="../elements/id-8391ada0d8fa465893ffbefac3126835.html" target="element"> Fase 3. Estructuraci&#243;n proyectos. Incremento 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c1728af995f434a8875fe8c9068e2f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c1728af995f434a8875fe8c9068e2f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
																		<td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element"> Fase 1. Definici&#243;n de soluciones brechas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62f268fbd1ae466cbd1c3dc0c697f5e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62f268fbd1ae466cbd1c3dc0c697f5e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
																		<td> <a href="../elements/id-efa6aaa82e6646df9e3a21d897d6c98e.html" target="element"> Fase 2. Estructuraci&#243;n proyectos. Incremento 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd5c5e27a8244862bbe52b8583c6e6c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd5c5e27a8244862bbe52b8583c6e6c6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a61938db91c44ff1b0d916b4ee559677.html" target="element"> Proyecto 3 (PRY03). Estructuraci&#243;n proyectos de hoja de ruta E-Service. Mayo 2023 a Agosto 2023 </a> </td>
																		<td> <a href="../elements/id-0951c2fcb2c241a384a391ecc2ac8539.html" target="element"> Fase 0. Levantamiento </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-14aef73744964b0cb36e6290b9b2e3a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14aef73744964b0cb36e6290b9b2e3a5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element"> Fase 1. Definici&#243;n de soluciones brechas </a> </td>
																				<td> <a href="../elements/id-f6ac4380ba0d49ad8fff3cfba971d2ee.html" target="element"> PR22. Plan de trabajo de los proyectos de la hoja de ruta E-Service  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e8068d9159d44dbac49c23f3250ea27.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e8068d9159d44dbac49c23f3250ea27.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element"> Fase 1. Definici&#243;n de soluciones brechas </a> </td>
																				<td> <a href="../elements/id-215b2131cb0a4546a4ff198e3754249f.html" target="element"> PR24. Arquitectura de soluci&#243;n de los proyectos de cierre de brecha </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a282ca01d5cd4d7a9440c0327a8ab06d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a282ca01d5cd4d7a9440c0327a8ab06d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element"> Fase 1. Definici&#243;n de soluciones brechas </a> </td>
																				<td> <a href="../elements/id-d22a832259e24919adff09f89a04a816.html" target="element"> PR23. Listados de recursos, roles y personas requeriras por los los proyectos de la hoja de ruta E-Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bedc681df8c741a2b80acdc1713046ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bedc681df8c741a2b80acdc1713046ad.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element"> Fase 1. Definici&#243;n de soluciones brechas </a> </td>
																				<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-22b336ca6c2641dd9b4702b762adb551.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-22b336ca6c2641dd9b4702b762adb551.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-d4e57d9353c34c9eb8dfdde5522a4c25.html" target="element"> Fase 1. Definici&#243;n de soluciones brechas </a> </td>
																				<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-dfb47f17dbe54d2ead4773a529882d2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dfb47f17dbe54d2ead4773a529882d2d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-0951c2fcb2c241a384a391ecc2ac8539.html" target="element"> Fase 0. Levantamiento </a> </td>
																				<td> <a href="../elements/id-8f8828a3cfa04aa89c1189a0e0bd4e98.html" target="element"> PR20. Documentaci&#243;n de estructuraci&#243;n y gesti&#243;n de proyectos hoja de ruta E-Service por implementar </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b9a35074d3ee4d7ca0114d31c936147f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9a35074d3ee4d7ca0114d31c936147f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-0951c2fcb2c241a384a391ecc2ac8539.html" target="element"> Fase 0. Levantamiento </a> </td>
																				<td> <a href="../elements/id-a74954f9c27344ff83af90c727e69c56.html" target="element"> PR21. Aprobaci&#243;n de inicio de los proyectos de la hoja de ruta E-Service </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-448a4f7d43fc4cebbf87b8a6a60c7263.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-448a4f7d43fc4cebbf87b8a6a60c7263.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-efa6aaa82e6646df9e3a21d897d6c98e.html" target="element"> Fase 2. Estructuraci&#243;n proyectos. Incremento 1 </a> </td>
																				<td> <a href="../elements/id-b82fe7bdda91469ab7d7bcb7f175f827.html" target="element"> PR25. Ficha de proyectos hoja de ruta E-Service. Incremento 1 </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-85cd44b271594472846d6f5c0a203b0b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-85cd44b271594472846d6f5c0a203b0b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-8391ada0d8fa465893ffbefac3126835.html" target="element"> Fase 3. Estructuraci&#243;n proyectos. Incremento 2 </a> </td>
																				<td> <a href="../elements/id-917283ddfcb24d18a21c364cd5d32dc4.html" target="element"> PR26. Ficha de proyectos hoja de ruta E-Service. Incremento 2 </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-4e9d5d103ce5486194fd3b4906b5e930.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e9d5d103ce5486194fd3b4906b5e930.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
																		<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b264ef3905d54c0884a7f0329afdc947.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b264ef3905d54c0884a7f0329afdc947.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
																		<td> <a href="../elements/id-09b632bea2eb4fb488a274b5d6500b03.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9188d52425144c01a55ad83a792e1908.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9188d52425144c01a55ad83a792e1908.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4be8945a4121407ba8fda67eaa6730f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4be8945a4121407ba8fda67eaa6730f1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																				<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5a9ef885732e49879a6711da84ad410f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a9ef885732e49879a6711da84ad410f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-09b632bea2eb4fb488a274b5d6500b03.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																				<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>