<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Oficina. Flujo Arq. 1n.1. ADM. 1. Interno</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Oficina. Flujo Arq. 1n.1. ADM. 1. Interno</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-825eafdcf9dc47679a8bdbf5def0c86c.png" alt="Oficina. Flujo Arq. 1n.1. ADM. 1. Interno" usemap="#id-825eafdcf9dc47679a8bdbf5def0c86cmap"/>
			   <map name="id-825eafdcf9dc47679a8bdbf5def0c86cmap">
				  		<area shape="rect" coords="1644,20,1884,130" href="../elements/id-c90933fdafe1467bbe820f44a3ccdbdc.html"  target="element">
				  		        <area shape="rect" coords="1788,284,1886,334" href="../objects/id-d95314177dd9446898cd728ffdfc4dbd.html" target="element" >

				  		<area shape="rect" coords="1620,212,1908,358" href="../elements/id-2b2d85fb7fb34a4aa3f2662cfcce32b4.html"  target="element">
				  		        <area shape="rect" coords="1788,908,1886,958" href="../objects/id-329801e4a7584b4699522804f1c56e2d.html" target="element" >

				  		<area shape="rect" coords="1620,836,1908,982" href="../elements/id-1bed8675474d42b6a5536465bdb89edc.html"  target="element">
				  		        <area shape="rect" coords="1402,632,1500,682" href="../objects/id-f30d3056efa84a9789d64e33c7a2c422.html" target="element" >
				  				<area shape="rect" coords="884,572,1148,682" href="../elements/id-4a99454b328c4af4b8db40cc4b349a65.html"  target="element">
				  				<area shape="rect" coords="1164,450,1404,560" href="../elements/id-de6d9cb5daad4453baa76509d06cfe44.html"  target="element">
				  				<area shape="rect" coords="1164,332,1404,442" href="../elements/id-ee5f636ea3334fb181a99da2bc9d7a07.html"  target="element">
				  				<area shape="rect" coords="884,450,1148,560" href="../elements/id-2d98e934377546b6bff29a6d42a407a1.html"  target="element">
				  				<area shape="rect" coords="884,332,1148,442" href="../elements/id-84576b9bf3ba4c138fa846e0e218da28.html"  target="element">

				  		<area shape="rect" coords="788,260,1526,718" href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html"  target="element">
				  		        <area shape="rect" coords="452,1268,550,1318" href="../objects/id-9a03ce98dda2440ea20b48fa63aeea8c.html" target="element" >
				  		        <area shape="rect" coords="548,1268,646,1318" href="../objects/id-e24549dc74764a4ea7ad4bbfa40eb2a8.html" target="element" >

				  		<area shape="rect" coords="352,1196,670,1330" href="../elements/id-d1c1de04296b4c3490f71088616bd535.html"  target="element">
				  		        <area shape="rect" coords="956,1268,1054,1318" href="../objects/id-b129809fdaa04bd6aed32233c15577c2.html" target="element" >

				  		<area shape="rect" coords="740,1196,1078,1330" href="../elements/id-1ac71b1850014e06a1339ccff7433856.html"  target="element">
				  		        <area shape="rect" coords="186,1268,284,1318" href="../objects/id-dd7632d6d3d84cdd893746d70c1f9199.html" target="element" >

				  		<area shape="rect" coords="20,1196,306,1330" href="../elements/id-7a6df5bfe830487d92db2f2e847f4d4b.html"  target="element">
				  		<area shape="rect" coords="524,1460,554,1490" href="../elements/id-053e3abeb3cf4189bf8854a20614a154.html"  target="element">
				          <area shape="rect" coords="44,44,526,310" href="../objects/id-774e19f085004ee8927fd02e3fed4f59.html" target="element" >
				  		<area shape="rect" coords="1620,572,1908,718" href="../elements/id-067b711de0004b26a9b74ec6e916c95b.html"  target="element">
				  		        <area shape="rect" coords="1788,476,1886,526" href="../objects/id-cb11b63a68644462b1d06b9ba4fcf968.html" target="element" >

				  		<area shape="rect" coords="1620,404,1908,550" href="../elements/id-b30b4a7e61b643479221079807b0b23e.html"  target="element">
				  		        <area shape="rect" coords="496,452,594,502" href="../objects/id-ecefb55e79d047a5a46d64c73b151d84.html" target="element" >

				  		<area shape="rect" coords="352,380,616,514" href="../elements/id-9c191625e4e9486da4a0bb92311b9e5c.html"  target="element">
				  		        <area shape="rect" coords="496,980,594,1030" href="../objects/id-602c5c67bb574b1bbba5439181f2b5ab.html" target="element" >

				  		<area shape="rect" coords="352,908,616,1042" href="../elements/id-a1f9077ffc384598a2b9c5de3bcf73ac.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a1f9077ffc384598a2b9c5de3bcf73ac.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
											    <td> <a href="../elements/id-a1f9077ffc384598a2b9c5de3bcf73ac.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-602c5c67bb574b1bbba5439181f2b5ab.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-602c5c67bb574b1bbba5439181f2b5ab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-9c191625e4e9486da4a0bb92311b9e5c.html" target="element"> Arquitecto FNA </a> </td>
											    <td> <a href="../elements/id-9c191625e4e9486da4a0bb92311b9e5c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-ecefb55e79d047a5a46d64c73b151d84.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ecefb55e79d047a5a46d64c73b151d84.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-b30b4a7e61b643479221079807b0b23e.html" target="element"> Dise&#241;os (N100) </a> </td>
											    <td> <a href="../elements/id-b30b4a7e61b643479221079807b0b23e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-cb11b63a68644462b1d06b9ba4fcf968.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cb11b63a68644462b1d06b9ba4fcf968.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-067b711de0004b26a9b74ec6e916c95b.html" target="element"> Solucion Concepto (N200...N500) </a> </td>
											    <td> <a href="../elements/id-067b711de0004b26a9b74ec6e916c95b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-774e19f085004ee8927fd02e3fed4f59.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-774e19f085004ee8927fd02e3fed4f59.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-053e3abeb3cf4189bf8854a20614a154.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-053e3abeb3cf4189bf8854a20614a154.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a6df5bfe830487d92db2f2e847f4d4b.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
											    <td> <a href="../elements/id-7a6df5bfe830487d92db2f2e847f4d4b.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-dd7632d6d3d84cdd893746d70c1f9199.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-dd7632d6d3d84cdd893746d70c1f9199.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1ac71b1850014e06a1339ccff7433856.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
											    <td> <a href="../elements/id-1ac71b1850014e06a1339ccff7433856.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-b129809fdaa04bd6aed32233c15577c2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b129809fdaa04bd6aed32233c15577c2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-d1c1de04296b4c3490f71088616bd535.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
											    <td> <a href="../elements/id-d1c1de04296b4c3490f71088616bd535.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e24549dc74764a4ea7ad4bbfa40eb2a8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e24549dc74764a4ea7ad4bbfa40eb2a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9a03ce98dda2440ea20b48fa63aeea8c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9a03ce98dda2440ea20b48fa63aeea8c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
											    <td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-84576b9bf3ba4c138fa846e0e218da28.html" target="element"> Servicios </a> </td>
													    <td> <a href="../elements/id-84576b9bf3ba4c138fa846e0e218da28.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d98e934377546b6bff29a6d42a407a1.html" target="element"> Infraestructura </a> </td>
													    <td> <a href="../elements/id-2d98e934377546b6bff29a6d42a407a1.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ee5f636ea3334fb181a99da2bc9d7a07.html" target="element"> Aplicaciones </a> </td>
													    <td> <a href="../elements/id-ee5f636ea3334fb181a99da2bc9d7a07.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-de6d9cb5daad4453baa76509d06cfe44.html" target="element"> Datos </a> </td>
													    <td> <a href="../elements/id-de6d9cb5daad4453baa76509d06cfe44.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a99454b328c4af4b8db40cc4b349a65.html" target="element"> Inversion TI </a> </td>
													    <td> <a href="../elements/id-4a99454b328c4af4b8db40cc4b349a65.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-f30d3056efa84a9789d64e33c7a2c422.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f30d3056efa84a9789d64e33c7a2c422.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1bed8675474d42b6a5536465bdb89edc.html" target="element"> An&#225;lisis </a> </td>
											    <td> <a href="../elements/id-1bed8675474d42b6a5536465bdb89edc.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-329801e4a7584b4699522804f1c56e2d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-329801e4a7584b4699522804f1c56e2d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-2b2d85fb7fb34a4aa3f2662cfcce32b4.html" target="element"> Contenidos </a> </td>
											    <td> <a href="../elements/id-2b2d85fb7fb34a4aa3f2662cfcce32b4.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-d95314177dd9446898cd728ffdfc4dbd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d95314177dd9446898cd728ffdfc4dbd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c90933fdafe1467bbe820f44a3ccdbdc.html" target="element"> Actores &#193;reas FNA </a> </td>
											    <td> <a href="../elements/id-c90933fdafe1467bbe820f44a3ccdbdc.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-23731b76de744a8eb681dba61881049d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23731b76de744a8eb681dba61881049d.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-a1f9077ffc384598a2b9c5de3bcf73ac.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																		<td> <a href="../elements/id-d1c1de04296b4c3490f71088616bd535.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7ae6afa568f4ba1ad7fec4ba21db318.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7ae6afa568f4ba1ad7fec4ba21db318.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-a1f9077ffc384598a2b9c5de3bcf73ac.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																		<td> <a href="../elements/id-1ac71b1850014e06a1339ccff7433856.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-961b8044f2894daeba473c2c7dde7dc3.html" target="element"> detalle </a> </td>
																		<td> <a href="../elements/id-961b8044f2894daeba473c2c7dde7dc3.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-a1f9077ffc384598a2b9c5de3bcf73ac.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																		<td> <a href="../elements/id-7a6df5bfe830487d92db2f2e847f4d4b.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-9d8f49e131334c83bceb9547afdd2900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d8f49e131334c83bceb9547afdd2900.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-9c191625e4e9486da4a0bb92311b9e5c.html" target="element"> Arquitecto FNA </a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd76a62501b84888b6f1470b5bfcf650.html" target="element"> inicia </a> </td>
																		<td> <a href="../elements/id-dd76a62501b84888b6f1470b5bfcf650.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-9c191625e4e9486da4a0bb92311b9e5c.html" target="element"> Arquitecto FNA </a> </td>
																		<td> <a href="../elements/id-a1f9077ffc384598a2b9c5de3bcf73ac.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-4de0dab182bd4443b0e23a4f69a17f1b.html" target="element"> detalle </a> </td>
																		<td> <a href="../elements/id-4de0dab182bd4443b0e23a4f69a17f1b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-053e3abeb3cf4189bf8854a20614a154.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2565eea24e27423d92eb8bceeeb12d6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2565eea24e27423d92eb8bceeeb12d6c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-7a6df5bfe830487d92db2f2e847f4d4b.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																		<td> <a href="../elements/id-053e3abeb3cf4189bf8854a20614a154.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-465920e1f3134ac3affff44bb080c961.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-465920e1f3134ac3affff44bb080c961.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-1ac71b1850014e06a1339ccff7433856.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																		<td> <a href="../elements/id-053e3abeb3cf4189bf8854a20614a154.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-375741996cf344fba4f7ba3dc9ea3172.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-375741996cf344fba4f7ba3dc9ea3172.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-d1c1de04296b4c3490f71088616bd535.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																		<td> <a href="../elements/id-053e3abeb3cf4189bf8854a20614a154.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-653980b14a7a46ad8173a28aa9f1ce28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-653980b14a7a46ad8173a28aa9f1ce28.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-de6d9cb5daad4453baa76509d06cfe44.html" target="element"> Datos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf447c8432d94dd39f878dbdfe925618.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf447c8432d94dd39f878dbdfe925618.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-4a99454b328c4af4b8db40cc4b349a65.html" target="element"> Inversion TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b99038056fb4a1ebc603dc3dcc6fa9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b99038056fb4a1ebc603dc3dcc6fa9a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-b30b4a7e61b643479221079807b0b23e.html" target="element"> Dise&#241;os (N100) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0bed04a78d68495da6dc4404341b9aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bed04a78d68495da6dc4404341b9aad.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-067b711de0004b26a9b74ec6e916c95b.html" target="element"> Solucion Concepto (N200...N500) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-140adf8b05084c82bd3b96006ff77922.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-140adf8b05084c82bd3b96006ff77922.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-84576b9bf3ba4c138fa846e0e218da28.html" target="element"> Servicios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3aef93e728c44ccaed8fc4df9b6689e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3aef93e728c44ccaed8fc4df9b6689e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-ee5f636ea3334fb181a99da2bc9d7a07.html" target="element"> Aplicaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f1549ad69f4463d93cf7306630c99b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f1549ad69f4463d93cf7306630c99b7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-2d98e934377546b6bff29a6d42a407a1.html" target="element"> Infraestructura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-196090d207fe464e8e4f6d09b3a9ee0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-196090d207fe464e8e4f6d09b3a9ee0c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-73bc3107b0c7412bb45840eb520125ae.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/id-1bed8675474d42b6a5536465bdb89edc.html" target="element"> An&#225;lisis </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-72a35fb5588a40d3850e3376a4f99b6a.html" target="element"> accede </a> </td>
																		<td> <a href="../elements/id-72a35fb5588a40d3850e3376a4f99b6a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-c90933fdafe1467bbe820f44a3ccdbdc.html" target="element"> Actores &#193;reas FNA </a> </td>
																		<td> <a href="../elements/id-2b2d85fb7fb34a4aa3f2662cfcce32b4.html" target="element"> Contenidos </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>