<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Segmento.1b. Capacidades FNA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Segmento.1b. Capacidades FNA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-859ad39222bc405daa548b60de2eb26d.png" alt="Segmento.1b. Capacidades FNA" usemap="#id-859ad39222bc405daa548b60de2eb26dmap"/>
			   <map name="id-859ad39222bc405daa548b60de2eb26dmap">
				          <area shape="rect" coords="20,20,390,180" href="../objects/id-fca396ff0b0046379b42094387899cef.html" target="element" >
				  		<area shape="rect" coords="1760,620,2050,730" href="../elements/a417cca8.html"  target="element">
				  		<area shape="rect" coords="1388,620,1678,730" href="../elements/d8361c60.html"  target="element">
				  		<area shape="rect" coords="1388,424,1678,534" href="../elements/231747b0.html"  target="element">
				  		<area shape="rect" coords="1988,220,2278,330" href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html"  target="element">
				  		<area shape="rect" coords="1688,220,1978,330" href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html"  target="element">
				  		<area shape="rect" coords="1388,220,1678,330" href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html"  target="element">
				  		<area shape="rect" coords="656,390,946,500" href="../elements/57f4b033.html"  target="element">
				  		<area shape="rect" coords="1244,812,1534,922" href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html"  target="element">
				  		<area shape="rect" coords="944,812,1234,922" href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html"  target="element">
				  		<area shape="rect" coords="644,812,934,922" href="../elements/52f7056c.html"  target="element">
				  		<area shape="rect" coords="20,668,334,778" href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html"  target="element">
				  		<area shape="rect" coords="20,524,334,634" href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html"  target="element">
				  		<area shape="rect" coords="20,812,334,922" href="../elements/id-165ae758e4e747bcb627cd3cfc7789ab.html"  target="element">
				  		<area shape="rect" coords="20,382,334,492" href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html"  target="element">
				  		<area shape="rect" coords="20,236,334,346" href="../elements/id-7ae726747e7849afa1ed3532812431c9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">--
|Tema|Cat&#225;logo de servicios (blueprint SOA): Servicios SOA relevantes al diagn&#243;stico
|----|-----------------------------------------------------------------------------------------------------------------------------------------------------------|
|Palabras clave|SOA, &#193;reas, Procesos, Servicios, Aplicaciones|
|Autor||
|Fuente||
|Secuencia|Padre&lt;br&gt;Hijo|
|V&#237;nculos||

# Cat&#225;logo de servicios FNA (blueprint)

## Capacidades de la Empresa FNA
No hay capacidades de negocio FNA en los modelos de la empresa, pero en la documentaci&#243;n del repositorio hay informaci&#243;n sustituta con la que hacemos una propuesta de la vista de las capacidades FNA. Esta vista preliminar sirve para relacionar las capacidades preliminares con los servicios SOA de la empresa y con los dem&#225;s elementos de la vista de segmento.

![Vista][embedView]

La relaci&#243;n de los elementos de la vista de segmento con las capacidades resultar&#225; en la lista de servicios de negocio m&#225;s importantes dado su nivel de relaci&#243;n con estas.

Capacidades de negocio encontradas:

1. Desarrollo de nuevos negocios
1. Gesti&#243;n de Cliente
1. Administraci&#243;n de Recursos y Negocio
1. Entrega de Productos
1. Servicios de Cuentas
1. Gesti&#243;n Financiera

_Fuente: Portafolio de Aplicaciones FNA._

A estas capacidades de la empresa las debemos relacionarla con los servicios SOA y con otras herramientas de software, como sistemas de informaci&#243;n, aplicaciones y bases de datos del Fondo.

## Importancia de las Capacidades y Servicios SOA (y otras herramientas de software)

[embedView]: Vista%20de%20Capacidades%20FNA.png
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element"> Desarrollo de nuevos negocios </a> </td>
											    <td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element"> Gesti&#243;n de Cliente </a> </td>
											    <td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-165ae758e4e747bcb627cd3cfc7789ab.html" target="element"> Administraci&#243;n de Recursos y Negocio </a> </td>
											    <td> <a href="../elements/id-165ae758e4e747bcb627cd3cfc7789ab.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
											    <td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html" target="element"> Servicios de Cuentas </a> </td>
											    <td> <a href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
											    <td> <a href="../elements/52f7056c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
											    <td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element"> ASXX3-RegistrarRecaudoObligacion </a> </td>
											    <td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
											    <td> <a href="../elements/57f4b033.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element"> wsADMIN </a> </td>
											    <td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html" target="element"> wsClientes </a> </td>
											    <td> <a href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html" target="element"> wsCredito </a> </td>
											    <td> <a href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
											    <td> <a href="../elements/231747b0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
											    <td> <a href="../elements/d8361c60.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
											    <td> <a href="../elements/a417cca8.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fca396ff0b0046379b42094387899cef.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fca396ff0b0046379b42094387899cef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-afa4ebf4ef224708abb7929baf0719dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afa4ebf4ef224708abb7929baf0719dc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element"> Gesti&#243;n de Cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1baccdae6504d8381eff3f1ec03e4e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1baccdae6504d8381eff3f1ec03e4e5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2a1850482e2483cbc7c0122befca2c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2a1850482e2483cbc7c0122befca2c9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element"> Desarrollo de nuevos negocios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2ce926b-99de-4f5e-bf84-166e4c406bcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2ce926b-99de-4f5e-bf84-166e4c406bcb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element"> wsADMIN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a32f57d1-c4cd-47b9-ac19-02746356578a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a32f57d1-c4cd-47b9-ac19-02746356578a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html" target="element"> wsClientes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a9f01fa-5317-469f-9170-4d65c0a96045.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a9f01fa-5317-469f-9170-4d65c0a96045.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html" target="element"> wsCredito </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bf9ad927.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf9ad927.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07ad1e22.html" target="element">  </a> </td>
																		<td> <a href="../elements/07ad1e22.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c827abfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/c827abfe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4177654.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4177654.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																		<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f3b3df46.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3b3df46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>