<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Servicio Credito Costructor</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Servicio Credito Costructor</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-af6bf2d7f09545df9c46cbe8df4ac034.png" alt="Arquitectura Servicio Credito Costructor" usemap="#id-af6bf2d7f09545df9c46cbe8df4ac034map"/>
			   <map name="id-af6bf2d7f09545df9c46cbe8df4ac034map">
				  				<area shape="rect" coords="1532,356,1772,466" href="../elements/id-9601319531f2448987b63f0895de499b.html"  target="element">

				  		<area shape="rect" coords="1484,20,1798,1106" href="../elements/id-98fcb5e5ac594bd6bba96a382292502d.html"  target="element">
				  				<area shape="rect" coords="116,836,356,946" href="../elements/id-70e5ab24cfe648caa80751a567982eb4.html"  target="element">
				  				<area shape="rect" coords="116,716,356,826" href="../elements/id-7bab76a85f274ae68af23477cc078258.html"  target="element">

				  		<area shape="rect" coords="20,596,430,1126" href="../elements/id-d8ecebc765324946a706764b190c3dc6.html"  target="element">
				  				<area shape="rect" coords="140,140,380,250" href="../elements/id-2652d19b9f074d0ca066e6366766ba86.html"  target="element">

				  		<area shape="rect" coords="20,20,430,550" href="../elements/id-b50da9e7bd044dda8b107249eb960116.html"  target="element">
				  				<area shape="rect" coords="500,836,740,946" href="../elements/id-ca222f08b7ac454ebda58168423978d1.html"  target="element">
				  				<area shape="rect" coords="500,716,740,826" href="../elements/id-4b3c17d835834417b8ba1a0c20164186.html"  target="element">
				  				<area shape="rect" coords="500,140,740,250" href="../elements/id-fc3228db0e3c47e98e8c928497a315f5.html"  target="element">

				  		<area shape="rect" coords="452,20,1438,1126" href="../elements/id-dea3aebd8aa24db880633af21e06f849.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dea3aebd8aa24db880633af21e06f849.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/id-dea3aebd8aa24db880633af21e06f849.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fc3228db0e3c47e98e8c928497a315f5.html" target="element"> Conuslta persona Juridica </a> </td>
													    <td> <a href="../elements/id-fc3228db0e3c47e98e8c928497a315f5.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b3c17d835834417b8ba1a0c20164186.html" target="element"> Crear Proyecto </a> </td>
													    <td> <a href="../elements/id-4b3c17d835834417b8ba1a0c20164186.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca222f08b7ac454ebda58168423978d1.html" target="element"> Crea Estructura </a> </td>
													    <td> <a href="../elements/id-ca222f08b7ac454ebda58168423978d1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b50da9e7bd044dda8b107249eb960116.html" target="element"> Cobis  </a> </td>
											    <td> <a href="../elements/id-b50da9e7bd044dda8b107249eb960116.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2652d19b9f074d0ca066e6366766ba86.html" target="element"> Consulta persona juridica </a> </td>
													    <td> <a href="../elements/id-2652d19b9f074d0ca066e6366766ba86.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d8ecebc765324946a706764b190c3dc6.html" target="element"> Cuadro Ventas CCP </a> </td>
											    <td> <a href="../elements/id-d8ecebc765324946a706764b190c3dc6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7bab76a85f274ae68af23477cc078258.html" target="element"> Crear Proyecto </a> </td>
													    <td> <a href="../elements/id-7bab76a85f274ae68af23477cc078258.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70e5ab24cfe648caa80751a567982eb4.html" target="element"> Crea Estructura </a> </td>
													    <td> <a href="../elements/id-70e5ab24cfe648caa80751a567982eb4.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-98fcb5e5ac594bd6bba96a382292502d.html" target="element"> Bizagi IBM (java) </a> </td>
											    <td> <a href="../elements/id-98fcb5e5ac594bd6bba96a382292502d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9601319531f2448987b63f0895de499b.html" target="element"> Servicios CapaSoa Bizagi </a> </td>
													    <td> <a href="../elements/id-9601319531f2448987b63f0895de499b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/id-d9c8542c5cb649c996af789920d8996c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9c8542c5cb649c996af789920d8996c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-fc3228db0e3c47e98e8c928497a315f5.html" target="element"> Conuslta persona Juridica </a> </td>
																				<td> <a href="../elements/id-2652d19b9f074d0ca066e6366766ba86.html" target="element"> Consulta persona juridica </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0968d3586a0d4aae9d368d9f17fa0345.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0968d3586a0d4aae9d368d9f17fa0345.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-4b3c17d835834417b8ba1a0c20164186.html" target="element"> Crear Proyecto </a> </td>
																				<td> <a href="../elements/id-7bab76a85f274ae68af23477cc078258.html" target="element"> Crear Proyecto </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1eed2ac008124b0abf721b4447635083.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1eed2ac008124b0abf721b4447635083.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-ca222f08b7ac454ebda58168423978d1.html" target="element"> Crea Estructura </a> </td>
																				<td> <a href="../elements/id-70e5ab24cfe648caa80751a567982eb4.html" target="element"> Crea Estructura </a> </td>
																			</tr>

											
											
											
																	<tr>
																		<td> <a href="../elements/id-f716b584640b47c08fb95d51587214bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f716b584640b47c08fb95d51587214bf.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-98fcb5e5ac594bd6bba96a382292502d.html" target="element"> Bizagi IBM (java) </a> </td>
																		<td> <a href="../elements/id-4b3c17d835834417b8ba1a0c20164186.html" target="element"> Crear Proyecto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b22d9db920124172a059e2e402dbb7e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b22d9db920124172a059e2e402dbb7e6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-98fcb5e5ac594bd6bba96a382292502d.html" target="element"> Bizagi IBM (java) </a> </td>
																		<td> <a href="../elements/id-ca222f08b7ac454ebda58168423978d1.html" target="element"> Crea Estructura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d7a29846e6b4ea58e0562164aa72c5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d7a29846e6b4ea58e0562164aa72c5f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-98fcb5e5ac594bd6bba96a382292502d.html" target="element"> Bizagi IBM (java) </a> </td>
																		<td> <a href="../elements/id-fc3228db0e3c47e98e8c928497a315f5.html" target="element"> Conuslta persona Juridica </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>