<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Segmento.1a.Capacidades FNA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Segmento.1a.Capacidades FNA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b29fb85fbf524a18b8397b7948fac368.png" alt="Segmento.1a.Capacidades FNA" usemap="#id-b29fb85fbf524a18b8397b7948fac368map"/>
			   <map name="id-b29fb85fbf524a18b8397b7948fac368map">
				          <area shape="rect" coords="20,20,390,180" href="../objects/id-217aa400100443299ad4dc05cf0cef22.html" target="element" >
				  		<area shape="rect" coords="1770,1930,2010,2040" href="../elements/a417cca8.html"  target="element">
				  		<area shape="rect" coords="1470,1930,1710,2040" href="../elements/c3799fae.html"  target="element">
				  		<area shape="rect" coords="572,2394,812,2504" href="../elements/da8dd1f6.html"  target="element">
				  		<area shape="rect" coords="572,2242,812,2352" href="../elements/55036c04.html"  target="element">
				  		<area shape="rect" coords="116,2174,356,2284" href="../elements/0b8a4e79.html"  target="element">
				  		<area shape="rect" coords="1470,2082,1710,2192" href="../elements/219addb7-e0c2-40ed-8742-1d60cac3d946.html"  target="element">
				  		<area shape="rect" coords="1146,2226,1386,2336" href="../elements/840d4fcb-b7ce-4312-881a-e048c6842420.html"  target="element">
				  		<area shape="rect" coords="1722,1418,2010,1528" href="../elements/d8361c60.html"  target="element">
				  		<area shape="rect" coords="1422,1418,1710,1528" href="../elements/231747b0.html"  target="element">
				  		<area shape="rect" coords="1122,1418,1410,1528" href="../elements/e495796e.html"  target="element">
				  		<area shape="rect" coords="1722,1218,2010,1328" href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html"  target="element">
				  		<area shape="rect" coords="1422,1218,1710,1328" href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html"  target="element">
				  		<area shape="rect" coords="1122,1218,1410,1328" href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html"  target="element">
				  		<area shape="rect" coords="1146,1930,1386,2040" href="../elements/2d355af1.html"  target="element">
				  		<area shape="rect" coords="106,1818,366,1928" href="../elements/7b27761a.html"  target="element">
				  		<area shape="rect" coords="116,2010,356,2120" href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html"  target="element">
				  		<area shape="rect" coords="1770,606,2010,716" href="../elements/57f4b033.html"  target="element">
				  		<area shape="rect" coords="1292,858,1614,968" href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html"  target="element">
				  		<area shape="rect" coords="910,858,1232,968" href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html"  target="element">
				  		<area shape="rect" coords="558,858,880,968" href="../elements/52f7056c.html"  target="element">
				  		<area shape="rect" coords="20,714,356,824" href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html"  target="element">
				  		<area shape="rect" coords="20,570,356,680" href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html"  target="element">
				  		<area shape="rect" coords="20,858,356,968" href="../elements/id-165ae758e4e747bcb627cd3cfc7789ab.html"  target="element">
				  		<area shape="rect" coords="20,428,356,538" href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html"  target="element">
				  		<area shape="rect" coords="20,282,356,392" href="../elements/id-7ae726747e7849afa1ed3532812431c9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">|Tema|Cat&#225;logo de servicios (blueprint SOA): Servicios SOA relevantes al diagn&#243;stico
|----|-------------------------------------------------|
|Palabras clave|SOA, &#193;reas, Servicios|
|Autor||
|Fuente||
|Secuencia|Padre&lt;br&gt;Hijo|
|V&#237;nculos||

# Cat&#225;logo de servicios FNA (blueprint)

## Capacidades de la Empresa FNA
No hay capacidades de negocio FNA en los modelos de la empresa, pero en la documentaci&#243;n del repositorio hay informaci&#243;n sustituta con la que hacemos una propuesta de la vista de las capacidades FNA. Esta vista preliminar sirve para relacionar las capacidades preliminares con los servicios SOA de la empresa y con los dem&#225;s elementos de la vista de segmento.

Capacidades de negocio encontradas:

1. Desarrollo de nuevos negocios
1. Gesti&#243;n de Cliente
1. Administraci&#243;n de Recursos y Negocio
1. Entrega de Productos
1. Servicios de Cuentas
1. Gesti&#243;n Financiera

_Fuente: Portafolio de Aplicaciones FNA._

&lt;br&gt;

## Importancia de las Capacidades y Servicios SOA (y otras partes de la empresa)
La relaci&#243;n de los elementos de la vista de segmento con las capacidades resultar&#225; en la lista de servicios de negocio m&#225;s importantes dado su nivel de relaci&#243;n con estas capacidades preliminares.

![][embedView]

&lt;br&gt;

Por lo anterior, los servicios SOA del FNA m&#225;s relevantes seg&#250;n los modelos son los indicados a continuaci&#243;n. De igual manera que para el Fondo, estas partes son importantes para futuros diagn&#243;sticos y gobierno SOA.

|**Parte FNA**|**Parte Relacionada**|**Tipo**|
|-------------|---------------------|--------|
|Desarrollo de nuevos negocios|AS026-Gesti&#243;n de Autenticaci&#243;n|**application-service**|
||AS034-ConsultarestadocuentaCartera|**application-service**|
||ASXX3-RegistrarRecaudoObligacion|**application-service**|
||COBIS|application-component|
||Servicios COBIS|application-collaboration|
|Entrega de Productos|AS026-Gesti&#243;n de Autenticaci&#243;n|**application-service**|
||AS034-ConsultarestadocuentaCartera|**application-service**|
||ASXX3-RegistrarRecaudoObligacion|**application-service**|
||COBIS|application-component|
||Servicios COBIS|application-collaboration|
|Gesti&#243;n de Cliente|AS026-Gesti&#243;n de Autenticaci&#243;n|**application-service**|
||AS034-ConsultarestadocuentaCartera|**application-service**|
||ASXX3-RegistrarRecaudoObligacion|**application-service**|
||COBIS|application-component|
||Servicios COBIS|application-collaboration|
|Servicios de Cuentas|AS026-Gesti&#243;n de Autenticaci&#243;n|**application-service**|
||AS034-ConsultarestadocuentaCartera|**application-service**|
||ASXX3-RegistrarRecaudoObligacion|**application-service**|
||COBIS|application-component|

&lt;br&gt;

Las capacidades de mayor importancia para el FNA debido a su nivel superior de relaci&#243;n con las partes relevantes de la empresa, son los siguientes

|Nombre Origen|**Destino**|**Relevancia**|
|-------------|-----------|--------------|
|Desarrollo de nuevos negocios|COBIS|**96**|
|Desarrollo de nuevos negocios|AS026-Gesti&#243;n de Autenticaci&#243;n|8|
|Desarrollo de nuevos negocios|AS034-ConsultarestadocuentaCartera|6|
|Desarrollo de nuevos negocios|ASXX3-RegistrarRecaudoObligacion|5|
|Desarrollo de nuevos negocios|Servicios COBIS|13|
|**Total Desarrollo de nuevos negocios**||128|
|Entrega de Productos|COBIS|**96**|
|Entrega de Productos|AS026-Gesti&#243;n de Autenticaci&#243;n|8|
|Entrega de Productos|AS034-ConsultarestadocuentaCartera|6|
|Entrega de Productos|ASXX3-RegistrarRecaudoObligacion|5|
|Entrega de Productos|Servicios COBIS|13|
|**Total Entrega de Productos**||128|
|Gesti&#243;n de Cliente|COBIS|**96**|
|Gesti&#243;n de Cliente|AS026-Gesti&#243;n de Autenticaci&#243;n|8|
|Gesti&#243;n de Cliente|AS034-ConsultarestadocuentaCartera|6|
|Gesti&#243;n de Cliente|ASXX3-RegistrarRecaudoObligacion|5|
|Gesti&#243;n de Cliente|Servicios COBIS|13|
|**Total Gesti&#243;n de Cliente**||128|
|Servicios de Cuentas|COBIS|**96**|
|Servicios de Cuentas|AS026-Gesti&#243;n de Autenticaci&#243;n|8|
|Servicios de Cuentas|AS034-ConsultarestadocuentaCartera|6|
|Servicios de Cuentas|ASXX3-RegistrarRecaudoObligacion|5|
|**Total Servicios de Cuentas**||115|


-----





[embedView]: FNA_Arquitectura-Vista%20de%20Capacidades%20FNA.png

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element"> Desarrollo de nuevos negocios </a> </td>
											    <td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element"> Gesti&#243;n de Cliente </a> </td>
											    <td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-165ae758e4e747bcb627cd3cfc7789ab.html" target="element"> Administraci&#243;n de Recursos y Negocio </a> </td>
											    <td> <a href="../elements/id-165ae758e4e747bcb627cd3cfc7789ab.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
											    <td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html" target="element"> Servicios de Cuentas </a> </td>
											    <td> <a href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
											    <td> <a href="../elements/52f7056c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
											    <td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element"> ASXX3-RegistrarRecaudoObligacion </a> </td>
											    <td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
											    <td> <a href="../elements/57f4b033.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
											    <td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b27761a.html" target="element"> Servicios de Infraestructura </a> </td>
											    <td> <a href="../elements/7b27761a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
											    <td> <a href="../elements/2d355af1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element"> wsADMIN </a> </td>
											    <td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html" target="element"> wsClientes </a> </td>
											    <td> <a href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html" target="element"> wsCredito </a> </td>
											    <td> <a href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e495796e.html" target="element"> WAS </a> </td>
											    <td> <a href="../elements/e495796e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
											    <td> <a href="../elements/231747b0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
											    <td> <a href="../elements/d8361c60.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/840d4fcb-b7ce-4312-881a-e048c6842420.html" target="element"> NetIQ - IDM </a> </td>
											    <td> <a href="../elements/840d4fcb-b7ce-4312-881a-e048c6842420.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/219addb7-e0c2-40ed-8742-1d60cac3d946.html" target="element"> DB - COBIS </a> </td>
											    <td> <a href="../elements/219addb7-e0c2-40ed-8742-1d60cac3d946.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0b8a4e79.html" target="element"> Sybase 15.7 </a> </td>
											    <td> <a href="../elements/0b8a4e79.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55036c04.html" target="element"> Servicios CIFIN </a> </td>
											    <td> <a href="../elements/55036c04.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
											    <td> <a href="../elements/da8dd1f6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
											    <td> <a href="../elements/c3799fae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
											    <td> <a href="../elements/a417cca8.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-217aa400100443299ad4dc05cf0cef22.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-217aa400100443299ad4dc05cf0cef22.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-af71c49be5d348228bd652d8cb0dd5af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af71c49be5d348228bd652d8cb0dd5af.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																		<td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element"> Desarrollo de nuevos negocios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8047afee4c04c23a93d709cf0c9a803.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8047afee4c04c23a93d709cf0c9a803.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																		<td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element"> Gesti&#243;n de Cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13cee9b40079417e88f3a6c4c59f4adc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13cee9b40079417e88f3a6c4c59f4adc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																		<td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a00eba8e69e74b8e9017e30a56ab22f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a00eba8e69e74b8e9017e30a56ab22f8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																		<td> <a href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html" target="element"> Servicios de Cuentas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df289f7c5bef499fb1e7f2c5b997389e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df289f7c5bef499fb1e7f2c5b997389e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
																		<td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element"> Desarrollo de nuevos negocios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1b6f8f9e97bf40969a1a60c99be55470.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b6f8f9e97bf40969a1a60c99be55470.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
																		<td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element"> Gesti&#243;n de Cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17ec7152f6e9447a9d90c28c86158f82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17ec7152f6e9447a9d90c28c86158f82.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
																		<td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-56d27b4aa7684c97a4875f0047bfced9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56d27b4aa7684c97a4875f0047bfced9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0a8259cc-07c1-4e14-8688-a62e0cebc9df.html" target="element"> AS034-ConsultarestadocuentaCartera </a> </td>
																		<td> <a href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html" target="element"> Servicios de Cuentas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-367277bf25714b5f90dc3d35f8d3b9b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-367277bf25714b5f90dc3d35f8d3b9b2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element"> ASXX3-RegistrarRecaudoObligacion </a> </td>
																		<td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element"> Desarrollo de nuevos negocios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60aa8a7cebef4d90babb1e71e834c716.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60aa8a7cebef4d90babb1e71e834c716.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element"> ASXX3-RegistrarRecaudoObligacion </a> </td>
																		<td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element"> Gesti&#243;n de Cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4df3c1ff0bf944f0bca66196fe46881d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4df3c1ff0bf944f0bca66196fe46881d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element"> ASXX3-RegistrarRecaudoObligacion </a> </td>
																		<td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6fdb1fa00b374f429c91681bc9e3c85a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fdb1fa00b374f429c91681bc9e3c85a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/62c3f7d4-d7a1-4383-8896-25576bb06a82.html" target="element"> ASXX3-RegistrarRecaudoObligacion </a> </td>
																		<td> <a href="../elements/id-5efcd1913f44479cac0df94d7c42c885.html" target="element"> Servicios de Cuentas </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2ce926b-99de-4f5e-bf84-166e4c406bcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2ce926b-99de-4f5e-bf84-166e4c406bcb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element"> wsADMIN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a32f57d1-c4cd-47b9-ac19-02746356578a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a32f57d1-c4cd-47b9-ac19-02746356578a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/a8e79e9e-7e79-4a6f-9ee4-8d10ca916b1e.html" target="element"> wsClientes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a9f01fa-5317-469f-9170-4d65c0a96045.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a9f01fa-5317-469f-9170-4d65c0a96045.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/9df3e4cb-8870-41c2-a3c3-c515b72a9028.html" target="element"> wsCredito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2a1850482e2483cbc7c0122befca2c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2a1850482e2483cbc7c0122befca2c9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/id-7ae726747e7849afa1ed3532812431c9.html" target="element"> Desarrollo de nuevos negocios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-afa4ebf4ef224708abb7929baf0719dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afa4ebf4ef224708abb7929baf0719dc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/id-2b54f978d1b84c8a91b4e389ea82aaac.html" target="element"> Gesti&#243;n de Cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1baccdae6504d8381eff3f1ec03e4e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1baccdae6504d8381eff3f1ec03e4e5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																		<td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7eef5644-8e0e-4354-b8b5-4aa40acc2beb.html" target="element">  </a> </td>
																		<td> <a href="../elements/7eef5644-8e0e-4354-b8b5-4aa40acc2beb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/52f7056c.html" target="element"> AS026-Gesti&#243;n de Autenticaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d9fa55a-9fa8-48cd-878c-8ae9a70a97f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d9fa55a-9fa8-48cd-878c-8ae9a70a97f7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b399f440-030e-4235-b656-5c5b0a6f9734.html" target="element">  </a> </td>
																		<td> <a href="../elements/b399f440-030e-4235-b656-5c5b0a6f9734.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/956e6384-df53-4145-bb65-6287e3e73926.html" target="element"> F5 </a> </td>
																		<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4076c493-e5f2-466c-8714-fdff75ff16e6.html" target="element"> WS </a> </td>
																		<td> <a href="../elements/4076c493-e5f2-466c-8714-fdff75ff16e6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element"> wsADMIN </a> </td>
																		<td> <a href="../elements/219addb7-e0c2-40ed-8742-1d60cac3d946.html" target="element"> DB - COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/002d1fd6-1a7b-4f5b-b208-5b06f3bfc384.html" target="element"> WS </a> </td>
																		<td> <a href="../elements/002d1fd6-1a7b-4f5b-b208-5b06f3bfc384.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element"> wsADMIN </a> </td>
																		<td> <a href="../elements/0b8a4e79.html" target="element"> Sybase 15.7 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a6c76669.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6c76669.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e495796e.html" target="element"> WAS </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bf9ad927.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf9ad927.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07ad1e22.html" target="element">  </a> </td>
																		<td> <a href="../elements/07ad1e22.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e16bd181.html" target="element">  </a> </td>
																		<td> <a href="../elements/e16bd181.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																		<td> <a href="../elements/55036c04.html" target="element"> Servicios CIFIN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de26b73d.html" target="element">  </a> </td>
																		<td> <a href="../elements/de26b73d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																		<td> <a href="../elements/c3799fae.html" target="element"> Andes SCD </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c827abfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/c827abfe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1f93564.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1f93564.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																		<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4177654.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4177654.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/d8361c60.html" target="element"> Consumo Backend  </a> </td>
																		<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/95029d20-9b0d-4fea-a068-c9bbd14fd748.html" target="element"> WS </a> </td>
																		<td> <a href="../elements/95029d20-9b0d-4fea-a068-c9bbd14fd748.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/840d4fcb-b7ce-4312-881a-e048c6842420.html" target="element"> NetIQ - IDM </a> </td>
																		<td> <a href="../elements/2d355af1.html" target="element"> WM_APIv2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7d09f676-de5e-4dbf-9fdb-8fe55eda8496.html" target="element"> WS </a> </td>
																		<td> <a href="../elements/7d09f676-de5e-4dbf-9fdb-8fe55eda8496.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/840d4fcb-b7ce-4312-881a-e048c6842420.html" target="element"> NetIQ - IDM </a> </td>
																		<td> <a href="../elements/246bfbf7-9d2d-41a5-9715-85b9bd877a8c.html" target="element"> wsADMIN </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/708bc74f-ec37-4d9f-af66-8a0f7fe8a727.html" target="element"> JDBC </a> </td>
																		<td> <a href="../elements/708bc74f-ec37-4d9f-af66-8a0f7fe8a727.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/840d4fcb-b7ce-4312-881a-e048c6842420.html" target="element"> NetIQ - IDM </a> </td>
																		<td> <a href="../elements/0b8a4e79.html" target="element"> Sybase 15.7 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/60c9f5a4-1ed6-4378-882b-a284b84c981c.html" target="element">  </a> </td>
																		<td> <a href="../elements/60c9f5a4-1ed6-4378-882b-a284b84c981c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0b8a4e79.html" target="element"> Sybase 15.7 </a> </td>
																		<td> <a href="../elements/219addb7-e0c2-40ed-8742-1d60cac3d946.html" target="element"> DB - COBIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6616a9e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/6616a9e2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/629907c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/629907c8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/da8dd1f6.html" target="element"> Servicios ESB </a> </td>
																		<td> <a href="../elements/231747b0.html" target="element"> Adaptador Integraci&#243;nSOAP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f3b3df46.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3b3df46.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/a417cca8.html" target="element"> Servicios Process Server </a> </td>
																		<td> <a href="../elements/57f4b033.html" target="element"> Servicios COBIS </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>