<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. n1. Modelo 0.5</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. n1. Modelo 0.5</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b9a2be7cba7e4dac9d4b214f1a3b7bfb.png" alt="Gobierno SOA. n1. Modelo 0.5" usemap="#id-b9a2be7cba7e4dac9d4b214f1a3b7bfbmap"/>
			   <map name="id-b9a2be7cba7e4dac9d4b214f1a3b7bfbmap">
				  		<area shape="rect" coords="232,1028,472,1138" href="../elements/id-6d8c3f0364fd43a8a14c911c6a15cffa.html"  target="element">
				  		<area shape="rect" coords="1086,1308,1326,1418" href="../elements/id-20a9b7dbcce64290929fe67a4a663235.html"  target="element">
				  		<area shape="rect" coords="1066,1288,1306,1398" href="../elements/id-f9e8f23b3f1f4a069abfa7acbee963a5.html"  target="element">
				  						<area shape="rect" coords="792,1722,1032,1832" href="../elements/id-70345d9b359440e5afcd9854eb9d1fd6.html"  target="element">
				  						<area shape="rect" coords="768,1698,1008,1808" href="../elements/id-c19ffcdf127c48ed8c9dbf3e4e48fde9.html"  target="element">
				  						<area shape="rect" coords="744,1674,984,1784" href="../elements/id-7662faf008e042039cb9865d7f291ee5.html"  target="element">

				  				<area shape="rect" coords="672,1602,1104,1844" href="../elements/id-bf85f0026934490cbab1f242d21f121f.html"  target="element">
				  						<area shape="rect" coords="744,1268,984,1378" href="../elements/id-3f3fbfeaa8aa4c10b398a16bd28193c1.html"  target="element">

				  				<area shape="rect" coords="672,1220,1104,1462" href="../elements/id-17fc778bbdff4f28a4aa03065bca7489.html"  target="element">
				  						<area shape="rect" coords="1416,1700,1656,1810" href="../elements/id-9a162a2a787b43f3bd5b541a96f2f4b3.html"  target="element">
				  						<area shape="rect" coords="1396,1680,1636,1790" href="../elements/id-e1db21a2bfc84708b86036b1897c76b9.html"  target="element">
				  						<area shape="rect" coords="1376,1660,1616,1770" href="../elements/id-d13b627008f540da90b4a56b3efd0ca7.html"  target="element">

				  				<area shape="rect" coords="1248,1604,1752,1844" href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html"  target="element">
				  						<area shape="rect" coords="1992,1700,2256,1810" href="../elements/id-83bf790049744a2c9d5fb8845c9c1858.html"  target="element">
				  						<area shape="rect" coords="1992,1508,2256,1618" href="../elements/id-20104675291945428687e148f1de3355.html"  target="element">
				  						<area shape="rect" coords="1992,1400,2256,1510" href="../elements/id-e9a51ad713364c29a24f9b203655c786.html"  target="element">
				  						<area shape="rect" coords="1992,1292,2256,1402" href="../elements/id-c7fb75b82fa245638a76d1150d93edba.html"  target="element">

				  				<area shape="rect" coords="1896,1220,2328,1844" href="../elements/id-70389071aa874c5eb0a6b47692ba4fd1.html"  target="element">
				  						<area shape="rect" coords="1368,1292,1632,1402" href="../elements/id-c796b54c7fa546ec9123b7ab430393a5.html"  target="element">

				  				<area shape="rect" coords="1248,1220,1752,1462" href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html"  target="element">

				  		<area shape="rect" coords="624,1148,2384,2150" href="../elements/id-b051e71928734d8caabf07a69ab9665e.html"  target="element">
				  		<area shape="rect" coords="336,596,366,626" href="../elements/id-287cb7651e22466fb2d68d0840c8ba20.html"  target="element">
				  		<area shape="rect" coords="470,836,710,946" href="../elements/id-31316c9c78a64001a8f9d64e05a0c604.html"  target="element">
				  		<area shape="rect" coords="24,836,264,946" href="../elements/id-4d39d420703e406d9d8667b0970621f6.html"  target="element">
				          <area shape="rect" coords="20,20,478,284" href="../objects/id-98fb82b383494f058d7c1345bc505364.html" target="element" >
				  		<area shape="rect" coords="206,380,496,490" href="../elements/id-7e86da3e40734eb5af1251abc4c89026.html"  target="element">
				  				<area shape="rect" coords="830,596,1102,740" href="../elements/id-4e9ad34688d34c94a6627e02e3f19a04.html"  target="element">
				  				<area shape="rect" coords="1190,788,1454,898" href="../elements/id-140e3f7cbdc44dcc9dbefc693f85ac06.html"  target="element">
				  				<area shape="rect" coords="1382,140,1622,250" href="../elements/id-efe4827b019849c0862b8bc7384361cf.html"  target="element">
				  				<area shape="rect" coords="1574,788,1910,898" href="../elements/id-35d01fb93962408bb2d28c03f1b6a7e0.html"  target="element">
				  				<area shape="rect" coords="1886,380,2126,490" href="../elements/id-713f60da4214481abd740c5d95e10d79.html"  target="element">
				  				<area shape="rect" coords="1310,368,1744,526" href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html"  target="element">
				  				<area shape="rect" coords="830,140,1070,250" href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html"  target="element">

				          <area shape="rect" coords="758,68,2248,958" href="../objects/id-c1978bb00d4940eca0baf9905fde4d95.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c1978bb00d4940eca0baf9905fde4d95.html" target="element"> Marco de Gobierno SOA FNA. Oficina </a> </td>
									           <td> <a href="../objects/id-c1978bb00d4940eca0baf9905fde4d95.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html" target="element"> Gobierno TI FNA </a> </td>
													    <td> <a href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
													    <td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-713f60da4214481abd740c5d95e10d79.html" target="element"> Arquitectura Empresarial FNA </a> </td>
													    <td> <a href="../elements/id-713f60da4214481abd740c5d95e10d79.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-35d01fb93962408bb2d28c03f1b6a7e0.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
													    <td> <a href="../elements/id-35d01fb93962408bb2d28c03f1b6a7e0.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-efe4827b019849c0862b8bc7384361cf.html" target="element"> Contrato de Gobierno SOA FNA </a> </td>
													    <td> <a href="../elements/id-efe4827b019849c0862b8bc7384361cf.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-140e3f7cbdc44dcc9dbefc693f85ac06.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
													    <td> <a href="../elements/id-140e3f7cbdc44dcc9dbefc693f85ac06.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4e9ad34688d34c94a6627e02e3f19a04.html" target="element"> Declaraci&#243;n Trabajo Arquitectura </a> </td>
													    <td> <a href="../elements/id-4e9ad34688d34c94a6627e02e3f19a04.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7e86da3e40734eb5af1251abc4c89026.html" target="element"> Evento de cambio arquitectura SOA </a> </td>
											    <td> <a href="../elements/id-7e86da3e40734eb5af1251abc4c89026.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-98fb82b383494f058d7c1345bc505364.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-98fb82b383494f058d7c1345bc505364.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-4d39d420703e406d9d8667b0970621f6.html" target="element"> Requerimiento de Arquitectura </a> </td>
											    <td> <a href="../elements/id-4d39d420703e406d9d8667b0970621f6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31316c9c78a64001a8f9d64e05a0c604.html" target="element"> Caso Uso de Negocio </a> </td>
											    <td> <a href="../elements/id-31316c9c78a64001a8f9d64e05a0c604.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-287cb7651e22466fb2d68d0840c8ba20.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-287cb7651e22466fb2d68d0840c8ba20.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html" target="element"> Repositorio SOA </a> </td>
													    <td> <a href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c796b54c7fa546ec9123b7ab430393a5.html" target="element"> Modelo Arquitectura </a> </td>
															    <td> <a href="../elements/id-c796b54c7fa546ec9123b7ab430393a5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-70389071aa874c5eb0a6b47692ba4fd1.html" target="element"> Repositorio An&#225;lisis </a> </td>
													    <td> <a href="../elements/id-70389071aa874c5eb0a6b47692ba4fd1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c7fb75b82fa245638a76d1150d93edba.html" target="element"> ALS01. Complejidad </a> </td>
															    <td> <a href="../elements/id-c7fb75b82fa245638a76d1150d93edba.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e9a51ad713364c29a24f9b203655c786.html" target="element"> ALS02. Impacto </a> </td>
															    <td> <a href="../elements/id-e9a51ad713364c29a24f9b203655c786.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-20104675291945428687e148f1de3355.html" target="element"> ALS03. Costo / Beneficio </a> </td>
															    <td> <a href="../elements/id-20104675291945428687e148f1de3355.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-83bf790049744a2c9d5fb8845c9c1858.html" target="element"> ALS04. Espec&#237;ficos* </a> </td>
															    <td> <a href="../elements/id-83bf790049744a2c9d5fb8845c9c1858.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
													    <td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d13b627008f540da90b4a56b3efd0ca7.html" target="element"> Especificaciones </a> </td>
															    <td> <a href="../elements/id-d13b627008f540da90b4a56b3efd0ca7.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e1db21a2bfc84708b86036b1897c76b9.html" target="element"> Especificaciones (copy) </a> </td>
															    <td> <a href="../elements/id-e1db21a2bfc84708b86036b1897c76b9.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9a162a2a787b43f3bd5b541a96f2f4b3.html" target="element"> Especificaciones </a> </td>
															    <td> <a href="../elements/id-9a162a2a787b43f3bd5b541a96f2f4b3.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-17fc778bbdff4f28a4aa03065bca7489.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
													    <td> <a href="../elements/id-17fc778bbdff4f28a4aa03065bca7489.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3f3fbfeaa8aa4c10b398a16bd28193c1.html" target="element"> Decisi&#243;n </a> </td>
															    <td> <a href="../elements/id-3f3fbfeaa8aa4c10b398a16bd28193c1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-bf85f0026934490cbab1f242d21f121f.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
													    <td> <a href="../elements/id-bf85f0026934490cbab1f242d21f121f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7662faf008e042039cb9865d7f291ee5.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-7662faf008e042039cb9865d7f291ee5.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c19ffcdf127c48ed8c9dbf3e4e48fde9.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-c19ffcdf127c48ed8c9dbf3e4e48fde9.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-70345d9b359440e5afcd9854eb9d1fd6.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-70345d9b359440e5afcd9854eb9d1fd6.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-f9e8f23b3f1f4a069abfa7acbee963a5.html" target="element"> Decisi&#243;n </a> </td>
											    <td> <a href="../elements/id-f9e8f23b3f1f4a069abfa7acbee963a5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20a9b7dbcce64290929fe67a4a663235.html" target="element"> Decisi&#243;n Arq. </a> </td>
											    <td> <a href="../elements/id-20a9b7dbcce64290929fe67a4a663235.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d8c3f0364fd43a8a14c911c6a15cffa.html" target="element"> Inversi&#243;n TI </a> </td>
											    <td> <a href="../elements/id-6d8c3f0364fd43a8a14c911c6a15cffa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-aaaaea23192e4026b508f9fdcd3782f0.html" target="element"> informa </a> </td>
																				<td> <a href="../elements/id-aaaaea23192e4026b508f9fdcd3782f0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-41eac602bcdb404592fad09b04ffcf9f.html" target="element"> Gobierno TI FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ebaccdb3e969493a9469dac3930ed99b.html" target="element"> participa </a> </td>
																				<td> <a href="../elements/id-ebaccdb3e969493a9469dac3930ed99b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-35d01fb93962408bb2d28c03f1b6a7e0.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e67fbd1176eb4f78ae22e33c4e3e17ae.html" target="element"> cumple </a> </td>
																				<td> <a href="../elements/id-e67fbd1176eb4f78ae22e33c4e3e17ae.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-713f60da4214481abd740c5d95e10d79.html" target="element"> Arquitectura Empresarial FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9a6ea4384e964ec89cc0238c20121591.html" target="element"> cumple </a> </td>
																				<td> <a href="../elements/id-9a6ea4384e964ec89cc0238c20121591.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-efe4827b019849c0862b8bc7384361cf.html" target="element"> Contrato de Gobierno SOA FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-af5bdeede0ad4e6b9d31cdbaa6b02a10.html" target="element"> emite </a> </td>
																				<td> <a href="../elements/id-af5bdeede0ad4e6b9d31cdbaa6b02a10.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-4e9ad34688d34c94a6627e02e3f19a04.html" target="element"> Declaraci&#243;n Trabajo Arquitectura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-32b497f543a246d4a1cdb319f3f22921.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32b497f543a246d4a1cdb319f3f22921.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-98dc6e76756b4919ba2f75cb562af7ea.html" target="element"> eval&#250;a </a> </td>
																				<td> <a href="../elements/id-98dc6e76756b4919ba2f75cb562af7ea.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-140e3f7cbdc44dcc9dbefc693f85ac06.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
																				<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-10346e19b8ff4f1fa78c1e12c3a51aa3.html" target="element"> diagnostica </a> </td>
																		<td> <a href="../elements/id-10346e19b8ff4f1fa78c1e12c3a51aa3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-7e86da3e40734eb5af1251abc4c89026.html" target="element"> Evento de cambio arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-81f37b3ba034401f8a3fa78185afa54e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d1f725ed855840c09221c35be69184c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1f725ed855840c09221c35be69184c0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-7e86da3e40734eb5af1251abc4c89026.html" target="element"> Evento de cambio arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-287cb7651e22466fb2d68d0840c8ba20.html" target="element"> Junction </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-4eddadc6842b4bb3a9e7c16728c9f2a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4eddadc6842b4bb3a9e7c16728c9f2a1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-287cb7651e22466fb2d68d0840c8ba20.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-4d39d420703e406d9d8667b0970621f6.html" target="element"> Requerimiento de Arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ced64ac36aec4b9f9fc6c56bfef0a92b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ced64ac36aec4b9f9fc6c56bfef0a92b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-287cb7651e22466fb2d68d0840c8ba20.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-6d8c3f0364fd43a8a14c911c6a15cffa.html" target="element"> Inversi&#243;n TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f906097f9e3a4d79bb64c2038ac91c2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f906097f9e3a4d79bb64c2038ac91c2a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-287cb7651e22466fb2d68d0840c8ba20.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-31316c9c78a64001a8f9d64e05a0c604.html" target="element"> Caso Uso de Negocio </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fa9853228a2f426e873ea6871d3fe055.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fa9853228a2f426e873ea6871d3fe055.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1c4f1f5f9e6f4aa0a2fcb193ea54c7fa.html" target="element"> registra </a> </td>
																				<td> <a href="../elements/id-1c4f1f5f9e6f4aa0a2fcb193ea54c7fa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-17fc778bbdff4f28a4aa03065bca7489.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-05390510e8544ec49e0ef0a19f7ac255.html" target="element"> crea </a> </td>
																				<td> <a href="../elements/id-05390510e8544ec49e0ef0a19f7ac255.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4533da11fe07432fbff0d3d7143f73d0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4533da11fe07432fbff0d3d7143f73d0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-c796b54c7fa546ec9123b7ab430393a5.html" target="element"> Modelo Arquitectura </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-18dbc4e06e124f9d881373e28a04fc7b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-18dbc4e06e124f9d881373e28a04fc7b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																						<td> <a href="../elements/id-c796b54c7fa546ec9123b7ab430393a5.html" target="element"> Modelo Arquitectura </a> </td>
																						<td> <a href="../elements/id-e9a51ad713364c29a24f9b203655c786.html" target="element"> ALS02. Impacto </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-2b159595b3ce435aa6d3ca711382c987.html" target="element"> an&#225;lisis </a> </td>
																						<td> <a href="../elements/id-2b159595b3ce435aa6d3ca711382c987.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																						<td> <a href="../elements/id-c796b54c7fa546ec9123b7ab430393a5.html" target="element"> Modelo Arquitectura </a> </td>
																						<td> <a href="../elements/id-c7fb75b82fa245638a76d1150d93edba.html" target="element"> ALS01. Complejidad </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-ef059e7e7bb249c5b73b198ba32a30d6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ef059e7e7bb249c5b73b198ba32a30d6.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																						<td> <a href="../elements/id-c796b54c7fa546ec9123b7ab430393a5.html" target="element"> Modelo Arquitectura </a> </td>
																						<td> <a href="../elements/id-20104675291945428687e148f1de3355.html" target="element"> ALS03. Costo / Beneficio </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ac173c75ae1f41cbb4c9e3c78df48609.html" target="element"> crea </a> </td>
																				<td> <a href="../elements/id-ac173c75ae1f41cbb4c9e3c78df48609.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-70389071aa874c5eb0a6b47692ba4fd1.html" target="element"> Repositorio An&#225;lisis </a> </td>
																				<td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6dafa076c72240fda6ca43a2d04a5421.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6dafa076c72240fda6ca43a2d04a5421.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-70389071aa874c5eb0a6b47692ba4fd1.html" target="element"> Repositorio An&#225;lisis </a> </td>
																				<td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-21bd38159dc4422fa1be46077e668450.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21bd38159dc4422fa1be46077e668450.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-e1db21a2bfc84708b86036b1897c76b9.html" target="element"> Especificaciones (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8ed3d28a34ef457db3106aff949faeb0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ed3d28a34ef457db3106aff949faeb0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-17e150aa27eb409482b07938427c8417.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-17e150aa27eb409482b07938427c8417.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-d13b627008f540da90b4a56b3efd0ca7.html" target="element"> Especificaciones </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bbf1cc3caf954059bc3f35defd4bc96f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bbf1cc3caf954059bc3f35defd4bc96f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-b99c1469ea27482e94b23b0b627fab68.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-9a162a2a787b43f3bd5b541a96f2f4b3.html" target="element"> Especificaciones </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-3a768b9da93f45328dbe62b9cdf3297e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3a768b9da93f45328dbe62b9cdf3297e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-17fc778bbdff4f28a4aa03065bca7489.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																				<td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3222b6a01af346ef838371ae6b60730e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3222b6a01af346ef838371ae6b60730e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-17fc778bbdff4f28a4aa03065bca7489.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																				<td> <a href="../elements/id-3f3fbfeaa8aa4c10b398a16bd28193c1.html" target="element"> Decisi&#243;n </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-af3c72482bd34a52acd16aa278fa6b68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af3c72482bd34a52acd16aa278fa6b68.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-bf85f0026934490cbab1f242d21f121f.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-c19ffcdf127c48ed8c9dbf3e4e48fde9.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1b797617d7914053a1d5ee6c8863e480.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b797617d7914053a1d5ee6c8863e480.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-bf85f0026934490cbab1f242d21f121f.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-b051e71928734d8caabf07a69ab9665e.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b62777722584085b5d8196f24c97cd9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b62777722584085b5d8196f24c97cd9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-bf85f0026934490cbab1f242d21f121f.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-70345d9b359440e5afcd9854eb9d1fd6.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9ad953a463e941a8b1b11835a14878e6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9ad953a463e941a8b1b11835a14878e6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-bf85f0026934490cbab1f242d21f121f.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-7662faf008e042039cb9865d7f291ee5.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-63b4f9decb4a4407808bacd8ce23e245.html" target="element"> diagnostica </a> </td>
																				<td> <a href="../elements/id-63b4f9decb4a4407808bacd8ce23e245.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-bf85f0026934490cbab1f242d21f121f.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-1c18585fefbd4e42a95f2a56c23bf4b6.html" target="element"> Repositorio SOA </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>