<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hoja de Ruta. 3. Evolución arquitectura</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Hoja de Ruta. 3. Evoluci&#243;n arquitectura</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ddfae97079ad4d98b97f5570c96dec39.png" alt="Hoja de Ruta. 3. Evolución arquitectura" usemap="#id-ddfae97079ad4d98b97f5570c96dec39map"/>
			   <map name="id-ddfae97079ad4d98b97f5570c96dec39map">
				  		<area shape="rect" coords="1724,548,2134,658" href="../elements/id-3b79cd245f384fff9a5ceb35bb09d6f2.html"  target="element">
				          <area shape="rect" coords="1724,812,2094,908" href="../objects/id-676aa7a25471440d8d05d1934d8f5d9b.html" target="element" >
				  		<area shape="rect" coords="1724,680,2134,790" href="../elements/id-83e73f0a7b874eaaa14d9126d14ef6d8.html"  target="element">
				          <area shape="rect" coords="956,812,1326,908" href="../objects/id-8437fd1285024af2ad4c47798b6dbd25.html" target="element" >
				          <area shape="rect" coords="22,812,392,908" href="../objects/id-2d923c01f2574c9bb783d41161220d87.html" target="element" >
				          <area shape="rect" coords="20,20,646,260" href="../objects/id-721810d527254e0386e45c4c1b521888.html" target="element" >
				  				<area shape="rect" coords="1610,1172,1996,1316" href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html"  target="element">
				  		        <area shape="rect" coords="1626,1314,1996,1410" href="../objects/id-441f42b6056045f082f03bfafea9d0e1.html" target="element" >
				  		        <area shape="rect" coords="1002,1314,1372,1410" href="../objects/id-9280b8b89f824fd19c124b1d582fef81.html" target="element" >
				  		        <area shape="rect" coords="78,1314,448,1410" href="../objects/id-773a5992cdf149679b2316dd56bd31b3.html" target="element" >
				  				<area shape="rect" coords="78,1172,464,1316" href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html"  target="element">
				  				<area shape="rect" coords="1004,1172,1390,1316" href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html"  target="element">

				  		<area shape="rect" coords="20,1076,2108,1460" href="../elements/id-16ff383e07174e26836db5fe885b123f.html"  target="element">
				  		<area shape="rect" coords="956,548,1366,658" href="../elements/id-0fc881da89424d208662b8cb6a6eb072.html"  target="element">
				  				<area shape="rect" coords="356,1604,668,1714" href="../elements/id-b84307cc1dbe4e83996961742c563c95.html"  target="element">
				  				<area shape="rect" coords="356,1844,668,1954" href="../elements/id-454c6181b53040688d4503957c02aca3.html"  target="element">
				  				<area shape="rect" coords="356,1724,668,1834" href="../elements/id-647127ec935c423e97bd7a6eeb28ca6a.html"  target="element">

				  		<area shape="rect" coords="308,1532,716,2012" href="../elements/id-26584f7cf2474481beb1daf10feccc89.html"  target="element">
				  		<area shape="rect" coords="476,380,886,490" href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html"  target="element">
				  		<area shape="rect" coords="20,308,430,418" href="../elements/id-263ddf27f8a04ef585da412bb4bdf6be.html"  target="element">
				  		<area shape="rect" coords="1412,380,1822,490" href="../elements/id-ae573dafabef4eafad976be5527905a4.html"  target="element">
				  		<area shape="rect" coords="956,308,1366,418" href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html"  target="element">
				  				<area shape="rect" coords="812,1724,1124,1834" href="../elements/id-ccab37efbf56487f86c6fc3f2ab4ed65.html"  target="element">
				  				<area shape="rect" coords="812,1604,1124,1714" href="../elements/id-fe0556a1b71a4090b8d2b66369a4ec45.html"  target="element">

				  		<area shape="rect" coords="764,1532,1172,2012" href="../elements/id-4c1a31c50e454bde8d97bdc7228518d1.html"  target="element">
				  		<area shape="rect" coords="956,680,1366,790" href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html"  target="element">
				  		<area shape="rect" coords="20,680,430,790" href="../elements/id-568d80cab92e4e709af87276e6f2396e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element"> PRY01. Gobierno SOA FNA </a> </td>
											    <td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element"> PRY02. Arquitectura Referencia. Incremento 1 </a> </td>
											    <td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c1a31c50e454bde8d97bdc7228518d1.html" target="element"> Flexibilidad </a> </td>
											    <td> <a href="../elements/id-4c1a31c50e454bde8d97bdc7228518d1.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fe0556a1b71a4090b8d2b66369a4ec45.html" target="element"> OP2. Mejorar procesos de dise&#241;o, construcci&#243;n, DevOps </a> </td>
													    <td> <a href="../elements/id-fe0556a1b71a4090b8d2b66369a4ec45.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ccab37efbf56487f86c6fc3f2ab4ed65.html" target="element"> OP5. Desarrollo guiada por la arq. 2.0 </a> </td>
													    <td> <a href="../elements/id-ccab37efbf56487f86c6fc3f2ab4ed65.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element"> Gesti&#243;n de Productos y Funcionalidades </a> </td>
											    <td> <a href="../elements/id-e0a5f8db681741f591c19e907a2e9cd8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae573dafabef4eafad976be5527905a4.html" target="element"> Entrega de Productos y Funcionalidades. Versi&#243;n 1.1 </a> </td>
											    <td> <a href="../elements/id-ae573dafabef4eafad976be5527905a4.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-263ddf27f8a04ef585da412bb4bdf6be.html" target="element"> Gesti&#243;n de Tecnolog&#237;a para Negocio </a> </td>
											    <td> <a href="../elements/id-263ddf27f8a04ef585da412bb4bdf6be.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html" target="element"> Gesti&#243;n de Tecnolog&#237;a para Negocio. Versi&#243;n 1.1 </a> </td>
											    <td> <a href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26584f7cf2474481beb1daf10feccc89.html" target="element"> Fortalecimiento SOA </a> </td>
											    <td> <a href="../elements/id-26584f7cf2474481beb1daf10feccc89.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-647127ec935c423e97bd7a6eeb28ca6a.html" target="element"> OP6. Gesti&#243;n de la Tecnolog&#237;a orientada por arq 2.0 </a> </td>
													    <td> <a href="../elements/id-647127ec935c423e97bd7a6eeb28ca6a.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-454c6181b53040688d4503957c02aca3.html" target="element"> OP7. Fortalecimiento equipo arq. </a> </td>
													    <td> <a href="../elements/id-454c6181b53040688d4503957c02aca3.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b84307cc1dbe4e83996961742c563c95.html" target="element"> OP1.  Instaurar gobierno SOA </a> </td>
													    <td> <a href="../elements/id-b84307cc1dbe4e83996961742c563c95.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0fc881da89424d208662b8cb6a6eb072.html" target="element"> PRY03. Estructuraci&#243;n proyectos hoja ruta E-Service. Incremento 1 </a> </td>
											    <td> <a href="../elements/id-0fc881da89424d208662b8cb6a6eb072.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
											    <td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
													    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
													    <td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-773a5992cdf149679b2316dd56bd31b3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-773a5992cdf149679b2316dd56bd31b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9280b8b89f824fd19c124b1d582fef81.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9280b8b89f824fd19c124b1d582fef81.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-441f42b6056045f082f03bfafea9d0e1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-441f42b6056045f082f03bfafea9d0e1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
													    <td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-721810d527254e0386e45c4c1b521888.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-721810d527254e0386e45c4c1b521888.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2d923c01f2574c9bb783d41161220d87.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2d923c01f2574c9bb783d41161220d87.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8437fd1285024af2ad4c47798b6dbd25.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8437fd1285024af2ad4c47798b6dbd25.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-83e73f0a7b874eaaa14d9126d14ef6d8.html" target="element"> PRY02. Arquitectura Referencia. Incremento 2 </a> </td>
											    <td> <a href="../elements/id-83e73f0a7b874eaaa14d9126d14ef6d8.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-676aa7a25471440d8d05d1934d8f5d9b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-676aa7a25471440d8d05d1934d8f5d9b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-3b79cd245f384fff9a5ceb35bb09d6f2.html" target="element"> PRY03. Estructuraci&#243;n proyectos hoja ruta E-Service. Incremento 2 </a> </td>
											    <td> <a href="../elements/id-3b79cd245f384fff9a5ceb35bb09d6f2.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bb637e8a01534b5b9679cdd84bd19390.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb637e8a01534b5b9679cdd84bd19390.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element"> PRY01. Gobierno SOA FNA </a> </td>
																		<td> <a href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html" target="element"> Gesti&#243;n de Tecnolog&#237;a para Negocio. Versi&#243;n 1.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83c51c6555524c05af88764f90ef89d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83c51c6555524c05af88764f90ef89d3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element"> PRY01. Gobierno SOA FNA </a> </td>
																		<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f4dd1f48dfa24f6faf13adc7c16dd402.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4dd1f48dfa24f6faf13adc7c16dd402.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element"> PRY02. Arquitectura Referencia. Incremento 1 </a> </td>
																		<td> <a href="../elements/id-ae573dafabef4eafad976be5527905a4.html" target="element"> Entrega de Productos y Funcionalidades. Versi&#243;n 1.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ec72b6d1dcb043a0bfe0308812ac3b4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec72b6d1dcb043a0bfe0308812ac3b4b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element"> PRY02. Arquitectura Referencia. Incremento 1 </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-68e9d1600f08475090c566915745d74d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68e9d1600f08475090c566915745d74d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4c1a31c50e454bde8d97bdc7228518d1.html" target="element"> Flexibilidad </a> </td>
																		<td> <a href="../elements/id-fe0556a1b71a4090b8d2b66369a4ec45.html" target="element"> OP2. Mejorar procesos de dise&#241;o, construcci&#243;n, DevOps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dba1dea26ff54eb8a250354a08c5bb52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dba1dea26ff54eb8a250354a08c5bb52.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4c1a31c50e454bde8d97bdc7228518d1.html" target="element"> Flexibilidad </a> </td>
																		<td> <a href="../elements/id-ccab37efbf56487f86c6fc3f2ab4ed65.html" target="element"> OP5. Desarrollo guiada por la arq. 2.0 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e650d3263f7448188066796b302ac3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e650d3263f7448188066796b302ac3f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c1a31c50e454bde8d97bdc7228518d1.html" target="element"> Flexibilidad </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b72eae6866b74e9c8a95702793270fc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b72eae6866b74e9c8a95702793270fc2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c1a31c50e454bde8d97bdc7228518d1.html" target="element"> Flexibilidad </a> </td>
																		<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6b9a2e057d7a484bb9876e887056832e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b9a2e057d7a484bb9876e887056832e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-26584f7cf2474481beb1daf10feccc89.html" target="element"> Fortalecimiento SOA </a> </td>
																		<td> <a href="../elements/id-647127ec935c423e97bd7a6eeb28ca6a.html" target="element"> OP6. Gesti&#243;n de la Tecnolog&#237;a orientada por arq 2.0 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57f4c52d78f945f6aa685dcc49fa48e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57f4c52d78f945f6aa685dcc49fa48e5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-26584f7cf2474481beb1daf10feccc89.html" target="element"> Fortalecimiento SOA </a> </td>
																		<td> <a href="../elements/id-454c6181b53040688d4503957c02aca3.html" target="element"> OP7. Fortalecimiento equipo arq. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f90eeff55a3471eb6cec31b3c013e68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f90eeff55a3471eb6cec31b3c013e68.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-26584f7cf2474481beb1daf10feccc89.html" target="element"> Fortalecimiento SOA </a> </td>
																		<td> <a href="../elements/id-b84307cc1dbe4e83996961742c563c95.html" target="element"> OP1.  Instaurar gobierno SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64a961e81f394ca9929e43bd31dca533.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64a961e81f394ca9929e43bd31dca533.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-26584f7cf2474481beb1daf10feccc89.html" target="element"> Fortalecimiento SOA </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2fdea25982e4593905049724de83c76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2fdea25982e4593905049724de83c76.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-26584f7cf2474481beb1daf10feccc89.html" target="element"> Fortalecimiento SOA </a> </td>
																		<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9188d52425144c01a55ad83a792e1908.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9188d52425144c01a55ad83a792e1908.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00ccc3598e314c5babbfe21324e538e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00ccc3598e314c5babbfe21324e538e6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
																		<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e9d5d103ce5486194fd3b4906b5e930.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e9d5d103ce5486194fd3b4906b5e930.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-16ff383e07174e26836db5fe885b123f.html" target="element"> Evoluci&#243;n de arquitectura SOA FNA </a> </td>
																		<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4be8945a4121407ba8fda67eaa6730f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4be8945a4121407ba8fda67eaa6730f1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																				<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0bedfb284cae47828ba929c629e00a31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0bedfb284cae47828ba929c629e00a31.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																				<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b4a0b2a732d24415a3179ecf2b22ffe5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4a0b2a732d24415a3179ecf2b22ffe5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-83e73f0a7b874eaaa14d9126d14ef6d8.html" target="element"> PRY02. Arquitectura Referencia. Incremento 2 </a> </td>
																		<td> <a href="../elements/id-ae573dafabef4eafad976be5527905a4.html" target="element"> Entrega de Productos y Funcionalidades. Versi&#243;n 1.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c73e133922444284894dba3b4702967c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c73e133922444284894dba3b4702967c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-83e73f0a7b874eaaa14d9126d14ef6d8.html" target="element"> PRY02. Arquitectura Referencia. Incremento 2 </a> </td>
																		<td> <a href="../elements/id-b6a4a13f789b4dc1b1091f24046bfc39.html" target="element"> Arquitectura ref 2.0 -Incremento 2 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>