<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hoja de Ruta. 4. Evolución elementos arq</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Hoja de Ruta. 4. Evoluci&#243;n elementos arq</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e23bae7f811f4914a2409c47a3404542.png" alt="Hoja de Ruta. 4. Evolución elementos arq" usemap="#id-e23bae7f811f4914a2409c47a3404542map"/>
			   <map name="id-e23bae7f811f4914a2409c47a3404542map">
				          <area shape="rect" coords="42,20,740,284" href="../objects/id-f42b085089214476a3c8effcc3624d04.html" target="element" >
				          <area shape="rect" coords="1578,716,1948,812" href="../objects/id-7383c0c4a135435c824918d5f0540596.html" target="element" >
				  				<area shape="rect" coords="2058,1700,2444,1810" href="../elements/id-6f014bbac59b472cbe2afb507ed0915b.html"  target="element">
				  				<area shape="rect" coords="1650,1820,2036,1930" href="../elements/id-2e69a88742424b1baf9453d9ae61de36.html"  target="element">
				  				<area shape="rect" coords="2058,1580,2444,1690" href="../elements/id-a03c06f86c064509803473ca36fa95dd.html"  target="element">
				  				<area shape="rect" coords="2474,1460,2860,1570" href="../elements/id-78b638cf2a6f4c77a978cabc1cc36e38.html"  target="element">
				  				<area shape="rect" coords="2474,1700,2860,1810" href="../elements/id-b4837ec91f824f648040b46ba3743764.html"  target="element">
				  				<area shape="rect" coords="2058,1820,2444,1930" href="../elements/id-da4e44dec8a04430bcc602e7a250d388.html"  target="element">
				  				<area shape="rect" coords="2058,1940,2444,2050" href="../elements/id-88a5a04b7729462e9a997c70b6f31308.html"  target="element">
				  				<area shape="rect" coords="1650,1580,2036,1690" href="../elements/id-37ec1b6b03384e81b3082189104ac48c.html"  target="element">
				  				<area shape="rect" coords="1650,1700,2036,1810" href="../elements/id-7b4637699e1f4d4faa54935858a60712.html"  target="element">
				  				<area shape="rect" coords="2474,1940,2860,2050" href="../elements/id-9af3b58545f346e695c69b28aa19f01d.html"  target="element">
				  				<area shape="rect" coords="2474,1580,2860,1690" href="../elements/id-60bccf16ee6d4c81b0bddf972951d15a.html"  target="element">
				  				<area shape="rect" coords="2474,1820,2860,1930" href="../elements/id-2278755bf7f1464795d0f7f79a4dceb3.html"  target="element">

				  		<area shape="rect" coords="1602,1388,2946,2108" href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html"  target="element">
				  		<area shape="rect" coords="1326,572,1712,716" href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html"  target="element">
				  		<area shape="rect" coords="882,140,1292,250" href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html"  target="element">
				  		<area shape="rect" coords="1818,140,2228,250" href="../elements/id-ae573dafabef4eafad976be5527905a4.html"  target="element">
				  		<area shape="rect" coords="1362,308,1676,418" href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html"  target="element">
				  		<area shape="rect" coords="390,572,776,716" href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html"  target="element">
				  		<area shape="rect" coords="426,308,740,418" href="../elements/id-568d80cab92e4e709af87276e6f2396e.html"  target="element">
				  				<area shape="rect" coords="476,1172,862,1282" href="../elements/9d8f45c9.html"  target="element">
				  				<area shape="rect" coords="68,1292,454,1402" href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html"  target="element">
				  				<area shape="rect" coords="476,1052,862,1162" href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html"  target="element">
				  				<area shape="rect" coords="892,932,1278,1042" href="../elements/4e670629.html"  target="element">
				  				<area shape="rect" coords="892,1172,1278,1282" href="../elements/2433ba04-228d-4d07-bf8c-cd0c8ff937cf.html"  target="element">
				  				<area shape="rect" coords="476,1292,862,1402" href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html"  target="element">
				  				<area shape="rect" coords="476,1412,862,1522" href="../elements/536d11f6.html"  target="element">
				  				<area shape="rect" coords="68,1052,454,1162" href="../elements/ef950d70.html"  target="element">
				  				<area shape="rect" coords="68,1172,454,1282" href="../elements/faedebf1.html"  target="element">
				  				<area shape="rect" coords="892,1412,1278,1522" href="../elements/1bc44151.html"  target="element">
				  				<area shape="rect" coords="892,1052,1278,1162" href="../elements/4c75d942.html"  target="element">
				  				<area shape="rect" coords="892,1292,1278,1402" href="../elements/c8a8ca55.html"  target="element">

				  		<area shape="rect" coords="20,860,1364,1580" href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
											    <td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c8a8ca55.html" target="element"> COBIS - Cartera </a> </td>
													    <td> <a href="../elements/c8a8ca55.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4c75d942.html" target="element"> Aplicaci&#243;n Web - Simuladores (JBoss EAP) </a> </td>
													    <td> <a href="../elements/4c75d942.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1bc44151.html" target="element"> COBIS - Cesantias </a> </td>
													    <td> <a href="../elements/1bc44151.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/faedebf1.html" target="element"> Aplicaci&#243;n Web - Simuladores </a> </td>
													    <td> <a href="../elements/faedebf1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ef950d70.html" target="element"> SAP - Clientes </a> </td>
													    <td> <a href="../elements/ef950d70.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
													    <td> <a href="../elements/536d11f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
													    <td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2433ba04-228d-4d07-bf8c-cd0c8ff937cf.html" target="element"> COBIS - Garant&#237;as </a> </td>
													    <td> <a href="../elements/2433ba04-228d-4d07-bf8c-cd0c8ff937cf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4e670629.html" target="element"> Aplicaci&#243;n Web - Atenci&#243;n al Cliente </a> </td>
													    <td> <a href="../elements/4e670629.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
													    <td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html" target="element"> Simulador Cr&#233;dito </a> </td>
													    <td> <a href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9d8f45c9.html" target="element"> Aplicaci&#243;n Web - Simuladores (GlassFish 2.2.1) </a> </td>
													    <td> <a href="../elements/9d8f45c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element"> PRY01. Gobierno SOA FNA </a> </td>
											    <td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
											    <td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element"> PRY02. Arquitectura Referencia. Incremento 1 </a> </td>
											    <td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae573dafabef4eafad976be5527905a4.html" target="element"> Entrega de Productos y Funcionalidades. Versi&#243;n 1.1 </a> </td>
											    <td> <a href="../elements/id-ae573dafabef4eafad976be5527905a4.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html" target="element"> Gesti&#243;n de Tecnolog&#237;a para Negocio. Versi&#243;n 1.1 </a> </td>
											    <td> <a href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
											    <td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
											    <td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2278755bf7f1464795d0f7f79a4dceb3.html" target="element"> COBIS - Cartera 2.1 </a> </td>
													    <td> <a href="../elements/id-2278755bf7f1464795d0f7f79a4dceb3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60bccf16ee6d4c81b0bddf972951d15a.html" target="element"> Aplicaci&#243;n Web - Simuladores 2.1 </a> </td>
													    <td> <a href="../elements/id-60bccf16ee6d4c81b0bddf972951d15a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9af3b58545f346e695c69b28aa19f01d.html" target="element"> COBIS - Cesantias 2.1 </a> </td>
													    <td> <a href="../elements/id-9af3b58545f346e695c69b28aa19f01d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b4637699e1f4d4faa54935858a60712.html" target="element"> Aplicaci&#243;n Web - Simuladores 2.1 </a> </td>
													    <td> <a href="../elements/id-7b4637699e1f4d4faa54935858a60712.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37ec1b6b03384e81b3082189104ac48c.html" target="element"> SAP - Clientes 2.1 </a> </td>
													    <td> <a href="../elements/id-37ec1b6b03384e81b3082189104ac48c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-88a5a04b7729462e9a997c70b6f31308.html" target="element"> CRM 2.1 </a> </td>
													    <td> <a href="../elements/id-88a5a04b7729462e9a997c70b6f31308.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-da4e44dec8a04430bcc602e7a250d388.html" target="element"> COBIS - Clientes 2.1 </a> </td>
													    <td> <a href="../elements/id-da4e44dec8a04430bcc602e7a250d388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b4837ec91f824f648040b46ba3743764.html" target="element"> COBIS - Garant&#237;as 2.1 </a> </td>
													    <td> <a href="../elements/id-b4837ec91f824f648040b46ba3743764.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78b638cf2a6f4c77a978cabc1cc36e38.html" target="element"> Aplicaci&#243;n Web - Atenci&#243;n al Cliente 2.1 </a> </td>
													    <td> <a href="../elements/id-78b638cf2a6f4c77a978cabc1cc36e38.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a03c06f86c064509803473ca36fa95dd.html" target="element"> Cr&#233;dito Digital 2.1 </a> </td>
													    <td> <a href="../elements/id-a03c06f86c064509803473ca36fa95dd.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e69a88742424b1baf9453d9ae61de36.html" target="element"> Simulador Cr&#233;dito 2.1 </a> </td>
													    <td> <a href="../elements/id-2e69a88742424b1baf9453d9ae61de36.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f014bbac59b472cbe2afb507ed0915b.html" target="element"> Aplicaci&#243;n Web - Simuladores 2.1 </a> </td>
													    <td> <a href="../elements/id-6f014bbac59b472cbe2afb507ed0915b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7383c0c4a135435c824918d5f0540596.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7383c0c4a135435c824918d5f0540596.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f42b085089214476a3c8effcc3624d04.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f42b085089214476a3c8effcc3624d04.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ef61ff9db6a342f5a86e093d86610681.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef61ff9db6a342f5a86e093d86610681.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/c8a8ca55.html" target="element"> COBIS - Cartera </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7fc9a2831dc47128683355637e698ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7fc9a2831dc47128683355637e698ee.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/4c75d942.html" target="element"> Aplicaci&#243;n Web - Simuladores (JBoss EAP) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-efd9846841f9482db6d22f405b602cca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efd9846841f9482db6d22f405b602cca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/1bc44151.html" target="element"> COBIS - Cesantias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5dc9379086d4bd5ac1d8260716a4e43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5dc9379086d4bd5ac1d8260716a4e43.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/faedebf1.html" target="element"> Aplicaci&#243;n Web - Simuladores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8995866652b340d8b435e90dfabb7b33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8995866652b340d8b435e90dfabb7b33.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/ef950d70.html" target="element"> SAP - Clientes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5fe56e3680847cd88285dbd60e2f67c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5fe56e3680847cd88285dbd60e2f67c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/536d11f6.html" target="element"> CRM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f66fd04c4ee4f27a367a11372c44f69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f66fd04c4ee4f27a367a11372c44f69.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/5cab849f-33e7-42df-a950-5e8d47f8dc26.html" target="element"> COBIS - Clientes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e7fa0d83c234ea6b7622244680d08b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e7fa0d83c234ea6b7622244680d08b9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/2433ba04-228d-4d07-bf8c-cd0c8ff937cf.html" target="element"> COBIS - Garant&#237;as </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46504520aece4a87ac34bb5a99cf3367.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46504520aece4a87ac34bb5a99cf3367.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/4e670629.html" target="element"> Aplicaci&#243;n Web - Atenci&#243;n al Cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50f8608b02474d43bfaf7d9c9ba9d7a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50f8608b02474d43bfaf7d9c9ba9d7a3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/61858dae-94e5-4c5b-ba29-ce4ba6f4b384.html" target="element"> Cr&#233;dito Digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5c2c90ee8b94620b42694581603a919.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5c2c90ee8b94620b42694581603a919.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/9e94efad-58a6-49ec-949b-348c0e3687f7.html" target="element"> Simulador Cr&#233;dito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94a2af47bddb4ff88cb5a88983a70375.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94a2af47bddb4ff88cb5a88983a70375.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																		<td> <a href="../elements/9d8f45c9.html" target="element"> Aplicaci&#243;n Web - Simuladores (GlassFish 2.2.1) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bb637e8a01534b5b9679cdd84bd19390.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb637e8a01534b5b9679cdd84bd19390.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element"> PRY01. Gobierno SOA FNA </a> </td>
																		<td> <a href="../elements/id-b01adb7d4828437d8c9a0ce120bb94d8.html" target="element"> Gesti&#243;n de Tecnolog&#237;a para Negocio. Versi&#243;n 1.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b45dff183949452f92330baba5d99f97.html" target="element"> realiza </a> </td>
																		<td> <a href="../elements/id-b45dff183949452f92330baba5d99f97.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-568d80cab92e4e709af87276e6f2396e.html" target="element"> PRY01. Gobierno SOA FNA </a> </td>
																		<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b0bebfd1febf43759dbe4692588ec161.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0bebfd1febf43759dbe4692588ec161.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4e72abe6d4f43539e9043a53c9aede4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4e72abe6d4f43539e9043a53c9aede4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-85f7b0794e664f3dadce761d50bf8c54.html" target="element"> Arquitectura l&#237;nea base (ALB) </a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f4dd1f48dfa24f6faf13adc7c16dd402.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4dd1f48dfa24f6faf13adc7c16dd402.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element"> PRY02. Arquitectura Referencia. Incremento 1 </a> </td>
																		<td> <a href="../elements/id-ae573dafabef4eafad976be5527905a4.html" target="element"> Entrega de Productos y Funcionalidades. Versi&#243;n 1.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0200e7d4a8f49349af1630c2ebea7e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0200e7d4a8f49349af1630c2ebea7e5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a04e3c19a6147d8941d59b548b59457.html" target="element"> PRY02. Arquitectura Referencia. Incremento 1 </a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aa072aaf01cd4ef3b83a467d60047a1a.html" target="element"> contiene </a> </td>
																		<td> <a href="../elements/id-aa072aaf01cd4ef3b83a467d60047a1a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-87dfe95d48ac4e7b86e33a5a96a0897e.html" target="element"> Arquitectura ref 2.0 -Incremento 1 </a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6c9a522ef66d4fb08b9dbcd9ffd9efe4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c9a522ef66d4fb08b9dbcd9ffd9efe4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-b4837ec91f824f648040b46ba3743764.html" target="element"> COBIS - Garant&#237;as 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a8013c1c9e2413c9741dbe3894ad550.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a8013c1c9e2413c9741dbe3894ad550.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-88a5a04b7729462e9a997c70b6f31308.html" target="element"> CRM 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db958e82eb444d478acf3c54916b6a8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db958e82eb444d478acf3c54916b6a8b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-9af3b58545f346e695c69b28aa19f01d.html" target="element"> COBIS - Cesantias 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ba1c47a784d49e0b6a41be26db7149b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ba1c47a784d49e0b6a41be26db7149b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-7b4637699e1f4d4faa54935858a60712.html" target="element"> Aplicaci&#243;n Web - Simuladores 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-263d4fc2e7144ea1a3f78ac4d1dbb7c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-263d4fc2e7144ea1a3f78ac4d1dbb7c9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-da4e44dec8a04430bcc602e7a250d388.html" target="element"> COBIS - Clientes 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5110d6914d34841a0befd3305dfb21c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5110d6914d34841a0befd3305dfb21c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-2278755bf7f1464795d0f7f79a4dceb3.html" target="element"> COBIS - Cartera 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c57ce85723b4407f91428b9886fe4602.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c57ce85723b4407f91428b9886fe4602.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-78b638cf2a6f4c77a978cabc1cc36e38.html" target="element"> Aplicaci&#243;n Web - Atenci&#243;n al Cliente 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f39da42653004c27ab6897dd6b081aaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f39da42653004c27ab6897dd6b081aaa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-2e69a88742424b1baf9453d9ae61de36.html" target="element"> Simulador Cr&#233;dito 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80fe28635bfb4762afd587b53d5eb70b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80fe28635bfb4762afd587b53d5eb70b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-60bccf16ee6d4c81b0bddf972951d15a.html" target="element"> Aplicaci&#243;n Web - Simuladores 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b1e318707614a3ea6e0770903a823ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b1e318707614a3ea6e0770903a823ae.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-37ec1b6b03384e81b3082189104ac48c.html" target="element"> SAP - Clientes 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a79c363f52f4a73b5a376717ca85296.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a79c363f52f4a73b5a376717ca85296.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-6f014bbac59b472cbe2afb507ed0915b.html" target="element"> Aplicaci&#243;n Web - Simuladores 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5160e778e2cb4c2c8f27391ff0d30dc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5160e778e2cb4c2c8f27391ff0d30dc1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-a03c06f86c064509803473ca36fa95dd.html" target="element"> Cr&#233;dito Digital 2.1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4846b6b69fd4066aa0716bf6a62f496.html" target="element"> aumenta </a> </td>
																		<td> <a href="../elements/id-c4846b6b69fd4066aa0716bf6a62f496.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-c7eebf6d9cf8479e91674a2d9445edc0.html" target="element"> Ejemplo de &#237;tems de arquitectura. Especializados 2.1 </a> </td>
																		<td> <a href="../elements/id-7c3a56e6eb8d4f88b96ead473d882cf3.html" target="element"> Ejemplo de &#237;tems de arquitectura. L&#237;nea base </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>