<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sistema medición. efectividad</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sistema medici&#243;n. efectividad</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e43a89be345f4dbb9352a3b371b247de.png" alt="Sistema medición. efectividad" usemap="#id-e43a89be345f4dbb9352a3b371b247demap"/>
			   <map name="id-e43a89be345f4dbb9352a3b371b247demap">
				          <area shape="rect" coords="20,20,526,236" href="../objects/id-f8a59971cdf24d9b90594c6675d687e8.html" target="element" >
				  				<area shape="rect" coords="260,404,500,514" href="../elements/id-40738e3c81d14521929ad982feba3b33.html"  target="element">

				  		<area shape="rect" coords="20,308,1436,588" href="../elements/id-eaf3788a0adb457db9a3ee72f1c3ba24.html"  target="element">
				  				<area shape="rect" coords="1100,1310,1364,1454" href="../elements/id-6a8d96991bb6436d8dd9ffa010d12731.html"  target="element">
				  				<area shape="rect" coords="310,1310,574,1454" href="../elements/id-6eba624d0e52421d9358a52568d5c173.html"  target="element">
				  				<area shape="rect" coords="836,1310,1100,1454" href="../elements/id-73ecade1dfa24aaf8afb94b61ed90cc9.html"  target="element">
				  				<area shape="rect" coords="44,1310,308,1454" href="../elements/id-cc19b3eca95849c3a7eeeca77cdc3422.html"  target="element">
				  				<area shape="rect" coords="572,1310,836,1454" href="../elements/id-06b509388a254e57918591bf834feda2.html"  target="element">

				  		<area shape="rect" coords="20,1214,1436,1494" href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html"  target="element">
				  				<area shape="rect" coords="450,1032,738,1176" href="../elements/id-0bf510a966624ca98ce55427ab7b0fc7.html"  target="element">
				  				<area shape="rect" coords="788,1032,1076,1176" href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html"  target="element">
				  				<area shape="rect" coords="1124,1032,1412,1176" href="../elements/id-9b4694090d4348d0ac46d9a2fce1bbe9.html"  target="element">
				  				<area shape="rect" coords="118,1032,406,1176" href="../elements/id-fb003253fd224a809c91d062372e0e4b.html"  target="element">

				  		<area shape="rect" coords="20,936,1436,1216" href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html"  target="element">
				  				<area shape="rect" coords="428,658,716,768" href="../elements/id-83de84a3484945418286482ebfa28973.html"  target="element">

				  		<area shape="rect" coords="20,586,1436,866" href="../elements/id-900915d858bf432a9b9eec89416bbcbd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-900915d858bf432a9b9eec89416bbcbd.html" target="element"> An&#225;lisis y objetivos </a> </td>
											    <td> <a href="../elements/id-900915d858bf432a9b9eec89416bbcbd.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-83de84a3484945418286482ebfa28973.html" target="element"> ANLSS01. Efectividad de costos </a> </td>
													    <td> <a href="../elements/id-83de84a3484945418286482ebfa28973.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html" target="element"> Requerimientos de adopci&#243;n arquitectura SOA </a> </td>
											    <td> <a href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fb003253fd224a809c91d062372e0e4b.html" target="element"> REQARQ01. Intradepartamental 1: emergente, por proyecto </a> </td>
													    <td> <a href="../elements/id-fb003253fd224a809c91d062372e0e4b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9b4694090d4348d0ac46d9a2fce1bbe9.html" target="element"> REQARQ04. Nivel empresarial extensible a cadena proveedores </a> </td>
													    <td> <a href="../elements/id-9b4694090d4348d0ac46d9a2fce1bbe9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html" target="element"> REQARQ03. Entre departamentos (unidades) de negocio </a> </td>
													    <td> <a href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0bf510a966624ca98ce55427ab7b0fc7.html" target="element"> REQARQ02. Intradepartamental 2: nivel de negocio </a> </td>
													    <td> <a href="../elements/id-0bf510a966624ca98ce55427ab7b0fc7.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html" target="element"> Capacidades de la arquitectura SOA (madurez) </a> </td>
											    <td> <a href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-06b509388a254e57918591bf834feda2.html" target="element"> ARQCP03. Servicios de y con negocios </a> </td>
													    <td> <a href="../elements/id-06b509388a254e57918591bf834feda2.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc19b3eca95849c3a7eeeca77cdc3422.html" target="element"> ARQCP01. Servicios implementados con/sin dise&#241;os </a> </td>
													    <td> <a href="../elements/id-cc19b3eca95849c3a7eeeca77cdc3422.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-73ecade1dfa24aaf8afb94b61ed90cc9.html" target="element"> ARQCP04. Servicios con monitoreo de negocio </a> </td>
													    <td> <a href="../elements/id-73ecade1dfa24aaf8afb94b61ed90cc9.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6eba624d0e52421d9358a52568d5c173.html" target="element"> ARQCP02. Servicios con arquitectura </a> </td>
													    <td> <a href="../elements/id-6eba624d0e52421d9358a52568d5c173.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a8d96991bb6436d8dd9ffa010d12731.html" target="element"> ARQCP05. Servicios de negocio optimizados </a> </td>
													    <td> <a href="../elements/id-6a8d96991bb6436d8dd9ffa010d12731.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-eaf3788a0adb457db9a3ee72f1c3ba24.html" target="element"> Mediciones gobierno arquitecturas FNA </a> </td>
											    <td> <a href="../elements/id-eaf3788a0adb457db9a3ee72f1c3ba24.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-40738e3c81d14521929ad982feba3b33.html" target="element"> Efectividad </a> </td>
													    <td> <a href="../elements/id-40738e3c81d14521929ad982feba3b33.html" target="element" class="i18n-elementtype-Value"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-f8a59971cdf24d9b90594c6675d687e8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f8a59971cdf24d9b90594c6675d687e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5a0c3eccb01d4e2ea3af216239266843.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a0c3eccb01d4e2ea3af216239266843.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-900915d858bf432a9b9eec89416bbcbd.html" target="element"> An&#225;lisis y objetivos </a> </td>
																		<td> <a href="../elements/id-83de84a3484945418286482ebfa28973.html" target="element"> ANLSS01. Efectividad de costos </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d169992046854b04bae47efc0b8d74ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d169992046854b04bae47efc0b8d74ea.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/id-83de84a3484945418286482ebfa28973.html" target="element"> ANLSS01. Efectividad de costos </a> </td>
																				<td> <a href="../elements/id-40738e3c81d14521929ad982feba3b33.html" target="element"> Efectividad </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9f1c1d81197b4768abf1601a5c11c71f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f1c1d81197b4768abf1601a5c11c71f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html" target="element"> Requerimientos de adopci&#243;n arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-fb003253fd224a809c91d062372e0e4b.html" target="element"> REQARQ01. Intradepartamental 1: emergente, por proyecto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5376d885b72445f6bc0e9edbc10ef5c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5376d885b72445f6bc0e9edbc10ef5c3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html" target="element"> Requerimientos de adopci&#243;n arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-9b4694090d4348d0ac46d9a2fce1bbe9.html" target="element"> REQARQ04. Nivel empresarial extensible a cadena proveedores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bc19281c9c944acace7ce931225189d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bc19281c9c944acace7ce931225189d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html" target="element"> Requerimientos de adopci&#243;n arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html" target="element"> REQARQ03. Entre departamentos (unidades) de negocio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3bf45bc2935a491f87cc1859e864b595.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3bf45bc2935a491f87cc1859e864b595.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html" target="element"> Requerimientos de adopci&#243;n arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-0bf510a966624ca98ce55427ab7b0fc7.html" target="element"> REQARQ02. Intradepartamental 2: nivel de negocio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-353fbb2cb0ab43d1a4b85189f4432a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-353fbb2cb0ab43d1a4b85189f4432a9e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-8f1b8fc7148d4a4d8d61726320ca2c85.html" target="element"> Requerimientos de adopci&#243;n arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-83de84a3484945418286482ebfa28973.html" target="element"> ANLSS01. Efectividad de costos </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ee8e05995750413fa28e5ba58c4c13c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee8e05995750413fa28e5ba58c4c13c2.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/id-fb003253fd224a809c91d062372e0e4b.html" target="element"> REQARQ01. Intradepartamental 1: emergente, por proyecto </a> </td>
																				<td> <a href="../elements/id-0bf510a966624ca98ce55427ab7b0fc7.html" target="element"> REQARQ02. Intradepartamental 2: nivel de negocio </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c3279be7103549d38993373e2f6c7937.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c3279be7103549d38993373e2f6c7937.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html" target="element"> REQARQ03. Entre departamentos (unidades) de negocio </a> </td>
																				<td> <a href="../elements/id-9b4694090d4348d0ac46d9a2fce1bbe9.html" target="element"> REQARQ04. Nivel empresarial extensible a cadena proveedores </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1c1a9d4bc6fb4b179953a72b6ef4148c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c1a9d4bc6fb4b179953a72b6ef4148c.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/id-0bf510a966624ca98ce55427ab7b0fc7.html" target="element"> REQARQ02. Intradepartamental 2: nivel de negocio </a> </td>
																				<td> <a href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html" target="element"> REQARQ03. Entre departamentos (unidades) de negocio </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c826c935a43448c1b509a5180d87e2aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c826c935a43448c1b509a5180d87e2aa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html" target="element"> Capacidades de la arquitectura SOA (madurez) </a> </td>
																		<td> <a href="../elements/id-06b509388a254e57918591bf834feda2.html" target="element"> ARQCP03. Servicios de y con negocios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9edd979ee1fb47ae85d7fd84ce52f2d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9edd979ee1fb47ae85d7fd84ce52f2d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html" target="element"> Capacidades de la arquitectura SOA (madurez) </a> </td>
																		<td> <a href="../elements/id-cc19b3eca95849c3a7eeeca77cdc3422.html" target="element"> ARQCP01. Servicios implementados con/sin dise&#241;os </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b833c3e629284684a55193da76c214e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b833c3e629284684a55193da76c214e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html" target="element"> Capacidades de la arquitectura SOA (madurez) </a> </td>
																		<td> <a href="../elements/id-73ecade1dfa24aaf8afb94b61ed90cc9.html" target="element"> ARQCP04. Servicios con monitoreo de negocio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c14845de31e4ae79856ac86843cd7a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c14845de31e4ae79856ac86843cd7a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html" target="element"> Capacidades de la arquitectura SOA (madurez) </a> </td>
																		<td> <a href="../elements/id-6eba624d0e52421d9358a52568d5c173.html" target="element"> ARQCP02. Servicios con arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a0d70f1ba0547d7bf5df6bc9e1db222.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a0d70f1ba0547d7bf5df6bc9e1db222.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-febece9793ca47e5ad2c07b5f75f5cf2.html" target="element"> Capacidades de la arquitectura SOA (madurez) </a> </td>
																		<td> <a href="../elements/id-6a8d96991bb6436d8dd9ffa010d12731.html" target="element"> ARQCP05. Servicios de negocio optimizados </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-7d46b639391c48e6912f5219004aaacb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7d46b639391c48e6912f5219004aaacb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-06b509388a254e57918591bf834feda2.html" target="element"> ARQCP03. Servicios de y con negocios </a> </td>
																				<td> <a href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html" target="element"> REQARQ03. Entre departamentos (unidades) de negocio </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a29434fb44914972a91df8d7406956b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a29434fb44914972a91df8d7406956b0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-cc19b3eca95849c3a7eeeca77cdc3422.html" target="element"> ARQCP01. Servicios implementados con/sin dise&#241;os </a> </td>
																				<td> <a href="../elements/id-fb003253fd224a809c91d062372e0e4b.html" target="element"> REQARQ01. Intradepartamental 1: emergente, por proyecto </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a6cbc74e80db42e99efd95a07551da0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6cbc74e80db42e99efd95a07551da0f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-73ecade1dfa24aaf8afb94b61ed90cc9.html" target="element"> ARQCP04. Servicios con monitoreo de negocio </a> </td>
																				<td> <a href="../elements/id-8b8ed7207e5143f1a4a88d38993b8cf6.html" target="element"> REQARQ03. Entre departamentos (unidades) de negocio </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a439d5d06e0749518b427b930b155c45.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a439d5d06e0749518b427b930b155c45.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-73ecade1dfa24aaf8afb94b61ed90cc9.html" target="element"> ARQCP04. Servicios con monitoreo de negocio </a> </td>
																				<td> <a href="../elements/id-9b4694090d4348d0ac46d9a2fce1bbe9.html" target="element"> REQARQ04. Nivel empresarial extensible a cadena proveedores </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-927b7f4fce344460b18d029052f76c9a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-927b7f4fce344460b18d029052f76c9a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-6eba624d0e52421d9358a52568d5c173.html" target="element"> ARQCP02. Servicios con arquitectura </a> </td>
																				<td> <a href="../elements/id-0bf510a966624ca98ce55427ab7b0fc7.html" target="element"> REQARQ02. Intradepartamental 2: nivel de negocio </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f8ad9bfab44d4580bf82933b290df1ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f8ad9bfab44d4580bf82933b290df1ad.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-6a8d96991bb6436d8dd9ffa010d12731.html" target="element"> ARQCP05. Servicios de negocio optimizados </a> </td>
																				<td> <a href="../elements/id-9b4694090d4348d0ac46d9a2fce1bbe9.html" target="element"> REQARQ04. Nivel empresarial extensible a cadena proveedores </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-eb7039b3a0f94468bb6d0eaf14c3a0b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb7039b3a0f94468bb6d0eaf14c3a0b7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-eaf3788a0adb457db9a3ee72f1c3ba24.html" target="element"> Mediciones gobierno arquitecturas FNA </a> </td>
																		<td> <a href="../elements/id-40738e3c81d14521929ad982feba3b33.html" target="element"> Efectividad </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>